<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Executive</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <form #viewSaleForm="ngForm" (ngSubmit)="onSubmit()">
              <ion-row>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12">
                </ion-col>
                <!-- <ion-col size-lg="8" size-md="8" size-sm="6" size="12">
                  <ion-row>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date"
                          label=" From Date  :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                          label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>
                </ion-col>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
                  <ion-button style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
                </ion-col> -->
              </ion-row>

              <ion-row>
                <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
              </ion-row>

              <ion-row class="Executive">
                <div style="overflow-x: auto; width: 100%; height: 350px;">
                  <table style="overflow-x: auto; width: 100%;">
                    <tr>
                      <th style="width: 20px !important; padding: 5px;">Select</th>
                      <th style="width: 100px;">Sr. No.</th>
                      <th style="width: 100px;">Executive Code</th>
                      <th style="width: 100px;">Executive Name</th>
                      <th style="width: 100px;">Executive Role</th>
                      <th style="width: 100px;">Email</th>
                      <th style="width: 100px;">Phone Number</th>
                    </tr>
                    <tr *ngFor="let execute of executives$ | async; let i = index">
                      <td style="width: 50px;">{{i + 1}}</td>
                      <td>{{execute.companyid}}</td>
                      <td style="width: 30px;">{{execute.roleid}}</td>
                      <td style="width: 50px;">{{execute.excode}}</td>
                      <td style="width: 50px;">{{execute.executivename}}</td>
                      <td style="width: 50px;">{{execute.emanager}}</td>
                      <td style="width: 50px;">{{execute.emobile}}</td>
                      <td style="width: 50px;">{{execute.eemail}}</td>
                      <td style="width: 50px;">{{execute.ewhatsapp}}</td>
                      <td>{{execute.epan}}</td>
                      <td>{{execute.ecommision}}</td>
                      <td>{{execute.ledger}}</td>
                      
                    </tr>
<!--                     
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>2</td>
                      <td>EXEC002</td>
                      <td>Jane Smith</td>
                      <td>Account Executive</td>
                      <td>janesmith@example.com</td>
                      <td>9876543210</td>
                    </tr>
                    
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>3</td>
                      <td>EXEC003</td>
                      <td>Alice Johnson</td>
                      <td>Marketing Specialist</td>
                      <td>alicejohnson@example.com</td>
                      <td>1234567892</td>
                    </tr>
                    
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>4</td>
                      <td>EXEC004</td>
                      <td>Bob Anderson</td>
                      <td>Customer Support</td>
                      <td>bobanderson@example.com</td>
                      <td>9876543211</td>
                    </tr>
                    
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>5</td>
                      <td>EXEC005</td>
                      <td>Eve Williams</td>
                      <td>Product Manager</td>
                      <td>evewilliams@example.com</td>
                      <td>1234567891</td>
                    </tr> -->
                    
                  </table>
                </div>
              </ion-row>
            </form>


          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>