<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Executive</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>              
            <ion-row>
              <ion-col  size-lg="8" size-md="8" size-sm="6" size="12">
                <ion-searchbar class="custom" showCancelButton="focus" [(ngModel)]="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
              </ion-col>
              <ion-col  size-lg="4" size-md="4" size-sm="6" size="12">
                <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="Select Coloumns" label-placement="floating" fill="outline" [(ngModel)]="selectedColumns" name="selectedColumns" multiple="true">
                  <ion-select-option *ngFor="let col of availableColumns" [value]="col">{{ col }}</ion-select-option>
                </ion-select>
              </ion-col>
              
            </ion-row>

            <ion-row class="Executive">
              <div style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;;">

                <table style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th *ngFor="let col of selectedColumns">{{ col }}</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let execute of filteredExecutives$ | async; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td *ngFor="let col of selectedColumns">{{ execute[col.toLowerCase()] }}</td>
                      <td class="Action">
                        <ion-icon color="danger" icon-only name="trash"></ion-icon>
                        <ion-icon color="primary" icon-only name="create"></ion-icon>
                      </td>
                    </tr>
                    <tr>
                      <td [attr.colspan]="selectedColumns.length + 1">
                        <p>Total: <span style="margin-left: 10px;">{{ totalItems }}</span></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ion-row>

              <!-- <ion-row>
                <div class="scroll-container" style=" height: 350px;">
                  <table style=" width: 100%; overflow-y: auto;overflow-x: auto;">
                    <tr>
                      <th style="width: 50px;">Sr. No.</th>
                      <th style="width: 50px;"> Company Id</th>
                      <th style="width: 70px;">Executive Role</th>
                      <th style="width: 70px;">Executive Code</th>
                      <th style="width: 130px;">Executive Name</th>
                      <th style="width: 100px;">Manager</th>
                      <th style="width: 70px;">Phone Number</th>
                      <th style="width: 100px;">Email</th>
                      <th style="width: 70px;">Whatshapp Number</th>
                      <th style="width: 70px;">PAN No.</th>
                      <th style="width: 50px;">Commission</th>
                      <th style="width: 50px;">Ledger</th>
                    </tr>
                    <tr *ngFor="let execute of filteredExecutives$ | async; let i = index">
                      <td >{{i + 1}}</td>
                      <td>{{execute.companyid}}</td>
                      <td>{{execute.roleid}}</td>
                      <td >{{execute.excode}}</td>
                      <td>{{execute.executivename}}</td>
                      <td >{{execute.emanager}}</td>
                      <td >{{execute.emobile}}</td>
                      <td>{{execute.eemail}}</td>
                      <td>{{execute.ewhatsapp}}</td>
                      <td>{{execute.epan}}</td>
                      <td>{{execute.ecommision}}</td>
                      <td>{{execute.ledger}}</td>

                    </tr>
                   
                  </table>
                </div>
              </ion-row> -->
          </ion-grid>
        </div>
      </ion-card-content>
    </div>
    </div>
</ion-content>