<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Executive</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <form #viewSaleForm="ngForm" (ngSubmit)="onSubmit()">
              

              <ion-row>
                <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
              </ion-row>

              <ion-row>
                <div class="scroll-container" style=" height: 350px;">
                  <table style=" width: 100%; overflow-y: auto;overflow-x: auto;">
                    <tr>
                      <th style="width: 50px;">Sr. No.</th>
                      <th style="width: 50px;"> Company Id</th>
                      <th style="width: 70px;">Executive Role</th>
                      <th style="width: 70px;">Executive Code</th>
                      <th style="width: 130px;">Executive Name</th>
                      <th style="width: 100px;">Manager</th>
                      <th style="width: 70px;">Phone Number</th>
                      <th style="width: 100px;">Email</th>
                      <th style="width: 70px;">Whatshapp Number</th>
                      <th style="width: 70px;">PAN No.</th>
                      <th style="width: 50px;">Commission</th>
                      <th style="width: 50px;">Ledger</th>
                    </tr>
                    <tr *ngFor="let execute of executives$ | async; let i = index">
                      <td >{{i + 1}}</td>
                      <td>{{execute.companyid}}</td>
                      <td>{{execute.roleid}}</td>
                      <td >{{execute.excode}}</td>
                      <td>{{execute.executivename}}</td>
                      <td >{{execute.emanager}}</td>
                      <td >{{execute.emobile}}</td>
                      <td>{{execute.eemail}}</td>
                      <td>{{execute.ewhatsapp}}</td>
                      <td>{{execute.epan}}</td>
                      <td>{{execute.ecommision}}</td>
                      <td>{{execute.ledger}}</td>

                    </tr>
                   
                  </table>
                </div>
              </ion-row>
            </form>


          </ion-grid>
        </div>
      </ion-card-content>
    </div>
    </div>
</ion-content>