<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">User Create</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" >
          <ion-row style="justify-content: center;">
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [(ngModel)]="fname" formControlName="fname"  name="fullname" type="text" label="Full Name :" label-placement="floating"
                  fill="outline"></ion-input>
                  <div *ngIf="form && form.get('fname')?.hasError('required') && form.get('fname').touched" class="error-message">
                    Full Name is required.
                  </div>
              </ion-row>
            </ion-col>
         
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [(ngModel)]="email" formControlName="email" name="emails" type="email" label=" Email :" label-placement="floating"
                  fill="outline"></ion-input>
                  <div *ngIf="form && form.get('email')?.hasError('required') && form.get('email').touched" class="error-message">
                    Email is required.
                  </div>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [(ngModel)]="phone" formControlName="phone" name="mobileno"  type="number" label=" Mobile Number :" label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input type="text" label="Full Address :" label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [(ngModel)]="password" formControlName="password" name="pass" type="password" label="Password :" label-placement="floating"
                  fill="outline"></ion-input>
                  <div *ngIf="form && form.get('password')?.hasError('password') && form.get('address').touched" class="error-message">
                    Password is required.
                  </div>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [(ngModel)]="confrimpassword" formControlName="confrimpassword" color="dark" name="confrimpass" type="password" label="Confrum Password :" label-placement="floating"
                  fill="outline"></ion-input>
                  <div *ngIf="form && form.get('confrimpassword')?.hasError('required') && form.get('confrimpassword').touched" class="error-message">
                    Confim Password is required.
                  </div>
              </ion-row>
            </ion-col>
          </ion-row>

            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button>New</ion-button>
              <ion-button type="submit">Save</ion-button>
              <!-- <ion-button>Delete</ion-button> -->
              <!-- <ion-button>Preview</ion-button> -->
              <ion-button>Close</ion-button>
            </ion-row>
        </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>