<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">User Create</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">User Code :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <ion-input [(ngModel)]="usercode" formControlName="usercode" name="usercode" type="number"
                    placeholder="Enter User Code"></ion-input>
                </ion-col>
                <!-- <ion-input [(ngModel)]="email" formControlName="email" name="emails" type="email" label=" Email :"
                  label-placement="floating" fill="outline"></ion-input> -->
                <div *ngIf="form && form.get('usercode')?.hasError('required') && form.get('usercode')?.touched"
                  class="error-message">
                  User Code is required.
                </div>
              </ion-row>
            </div>
            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">User Name :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <ion-input [(ngModel)]="fname" formControlName="fname" name="fullname" type="text"
                    placeholder="Enter Full Name"></ion-input>
                </ion-col>
                <!-- <ion-input [(ngModel)]="fname" formControlName="fname"  name="fullname" type="text" label="Full Name :" label-placement="floating"
                  fill="outline"></ion-input> -->
                <div *ngIf="form && form.get('fname')?.hasError('required') && form.get('fname')?.touched"
                  class="error-message">
                  Full Name is required.
                </div>
              </ion-row>
            </div>

            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">Father Name :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <ion-input [(ngModel)]="fathname" formControlName="fathname" name="fathname" type="text"
                    placeholder="Enter Father name"></ion-input>
                </ion-col>
                <!-- <ion-input [(ngModel)]="email" formControlName="email" name="emails" type="email" label=" Email :"
                    label-placement="floating" fill="outline"></ion-input> -->
                <div *ngIf="form && form.get('fathname')?.hasError('required') && form.get('fathname')?.touched"
                    class="error-message">
                    Father Name is required.
                  </div>
              </ion-row>
            </div>

            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">Phone No. :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <ion-input [(ngModel)]="phone" formControlName="phone" name="mobileno" type="number"
                    placeholder="Enter Mobile Number"></ion-input>
                    
                </ion-col>
                <!-- <ion-input [(ngModel)]="email" formControlName="email" name="emails" type="email" label=" Email :"
                    label-placement="floating" fill="outline"></ion-input> -->
                <div *ngIf="form && form.get('phone')?.hasError('required') && form.get('phone')?.touched"
                    class="error-message">
                    Phone is required.
                  </div>
              </ion-row>
            </div>
            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">Email :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <ion-input [(ngModel)]="email" formControlName="email" name="emails" type="email"
                    placeholder="Enter your email"></ion-input>
                </ion-col>
                <!-- <ion-input [(ngModel)]="email" formControlName="email" name="emails" type="email" label=" Email :"
                    label-placement="floating" fill="outline"></ion-input> -->
                <div *ngIf="form && form.get('email')?.hasError('required') && form.get('email')?.touched"
                    class="error-message">
                    Email is required.
                  </div>
              </ion-row>
            </div>

            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">Role :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <select [ngModel]="roleid" name="roletype" formControlName="roleid">
                    <option value="" disabled selected>--- Role ---</option> <!-- Default option -->
                    <option *ngFor="let roletypes of roletypes$ | async" [value]="roletypes.roletypeid" >
                      
                      {{ roletypes.roletypename }}
                    </option>   
                  </select>
                </ion-col>
                <div *ngIf="form && form.get('roleid')?.hasError('required') && form.get('roleid')?.touched"
                    class="error-message">
                    Role is required.
                  </div>
              </ion-row>
            </div>



            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button>New</ion-button>
              <ion-button type="submit" id="open-loading">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Saving..." [duration]="1000"></ion-loading>
              <!-- <ion-button>Delete</ion-button> -->
              <!-- <ion-button>Preview</ion-button> -->
              <ion-button>Close</ion-button>
            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>