<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Change Password</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-row style="justify-content: center;">
            <ion-col size="12">
              <ion-row>
                <ion-input [(ngModel)]="oldpass" formControlName="oldpass" color="dark" name="oldpass" type="password" label="Old Password:" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <p><a href="">Forget Password</a></p>
            </ion-col>
          </ion-row>
          <ion-row style="justify-content: center;">
            <ion-col  size="12">
              <ion-row>
                <ion-input [(ngModel)]="newpass" formControlName="newpass" color="dark" name="newpass" type="password" label="New Password" label-placement="floating"
                  fill="outline"></ion-input>
                  <div *ngIf="form && form.controls['newpass']?.hasError('required') && form.controls['newpass'].touched" class="error-message">
                    You can write password in using 0-9 numbers,!@#$%^&*()_+~?>:",a-z,A-Z characters
                  </div>
              </ion-row>
              <!-- <p>You can write password in using 0-9 numbers,!@#$%^&*()_+~?>:",a-z,A-Z characters</p> -->
            </ion-col>
          </ion-row>
          
          <ion-row style="justify-content: center;">
            <ion-col  size="12">
              <ion-row>
                <ion-input [(ngModel)]="cunfpass" formControlName="cunfpass" color="dark" name="cunfpass" type="Password" label="Confrum Password :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <ion-checkbox style="margin-top: 5px;" [indeterminate]="true"></ion-checkbox>
              <ion-label> I agree to the terms and conditions</ion-label>
            </ion-col>
          </ion-row>



          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <!-- <ion-button>New</ion-button> -->
              <ion-button type="submit">Save</ion-button>
              <!-- <ion-button>Delete</ion-button> -->
              <!-- <ion-button>Preview</ion-button> -->
              <ion-button>Close</ion-button>
            </ion-row>
            
          </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>