<!-- 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Item Ledger Report</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <div class="Customer">
  
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Item Ledger Report</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size-lg="5" size-md="5" size-sm="6" size="12">
              <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
            </ion-col>
            <ion-col size-lg="3" size-md="3" size-sm="6" size="6" style="margin-top: 5px;">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="Ledger Formate" label-placement="floating" fill="outline" name="ledgerformate">
                <ion-select-option>Standerd</ion-select-option>
                <ion-select-option>Group By Party</ion-select-option>
                <ion-select-option>Ageing By Bill</ion-select-option>
                <ion-select-option>Ageing By Party</ion-select-option>
                <ion-select-option>Ledger List</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size-lg="2" size-md="2" size-sm="6" size="6" style="margin-top: 5px;">
              <ion-input type="date" label="From Date" color="dark" label-placement="floating"
                fill="outline"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="2" size-sm="6" size="6" style="margin-top: 5px;">
              <ion-input type="date" label="To Date" color="dark" label-placement="floating" fill="outline"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="Executive">
            <div class="scroll-container">
              <table style="width: 100%;overflow-x:auto;overflow-y: auto;">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Item Name</th>
                    <th>Item Code</th>
                    <th>Opening Balance</th>
                    <th>Inward</th>
                    <th>Outward</th>
                    <th>Closing Balance</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Dummy data entries -->
                  <tr *ngFor="let item of fetchitemledger$ | async; let i = index">
                    <td>{{ i + 1 }}</td>
        <td>{{ item.itemname }}</td>
        <td>{{ item.itemcode }}</td>
        <td>{{ item.obalance }}</td>
        <td>{{ item.purchases }}</td>
        <td>{{ item.sales }}</td>
        <td>{{ item.closing  }}</td>
                 
                </tbody>
              </table>
            </div>
            <div style="overflow-x: auto; border: 1px solid grey; width: 100%;">
              <ion-row>
                <ion-col class="row_data" size="12" size-lg="4" size-md="4" size-sm="6">
                  <label class="label_table" for="">Current Period Total :</label>
                  <input name="currentperiodtotal" class="input_table" type="text" placeholder="00.000">
                  <input name="currentperiodtotal" class="input_table" type="text" placeholder="0.00">
                </ion-col>

                <ion-col class="row_data" size="12" size-lg="4" size-md="4" size-sm="6">
                  <label class="label_table" for="">Opening  : </label>
                  <input name="opening" class="input_table" type="text"placeholder="0.00 Cr.">
                  <input name="opening" class="input_table" type="text" placeholder="0.00 Dr.">
                </ion-col>

                <ion-col class="row_data" size="12" size-lg="4" size-md="4" size-sm="6">
                  <label class="label_table" for="">Closing :</label>
                  <input name="closing" class="input_table" type="text"placeholder="0.00 Cr.">
                  <input name="closing" class="input_table" type="text" placeholder="0.00 Dr.">
                </ion-col>
              </ion-row>
            </div>
          </ion-row>
          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Print</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row>

        </ion-grid>
      </ion-card-content>

  </div>
</ion-content>