<!-- 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Item Ledger Report</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Item Ledger Report</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
         <ion-row>
          <ion-col size-lg="10" size-md="10" size-sm="10" size="12" class="custom-primary">
          <ion-searchbar class="custom"  showCancelButton="focus"></ion-searchbar>
          </ion-col>
          <ion-col size-lg="2" size-md="2" size-sm="2" size="12" class="custom-primary">
            <ion-button style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
          </ion-col>
         </ion-row>
          <ion-row >
            <div class="scroll-container" style="overflow-x:auto; ">
             
            <table  >
              <tr>
                <th width="100px">SI NO.</th>
                <th  width="150px">Product Code</th>
                <th  width="200px">Product Name</th>
                <th width="150px" >Category</th>
                <th  width="200px" >Supplier</th>
                <th  width="150px">Purchase Price</th>
                <th  width="150px">Selling Price</th>
                <th  width="150px">Quantity</th>
                <th  width="200px"> Re-Oreder Point</th>
                <th  width="150px">Re-Order Quantity</th>
                <th  width="200px">Location</th>
                <th  width="200px">QR code</th>
                <th  width="200px"> Expire Date</th>
                <th  width="200px"> Purchase Date</th>
                <th  width="200px">Sale Date</th>
                <th  width="200px">Warranty Information</th>
              </tr>
              <tr>
                <td>1</td>
                <td>23df</td>
                <td>Mehta </td>
                <td>Deepak </td>
                <td>dkjdksj</td>
                <td>ndsd</td>
                <td>sdfs</td>
                <td>gggc</td>
                <td>cjhg</td>
                <td>hjnm</td>
                <td>hsgdhfgs</td>
                <td>Jaipur</td>
                <td>deepus</td>
                <td>01/10/2023</td>
                <td>0/33/353</td>
                <td>
                  <ion-icon name="create"></ion-icon>
                  <ion-icon name="trash"></ion-icon>
                </td>
              </tr>
            
            </table>
            
            </div>
          </ion-row>

          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
