<ion-header>

</ion-header>
<ion-content class="container_fluid">
  <div class="dash">
    <ion-label class="gamil"> <img width="25px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="user">
      Ktechnocrm@gmail.com</ion-label>
  </div>

  <div class="lead_nav">
    <ion-grid>
      <ion-row>
        <ion-col class="table_data" size="12" size-lg="6" size-md="6" size-sm="6">
          <div class="icon-container">

            <ion-row class="headinglabel">
                <ion-label>Last 30 Days Leads :</ion-label>
              </ion-row>
              <ion-row class="leadscard">
                <ion-col size="6" size-lg="4" size-md="4" size-sm="4">
                  <ion-card style="text-align: center;background-color: rgb(212, 165, 165);">
                    <ion-title>10</ion-title>
                    <ion-label>
                      New Lead
                    </ion-label>
                  </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="4" size-md="4" size-sm="4">
                  <ion-card style="text-align: center; background-color: lightcyan;">
                    <ion-title>10 %</ion-title>
                    <ion-label>
                      Engagement
                    </ion-label>
                  </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="4" size-md="4" size-sm="4">
                  <ion-card style="text-align: center; background-color: lightgreen;">
                    <ion-title>100%</ion-title>
                    <ion-label>
                      Active Leads
                    </ion-label>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row class="headinglabel">
                <ion-label>Overall Leads :</ion-label>
              </ion-row>
              <ion-row class="leadscard">
                <ion-col size="6" size-lg="4" size-md="4" size-sm="4">
                  <ion-card style="text-align: center;background-color: lightgray;">
                    <ion-title>1020</ion-title>
                    <ion-label>
                      Total Leads
                    </ion-label>
                  </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="4" size-md="4" size-sm="4">
                  <ion-card style="text-align: center; background-color: lightcyan;">
                    <ion-title>0 %</ion-title>
                    <ion-label>
                      Engagement
                    </ion-label>
                  </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="4" size-md="4" size-sm="4">
                  <ion-card style="text-align: center; background-color: lightgreen;">
                    <ion-title>99%</ion-title>
                    <ion-label>
                      Active Leads
                    </ion-label>
                  </ion-card>
                </ion-col>
              </ion-row>
           
          </div>
        </ion-col>
        <ion-col class="table_data" size="12" size-lg="6" size-md="6" size-sm="6">
          <div class="icon-container">
            <ion-row>
              <ion-col class="lead_icon">
                <a [routerLink]="['/add-lead']">Add New Lead</a>
              </ion-col>
              <ion-col class="lead_icon">
                <a [routerLink]="['/view-lead']">View All Lead</a>
              </ion-col>
              <ion-col class="lead_icon">
                <a [routerLink]="['/edit-lead']">Edit Lead</a>
              </ion-col>
              <ion-col class="lead_icon">
                <a [routerLink]="['/transfer-lead']">Transfer Lead</a>
              </ion-col>
              </ion-row>
                       </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row class="lead_details">
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Top New Lead</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th><input type="checkbox" name=""></th>
                <th>Lead Name</th>
                <th>Company Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Lead Source</th>
                <th>Lead Owner</th>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td><a href="">Ktechnodsks</a></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>

              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td><a href="">Ktechnodsks</a></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>

              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Product Wise Lead</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th><input type="checkbox" name=""></th>
                <th>Lead Name</th>
                <th>Company Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Lead Source</th>
                <th>Lead Owner</th>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td><a href="">Ktechnodsks</a></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>

              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td><a href="">Ktechnodsks</a></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>

              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>