ion-content{
  --ion-width:100%;
  // --ion-background-color:lightgrey;
  --margin-top:100px;
}
ion-header{
  margin-bottom: 75px;
}
.dash{
  border-bottom: 1px solid grey;
  padding: 5px;
  display: flex;
  justify-content: end;
}

.gamil{
  letter-spacing: 0.5px;
  font-size: 14px;
}
.lead_icon{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(0, 191, 255);
  padding: 10px 0px;
  border-radius: 5px;
  box-shadow: 1px 2px 4px 0px #51c9b9;
  background-color: #a2eee4;
  width: 100px;
}
.lead_icon ion-icon{
  color: black;
  font-size: 26px;
}

ion-col{
  display: flex;
  flex-direction: column;
  
}

.lead_nav{
  margin: 20px;
}

.navigation{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
}
.navigation > div{
  // background-color: lightblue;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navigation a{
  float: right;
  padding: 10px;
  background-color: lightblue;
  width: 400px;
  margin: 5px;
}


ion-label:hover{
  background-color: #a2eee4;
}
ion-icon{
  background-color: #a2eee4;
}
ion-icon{
  color: lightblue;
  padding:0 5px;
  font-size: 30px;
}

.lead_details{
  margin: 0 20px;
}

.table_data{
  padding: 10px;
}



.container_fluid{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.table-container {
    width: 100%; /* Set the width of the container */
    height: 400px; /* Set the height of the container */
    // overflow-x: scroll; /* Enable horizontal scrollbar when content overflows */
    // overflow-y: scroll;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Enable vertical scrollbar when content overflows */
    background-color: rgb(179, 241, 243);
  }
  .scroll-container {
    width: 1500px; /* Set the width of the container */
    height: 250px; /* Set the height of the container */
    overflow-x: scroll; /* Enable horizontal scrollbar when content overflows */
    overflow-y: scroll;
    background-color: white;
  }
  .table-container p{
    // background-color: lightblue;
    font-size: 23px;
    border-bottom: 1px solid lightblue;
    width: 100%;
  }
  /* Style the table inside the container */
 .table-container table {
    width: 100%; 
    padding: 20px;
    border: none;
    border: 1px solid grey;
    height: 200px;
  }

  tr{
    border: none;
  }
  th{
    border: none;
    width: 300px;
    border-top: 1px solid rgb(199, 191, 191);
    // border-bottom: 1px solid rgb(199, 191, 191);
    background-color: lightgray;
  }
  td{
    border: none;
    width: 300px;
    border-bottom: 1px solid rgb(199, 191, 191);
    color: grey;
    padding: 5px;
    font-size: 15px;
  }
a{
    text-decoration: none;
    color: grey;
}
tr:hover{
   background-color: rgb(224, 215, 215);
}
tr a:hover{
    color: blue;
}
input[type="date"] {
  border: none;
  width: 150px;
  background-color: transparent;
}
ion-searchbar{
  --ion-background-color:transparent;
  line-height: 14px;
  width: 100%;
}
ion-input {
 --ion-height: 20px;
}


.icon-container{
  width: 100%; /* Set the width of the container */
  // height: 270px; /* Set the height of the container */
  // overflow-x: scroll; /* Enable horizontal scrollbar when content overflows */
  // overflow-y: scroll;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Enable vertical scrollbar when content overflows */
  background-color: rgb(169, 252, 241);
}
.navigation_container{
  width: 100%; /* Set the width of the container */
  height: 300px; /* Set the height of the container */
  // overflow-x: scroll; /* Enable horizontal scrollbar when content overflows */
  // overflow-y: scroll;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Enable vertical scrollbar when content overflows */
  background-color: rgb(169, 252, 241);
}