<ion-header>

</ion-header>
<ion-content class="container_fluid">
  <div class="dash">
        <ion-label class="gamil"> <img width="25px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
            alt="user"> Ktechnocrm@gmail.com</ion-label>
  </div>

<div class="lead_nav">
  <ion-grid>
    <ion-row>
      <ion-col>
       <ion-row >
        <ion-col class="lead_icon">
          <ion-icon name="person-add"></ion-icon>
            <ion-label>Add Lead</ion-label>
            
        </ion-col>
        <ion-col class="lead_icon">
          <ion-icon name="person-add"></ion-icon>
          <ion-label>View  Lead</ion-label>
          
        </ion-col>
        <ion-col class="lead_icon">
          <ion-icon name="transgender"></ion-icon>
          <ion-label>Transfer Lead</ion-label>
        
        </ion-col>
       </ion-row>
       <ion-row >
        <ion-col class="lead_icon">
          <ion-icon name="person-add"></ion-icon>
          <ion-label>Add Lead</ion-label>
          
        </ion-col>
        <ion-col class="lead_icon">
          <ion-icon name="person-add"></ion-icon>
          <ion-label>Add Lead</ion-label>
          
        </ion-col>
        <ion-col class="lead_icon">
          <ion-icon name="person-add"></ion-icon>
          <ion-label>Add Lead</ion-label>
       
        </ion-col>
       </ion-row>
      </ion-col>
      <ion-col class="navigation">
        <div>
          <a href="">Add New Lead</a>
          <a href="">View All Lead</a>
          <a href="">Edit Lead</a>
          <a href="">Transfer Lead</a>
        </div>
       
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <ion-grid>
    <ion-row class="lead_details">
      <ion-col size="12" size-lg="6">
        <div class="table-container">
          <p>User Wise Lead</p>
          <ion-searchbar></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th><input type="checkbox" name=""></th>
                <th>Lead Name</th>
                <th>Company Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Lead Source</th>
                <th>Lead Owner</th>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td><a href="">Ktechnodsks</a></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>

              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td><a href="">Ktechnodsks</a></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>

              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <div class="table-container">
          <p>Product Wise Lead</p>
          <ion-searchbar></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th><input type="checkbox" name=""></th>
                <th>Lead Name</th>
                <th>Company Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Lead Source</th>
                <th>Lead Owner</th>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td><a href="">Ktechnodsks</a></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>

              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td><a href="">Ktechnodsks</a></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>

              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>Ktechno Private Ltd.</td>
                <td><a href="">ktechno@gmail.com</a></td>
                <td>+91 993893849</td>
                <td>Thnn sndsf</td>
                <td>jdjfdjghj</td>
                <td>jdjfdjghj</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


































<!--<ion-content class="custom-content">

  <div class="container_fluid">

    <div class="table-container">
      <p>Today's Lead</p>
      <ion-row>
        <ion-col>
          <ion-input color="warning" name="formDate" type="date" label=" From Date  :"
          label-placement="floating" fill="outline"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input color="warning" name="formDate" type="date" label=" From Date  :"
          label-placement="floating" fill="outline"></ion-input>
        </ion-col>
        <ion-col>
          <ion-button size="medium"  >Okoo</ion-button>
        </ion-col>
      </ion-row>
      <ion-searchbar></ion-searchbar>
      <div class="scroll-container">
      <table>
        <tr>
          <th><input  type="checkbox" name=""></th>
          <th>Lead Name</th>
          <th>Company Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Lead Source</th>
          <th>Lead Owner</th>
        </tr>
        <tr >
          <td><input type="checkbox" name=""></td>
          <td><a href="">Ktechnodsks</a></td>
          <td>Ktechno Private Ltd.</td>
          <td><a href="">ktechno@gmail.com</a></td>
          <td>+91 993893849</td>
          <td>Thnn sndsf</td>
          <td>jdjfdjghj</td>

        </tr>
        <tr>
          <td><input type="checkbox" name=""></td>
          <td><a href="">Ktechnodsks</a></td>
          <td>Ktechno Private Ltd.</td>
          <td><a href="">ktechno@gmail.com</a></td>
          <td>+91 993893849</td>
          <td>Thnn sndsf</td>
          <td>jdjfdjghj</td>

        </tr>
        <tr>
          <td><input type="checkbox" name=""></td>
          <td>Ktechno Private Ltd.</td>
          <td><a href="">ktechno@gmail.com</a></td>
          <td>+91 993893849</td>
          <td>Thnn sndsf</td>
          <td>jdjfdjghj</td>
          <td>jdjfdjghj</td>
        </tr>
        <tr>
          <td><input type="checkbox" name=""></td>
          <td>Ktechno Private Ltd.</td>
          <td><a href="">ktechno@gmail.com</a></td>
          <td>+91 993893849</td>
          <td>Thnn sndsf</td>
          <td>jdjfdjghj</td>
          <td>jdjfdjghj</td>
        </tr>
      </table>
    </div>
    <ion-row>
      <ion-col size="12" size-lg="10" >

      </ion-col>
      <ion-col size="12" size-lg="2">
        <ion-button>ok</ion-button>
        <ion-button>cancel</ion-button>
      </ion-col>
    </ion-row>
    </div>

     <div class="table-container">
      <p style="background-color: lightblue;">My Meeting's</p>
      <table>
        <tr>
          <th>Title</th>
          <th>From </th>
          <th>To</th>
          <th>Related To </th>
          <th>Contact Name</th>
          
        </tr>
        <tr>
          <td><a href="">Ktechnodsks</a></td>
          <td><input type="date" name="from" > </td>
          <td><input type="date" name="from" > </td>
          <td>+91 993893849</td>
          <td>Thnn sndsf</td>
         
        </tr>
      </table>
    </div> 
  </div>

</ion-content>-->