<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create Company</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row class="headinglabel">
            <ion-label style="font-size: 18px;">Information Of Company:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
            "></span>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <select [(ngModel)]="industry"  [ngModelOptions]="{standalone: true}">
                <option *ngFor="let industry of industry$ | async" [value]="industry.industrytypeid">
                  {{ industry.industrytypename }}
                </option>
                
              </select>
            </ion-col>

            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <select [(ngModel)]="businesstype"  [ngModelOptions]="{standalone: true}">
                <option *ngFor="let businesstype of businesstype$ | async" [value]="businesstype.businesstypeid">
                  {{ businesstype.businesstypename }}
                </option>
                
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <select [(ngModel)]="segmenttype"  [ngModelOptions]="{standalone: true}">
                <option *ngFor="let segmenttype of segmenttype$ | async" [value]="segmenttype.segmentid">
                  {{ segmenttype.segmentname }}
                </option>
                
              </select>
            </ion-col>
            
            
            <!-- <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <select fill="outline" class="select-width">
                <option selected value="">Sub-Segment</option>
                <option value="Private Company">Private Company</option>
                <option value="Public Company">Public Company</option>
                <option value="Government-Owned Company ">Government-Owned Company </option>
                <option value="Cooperative">Cooperative</option>
                <option value="Nonprofit Organization">Nonprofit Organization</option>
                <option value="Financial Company">Financial Company</option>
                <option value="Service Company">Service Company</option>
                <option value="Retail Company">Retail Company</option>
                <option value="E-commerce Company">E-commerce Company</option>
                <option value="Local Business">Local Business</option>
                <option value="National Business">National Business</option>
                <option value="International Business">International Business</option>
                <option value="Private Company">Private Company</option>

              </select>
            </ion-col> -->
            
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <select [(ngModel)]="companytype"  [ngModelOptions]="{standalone: true}">
                <option *ngFor="let companytype of companytype$ | async" [value]="companytype.gsttypeid">
                  {{ companytype.gsttypename }}
                </option>
                
              </select>
            </ion-col>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" name="panno" type="text" label="PAN No. :" label-placement="floating"
                  fill="outline" max-length="15"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" name="tanno" type="text" label="TAN No. :" label-placement="floating"
                  fill="outline" max-length="15"></ion-input>
              </ion-row>
            </ion-col>     
          </ion-row>
          
          <ion-row class="custom-primary">
            <p style="font-weight: bold; color: skyblue;font-size: 18px;margin-top: 10px;">Step : 2</p>
            <ion-progress-bar value="0.5" buffer=".5" style="height: 10px;"></ion-progress-bar>
            <ion-button [routerLink]="['/ccstep3']">Create & Next</ion-button>
          </ion-row>
          <!-- <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row> -->
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>