<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create Company</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
            <ion-row class="headinglabel">
            <ion-label style="font-size: 18px;">Rejistration Details:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
            "></span>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <select [(ngModel)]="industry" name="industry">
                <option disabled value=""> --Industry Type--</option>
                <option *ngFor="let industry of industry$ | async" [value]="industry.industrytypeid">
                  {{ industry.industrytypename }}
                </option>
                
              </select>
              <div *ngIf="form && form.get('industry')?.hasError('required') && form.get('industry').touched" class="error-message">
                Industry is required.
              </div>
            </ion-col>

            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <select [(ngModel)]="businesstype" name="businesstype">
                <option disabled value=""> --Bussiness Type--</option>
                <option *ngFor="let businesstype of businesstype$ | async" [value]="businesstype.businesstypeid">
                  {{ businesstype.businesstypename }}
                </option>
                
              </select>
              <div *ngIf="form && form.get('business')?.hasError('required') && form.get('business').touched" class="error-message">
                Business is required.
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <select [(ngModel)]="segmenttype" name="segmenttype" >
                <option disabled value=""> --Segment Type--</option>
                <option *ngFor="let segmenttype of segmenttype$ | async" [value]="segmenttype.segmentid">
                  {{ segmenttype.segmentname }}
                </option>
                
              </select>
            </ion-col>
            
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <select [(ngModel)]="companytype" name="gsttype">
                <option disabled value=""> --GST Type--</option>
                <option *ngFor="let companytype of companytype$ | async" [value]="companytype.gsttypeid">
                  {{ companytype.gsttypename }}
                </option>
                
              </select>
            </ion-col> 
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [ngModel]="pannumber" name="pano"type="text" label="PAN No. :" label-placement="floating"
                  fill="outline" max-length="15"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark"  [ngModel]="tanumber"  name="tanno" type="text" label="TAN No. :" label-placement="floating"
                  fill="outline" max-length="15"></ion-input>
              </ion-row>
            </ion-col>   
          </ion-row>
          
          <ion-row class="custom-primary">
            <p style="font-weight: bold; color: skyblue;font-size: 18px;margin-top: 10px;">Step : 2</p>
            <ion-progress-bar value="0.5" buffer=".5" style="height: 10px;"></ion-progress-bar>
            <ion-button type="submit">Create <ion-icon name="cloud-download" size="small" slot="end"></ion-icon></ion-button>
            <ion-button [routerLink]="['/ccstep3']">Next<ion-icon name="arrow-forward-circle" size="small" slot="end"></ion-icon></ion-button>
          </ion-row>
        </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>