
.Customer ion-input {
    min-height: 35px;
   
    outline-width: 2px;
    outline-style: initial;
}
.Customer ion-textarea {
    min-height: 35px;

}


.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}

ng-template ion-button{
    color: goldenrod;
}
@media(max-width:540px){
    .Customer ion-input {
        min-height: 25px;
       font-size: 10px;
        outline-width: 2px;
        outline-style: initial;
    }
    .Customer ion-textarea {
        min-height: 25px;
        font-size: 10px;

    }
    .Customer select {
        min-height: 25px;
        width: 100%;
        text-align: left
    }
}