.Customer ion-card {
    width: 50%;
    margin-left: 25%;
}

.Customer ion-input {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    // outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}

.Customer ion-textarea {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    // outline-color: goldenrod;
    background: skyblue;

}

.Customer ion-toggle {
    margin-right: 10px;
}

.Customer h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    border-bottom: 3px solid rgb(0, 0, 0);
}
.Customer input{
    width: 70px;
    border: solid 1px grey;
}

@media(max-width:940px) {
    .Customer ion-card {
        width: 100%;
        margin-left: 0%;
    }
}