<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create Role</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size-lg="6" size-md="3" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="exname" formControlName="exname" name="ex_name" type="text"
                    label=" Exicutive Name :" label-placement="floating" fill="outline"></ion-input>
                 
                </ion-row>
              </ion-col>
              <ion-col size-lg="6" size-md="3" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="extilte" formControlName="extilte" name="ex_tilte" type="text"
                    label="Exicutive Title:" label-placement="floating" fill="outline"></ion-input>
                
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="headinglabel">
              <ion-label style="font-size: 18px;">Contact Information :</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
            "></span>
            </ion-row>

            <ion-row>
              <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="phone" formControlName="phone" name="phonenumber" type="number"
                    label=" Mobile Number :" label-placement="floating" fill="outline"></ion-input>
                 
                </ion-row>
              </ion-col>

              <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="wpnumber" formControlName="wpnumber" name="wp_number" type="number"
                    label=" Whatsapp Number :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="email" formControlName="email" name="emails" type="email" label="Email :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="headinglabel" style="margin: 10px auto;">
              <ion-label style="font-size: 18px; font-weight: bold;">Address :</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
              "></span>
            </ion-row>

            <ion-row>
              <ion-col size="6" size-lg="3" size-md="6" size-sm="12">
                <select class="select" [(ngModel)]="selectedOption" formControlName="selectedOption"  name="country" label-placement="floating" fill="outline"
                  (change)="onCountryChange()">
                  <option value="">Select Country</option>
                  <option *ngFor="let country of countries$ | async" [value]="country.countryid">
                    {{ country.countryname }}
                  </option>

                </select>
              </ion-col>

              <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                <select class="select" [(ngModel)]="selectedState" formControlName="selectedState" type="text" name="state" label-placement="floating"
                  fill="outline" (change)="onStateChange()">
                  <option value="0">Select State</option>
                  <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                    {{ state.statename }}
                  </option>
                </select>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                <select class="select" [(ngModel)]="selectedDistrict" formControlName="selectedDistrict" name="district" label-placement="floating" fill="outline">
                  <option value="">Select District</option>
                  <option *ngFor="let district of districts$ | async" [value]="district.districtid">
                    {{ district.districtname }}
                  </option>
                </select>
              </ion-col>

              <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="pinCode" formControlName="pinCode" name="pin_code" type="number"
                    label=" PinCode  :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-lg="12" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="fulladdress" formControlName="fulladdress" name="address" type="text"
                    label="Full Address :" label-placement="floating" fill="outline"></ion-input>
                
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button id="open-loading">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading1" message="Role Creating..."
                [duration]="1000"></ion-loading>
             
              <ion-button id="open-loading4">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
                [duration]="1000"></ion-loading>

            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>