<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>AMC Contract Creation Form</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="Customer">
    <div class="container_data">
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create AMC</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <ion-row>
              <ion-col size-lg="2" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input #firstInvalidInput [(ngModel)]="amc_id" formControlName="amc_id" name="amc_id" type="text" label="Amc I’d  : "
                    label-placement="floating" fill="outline">
                  </ion-input>

                </ion-row>
              </ion-col>
              <ion-col size-lg="2" size-md="6" size-sm="6" size="6">
                <ion-input [(ngModel)]="amc_date" formControlName="amc_date" name="amc_date" type="date"
                  label="Amc Date : " label-placement="floating" fill="outline">
                </ion-input>

              </ion-col>

              <ion-col size-lg="2" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input #firstInvalidInput [(ngModel)]="cust_code" formControlName="cust_code" name="cust_code" type="text"
                    label="Customer code  :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>

              </ion-col>
              <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <select class="select" [(ngModel)]=" cust_name" name="cust_name" formControlName="cust_name">
                    <option value=""> --- Customer Name --- </option>
                    <option *ngFor="let customername of customer$ | async" [value]="customername.id">
                      {{ customername.name }}
                    </option>
                  </select>

                </ion-row>
              </ion-col>
              <ion-col size-lg="2" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="bill_number" formControlName="bill_number" name="bill_number" type="text"
                    label="From Bill Number :" label-placement="floating" fill="outline"></ion-input>

                </ion-row>
              </ion-col>
            <!-- </ion-row>
            <ion-row style="margin-top: 5px;"> -->
                 <ion-col size-lg="2" size-md="6" size-sm="6" size="6">

                <ion-button class="fetch" color="undefined" style="margin-top: 5px;" (click)="presentPopover($event)">
                  Fetch Bill <ion-icon name="chevron-down-outline"></ion-icon></ion-button>
                <ion-popover size="auto" #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
                  <ng-template  >
                    <ion-content class="ion-padding ">
                      <div class="scroll-container">
                        <table style="width:100%;" >
                          <tr>
                            <th >Sr. No.</th>
                            <th > Item name </th>
                            <th >Selling price</th>
                            <th >Amc type</th>
                            <th >Amc period </th>
                            <th >Action</th>
                          </tr>

                          <tbody>
                            <tr style="min-height: 20px!important;">
                              <td class="icons">
                                1
                              </td>
                              <td>
                                <select class="seletc_amc" [(ngModel)]="itemname"  name="itemname" formControlName="itemname" >
                                <option value="0">Item Type</option>
                                <option *ngFor="let item  of itemnames$ | async" [value]="item.tid">
                                  {{ item .itemDesc }}
                                </option>
                              </select>
                              </td>

                              <td>
                                <ion-input [(ngModel)]="saler_price"  formControlName="saler_price" name="saler_price" type="text"></ion-input>
                              </td>
                              <td>
                                <select class="seletc_amc"  [(ngModel)]="amc_type"  formControlName="amc_type" name="amc_type">
                                  <option value="0">AMC Type</option>
                                  <option value="1">Computer and IT Equipment AMC:</option>
                                  <option value="2">Air Conditioning (AC)</option>
                                  <option value="3">Generator AMC</option>
                                  <option value="4">Elevator and Lift AMC</option>
                                  <option value="5">Fire Safety Equipment AMC</option>
                                  <option value="6">Security System AMC</option>
                                  <option value="7">Medical Equipment AMC</option>

                                </select>
                              </td>
                              <td>

                                <select class="seletc_amc" [(ngModel)]="amc_period"  formControlName="amc_period" name="amc_period">
                                  <option value="0">AMC Period</option>
                                  <option value="1"> 1 month</option>
                                  <option value="2">3 month</option>
                                  <option value="3">6 months</option>
                                  <option value="4"> 12 months</option>
                                  <option value="5">Unlimited</option>
                                  <option value="6"> Not Warrnty</option>
                                </select>
                              </td>
                              <td>
                                <ion-button size="small">Ok</ion-button>
                              </td>

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-col>
           
              <ion-col size-lg="2" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]=" renew_date" formControlName="renew_date" name="renew_date" type="date"
                    label="Renew Date  :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>

              </ion-col>
              <ion-col size-lg="2" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <select class="select" [(ngModel)]=" service_type" formControlName="service_type" name="service_type">
                    <option value="0"> --- Service Type --- </option>
                    <option value="1">Standard </option>
                    <option value="2">Comprehensive</option>
                  </select>
                </ion-row>

              </ion-col>

              <ion-col size-lg="2" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]=" servic_coverage" formControlName="servic_coverage" name="servic_coverage "
                    type="text" label="Service Coverage  :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>

              </ion-col>

            </ion-row>

            <ion-row>
              <ion-searchbar class="custom " showCancelButton="focus"></ion-searchbar>
              <div style="overflow-x:auto; width: 100% ;height: 330px;border: 1px solid grey;">
                <table style="width: 1000px; overflow-x: auto;overflow-y: auto;">
                  <tr>
                    <th>Sr.No.</th>
                    <th>AMC Id</th>
                    <th>AMC Date</th>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Bill Number</th>
                    <th>Renew Date</th>
                    <th>Service Type</th>
                    <th>Service Coverage</th>
                    <th>Item Name</th>
                    <th>Selling Price</th>
                    <th>AMC Type</th>
                    <th>AMC Status</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let amcs of amc$ | async; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{amcs.amc_id}}</td>
                    <td>{{amcs.amc_date}}</td>
                    <td>{{amcs.cust_code}}</td>
                    <td>{{amcs.cust_name}}</td>
                    <td>{{amcs.bill_number}}</td>
                    <td>{{amcs.renew_date}}</td>
                    <td>{{amcs.service_type}}</td>
                    <td>{{amcs.servic_coverage}}</td>
                    <td>{{amcs.itemname}}</td>
                    <td>{{amcs.saler_price}}</td>
                    <td>{{amcs.amc_type}}</td>
                    <td>{{amcs.amc_period}}</td>
                    
                    <td class="Action">
                      <ion-icon color="danger" icon-only name="trash"></ion-icon>
                      <ion-icon color="primary" icon-only name="create"></ion-icon>
                    </td>
                  </tr>

                </table>
              </div>
            </ion-row>


            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button (click)="onNew()">New</ion-button>
              <ion-button type="submit">Save</ion-button>
             
              <ion-button>Close</ion-button>
            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>