<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>AMC Contract Creation Form</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create AMC</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form  [formGroup]="form" (ngSubmit)="onSubmit()">
           
            <ion-row>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="contactid" formControlName="contactid"  name="contid" type="text" label="Contract ID : "
                    label-placement="floating" fill="outline">
                  </ion-input>
                  <div *ngIf="form && form.get('contactid')?.hasError('required') && form.get('contactid').touched" class="error-message">
                    Contract Id is required.
                  </div>
                </ion-row>
              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <select [(ngModel)]="cName" formControlName="cName"  name="customname" >
                  <option  value="">--- Customer
                    Name ---</option>
                  <option value="">Deepak</option>
                  <option value="">Ravi</option>
                  <option value="">Nirbhay</option>
                  <option value="">Abhishek</option>
                </select>
                <div *ngIf="form && form.get('cName')?.hasError('required') && form.get('cName').touched" class="error-message">
                  Customer Name is required.
                </div>
              </ion-col>

              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input  [(ngModel)]="startdate" formControlName="startdate"  name="sdate" type="date" label="Start Date :"
                    label-placement="floating" fill="outline" ></ion-input>
                </ion-row>
                <div *ngIf="form && form.get('startdate')?.hasError('required') && form.get('startdate').touched" class="error-message">
                  Start Date is required.
                </div>
              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="endate" formControlName="endate"  name="edate" type="date" label="End Ddte :"
                    label-placement="floating" fill="outline" class="sign_input"></ion-input>
                    <div *ngIf="form && form.get('endate')?.hasError('required') && form.get('endate').touched" class="error-message">
                      End Date is required.
                    </div>
                </ion-row>
              </ion-col>

            </ion-row>

            <ion-row>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <select [(ngModel)]="contactdur" formControlName="contactdur"  name="contactduration">
                  <option value="">--- Contract
                  Duration ---</option>
                  <option value="">Monthly</option>
                  <option value="">Yearly</option>
                  <option value="">Quartterly</option>
                </select>
                <div *ngIf="form && form.get('contactdur')?.hasError('required') && form.get('contactdur').touched" class="error-message">
                  Contract Duration is required.
                </div>
              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <select [(ngModel)]="cover" formControlName="cover"  name="covers">
                  <option  value="">Covered
                  </option>
                      <option value="">Billing</option>
                      <option value="">Accounting</option>
                      <option value="">GST</option>
                    </select>
              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <select [(ngModel)]="list" formControlName="list"  name="lists">
                  <option value="">List of
                  </option>
                      <option value="">Billing</option>
                      <option value="">Accounting</option>
                      <option value="">GST</option>
                    </select>
              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="contractvalue" formControlName="contractvalue"  name="contract" type="number"
                    label="Contract Value :" label-placement="floating" fill="outline" ></ion-input>
                    <div *ngIf="form && form.get('contractvalue')?.hasError('required') && form.get('contractvalue').touched" class="error-message">
                      Contract Value is required.
                    </div>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="payterms" formControlName="payterms" name="payt" type="text"
                    label=" Payment Terms :" label-placement="floating" fill="outline" ></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="servicelevel" formControlName="servicelevel" name="slevel" type="text"
                    label="Service Level Agreements (SLAs) :" label-placement="floating" fill="outline" ></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <select [(ngModel)]="listsla" formControlName="listsla" name="listla">
                  <option  value="">List of SLAs
                      </option>
                      <option value="">Billing</option>
                      <option value="">Accounting</option>
                      <option value="">GST</option>
                    </select>
              </ion-col>
            </ion-row>

              <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
                <ion-button>New</ion-button>
                <ion-button type="submit">Save</ion-button>
                <ion-button>Delete</ion-button>
                <ion-button>Preview</ion-button>
                <ion-button>Close</ion-button>
              </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>