<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Service</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Service</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)">
            <ion-row style="margin-top: 5px;">
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [ngModel]="service_code" [ngModelOptions]="{standalone:true}" name="sercode"  type="text" label=" Service Code :"
                    label-placement="floating" fill="outline"
                    color="dark"></ion-input>
                    <div *ngIf="myform && myform.get('serviceCode')?.hasError('required') && myform.get('serviceCode').touched" class="error-message">
                      Service Type is required.
                    </div>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <select [ngModel]="service_type" [ngModelOptions]="{standalone:true}" name="servicetype">
                  <option  value="">
                    --Select Service Type--</option>
                  <option value="1">Service Type 1</option>
                  <option value="2">Service Type 2</option>
                  <option value="3">Service Type 3</option>
                  <option value="4">Service Type 4</option>
                </select>
                <div *ngIf="myform && myform.get('service')?.hasError('required') && myform.get('service').touched" class="error-message">
                  Service Type is required.
                </div>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <select [ngModel]="stock_type" [ngModelOptions]="{standalone:true}" name="stock">
                  <option  value="">
                    --Select Stock Type--</option>
                  <option value="1">Stock Type 1</option>
                  <option value="2">Stock Type 2</option>
                  <option value="3">Stock Type 3</option>
                </select>
                <div *ngIf="myform && myform.get('stocktype')?.hasError('required') && myform.get('stocktype').touched" class="error-message">
                  Stock Type is required.
                </div>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <select [ngModel]="sac_code" [ngModelOptions]="{standalone:true}" name="saccode">
                  <option  value="">
                    --Select SAC Code--</option>
                  <option value="">121</option>
                  <option value="">2324232</option>
                  <option value="">21322</option>
                  <option value="">2312</option>
                  <option value="">1313</option>
                </select>
                <div *ngIf="myform && myform.get('sacode')?.hasError('required') && myform.get('sacode').touched" class="error-message">
                  SAC code Type is required.
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                <ion-row>
                  <ion-textarea color="dark" [(ngModel)]="item_description" [ngModelOptions]="{standalone:true}"  type="text" label=" Item Description :"
                    label-placement="floating" name="itemdescr" fill="outline"
                    color="dark"></ion-textarea>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button>New</ion-button>
              <ion-button type="submit">Save</ion-button>
              <ion-button>Delete</ion-button>
              <ion-button>Preview</ion-button>
              <ion-button>Close</ion-button>
            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>