
.Customer ion-input {
    min-height: 35px;
    outline-width: 2px;
    outline-style: initial;
}
.Customer ion-textarea {
    min-height: 35px;
}

.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}

ng-template ion-button{
    color: goldenrod;
}
.Customer ion-card{
    width: 50%;
    margin-left: 25%;
}

.inputs{
    margin-top: 20px;
}
.inputs ion-input{
    border: solid 1px grey;
    border-radius: 4px;
    margin-top: -10px;
}
.inputs ion-textarea{
    border: solid 1px grey;
    border-radius: 4px;
    margin-top: -10px;
}
.inputs select{
    border: solid 1px grey;
    border-radius: 4px;
    margin-top: -10px;
}

@media(max-width:940px){
    .Customer ion-card{
        width: 100%;
        margin-left: 0%;
    }
}

@media(max-width:540px){
    .Customer ion-input {
        min-height: 25px;
       font-size: 10px;
    }
    .Customer ion-textarea {
        min-height: 25px;
        font-size: 10px;
    }

    .inputs ion-input{
        margin-top: -15px;
    }
    .inputs ion-textarea{
        margin-top: -15px;
    }
    .inputs select{
        margin-top: -15px;

    }
}