<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Service</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Service</ion-title>
              <div class="custom-primary">
                <ion-button [routerLink]="['/viewservice']" id="open-loading5">View Service</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="Service Showing ..."
                  [duration]="1000"></ion-loading>

              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form [formGroup]="myform" (ngSubmit)="onSubmit()">
            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">Service Code :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <ion-input [(ngModel)]="service_code" formControlName="service_code" name="serviceCode" type="text"
                    placeholder="Enter Service Code"></ion-input>
                  <div
                    *ngIf="myform && myform.controls['service_code']?.hasError('required') && myform.controls['service_code']?.touched"
                    class="error-message">
                    Service Code is required.
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">Service Name :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <ion-input [(ngModel)]="service_name" formControlName="service_name" name="serviceName" type="text"
                    placeholder="Enter Service Name"></ion-input>
                  <div
                    *ngIf="myform && myform.controls['service_name']?.hasError('required') && myform.controls['service_name']?.touched"
                    class="error-message">
                    Service name is required.
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">SAC Code :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <ion-input [ngModel]="sac_code" formControlName="sac_code" name="saccode" type="text"
                    placeholder="Enter SAC Code"></ion-input>
                </ion-col>
              </ion-row>
            </div>

            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">GST % :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <select [(ngModel)]="gst" formControlName="gst" name="select_Gst">
                    <option value="">---Select GST ---</option>
                    <option *ngFor="let gsttype of gst$ | async" [value]="gsttype.gstid">
                      {{ gsttype.gstname }}
                    </option>
                  </select>
                </ion-col>

              </ion-row>
            </div>
            <div class="inputs">
              <ion-row>
                <ion-col size="4" size-lg="2" size-md="2" size-sm="2">
                  <ion-label for="" class="custom-label">Description :</ion-label>
                </ion-col>
                <ion-col size="8" size-lg="9" size-md="9" size-sm="9">
                  <ion-textarea [(ngModel)]="description" formControlName="description" name="description" type="text"
                    placeholder="Enter Mobile Number"></ion-textarea>
                </ion-col>
              </ion-row>
            </div>

            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button id="open-loading">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading1" message="Service Adding..."
                [duration]="1000"></ion-loading>
              <ion-button id="open-loading2">Delete</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading2" message="Deleting Customer..."
                [duration]="1000"></ion-loading>
              <ion-button id="open-loading3">Preview</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading3" message="Previewing..."
                [duration]="1000"></ion-loading>
              <ion-button id="open-loading4">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
                [duration]="1000"></ion-loading>

            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>