<ion-header [translucent]="true">
  <ion-toolbar><ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button (click)="goBack()" fill="clear" class="custom-back-button">
      <ion-icon (click)="goBack()" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="add_lead">
    <ion-card-content>
      <ion-grid>
        <ion-row class="row">
          <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
            <ion-item lines="none">
              <ion-label class="label-width">Company Name :</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
            <ion-item lines="none">
              <ion-label class="label-width">Customer Name :</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="row">
          <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
            <ion-item lines="none" style="margin-left: 5px;">
              <ion-label class="label-width">Mobile No. :</ion-label>
              <ion-input class="input-width" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
            <ion-item lines="none" style="margin-left: 5px;">
              <ion-label class="label-width">Email :</ion-label>
              <ion-input class="input-width" type="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="row">
          <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
            <ion-item lines="none">
              <ion-label class="label-width">Remark :</ion-label>
              <ion-textarea class="textarea-width"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="justify-content: right;">
          <ion-button color="warning">Edit</ion-button>
          <ion-button color="warning">Save</ion-button>
          <ion-button color="warning">Close</ion-button>
        </ion-row>


        <ion-row>
          <ion-col size="12">
            <ion-searchbar class="custom " showCancelButton="focus"></ion-searchbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="tables" style="overflow-x:auto;">
            <div class="row">
              <table>
                <tr>
                  <th>Sr.No.</th>
                  <th>Company Name</th>
                  <th>Customer Name</th>
                  <th>Email ID</th>
                  <th>Mobile No.</th>
                  <th>State</th>
                  <th>City </th>
                  <th>Pincode</th>
                  <th>Remark</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    Pending
                  </td>
                  <td>1</td>
                  <td>
                    pic
                  </td>
                  <td> dsc</td>
                  <td>dad</td>
                  <td>wqedsfd</td>
                  <td>ads</td>
                  <td>110</td>
                  <td>
                    <ion-icon class="create" name="create"></ion-icon>
                    <ion-icon class="delete" name="trash"></ion-icon>
                  </td>

                </tr>
              </table>
            </div>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>