table{
    width: 100%;
}
td {
    text-align: center;
}


.Customer ion-input {
    min-height: 35px;
    outline-width: 2px;
    outline-style: initial;
}
.Customer ion-textarea {
    min-height: 35px;
    background: skyblue;
}

.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}

ng-template ion-button{
    color: goldenrod;
}

td{
    border-right: 1px solid grey;
    text-align: center;
}

@media(max-width:540px){
    .Customer ion-input {
        min-height: 25px;
      font-size: 10px;
    }
    .Customer ion-textarea {
        min-height: 25px;
        font-size: 10px;
    }
}