<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>DC-IN Window</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="Customer">
    <ion-card style="height: 570px;">
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">DC-IN Window</ion-title>
              <div  class="custom-primary">
                <ion-button size="small" [routerLink]="['/dc-in-report']" id="open-loading5">View DC-IN</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="DC-IN Showing ..." [duration]="1000"></ion-loading>
              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <ion-row>
              <ion-col size-lg="2" size-md="4" size-sm="6" size="12">
                <ion-row>
                  <ion-input  [(ngModel)]="voucherformat" formControlName="voucherformat" name="voucherformat" type="text"
                    label="Voucher Format :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="2" size-md="4" size-sm="6" size="12">
                <ion-row>
                  <ion-input  [(ngModel)]="voucherNumber" formControlName="voucherNumber" name="vouchno" type="text"
                    label="Voucher No. :" label-placement="floating" fill="outline"></ion-input>
                    
                </ion-row>
              </ion-col>
              <ion-col size-lg="1.5" size-md="4" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="datetype" formControlName="datetype" name="date" type="date" label=" Date :"
                    label-placement="floating" fill="outline"></ion-input>
                   
                </ion-row>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="6" size="12">
                <select [(ngModel)]="suppliertype" formControlName="suppliertype" name="supplier">
                  <option value="0" disabled selected> Supplier</option> <!-- Default option -->
                  <option value="2">Nirbahy</option>
                  <option value="3">Yogesh</option>
                </select>
               
              </ion-col>

              <ion-col size-lg="1.5" size-md="4" size-sm="6" size="12">
                <select [(ngModel)]="referenceNumber" formControlName="referenceNumber" name="refernceNumber">
                  <option value="0" disabled selected> Refrence No.</option> <!-- Default option -->
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
               
              </ion-col>

              <ion-col size-lg="1.5" size-md="4" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="refdate" formControlName="refdate" name="refdate" type="date" label=" Reference Date :"
                    label-placement="floating" fill="outline"></ion-input>
                   
                </ion-row>
              </ion-col>

              <ion-col size-lg="1.5" size-md="4" size-sm="6" size="12">
                <select [(ngModel)]="payment" formControlName="payment" name="pty" >
                  <option value="0" disabled selected> Payment Mode </option> <!-- Default option -->
                  <option value="2">Cash</option>
                  <option value="3">Credit</option>
                </select>
              
              </ion-col>
            </ion-row>

           
            <ion-row style="margin-top: 10px;">
              <div class="scroll-container">
                <table  style="width:1500px;overflow-x:auto;">
                  <tr>
                    <th>Sr.No.</th>
                    <th>Barcode</th>
                    <th>Customer Code</th>
                    <th>Item Name</th>
                    <th>Item Description</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>MRP</th>
                    <th>Net Base</th>
                    <th>Gross Amount</th>
                    <th>GST</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>IGST</th>
                    <th>Discount</th>
                    <th>Discount Amount</th>
                    <th>Tax Amount</th>
                    <th>Net Amount</th>
                    
                  </tr>
                  <tr class="tdrows">
                    <td style="width: 80px;">1</td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 250px;"><input class="table_input" type="text"></td>
                    <td style="width: 800px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 250px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 250px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 250px;"><input class="table_input" type="text"></td>
                    <td style="width: 150px;"><input class="table_input" type="text"></td>
                    <td style="width: 350px;"><input class="table_input" type="text"></td>
                  </tr>
                </table>
              </div>
              <table>
                <tr>
                  <td colspan="4">
                    <div style="margin-left: 20px; display: flex;flex-direction: row;align-items: center;">
                      <label for="">Discount :</label>
                      <input style="width: 150px;" name="" class="" type="text">
                    </div>
                  </td>
                  <td>
                    <div style="margin-left: 20px; display: flex;flex-direction: row;align-items: center;">
                      <label for="">Gross Amount :</label>
                      <input style="width: 150px;" name="" class="" type="text">
                    </div>
                  </td>
                  <td>
                    <div style="margin-left: 20px; display: flex;flex-direction: row;align-items: center;">
                      <label for="">Tax Amount :</label>
                      <input style="width: 150px;" name="" class="" type="text">
                    </div>
                  </td>
                  <td>
                    <div style="margin-left: 20px; display: flex;flex-direction: row;align-items: center;">
                      <label for="">Total :</label>
                      <input style="width: 150px;" name="" class="" type="text">
                    </div>
                   
                  </td>
                </tr>
              </table>
            </ion-row>

            <ion-row>
              <ion-col  size-lg="5.5" size-md="12" size-sm="12" size="12">
                <table  style="width:100%; height: 90px; overflow-x:auto;">
                  <tr class="sub">
                    <td colspan="4">
                      <div style="margin-left: 20px; display: flex;flex-direction: row;align-items: center;">
                        <label for="">Opening Balance :</label>
                        <input style="width: 150px;" name="" class="" type="text">
                      </div>
                    </td>
                    <td>
                      <div style="margin-left: 20px; display: flex;flex-direction: row;align-items: center;">
                        <label for="">Closing Balance :</label>
                        <input style="width: 150px;" name="" class="" type="text">
                      </div>
                    </td>
                  </tr>
                  <tr class="sub">
                    <td colspan="4">
                      <div style="margin-left: 20px; display: flex;flex-direction: row;align-items: center;">
                        <label for="">Credit Limit :</label>
                        <input style="width: 150px;margin-left: 25px;" name="" class="" type="text">
                      </div>
                    </td>
                    <td>
                      <div style="margin-left: 20px; display: flex;flex-direction: row;align-items: center;">
                        <label for="">Credit Period :</label>
                        <input style="width: 150px; margin-left: 15px;" name="" class="" type="text">
                      </div>
                    </td>
                  </tr>
                </table>
              </ion-col>
              <ion-col  size-lg="3.5" size-md="12" size-sm="12" size="12">

              </ion-col>
              <ion-col class="row" size-lg="3" size-md="12" size-sm="12" size="12">
                <div class="output">
                  <table style="border: none;margin-left: 25px;">
                  
                    <tr class="sub">
                      
                      <td colspan="1" >Total Amount : <input style="margin-left: 8px;width: 150px;" class="" type="text">
                      </td>
                    </tr>
                    <tr class="sub">
                      
                      <td colspan="1">Round Off : <input style="margin-left: 25px;width: 150px;" class="" type="text">
                      </td>
                    </tr>
                    <tr class="sub">
                     
                      <td colspan="1">Total : <input style="margin-left: 55px;width: 150px;" class="" type="text">
                      </td>
                    </tr>
                  </table>
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="custom-primary" style="justify-content: right;margin-top: 10px;">
              <ion-button id="open-loading">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..." [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading1" message="DC-IN Saving..." [duration]="1000"></ion-loading>
              <ion-button id="open-loading2">Delete</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading2" message="Deleting Customer..." [duration]="1000"></ion-loading>
              <ion-button id="open-loading3">Preview</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading3" message="Previewing..." [duration]="1000"></ion-loading>
              <ion-button id="open-loading4">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..." [duration]="1000"></ion-loading>

            </ion-row>
              
             
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>