<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>Dc-In</ion-title>
   </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <ion-card class="dc_in">
    <ion-card-content>
      <ion-grid> 
        <ion-row>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width">Voucher No. :</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> Date :</ion-label>
              <ion-input class="input-width" type="date"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> Suppliers :</ion-label>
             <select class="select-width">
                 <option value="1">--Select--</option>
                 <option value="2">Nirbahy</option>
                 <option value="3">Yogesh</option>
             </select>
            </ion-item>
          </ion-col>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width">Reference No. :</ion-label>
              <select class="select-width">
                <option value="1">--Select--</option>
                <option value="2">Nirbahy</option>
                <option value="3">Yogesh</option>
            </select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> Cash/Credit :</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> Remark :</ion-label>
             <ion-textarea class="textarea-width"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <div style="overflow-x:auto;margin-top: 80px;">
                <table>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Discount%</th>
                        <th>Discount Amount</th>
                        <th>CGST</th>
                        <th>SGST</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                          <input class="table_input" type="text">
                        </td>
                        <td>
                            <select style="width: 120px;" class="table_select"
                                aria-label="Default select example" id="transaction">
                                <option selected>--Select--</option>
                                <option value="1">Credit</option>
                                <option value="2">Cash</option>
                            </select>
                        </td>
                        <td>1</td>
                        <td>100</td>
                        <td>
                          <input class="table_input" type="text">
                        </td>
                        <td>12</td>
                        <td>18</td>
                        <td>18</td>
                        <td>110</td>
                        <td>
                            <ion-icon class="create" name="create"></ion-icon>
                            <ion-icon class="delete" name="trash"></ion-icon>
                        </td>

                    </tr>
                </table>
             </div>
        </ion-row>

        <ion-row style="justify-content: right; margin-top: 20px;">
          <ion-button color="warning">Go to Excel</ion-button>
          <ion-button color="warning">
            Add
          </ion-button>
          <ion-button color="warning">
           Print
          </ion-button>
          <ion-button color="warning">
            View
          </ion-button>
          <ion-button color="warning">
           Save
          </ion-button>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>