<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>View Sale</ion-title>
   </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Sales Report</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <form #viewSaleForm="ngForm" (ngSubmit)="onSubmit()">
              <ion-row>

                <ion-col size-lg="2" size-md="6" size-sm="6" size="5">
                  <ion-row>
                    <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date" label=" From Date  :"
                      label-placement="floating" fill="outline"></ion-input>
                  </ion-row>
                </ion-col>
                <ion-col size-lg="2" size-md="6" size-sm="6" size="5">
                  <ion-row>
                    <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                      label-placement="floating" fill="outline"></ion-input>
                  </ion-row>
                </ion-col>

                <ion-col size-lg="1" size-md="2" size-sm="6" size="2" class="custom-primary">
                  <ion-button expand="block">Ok</ion-button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
              </ion-row>

              <ion-row>
                <div class="scroll-container" style="overflow-x:auto; width: 100%;">
                  <table style="width:3000px;">
                    <tr>
                      <th>Sr.No.</th>
                      <th>Bill Formate</th>
                      <th>Billing No.</th>
                      <th>Billing Date</th>
                      <th>Customer Code</th>
                      <th>Customer Name</th>
                      <th>Refrence No.</th>
                      <th>Refrence Date</th>
                      <th>Order No.</th>
                      <th>Order Date</th>
                      <th>GSTIN</th>
                      <th>Sales Person Name</th>
                      <th>Payment Mode</th>
                      <th>Delivery Date</th>
                      <th>Delivery Place</th>
                      <th>BarCode</th>
                      <th>Item Code</th>
                      <th>Item Name</th>
                      <th>Description</th>
                      <th>Quantity</th>
                      <th>Unit</th>
                      <th>MRP</th>
                      <th>Basic Rate</th>
                      <th>Net Rate</th>
                      <th>Gross Amount</th>
                      <th>GST</th>
                      <th>CGST</th>
                      <th>SGST</th>
                      <th>IGST</th>
                      <th>Discount %</th>
                      <th>Discount Amount</th>
                      <th>Tax Amount</th>
                      <th>Pre-Tax</th>
                      <th>Post-Tax</th>
                      <th>Net Amount</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let sales of sales$ | async; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{sales.billformate}}</td>
                      <td>{{sales.billNumber}}</td>
                      <td>{{sales.billDate}}</td>
                      <td>{{sales.custcode}}</td>
                      <td>{{sales.custname}}</td>
                      <td>{{sales.refrence}}</td>
                      <td>{{sales.refdate}}</td>
                      <td>{{sales.orderDate}}</td>
                      <td>{{sales.orderNumber}}</td>
                      <td>{{sales.gstin}}</td>
                      <td>{{sales.salePerson}}</td>
                      <td>{{sales.payment}}</td>
                      <td>{{sales.deliverydate}}</td>
                      <td>{{sales.deliveryplace}}</td>
                      <td>{{sales.barcode }}</td>
                      <td>{{sales.itemcode}}</td>
                      <td>{{sales.itemname}}</td>
                      <td>{{sales.description}}</td>
                      <td>{{sales.quantity}}</td>
                      <td>{{sales.unitname}}</td>
                      <td>{{sales.mrp| currency : 'INR'}}</td>
                      <td>{{sales.basicrate| currency : 'INR'}}</td>
                      <td>{{sales.netrate| currency : 'INR'}}</td>
                      <td>{{sales.grossrate| currency : 'INR'}}</td>
                      <td>{{sales.taxrate}}%</td>
                      <td>{{sales.IGST}}%</td>
                      <td>{{sales.CGST}}%</td>
                      <td>{{sales.SGST}}%</td>
                      <td>{{sales.discount| currency : 'INR'}}</td>
                      <td>{{sales.discountamt| currency : 'INR'}}</td>
                      <td>{{sales.totaltax| currency : 'INR'}}</td>
                      <td>{{sales.pretax| currency : 'INR'}}</td>
                      <td>{{sales.posttax| currency : 'INR'}}</td>
                      <td>{{sales.total| currency : 'INR'}}</td>
                      <td>
                        <ion-icon name="create"></ion-icon>
                        <ion-icon name="trash"></ion-icon>
                      </td>
                    </tr>


                  </table>
                </div>
              </ion-row>

              <!-- <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
                <ion-button>New</ion-button>
                <ion-button type="submit">Save</ion-button>
                <ion-button>Delete</ion-button>
                <ion-button>Preview</ion-button>
                <ion-button>Close</ion-button>
              </ion-row> -->

            </form>

          </ion-grid>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-content>