<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Lead</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>  -->

<ion-content>
  <div class="Customer">
    <div class="container_div">
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Lead</ion-title>
              <div class="custom-primary">
                <ion-button size="small" [routerLink]="['/view-lead']" id="open-loading5">View Lead</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="Lead Showing ..."
                  [duration]="1000"></ion-loading>

              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="6" size="8">
                <ion-input [(ngModel)]="companyname" formControlName="companyname" name="companyname" type="text"
                  label="Company Name:" label-placement="floating" fill="outline"></ion-input>

              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="4">
                <ion-input [(ngModel)]="catPerson" formControlName="catPerson" name="contactPerson" type="text"
                  label="Contact Person:" label-placement="floating" fill="outline"></ion-input>

              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <ion-input [(ngModel)]="leaddate" formControlName="leaddate" name="leaddate" type="datetime"
                  label="Lead Date:" label-placement="floating" fill="outline"></ion-input>

              </ion-col>

              <ion-col size-lg="6" size-md="6" size-sm="6" size="6">
                <ion-input [(ngModel)]="phone" formControlName="phone" name="mobileno" type="text" label="Mobile No.:"
                  label-placement="floating" fill="outline" maxlength="10"></ion-input>

              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                <ion-input [(ngModel)]="emails" formControlName="emails" name="email" type="email" label="Email:"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <select class="select" [(ngModel)]="selectedCountry" formControlName="selectedCountry" name="country"
                  label-placement="floating" fill="outline" (change)="onCountryChange()">
                  <option value="0">  --- Country --- </option> <!-- Default option -->
                  <option *ngFor="let country of countries$ | async" [value]="country.countryid">
                    {{ country.countryname }}
                  </option>
                </select>

              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">

                <select class="select" [(ngModel)]="selectedState" formControlName="selectedState" name="state"
                  label-placement="floating" (change)="onStateChange()">
                  <option value="0">  --- State --- </option> <!-- Default option -->
                  <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                    {{ state.statename }}
                  </option>
                </select>

              </ion-col>

              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <select class="select" [(ngModel)]="selectedDistrict" formControlName="selectedDistrict" name="district"
                  label-placement="floating" fill="outline">
                  <option value="0">  --- District --- </option> <!-- Default option -->
                  <option *ngFor="let district of districts$ | async" [value]="district.districtid">
                    {{ district.districtname }}
                  </option>
                </select>
              </ion-col>

              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="pncode" formControlName="pncode" name="pinCode" type="text" label=" Pincode :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="fulladdress" formControlName="fulladdress" name="address" type="text"
                    label=" Address :" label-placement="floating" fill="outline"></ion-input>

                </ion-row>
              </ion-col>

              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <select class="select" [(ngModel)]="leadtype" formControlName="leadtype" name="leadtype">
                  <option value="0"> --- Lead Type --- </option>
                  <option value="1">Cold</option>
                  <option value="2">Warm </option>
                  <option value="3">Cold</option>
                  <option value="4">Not Interested </option>
                  <option value="5">Closed </option>
                </select>

              </ion-col>

              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <select class="select"  [(ngModel)]="lscore" formControlName="lscore" name="leadscore">
                  <option value="0">  --- Lead Source --- </option>
                    <option *ngFor="let leadsourcetype of leadsourcetype$ | async"
                      [value]="leadsourcetype.leadsourceid">
                      {{ leadsourcetype.leadsourcename }}
                    </option> 
                  </select>
                </ion-row>
              </ion-col>

              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <select class="select" [(ngModel)]=" executivename" name="executive_name"
                  formControlName="executivename">
                  <option value="0"> -- Executive Name -- </option><!-- Default option -->
                  <option *ngFor="let executive of executive$ | async" [value]="executive.executiveid">
                    {{ executive.executivename }}
                  </option>
                </select>
              </ion-col>


              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <select class="select" [(ngModel)]=" leadassign" name="leadassign"
                  formControlName="leadassign">
                  <option value="0"> -- Lead Assign To -- </option><!-- Default option -->
                  <option *ngFor="let leadassigns of executive$ | async" [value]="leadassigns.executiveid">
                    {{ leadassigns.executivename }}
                  </option>
                </select>
              </ion-col>

              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <select class="select" [(ngModel)]="selectpd" formControlName="selectpd" name="selectproduct">                 
                  <option value="0">  --- Product Name --- </option><!-- Default option -->
                  <option *ngFor="let itemname of itemnames$ | async" [value]="itemname.tid">
                    {{ itemname.itemDesc }}
                  </option>
                </select>

              </ion-col>

              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-textarea [(ngModel)]="rmark" formControlName="rmark" name="remark" type="text" label=" Remark :"
                    label-placement="floating" fill="outline"></ion-textarea>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button id="open-loading">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading1" message="Lead Adding..."
                [duration]="1000"></ion-loading>
              <ion-button id="open-loading4">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
                [duration]="1000"></ion-loading>

            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>