.Customer ion-card{
    width: 50%;
    margin-left: 25%;
}

.Customer ion-input {
    min-height: 35px;
    outline-width: 2px;
    outline-style: initial;
}

.Customer ion-textarea {
    min-height: 35px;
}

.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}




@media(max-width:940px){
    .Customer ion-card{
        width: 100%;
        margin-left: 0%;
    }
}
@media(max-width:940px){
    .Customer ion-input {
        min-height: 25px;
       font-size: 10px;
    }
    
    .Customer ion-textarea {
        min-height: 25px;
        font-size: 10px;
    }
}

.items{
    --width:700px;
    --height:245px;
}
.execut{
    --width:700px;
    --height:290px;
}