<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Lead</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>  -->

<ion-content>
  <div class="Customer">
    <div class="container_div">
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Lead</ion-title>
              <div class="custom-primary">
                <ion-button size="small" [routerLink]="['/view-lead']" id="open-loading5">View Lead</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="Lead Showing ..."
                  [duration]="1000"></ion-loading>

              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="6" size="8">
                <ion-input [(ngModel)]="companyname" formControlName="companyname" name="companyname" type="text"
                  label="Company Name:" label-placement="floating" fill="outline"></ion-input>

              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="4">
                <ion-input [(ngModel)]="catPerson" formControlName="catPerson" name="contactPerson" type="text"
                  label="Contact Person:" label-placement="floating" fill="outline"></ion-input>

              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <ion-input [(ngModel)]="leaddate" formControlName="leaddate" name="leaddate" type="date"
                  label="Lead Date:" label-placement="floating" fill="outline"></ion-input>

              </ion-col>

              <ion-col size-lg="6" size-md="6" size-sm="6" size="6">
                <ion-input [(ngModel)]="phone" formControlName="phone" name="mobileno" type="text" label="Mobile No.:"
                  label-placement="floating" fill="outline" maxlength="10"></ion-input>

              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                <ion-input [(ngModel)]="emails" formControlName="emails" name="email" type="email" label="Email:"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                <select class="select" [(ngModel)]="selectedCountry" formControlName="selectedCountry" name="country"
                  label-placement="floating" fill="outline" (change)="onCountryChange()">
                  <option value="0">  --- Country --- </option> <!-- Default option -->
                  <option *ngFor="let country of countries$ | async" [value]="country.countryid">
                    {{ country.countryname }}
                  </option>
                </select>

              </ion-col>
              <ion-col size-lg="4" size-md="6" size-sm="6" size="6">

                <select class="select" [(ngModel)]="selectedState" formControlName="selectedState" name="state"
                  label-placement="floating" (change)="onStateChange()">
                  <option value="0">  --- State --- </option> <!-- Default option -->
                  <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                    {{ state.statename }}
                  </option>
                </select>

              </ion-col>

              <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                <select class="select" [(ngModel)]="selectedDistrict" formControlName="selectedDistrict" name="district"
                  label-placement="floating" fill="outline">
                  <option value="0">  --- District --- </option> <!-- Default option -->
                  <option *ngFor="let district of districts$ | async" [value]="district.districtid">
                    {{ district.districtname }}
                  </option>
                </select>
              </ion-col>

              <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="pncode" formControlName="pncode" name="pinCode" type="text" label=" Pincode :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="8" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="fulladdress" formControlName="fulladdress" name="address" type="text"
                    label=" Address :" label-placement="floating" fill="outline"></ion-input>

                </ion-row>
              </ion-col>

              <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                <ion-select  class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="---Lead Type---" label-placement="floating" fill="outline"  [(ngModel)]="leadtype" formControlName="leadtype" name="leadtype">
                  <!-- <ion-select-option value="0"> --- Lead Type --- </ion-select-option> -->
                  <ion-select-option value="1">Cold</ion-select-option>
                  <ion-select-option value="2">Warm </ion-select-option>
                  <ion-select-option value="3">Cold</ion-select-option>
                  <ion-select-option value="4">Not Interested </ion-select-option>
                  <ion-select-option value="5">Closed </ion-select-option>
                </ion-select>
              </ion-col>

              <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-select  class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="---Lead Source---" label-placement="floating" fill="outline"   [(ngModel)]="lscore" formControlName="lscore" name="leadscore">
                  <!-- <ion-select-option value="0">  --- Lead Source --- </ion-select-option> -->
                    <ion-select-option *ngFor="let leadsourcetype of leadsourcetype$ | async"
                      [value]="leadsourcetype.leadsourceid">
                      {{ leadsourcetype.leadsourcename }}
                    </ion-select-option> 
                  </ion-select>
                </ion-row>
              </ion-col>

              <ion-col size-lg="3.3" size-md="6" size-sm="6" size="6">
                <ion-select  class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- Executive Name --- " label-placement="floating" fill="outline"  [(ngModel)]=" executivename" name="executive_name"
                  formControlName="executivename">
                  <!-- <ion-select-option value="0"> -- Executive Name -- </ion-select-option>Default option -->
                  <ion-select-option *ngFor="let executive of executive$ | async" [value]="executive.executiveid">
                    {{ executive.executivename }}
                  </ion-select-option>
                </ion-select>
              </ion-col>

              <ion-col class="custom-primary" size-lg="0.7" size-md="2" size-sm="2" size="2">
                <ion-button id="left-start"><ion-icon name="person-add-outline"></ion-icon></ion-button>
              </ion-col>

              <ion-col class="custom-primary" size-lg="0.7" size-md="2" size-sm="2" size="2">
                <ion-button id="item"><ion-icon name="person-add-outline"></ion-icon></ion-button>
              </ion-col>

              <ion-col size-lg="3.3" size-md="6" size-sm="6" size="6">
                <ion-select  class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- Product Name ---" label-placement="floating" fill="outline"  [(ngModel)]="selectpd" formControlName="selectpd" name="selectproduct">                 
                  <!-- <ion-select-option value="0">  --- Product Name --- </ion-select-option>Default option -->
                  <ion-select-option *ngFor="let itemname of itemnames$ | async" [value]="itemname.tid">
                    {{ itemname.itemDesc }}
                  </ion-select-option>
                </ion-select>
              </ion-col>

              <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                <ion-select  class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- Lead Assign To --- " label-placement="floating" fill="outline"  [(ngModel)]=" leadassign" name="leadassign"
                  formControlName="leadassign">
                  <!-- <ion-select-option value="0"> -- Lead Assign To -- </ion-select-option>Default option -->
                  <ion-select-option *ngFor="let leadassigns of executive$ | async" [value]="leadassigns.executiveid">
                    {{ leadassigns.executivename }}
                  </ion-select-option>
                </ion-select>
              </ion-col>

              <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-textarea [(ngModel)]="rmark" formControlName="rmark" name="remark" type="text" label=" Remark :"
                    label-placement="floating" fill="outline"></ion-textarea>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button id="open-loading" (click)="onNew()">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading1" message="Lead Adding..."
                [duration]="1000"></ion-loading>
              <ion-button id="open-loading4" (click)="onButtonClick()">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
                [duration]="1000"></ion-loading>

            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>

<ion-popover class="execut" trigger="left-start" side="left" alignment="center">

  <ng-template style="margin-right: 200px;">
    <div style="margin: 10px;">
      <ion-content class="ion-padding Customer ">
        <ion-row style="justify-content: center;margin-bottom: 10px;">
          <ion-label class="executive">Add Executive</ion-label>
        </ion-row>
        <form [formGroup]="executivepop" (ngSubmit)="OnExecutiveSubmit()">
          <ion-row>

            <ion-col size="6" size-lg="6" size-md="6" size-sm="6">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- Role---" label-placement="floating" fill="outline" [ngModel]="roleid" name="roleid"
                formControlName="roleid">
                <!-- <ion-select-option value="0"><ion-button>add</ion-button></ion-select-option>  -->
                <ion-select-option *ngFor="let roletypes of roletypes$ | async" [value]="roletypes.roletypeid">
                  {{ roletypes.roletypename }}
                </ion-select-option>

              </ion-select>

            </ion-col>
            <ion-col size="6" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [ngModel]="excode" formControlName="excode" name="excode" type="text"
                  label=" Executive Code :" label-placement="floating" fill="outline"></ion-input>

              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [ngModel]="executivename" formControlName="executivename" name="executivename" type="text"
                  label=" Name :" label-placement="floating" fill="outline"></ion-input>

              </ion-row>
            </ion-col>
            <ion-col size="6" size-lg="6" size-md="6" size-sm="6">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="---Select Ledger ---" label-placement="floating" fill="outline" [ngModel]="ledger"
                formControlName="ledger" name="ledger">
                <!-- <ion-select-option value="" disabled selected> --- ledger --- </ion-select-option> Default option -->
                <ion-select-option *ngFor="let ledger of ledgers$ | async; let i = index">{{ledger.lname}}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" size-lg="6" size-md="6" size-sm="6">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- Manager ---" label-placement="floating" fill="outline" [ngModel]="emanager"
                formControlName="emanager" name="emanager">
                <!-- <ion-select-option value="" disabled selected> --- Manager --- </option> Default option -->
                <ion-select-option value="1">Deepak</ion-select-option>
                <ion-select-option value="1">Yogesh</ion-select-option>
                <ion-select-option value="1">Abhishek</ion-select-option>
                <ion-select-option value="1">Nirbhay</ion-select-option>
                <ion-select-option value="1">Ravi</ion-select-option>
              </ion-select>

            </ion-col>

            <ion-col size="6" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [ngModel]="emobile" maxlength="10" formControlName="emobile" name="emobile" type="tel"
                  label="Mobile No. :" label-placement="floating" fill="outline"></ion-input>

              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row style="float: right;margin-top: 23px;">
            <ion-button type="submit">Save</ion-button>
            <ion-button (click)="closePopover()">Close</ion-button>
          </ion-row>
        </form>
      </ion-content>
    </div>
  </ng-template>

</ion-popover>


<ion-popover class="items" trigger="item" side="end" alignment="center">

  <ng-template style="margin-right: 200px;">
    <div style="margin: 10px;">
      <ion-content class="ion-padding Customer ">
        <ion-row style="justify-content: center;margin-bottom: 10px;">
          <ion-label class="executive">Add Item</ion-label>
        </ion-row>
        <form [formGroup]="itempop" (ngSubmit)="OnItemSubmit()">
          <ion-row>

            <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
              <ion-row>
                <ion-input #firstInvalidInput [(ngModel)]="itemCode" formControlName="itemCode" name="itemCode"
                  type="text" label=" Item code :" label-placement="floating" fill="outline"></ion-input>

              </ion-row>
            </ion-col>

            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [(ngModel)]="itemDesc" formControlName="itemDesc" name="itemDesc" type="text"
                  label=" Item Description :" label-placement="floating" fill="outline">
                </ion-input>
              </ion-row>
            </ion-col>

            <ion-col size="6" size-lg="3" size-md="6" size-sm="6">

              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- HSN ---" label-placement="floating" fill="outline" [(ngModel)]="hsnname"
                formControlName="hsnname" name="hsnname">
                <!-- <ion-select-option value="">  --- HSN --- </ion-select-option> Default option with value 0 -->
                <ion-select-option *ngFor="let hsnname of hsnname$ | async" [value]="hsnname.hsnid">
                  {{ hsnname.hsnname }}
                </ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col size="6" size-lg="4" size-md="6" size-sm="6">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- GST Type ---" label-placement="floating" fill="outline" [(ngModel)]="selectGst"
                formControlName="selectGst" name="selectGst">
                <!-- <ion-select-option value="0">  --- GST Type --- </ion-select-option> Default option with value 0 -->
                <ion-select-option *ngFor="let gsttype of selectGst$ | async" [value]="gsttype.gstid">
                  {{ gsttype.gstname }}
                </ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col size="6" size-lg="4" size-md="6" size-sm="6">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- Unit Name ---" label-placement="floating" fill="outline" [(ngModel)]="unitname"
                formControlName="unitname" name="unitname">
                <!-- <ion-select-option value="0">  --- Unit Name --- </ion-select-option> -->
                <ion-select-option *ngFor="let unitnames of unitname$ | async" [value]="unitnames.unitid">
                  {{ unitnames.unitname }}
                </ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col size="6" size-lg="4" size-md="6" size-sm="6">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- Item Group ---" label-placement="floating" fill="outline" [(ngModel)]="selectItemGroup"
                formControlName="selectItemGroup" name="selectItemGroup">
                <!-- <ion-select-option value="0">  --- Item Group --- </ion-select-option> Default option with value 0 -->
                <ion-select-option *ngFor="let itemgroup of itemgroups$  | async" [value]="itemgroup.itemgroupid">
                  {{ itemgroup.itemgroupname }}
                </ion-select-option>
              </ion-select>
            </ion-col>

          </ion-row>

          <ion-row style="float: right;margin-top: 23px;">
            <ion-button type="submit">Save</ion-button>
            <ion-button (click)="closePopover()">Close</ion-button>
          </ion-row>
        </form>
      </ion-content>
    </div>
  </ng-template>

</ion-popover>