<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
               <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon> 
              <ion-title style="text-align: center;">Ledger</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
          <ion-row>
            <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input [(ngModel)]="name"   name="names" type="text" label="Name :"
                label-placement="floating" fill="outline"></ion-input>
                <div *ngIf="form && form.controls['name']?.hasError('required') && form.controls['name'].touched" class="error-message">
                  Name is required.
                </div>
              </ion-row>
            </ion-col> 
            <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <select fill="outline" name="grouptype"  [(ngModel)]="group_name" >
                  <option value="">-- Group Name --</option>
                  <option value="">Group 1</option>
                  <option value="">Group 2</option>
                  <option value="">Group 3</option>
                </select>
                <div *ngIf="form && form.controls['groupname']?.hasError('required') && form.controls['groupname'].touched" class="error-message">
                 Group Name is required.
                </div>
              </ion-row>
            </ion-col> 
            <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input [(ngModel)]="alternate_name"  name="altname" type="text" label="Alternate Name :"
                label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col> 
            <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input [(ngModel)]="vender_code"  name="vcode" type="text" label="Vendor Code:"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col> 
            
          </ion-row>
          <ion-row>
            <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input [(ngModel)]="gstin"  name="gstincode" type="text" label=" GSTIN :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col> 

            <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input [(ngModel)]="opening_balance"  name="openingbalance" type="text" label=" Opening Balance :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col> 
          
            <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input [(ngModel)]="closing_balance" name="closingbalance" type="text" label="Closing Balance :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col> 

            <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input [(ngModel)]="address"  name="fulladdress" type="text" label="Address :"
                  label-placement="floating" fill="outline"></ion-input>
                  <div *ngIf="form && form.controls['address']?.hasError('required') && form.controls['address'].touched" class="error-message">
                    Address is required.
                  </div>
              </ion-row>
            </ion-col> 
          </ion-row>

          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row>
        </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

