<ion-content>
  <div class="Customer">
    <div class="container_fluid">
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Ledger</ion-title>
              <div class="custom-primary">
                <ion-button size="small" [routerLink]="['/viewledger']" id="open-loading5">View Ledger</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="Ledger Showing ..."
                  [duration]="1000"></ion-loading>

              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row class="headinglabel">
            <ion-label>Contact Information :</ion-label>
            <span
              style="width: 100%; height: 2px; background-image: linear-gradient(to right, #00b4db, #0083b0);"></span>
          </ion-row>

          <form [formGroup]="myform" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size="3" size-lg="1" size-md="2" size-sm="3">
                <ion-row>
                  <select class="select" [(ngModel)]="selectedSalutation" [ngModelOptions]="{standalone: true}" name="title">
                    <option value=> -- Title -- </option>
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="M/S">M/S</option>
                  </select>
                </ion-row>

              </ion-col>

              <div>
                <ion-col size="9" size-lg="7" size-md="10" size-sm="9">
                  <ion-row style="margin-top: -22px;margin-bottom: 0px;">
                    <ion-input *ngIf="selectedSalutation === 'M/S'" [(ngModel)]="companyName"
                      [ngModelOptions]="{standalone: true}" label-placement="floating" label="Company Name :"
                      fill="outline" name="companyName" required></ion-input>
                    <!-- <input *ngIf="selectedSalutation === 'M/S'" [(ngModel)]="contactPerson" [ngModelOptions]="{standalone: true}" name="contactPerson" type="text" placeholder="Contact Person" required> -->
                  </ion-row>
                </ion-col>
              </div>
              <ion-col size="6" size-lg="1.5" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="ledger_code" formControlName="ledger_code" name="ledger_code" type="text"
                    label=" Ledger Code :" label-placement="floating" fill="outline" maxlength="5"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="6" size-lg="3.5" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="lname" formControlName="lname" name="lnames" type="text" label="Ledger Name :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="6" size-lg="1.5" size-md="6" size-sm="6">
                <ion-row>
                  <select class="select" fill="outline" name="lgroup_name" formControlName="lgroup_name" [(ngModel)]="lgroup_name">
                    <option value="">  -- Group Name -- </option> <!-- Default option with value 0 --> 
                    <option *ngFor="let itemgroup of itemgroups$  | async" [value]="itemgroup.itemgroupid">
                      {{ itemgroup.itemgroupname }}
                    </option>
                  </select>
                </ion-row>
              </ion-col>

              <ion-col size="6" size-lg="2" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="gstin" formControlName="gstin" formControlName="gstin" name="gstincode"
                    type="text" label=" GSTIN :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 5px;">
              <ion-col size="6" size-lg="2" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="opening_balance" formControlName="opening_balance" name="opening_balance"
                    class="sign_input" type="text" label="Ledger Opening Balance :" label-placement="floating"
                    fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="6" size-lg="2" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="closing_balance " formControlName="closing_balance" name="closing_balance"
                    type="text" label="Ledger Closing Balance :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="6" size-lg="1.5" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="mobile" name="mobile" formControlName="mobile" type="tel"
                    label=" Mobile Number :" label-placement="floating" fill="outline" maxlength="10"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="6" size-lg="2" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="whatsapp_number" formControlName="whatsapp_number" name="whatsapp_number"
                    type="text" label=" Whatsapp Number :" label-placement="floating" fill="outline"
                    maxlength="10"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="2.5" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="email" name="email" formControlName="email" type="email" label="Email :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-lg="6" size="12">

                <ion-row class="headinglabel">
                  <ion-label>Billing Address :</ion-label>
                  <span
                    style="width: 100%; height: 2px; background-image: linear-gradient(to right, #00b4db, #0083b0);"></span>
                </ion-row>

                <ion-row>
                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <select class="select" [(ngModel)]="country" formControlName="country" name="selectedCountry"
                      label-placement="floating" fill="outline" (change)="onCountryChange()">
                      <option value="0">  --- Country --- </option>
                      <option *ngFor="let country of (countries$ | async)" [value]="country.countryid">
                        {{ country.countryname }}
                      </option>
                    </select>
                  </ion-col>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <select class="select" [(ngModel)]="state" formControlName="state" name="state" label-placement="floating"
                      (change)="onStateChange()">
                      <option value="0">  --- State --- </option>
                      <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                        {{ state.statename }}
                      </option>
                    </select>

                  </ion-col>
                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">

                    <select class="select" [(ngModel)]="district" formControlName="district" name="district" label-placement="floating"
                      fill="outline" (change)="onDistrictChange()">
                      <option value="0">  --- District --- </option>
                      <option *ngFor="let district of (districts$ | async)" [value]="district.districtid">
                        {{ district.districtname }}
                      </option>
                    </select>
                  </ion-col>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="pincode" formControlName="pincode" type="tel" name="pincode"
                        label=" PinCode  :" label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="12" size-lg="12" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="address" formControlName="address" name="address" type="text"
                        label="Full Address :" label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size-lg="6" size="12">

                <ion-row class="headinglabel" style="display: flex;justify-content: space-between;align-items: center;">
                  <ion-label>Shipping Address :</ion-label>
                  <ion-checkbox  (click)="copyBillingToShipping()">Same as Billing Address</ion-checkbox>
                  <span style="width: 100%; height: 2px; background-image: linear-gradient(to right, #00b4db, #0083b0); "></span>
                </ion-row>

                <ion-row>
                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <select class="select" [(ngModel)]="country1" formControlName="country1" name="selectedCountry1"
                      label-placement="floating" fill="outline" (change)="onCountryChange()">
                      <option value="0">  --- Country --- </option>
                      <option *ngFor="let country of (countries$ | async)" [value]="country.countryid">
                        {{ country.countryname }}
                      </option>
                    </select>
                  </ion-col>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <select class="select" [(ngModel)]="state1" formControlName="state1" name="selectedState1"
                      label-placement="floating" (change)="onStateChange()">
                      <option value="0">  --- State --- </option>
                      <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                        {{ state.statename }}
                      </option>
                    </select>

                  </ion-col>
                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">

                    <select class="select" [(ngModel)]="district1" formControlName="district1" name="selectedDistrict1"
                      label-placement="floating" fill="outline" (change)="onDistrictChange()">
                      <option value="0">  --- District --- </option>
                      <option *ngFor="let district of (districts$ | async)" [value]="district.districtid">
                        {{ district.districtname }}
                      </option>
                    </select>
                  </ion-col>
                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="pincode1" formControlName="pincode1" type="tel" name="pincode1"
                        label=" PinCode  :" label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="12" size-lg="12" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="address1" name="address1" formControlName="address1" type="text"
                        label="Full Address :" label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-row class="headinglabel">
                  <ion-label>Bank Details :</ion-label><span style="width: 100%; height: 2px; background-image: linear-gradient(to right, #00b4db, #0083b0);
                "></span>
                </ion-row>
                <ion-row>
                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="account_number" formControlName="account_number" name="account_number"
                        type="text" label="A/C Number :" label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="ifsc_code" name="ifsc_code" formControlName="ifsc_code" type="text"
                        label="IFSC Code :" label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="bank_name" name="bank_name" formControlName="bank_name" type="text"
                        label="Bank Name :" label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="branch_name" name="branch_name" formControlName="branch_name" type="text"
                        label=" Branch Name :" label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>

                </ion-row>
              </ion-col>
              <ion-col size="12">
                <ion-row class="headinglabel">
                  <ion-label>Registration :</ion-label><span style="width: 100%; height: 2px; background-image: linear-gradient(to right, #00b4db, #0083b0);
                "></span>
                </ion-row>
                <ion-row>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="tdn" formControlName="tdn" type="text" label=" Tax Deducation No. :"
                        label-placement="floating" name="taxsnumber" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="aadhar_no" formControlName="aadhar_no" type="tel" label="Aadhar No.:"
                        label-placement="floating" name="adharnumbers" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="pan_no" formControlName="pan_no" type="text" label=" PAN No. :"
                        label-placement="floating" name="pansnumber" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="udhyog_aadhar" formControlName="udhyog_aadhar" type="text"
                        label=" Udayog Aadhar No. :" label-placement="floating" name="unumber"
                        fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>

                </ion-row>
              </ion-col>

            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-row class="headinglabel">
                  <ion-label>Other Details :</ion-label><span style="width: 100%; height: 2px; background-image: linear-gradient(to right, #00b4db, #0083b0);
              "></span>
                </ion-row>
                <ion-row>
                  <ion-col size="6" size-lg="2" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="credit_period" formControlName="credit_period" type="text"
                        label=" Credit Period :" name="cperiod" label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>
                  <ion-col size="6" size-lg="2" size-md="6" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="credit_limit" formControlName="credit_limit" type="text"
                        label=" Credit Limit :" label-placement="floating" name="climit" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>
                  <ion-col size="6" size-lg="2" size-md="6" size-sm="6">
                    <select class="select" [(ngModel)]=" select_sales_person" name="select_sales_person"
                      [ngModelOptions]="{standalone: true}">
                      <option value="" disabled selected>  --- Executive Name --- </option><!-- Default option -->
                      <option *ngFor="let executive of executive$ | async" [value]="executive.executiveid">
                        {{ executive.executivename }}
                      </option>

                    </select>
                  </ion-col>
               
                  <ion-col size="6" size-lg="2" size-md="4" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="card_number" formControlName="card_number" type="text"
                        label=" Card Number :" label-placement="floating" name="cardsnumber" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="6" size-lg="2" size-md="4" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="opening_point" formControlName="opening_point" type="text"
                        label="Opening Point :" label-placement="floating" name="openpoint" fill="outline"></ion-input>
                    </ion-row>

                  </ion-col>
                  <ion-col size="6" size-lg="2" size-md="4" size-sm="6">
                    <ion-row>
                      <ion-input [(ngModel)]="closing_point" formControlName="closing_point" type="text"
                        label="Closing Point :" label-placement="floating" name="closepoint" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>


            <ion-row class="custom-primary" style="justify-content: right;">
              <ion-button id="open-loading">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading1" message="Ledger Adding..."
                [duration]="1000"></ion-loading>
           
              <ion-button id="open-loading4">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
                [duration]="1000"></ion-loading>

            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>