<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>View Purchase</ion-title>
   </ion-item>
  </ion-toolbar> 

</ion-header> -->
<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Purchase Report</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid class="add_sale">
            <form #viewPurchaseForm="ngForm" (ngSubmit)="onSubmit()">
              <ion-row>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12">

                </ion-col>
                <ion-col size-lg="8" size-md="8" size-sm="6" size="12">
                  <ion-row>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date"
                          label=" From Date  :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                          label-placement="floating" fill="outline"></ion-input>

                      </ion-row>
                    </ion-col>

                  </ion-row>
                </ion-col>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
                  <ion-button style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-searchbar class="custom " showCancelButton="focus"></ion-searchbar>
              </ion-row>
              <ion-row style="margin: 0 auto; width: 100%;">
                <div style="overflow:auto; width: 100%;">
                  <table style="width: 100%;">
                    <tr>
                      <th>Sr.No.</th>
                      <th>Item Code</th>
                      <th>Item Name</th>
                      <th>Quantity</th>
                      <th>Rate</th>
                      <th>Discount%</th>
                      <th>Discount Amount</th>
                      <th>CGST</th>
                      <th>SGST</th>
                      <th>Total</th>
                      <th>Action</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        12
                      </td>
                      <td>
                        <select style="width: 120px;" class="table_select" aria-label="Default select example"
                          id="transaction">
                          <option selected>-Select-</option>
                          <option value="1">Credit</option>
                          <option value="2">Cash</option>
                        </select>
                      </td>
                      <td>1</td>
                      <td>100</td>
                      <td>
                        56
                      </td>
                      <td>12</td>
                      <td>18</td>
                      <td>18</td>
                      <td>110</td>
                      <td>
                        <ion-icon class="create" name="create"></ion-icon>
                        <ion-icon class="delete" name="trash"></ion-icon>
                      </td>
                    </tr>
                  </table>
                </div>
              </ion-row>

              <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
                <ion-button>New</ion-button>
                <ion-button type="submit">Save</ion-button>
                <ion-button>Delete</ion-button>
                <ion-button>Preview</ion-button>
                <ion-button>Close</ion-button>
              </ion-row>
            </form>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>