<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>View Purchase</ion-title>
   </ion-item>
  </ion-toolbar> 

</ion-header> -->
<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Purchase Report</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid class="add_sale">
            <form #viewPurchaseForm="ngForm" >
              <ion-row>

                <ion-col size-lg="2" size-md="6" size-sm="6" size="5">
                  <ion-row>
                    <ion-input color="warning" [(ngModel)]="formDate" name="fromDate" type="date" label=" From Date  :"
                      label-placement="floating" fill="outline"></ion-input>
                  </ion-row>
                </ion-col>
                <ion-col size-lg="2" size-md="6" size-sm="6" size="5">
                  <ion-row>
                    <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                      label-placement="floating" fill="outline"></ion-input>
                  </ion-row>
                </ion-col>

                <ion-col size-lg="1" size-md="2" size-sm="6" size="2" class="custom-primary">
                  <ion-button expand="block" (click)="filterData()">Ok</ion-button>
                </ion-col>
                <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
                  <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                    label="Select Coloumns" label-placement="floating" fill="outline" [(ngModel)]="selectedColumns"
                    name="selectedColumns" multiple="true">
                    <ion-select-option *ngFor="let col of availableColumns" [value]="col">{{ col }}</ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
                  <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                    label="Select Report Type" label-placement="floating" fill="outline" name="selectedColumns" multiple="true">
                    <ion-select-option value="Standard">Standard</ion-select-option>
                    <ion-select-option value="PartyWise">PartyWise</ion-select-option>
                    <ion-select-option value="ItemWise">ItemWise</ion-select-option>
                    <ion-select-option value="Detailed">Detailed</ion-select-option>

                  </ion-select>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-searchbar class="custom " [ngModelOptions]="{standalone: true}" showCancelButton="focus" [(ngModel)]="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
              </ion-row>
              <ion-row class="Executive">
                <div #content style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;;">
                  <table style="width: 100%;">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th *ngFor="let col of selectedColumns">{{ col }}</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let purchase of filteredPurchase$ | async; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td *ngFor="let col of selectedColumns">{{ purchase[col.toLowerCase()] }}</td>
                        <td class="Action">
                          <ion-icon color="danger" icon-only name="trash"></ion-icon>
                          <ion-icon color="primary" icon-only name="create"></ion-icon>
                        </td>
                      </tr>
                      <tr>
                        <td [attr.colspan]="selectedColumns.length + 1">
                          <p style="text-align: left; justify-content: left; margin-left: 20px; font-weight: bold;">Total: <span style="margin-left: 10px;">{{totalItems }}</span></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </ion-row>
              <ion-row class="custom-primary" style="justify-content: right;">
                <ion-button size="small" (click)="printThisPage()"><ion-icon name="print" slot="end" size="small"
                    color="secondry"></ion-icon>Print</ion-button>
                <ion-button size="small" (click)="generatePdf()"><ion-icon name="document" slot="end" size="small"
                    color="secondry"></ion-icon>Export To PDF</ion-button>
                <ion-button size="small" (click)="printThisPage()"><ion-icon name="eye" slot="end" size="small"
                    color="secondry"></ion-icon>Preview</ion-button>
                <!-- <ion-button size="small" (click)="generateExcelReport()"><ion-icon name="grid"slot="end" size="small"
                  color="secondry"></ion-icon>Export Excel</ion-button> -->
              </ion-row>
              <!-- <ion-row style="margin: 0 auto; width: 100%;">
                <div class="scroll-container" style="overflow-x:auto; width: 100%;">
                  <table style="width:3000px;overflow-x: auto;overflow-y: auto;">
                    <tr>
                      <th>Sr.No.</th>
                      <th>Bill Formate</th>
                      <th>Billing No.</th>
                      <th>Billing Date</th>
                      <th>Supplier Code</th>
                      <th>Supplier Name</th>
                      <th>Refrence No.</th>
                      <th>Refrence Date</th>
                      <th>Purchase Order Date</th>
                      <th>Purchase Order No.</th>

                      <th>GSTIN</th>
                      <th>Exicutive Name</th>
                      <th>Payment Mode</th>
                      <th>Delivery Date</th>
                      <th>Delivery Place</th>
                      <th>BarCode</th>
                      <th>Item Code</th>
                      <th>Item Name</th>
                      <th>Description</th>
                      <th>Quantity</th>
                      <th>Unit</th>
                      <th>MRP</th>
                      <th>Basic Rate</th>
                      <th>Net Rate</th>
                      <th>Gross Amount</th>
                      <th>GST</th>
                      <th>CGST</th>
                      <th>SGST</th>
                      <th>IGST</th>
                      <th>Discount %</th>
                      <th>Discount Amount</th>
                      <th>Tax Amount</th>
                      <th>Pre-Tax</th>
                      <th>Post-Tax</th>
                      <th>Net Amount</th>
                      <th>Action</th>
                    </tr>

                    <tr *ngFor="let purchase of filteredPurchase$ | async; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{purchase.billformate}}</td>
                      <td>{{purchase.billNumber}}</td>
                      <td>{{purchase.billDate}}</td>
                      <td>{{purchase.vendcode}}</td>
                      <td>{{purchase.supplier}}</td>
                      <td>{{purchase.refrence}}</td>
                      <td>{{purchase.refdate}}</td>
                      <td>{{purchase.orderDate}}</td>
                      <td>{{purchase.orderNumber}}</td>

                      <td>{{purchase.gstin}}</td>
                      <td>{{purchase.payment}}</td>
                      <td>{{purchase.executive}}</td>
                      <td>{{purchase.deliverydate}}</td>
                      <td>{{purchase.deliveryplace}}</td>
                      <td>{{purchase.barcode}}</td>
                      <td>{{purchase.itemcode}}</td>
                      <td>{{purchase.itemname}}</td>
                      <td>{{purchase.description}}</td>
                      <td>{{purchase.quantity}}</td>
                      <td>{{purchase.unitname}}</td>
                      <td>{{purchase.mrp | currency : 'INR'}}</td>
                      <td>{{purchase.basicrate | currency : 'INR'}}</td>
                      <td>{{purchase.netrate | currency : 'INR'}}</td>
                      <td>{{purchase.grossrate | currency : 'INR'}}</td>
                      <td>{{purchase.taxrate}}%</td>
                      <td>{{purchase.IGST}}%</td>
                      <td>{{purchase.CGST}}%</td>
                      <td>{{purchase.SGST}}%</td>
                      <td>{{purchase.discount}}%</td>
                      <td>{{purchase.discountamt | currency : 'INR'}}</td>
                      <td>{{purchase.totaltax | currency : 'INR'}}</td>
                      <td>{{purchase.pretax | currency : 'INR'}}</td>
                      <td>{{purchase.posttax | currency : 'INR'}}</td>
                      <td>{{purchase.total | currency : 'INR'}}</td>
                      <td>
                        <ion-icon name="create"></ion-icon>
                        <ion-icon name="trash"></ion-icon>
                      </td>
                    </tr>

                  </table>
                </div>
              </ion-row> -->
            </form>
          </ion-grid>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-content>