<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>View Purchase</ion-title>
   </ion-item>
  </ion-toolbar> 

</ion-header> -->
<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Purchase Report</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid class="add_sale">
            <form #viewPurchaseForm="ngForm" (ngSubmit)="onSubmit()">
              <ion-row>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12">

                </ion-col>
                <ion-col size-lg="8" size-md="8" size-sm="6" size="12">
                  <ion-row>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date"
                          label=" From Date  :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                          label-placement="floating" fill="outline"></ion-input>

                      </ion-row>
                    </ion-col>

                  </ion-row>
                </ion-col>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
                  <ion-button style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-searchbar class="custom " showCancelButton="focus"></ion-searchbar>
              </ion-row>
              <ion-row style="margin: 0 auto; width: 100%;">
                <div style="overflow:auto; width: 100%;">
                  <table style="width:1555px;">
                    <tr>
                      <th style="width: 50px !important;">Sr.No.</th>
                      <th style="width: 100px !important;">BarCode</th>
                      <th style="width: 70px !important;">Item Code</th>
                      <th style="width: 150px !important;">Item Name</th>
                      <th style="width: 120px !important;">Description</th>
                      <th style="width: 50px !important;">Quantity</th>
                      <th style="width: 70px !important;">Unit</th>
                      <th style="width: 50px !important;">MRP</th>
                      <th style="width: 70px !important;">Basic Rate</th>
                      <th style="width: 70px !important;">Net Rate</th>
                      <th style="width: 70px !important;">Gross Amount</th>
                      <th style="width: 50px !important;">GST</th>
                      <th style="width: 50px !important;">CGST</th>
                      <th style="width: 50px !important;">SGST</th>
                      <th style="width: 50px !important;">IGST</th>
                      <th style="width: 70px !important;">Discount %</th>
                      <th style="width: 100px !important;">Discount Amount</th>
                      <th style="width: 70px !important;">Tax Amount</th>
                      <th style="width: 70px !important;">Net Amount</th>
                      <th style="width: 70px !important;">Action</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>123456789012</td>
                      <td>ABC123</td>
                      <td>Product A</td>
                      <td>High-quality product</td>
                      <td>5</td>
                      <td>Pieces</td>
                      <td>50</td>
                      <td>200</td>
                      <td>180</td>
                      <td>900</td>
                      <td>18%</td>
                      <td>9%</td>
                      <td>9%</td>
                      <td>0%</td>
                      <td>5%</td>
                      <td>45</td>
                      <td>41.85</td>
                      <td>85.50</td>
                      <td>943.50</td>
                      <td>
                        <ion-icon name="create"></ion-icon>
                        <ion-icon name="trash"></ion-icon>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>2</td>
                      <td>987654321098</td>
                      <td>XYZ789</td>
                      <td>Product B</td>
                      <td>Standard product</td>
                      <td>10</td>
                      <td>Kilograms</td>
                      <td>120</td>
                      <td>150</td>
                      <td>135</td>
                      <td>1350</td>
                      <td>12%</td>
                      <td>6%</td>
                      <td>6%</td>
                      <td>0%</td>
                      <td>8%</td>
                      <td>108</td>
                      <td>81</td>
                      <td>81</td>
                      <td>1229</td>
                      <td>
                        <ion-icon name="create"></ion-icon>
                        <ion-icon name="trash"></ion-icon>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>3</td>
                      <td>654321098765</td>
                      <td>PQR456</td>
                      <td>Product C</td>
                      <td>Economical product</td>
                      <td>8</td>
                      <td>Liters</td>
                      <td>80</td>
                      <td>100</td>
                      <td>90</td>
                      <td>720</td>
                      <td>5%</td>
                      <td>2.5%</td>
                      <td>2.5%</td>
                      <td>0%</td>
                      <td>3%</td>
                      <td>27</td>
                      <td>22.5</td>
                      <td>18</td>
                      <td>648</td>
                      <td>
                        <ion-icon name="create"></ion-icon>
                        <ion-icon name="trash"></ion-icon>
                      </td>
                    </tr>
                    
                  </table>
                </div>
              </ion-row>

              <!-- <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
                <ion-button>New</ion-button>
                <ion-button type="submit">Save</ion-button>
                <ion-button>Delete</ion-button>
                <ion-button>Preview</ion-button>
                <ion-button>Close</ion-button>
              </ion-row> -->
            </form>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>