<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>Challan Manager</ion-title>
   </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="master_window">
    <ion-grid>
   
      <ion-row>
        <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
          <ion-card class="master">
            <a [routerLink]="['/dc-in']">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="laptop-outline"></ion-icon> </ion-card-title>
                <ion-card-subtitle>DC-IN</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
        <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
          <ion-card class="master">
            <a [routerLink]="['/dc-out']">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="laptop-outline"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>DC-OUT</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
  
        <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
          <ion-card class="master">
            <a [routerLink]="['/dc-in-report']">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="newspaper-outline"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>DC-IN Report</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
        <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
          <ion-card class="master">
            <a [routerLink]="['/dc-out-report']">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="newspaper-outline"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>DC-OUT Report</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
       
      </ion-row>

    </ion-grid>
  </div>
</ion-content>