<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> </ion-toolbar>
</ion-header>

<ion-content>
  <div class="master_window">
    <ion-grid>
      <ion-row class="master_logo">
        <img src="./assets/ktechno-removebg-preview.png" alt="">

      </ion-row>
      <ion-row class="master_logo">
        <h1>Challan Manager</h1>
      </ion-row>
      <div class="div" style="border-bottom: 2px solid grey; width: 100%;"></div>
      <ion-row>
        <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./dc-in">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="laptop-outline"></ion-icon> </ion-card-title>
                <ion-card-subtitle>DC-IN</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./dc-out">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="laptop-outline"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>DC-OUT</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./dc-in-report">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="newspaper-outline"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>DC-IN Report</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./dc-out-report">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="newspaper-outline"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>DC-OUT Report</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
       
      </ion-row>

    </ion-grid>
  </div>
</ion-content>