<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>Quotation Update</ion-title>
   </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
  <ion-card>
    <ion-card-content>
      <ion-grid class="add_quot">
        <ion-row>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width">Quotation No.</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width">Quotation Date.</ion-label>
              <ion-input class="input-width" type="date"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width">Quotation Group.</ion-label>
             <select class="select-width">
                 <option value="1">--Select--</option>
                 <option value="2">Nirbahy</option>
                 <option value="3">Yogesh</option>
             </select>
            </ion-item>
          </ion-col>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width">Tax Group :</ion-label>
              <select class="select-width">
                <option value="1">--Select--</option>
                <option value="2">Nirbahy</option>
                <option value="3">Yogesh</option>
            </select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top:30px;">
          <div style="overflow-x:auto;">
              <table>
                <tr>
                  <th>Sr.No.</th>
                  <th>Item Description</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                  <th>Basic Rate</th>
                  <th>Gross Amount</th>
                  <th>Tax Rate</th>
                  <th>CGST</th>
                  <th>SGST</th>
                  <th>Total </th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <input style="width: 50px;" class="table_input" type="number">
                  </td>
                  <td>
                    <input style="width: 50px;" class="table_input" type="number">
                  </td>
                  <td>
                    <select style="width: 80px;" class="table_select" aria-label="Default select example"
                      id="transaction">
                      <option selected>--Select--</option>
                      <option value="1">Pack</option>
                      <option value="2">Liter</option>
                    </select>
                  </td>
                  <td>
                    <input style="width: 50px;" class="table_input" type="number">
                  </td>
                  <td>
                    <input style="width: 50px;" class="table_input" type="number">
                  </td>
                  <td>
                    <select style="width: 80px;" class="table_select" aria-label="Default select example"
                      id="transaction">
                      <option selected>--Select--</option>
                      <option value="1">5%</option>
                      <option value="2">12%</option>
                      <option value="3">18%</option>
                      <option value="4">28%</option>
                    </select>
                  </td>
                
                  <td>
                    <input style="width: 40px;" class="table_input" type="text">
                  </td>
                  <td>
                    <input  style="width: 40px;"  class="table_input" type="text">
                  </td>

                  <td >110</td>
                  <td>
                    <ion-icon class="create" name="create"></ion-icon>
                    <ion-icon class="delete" name="trash"></ion-icon>
                  </td>
                </tr>
              </table>
          </div>
        </ion-row>

        <ion-row style="justify-content: right;margin-top: 20px;">
          <ion-button color="warning">Go to Excel</ion-button>
          <ion-button color="warning"> Print</ion-button>
          <ion-button color="warning">  View</ion-button>
          <ion-button color="warning">  Save</ion-button>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>