<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">HSRP IN</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="myform" (ngSubmit)="onSubmit(myform,hsrpindata)">

            <ion-row>
              <ion-col class="ionselect" size-lg="1.5" size-md="2.5" size-sm="6" size="6">
                <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="HSRP Formate" label-placement="floating" fill="outline" [(ngModel)]="billformate"
                  formControlName="billformate" name="billformate">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="billno" formControlName="billno" name="billno" type="number"
                    label=" HSRP No.  :" label-placement="floating" fill="outline"
                    (keydown)="onKeyDown($event)"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="1.3" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="hsrpdate" formControlName="hsrpdate" name="hsrpdate" type="date"
                    label="Date   :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="1" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input color="dark" #firstInvalidInput (change)="getVendors($event)" [(ngModel)]="suppliercode"
                    formControlName="suppliercode" name="suppliercode" type="text" label="Code :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col class="ionselect" size-lg="2" size-md="3.5" size-sm="6" size="6">

                <ion-select #firstInvalidInput class="always-flip" toggleIcon="caret-down-sharp" color="dark"
                  interface="popover" label="---Supplier Name---" label-placement="floating" fill="outline"
                  [(ngModel)]="suppliercode" formControlName="spler" name="spler" (change)="getVendors($event)">
                  <ion-select-option *ngFor="let supplier of supplier$ | async" [value]="supplier.id">
                    {{ supplier.name }}
                  </ion-select-option>
                </ion-select>

              </ion-col>
              <!-- <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="refrence" formControlName="refrence" name="refrence" type="text"
                    label="Refrence No.:" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="1.2" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="refdate" formControlName="refdate" name="refdate" type="date"
                    label="Ref. Date :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col> -->
              <ion-col class="ionselect" size-lg="2" size-md="3" size-sm="6" size="6">
                <ion-select pl class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="---Executive Name---" label-placement="floating" fill="outline" [(ngModel)]="executive_name"
                  formControlName="executive_name" name="executive_name">
                  <ion-select-option *ngFor="let executive of executive$ | async" [value]="executive.executiveid">
                    {{ executive.executivename }}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: 7px;">
              <div class="scroll-container">

                <table style="width:100%;overflow-x: auto;">
                  <tr>
                    <th>Sr.No.</th>
                    <th>Engine No/Frame No.</th>
                    <th>Customer Name</th>
                    <th>Item Code</th>
                    <th>HSN/SAC Code</th>
                    <th style="width: 100px;">Item Name</th>
                    <th>Quantity</th>
                    <th>Vehicle No</th>
                    <th>Vehicle Reg. Date</th>
                    <th>HSRP Front</th>
                    <th>HSRP Rear</th>

                    <th>MRP</th>
                    <th>Basic Rate</th>
                    <th>Net Rate</th>
                    <th>Gross Amount</th>
                    <th>GST</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>IGST</th>
                    <th>Tax Amount</th>
                    <th>TCS value</th>
                    <th>Net Amount</th>

                    <th>Action</th>
                  </tr>


                  <tr *ngFor="let hsrpin of hsrpindata; let i = index">
                    <td>{{i+1}}</td>

                    <td>
                      <input [(ngModel)]="hsrpin.engineframenumber" (focusout)="getItems(hsrpin)"
                        [ngModelOptions]="{standalone: true}" class="table_input" type="text">
                    </td>

                    <ng-container *ngFor="let hsrpindata of attdata.slice(0, 1)">
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.supplier" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>
                        <!-- {{hsrpin.supplier}} -->
                      </td>
                      <td>
                        <input type="number" [(ngModel)]="hsrpindata.itemcode" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>
                        <!-- {{hsrpin.itemcode}} -->
                      </td>
                      <td>
                        <input class="table_input" [(ngModel)]="hsrpindata.hsn_code" formControlName="hsn_code"
                          name="hsn_code" type="text">
                      </td>
                      <td style="width: 100px;">
                        <input type="text" [(ngModel)]="hsrpindata.itemname" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>
                        <!-- {{hsrpin.itemname}} -->
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.quantity" [ngModelOptions]="{standalone: true}"
                          class="table_input" type="number" readonly>
                        <!-- {{hsrpin.quantity}} -->
                      </td>
                      <td>
                        <input class="table_input" [(ngModel)]="hsrpindata.vehicle_no" formControlName="vehicle_no"
                          name="vehicle_no" type="number">
                      </td>
                      <td>
                        <input class="table_input" [(ngModel)]="hsrpindata.vehicle_reg_date"
                          formControlName="vehicle_reg_date" name="vehicle_reg_date" type="date">
                      </td>
                      <td>
                        <input class="table_input" [(ngModel)]="hsrpindata.hsrp_front" formControlName="hsrp_front"
                          name="hsrp_front" type="number">
                      </td>
                      <td>
                        <input class="table_input" [(ngModel)]="hsrpindata.hsrp_rear" formControlName="hsrp_rear"
                          name="hsrp_rear" type="text">
                      </td>
                      <td>
                        <input class="table_input" [(ngModel)]="hsrpindata.mrp" [ngModelOptions]="{standalone: true}"
                          type="text" readonly>&#x20B9;
                        <!-- {{hsrpin.mrp}} -->
                      </td>
                      <td>
                        <input class="table_input" [(ngModel)]="hsrpindata.basicrate" formControlName="basicrate" readonly
                          name="basicrate" type="text">&#x20B9;
                        <!-- {{hsrpin.basicrate}} -->
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.netrate" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>&#x20B9;
                        <!-- {{hsrpin.netrate}} -->
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.grossrate" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>&#x20B9;
                        <!-- {{hsrpin.grossrate}} -->
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.taxrate" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>%
                        <!-- {{hsrpin.taxrate}}% -->
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.CGST" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>&#x20B9;
                        <!-- {{hsrpin.CGST}} -->
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.SGST" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>&#x20B9;
                        <!-- {{hsrpin.SGST}} -->
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.IGST" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>&#x20B9;
                        <!-- {{hsrpin.IGST}} -->
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.totaltax" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly>&#x20B9;
                        <!-- {{hsrpin.totaltax}} -->
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.tcs_value" [ngModelOptions]="{standalone: true}"
                          class="table_input">
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="hsrpindata.total" [ngModelOptions]="{standalone: true}"
                          class="table_input" readonly> &#x20B9;
                        <!-- {{hsrpin.total}} -->
                      </td>
                      <td>
                        <ion-icon icon-only clear color="primary" name="add" (click)="addHsrpin()"></ion-icon>
                        <ion-icon *ngIf="i>0" icon-only clear color="danger" name="trash"
                          (click)="removehsrpin(i,hsrpindata)"></ion-icon>
                      </td>
                    </ng-container>
                    
                    <!--  <td>
                      <input [(ngModel)]="hsrpin.customername" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="hsrpin.itemcode" (ngModelChange)="getItems(hsrpin)"
                        [ngModelOptions]="{standalone: true}" class="table_input" type="text">
                    </td> -->
                    <!-- <td>
                      <input class="table_input" [(ngModel)]="hsrpin.hsn_code" formControlName="hsn_code"
                        name="hsn_code" type="text">
                    </td>
                    <td style="width: 90px;">
                      <select class="select-option" [(ngModel)]="hsrpin.selectedItemId"
                        [ngModelOptions]="{standalone: true}">
                        <option value="0">Item Name</option>
                        <option *ngFor="let item  of itemnames$ | async" [value]="item.tid">
                          {{ item.itemDesc }}
                        </option>
                      </select>
                      <ion-input style="display: none;" [(ngModel)]="hsrpin.itemid"
                        [ngModelOptions]="{standalone: true}" type="hidden"></ion-input>
                      <ion-input style="display: none;" [(ngModel)]="companyid" [ngModelOptions]="{standalone: true}"
                        type="hidden"></ion-input>
                      <ion-input style="display: none;" [(ngModel)]="userid" [ngModelOptions]="{standalone: true}"
                        type="hidden"></ion-input>
                    </td>
                    <td>
                      <input *ngIf="hsrpin.itemcode !== 0" [(ngModel)]="hsrpin.quantity"
                        [ngModelOptions]="{standalone: true}" class="table_input" type="number"
                        (keydown.enter)="openQuantityPopover(hsrpin)" (keydown)="onKeyDown($event)">
                    </td> --
                    <td>
                      <input class="table_input" [(ngModel)]="hsrpin.vehicle_no" formControlName="vehicle_no"
                        name="vehicle_no" type="text">
                    </td>
                    <td>
                      <input class="table_input" [(ngModel)]="hsrpin.vehicle_reg_date"
                        formControlName="vehicle_reg_date" name="vehicle_reg_date" type="date">
                    </td>

                    <td>
                      <input class="table_input" [(ngModel)]="hsrpin.hsrp_front" formControlName="hsrp_front"
                        name="hsrp_front" type="text">
                    </td>
                    <td>
                      <input class="table_input" [(ngModel)]="hsrpin.hsrp_rear" formControlName="hsrp_rear"
                        name="hsrp_rear" type="text">
                    </td>


                    <td>
                      <input [(ngModel)]="hsrpin.mrp" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="number" (keydown)="onKeyDown($event)">
                    </td>
                    <td>
                      <input [(ngModel)]="hsrpin.basicrate" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="number" (keydown)="onKeyDown($event)">

                    </td>
                    <td>
                      <input [(ngModel)]="hsrpin.netrate" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="text">
                    </td>
                    <td>
                      <input [value]="getgrossrate(hsrpin)" [readonly]="true" class="table_input" type="number">
                    </td>
                    <td>
                      <input [(ngModel)]="hsrpin.taxrate" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="number" (keydown)="onKeyDown($event)">
                    </td>
                    <input type="hidden" [(ngModel)]="hsrpin.taxrate1" [ngModelOptions]="{standalone: true}" />
                    <td>
                      <input [value]="getsgst(hsrpin)" [readonly]="true" class="table_input" type="number"
                        (keydown)="onKeyDown($event)">
                    </td>
                    <td>
                      <input [value]="getcgst(hsrpin)" [readonly]="true" class="table_input" type="number"
                        (keydown)="onKeyDown($event)">
                    </td>
                    <td>
                      <input [value]="getigst(hsrpin)" type="number" class="table_input" (keydown)="onKeyDown($event)">
                    </td>
                    <td>

                      <input [readonly]="true" [value]="getTotaltax(hsrpin)" class="table_input" type="text">
                    </td>
                    <td>
                      <input class="table_input" [(ngModel)]="hsrpin.tcs_value" formControlName="tcs_value"
                        name="tcs_value" type="text">
                    </td>
                    <td>
                      <input [readonly]="true" [value]="getTotalamt([hsrpin])" class="table_input" type="text">

                    </td>
                    <td>
                      <ion-icon icon-only clear color="primary" name="add" (click)="addHsrpin()"></ion-icon>
                      <ion-icon *ngIf="i>0" icon-only clear color="danger" name="trash"
                        (click)="removehsrpin(i,hsrpin)"></ion-icon>
                    </td> -->
                 


                </table>
              </div>
              <div style="overflow-x: auto; border: 1px solid grey; width: 100%;">

                <ion-row>
                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Total Item :</label>
                    <input name="totalitemno" [(ngModel)]="hsrpindata.length" formControlName="totalitemno"
                      class="input_table" type="text">
                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Quantity : </label>

                    <input name="totalquantity" [(ngModel)]="totalquantity" [value]="getTotalQuantity()"
                      formControlName="totalquantity" class="input_table" type="number" (keydown)="onKeyDown($event)">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Gross Amount :</label>
                    <input name="totalgrossamt" [(ngModel)]="totalgrossamt" [value]="getTotalGrossAmount()"
                      formControlName="totalgrossamt" class="input_table" type="number" (keydown)="onKeyDown($event)">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Discount Amount : </label>
                    <input name="totaldiscountamt" [(ngModel)]="totaldiscountamt" [value]="getTotalDiscountAmount()"
                      formControlName="totaldiscountamt" class="input_table" type="number"
                      (keydown)="onKeyDown($event)">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Tax Amount :</label>
                    <input name="totaltaxamount" [(ngModel)]="totaltaxamount" [value]="getTotalTaxAmount()"
                      formControlName="totaltaxamount" class="input_table" type="number" (keydown)="onKeyDown($event)">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Taxable Amount :</label>
                    <input name="totalnetamount" [(ngModel)]="totalnetamount" formControlName="totalnetamount"
                      [value]="getTaxableAmount()" class="input_table" type="number" (keydown)="onKeyDown($event)">

                  </ion-col>
                </ion-row>
              </div>

            </ion-row>


            <ion-row>
              <ion-col class="row1" size-lg="3" size-md="3" size-sm="3" size="12">
                <div class="row3">
                  <ion-label class="delivery-label" style="font-size: small;">Scheduled Delivery</ion-label>
                  <div class="outstanding">
                    <ion-row>
                      <table class="delivery-table" style="width: 100%; overflow: hidden;">
                        <tr>
                          <th style="width: 100px !important;">Delivery Date</th>
                          <td>
                            <ion-input type="date" name="deliverydate" [(ngModel)]="deliverydate"
                              formControlName="deliverydate" placeholder="Enter Delivery Date"></ion-input>
                          </td>
                        </tr>
                        <tr>
                          <th style="width: 100px !important;">Delivery Place</th>
                          <td>
                            <ion-input type="text" name="deliveryplace" [(ngModel)]="deliveryplace"
                              formControlName="deliveryplace" placeholder="Enter Delivery Place"></ion-input>
                          </td>
                        </tr>
                      </table>
                    </ion-row>
                  </div>
                </div>
              </ion-col>

              <ion-col class="row1" size-lg="4" size-md="6" size-sm="6" size="12">
                <ion-label class="delivery-label" style="font-size: smaller;">OutStanding</ion-label>
                <div class="outstanding">
                  <ion-row>
                    <table style="width: 100%; overflow: hidden; max-height: 60px;">
                      <tr>
                        <th style="width: 100px !important;">Opening Balance</th>
                        <td>
                          <ion-input type="text" name="openingbalance" [(ngModel)]="openingbalance"
                            formControlName="openingbalance" placeholder="Enter Opening Balance"></ion-input>
                        </td>
                        <th style="width: 100px !important;">Debit</th>
                        <td>
                          <ion-input type="text" name="debit" [(ngModel)]="debit" formControlName="debit"
                            placeholder="Enter  Dedit Amount"></ion-input>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 100px !important;">Closing Balance</th>
                        <td>
                          <ion-input type="text" name="closingbalance" [(ngModel)]="closingbalance"
                            formControlName="closingbalance" placeholder="Enter Closing Balance"></ion-input>
                        </td>
                        <th style="width: 100px !important;">Credit</th>
                        <td>
                          <ion-input type="text" name="credit" [(ngModel)]="credit" formControlName="credit"
                            placeholder="Enter Credit Amount"></ion-input>
                        </td>
                      </tr>
                    </table>
                  </ion-row>
                </div>
              </ion-col>
              <ion-col class="row1" size-lg="2" size-md="3" size-sm="3" size="12">
                <!-- <ion-label class="delivery-label" style="font-size: smaller;">Total</ion-label>
              <div class="outstanding">
                <ion-row>
                  <table style="width: 100%; overflow: hidden; max-height: 60px;">
                    <tr>
                      <th style="text-align: left;">Total Item :</th>
                      <td> <input  [(ngModel)]="totalitemno"  formControlName="totalitemno" name="totalitemno"  class="table_input" type="text">
                      </td>
                    </tr>
                    <tr>
                      <th style="text-align: left;">Total Quantity :</th>
                      <td> <input  [(ngModel)]="totalquantity"  formControlName="totalquantity"  name="totalquantity"  class="table_input" type="text">
                      </td>
                    </tr>
                  </table>
                </ion-row>
              </div> -->
              </ion-col>

              <ion-col class="row" size-lg="3" size-md="12" size-sm="12" size="12">
                <div class="output" style="border: none;margin-left: 30px;">
                  <table>
                    <tr>
                      <th colspan="2">Discount Amount :</th>
                      <td colspan="2"> <input [(ngModel)]="totaldiscountamt" [value]="getTotalDiscountAmount()"
                          id="totaldiscountamt" formControlName="totaldiscountamt" name="totaldiscountamt"
                          class="row_input" type="text">
                      </td>
                    </tr>

                    <tr>
                      <th colspan="2">Tax Amount : </th>
                      <td colspan="2"> <input [(ngModel)]="totaltaxamount" [value]="getTotalTaxAmount()"
                          id="totaltaxamount" formControlName="totaltaxamount" name="totaltaxamount" class="row_input"
                          type="text">
                      </td>
                    </tr>


                    <tr>
                      <th colspan="2">Pre-Tax : </th>
                      <td colspan="2"> <input [(ngModel)]="pretax" formControlName="pretax" name="pretax" id="pretax"
                          class="row_input" type="number">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Post-Tax : </th>
                      <td colspan="2"> <input [(ngModel)]="posttax" formControlName="posttax" name="posttax"
                          id="posttax" class="row_input" type="number">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Round Off : </th>
                      <td colspan="2"> <input [(ngModel)]="roundoff" formControlName="roundoff" name="roundoff"
                          [value]="getRoundoff()" id="roundoff" class="row_input" type="number">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Grand Total : </th>
                      <td colspan="2"> <input [(ngModel)]="totalnetamount" formControlName="totalnetamount"
                          [value]="getGrandTotal()" id="totalnetamount" name="totalnetamount" class="row_input"
                          type="text">
                      </td>
                    </tr>
                  </table>
                </div>
              </ion-col>

            </ion-row>
            <ion-row class="custom-primary" style="justify-content: right;margin-top: 10px;">
              <ion-button id="open-loading" (click)="onNew()">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-button>Print</ion-button>
              <ion-button id="open-loading4" (click)="onButtonClick()">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
                [duration]="1000"></ion-loading>
            </ion-row>


            <ion-popover class="quantity" #quantityPopover [isOpen]="isQuantityPopoverOpen">
              <ng-template>
                <ion-content>
                  <div style="padding: 10px;">
                    <table style="width: 100%;">
                      <tr class="attributes" *ngFor="let hsrpin of hsrpindata; let i = index">
                        <th>Sr. No.</th>
                        <th>Select Item Attributes</th>
                        <th><input type="text" formControlName="attribute1" [(ngModel)]="hsrpin.attribute1"
                            class="pop_input"></th>
                        <th><input type="text" formControlName="attribute2" [(ngModel)]="hsrpin.attribute2"
                            class="pop_input"></th>
                        <th><input type="text" formControlName="attribute3" [(ngModel)]="hsrpin.attribute3"
                            class="pop_input"></th>
                        <th><input type="text" formControlName="attribute4" [(ngModel)]="hsrpin.attribute4"
                            class="pop_input"></th>
                        <th><input type="text" formControlName="attribute5" [(ngModel)]="hsrpin.attribute5"
                            class="pop_input"></th>
                        <th><input type="text" formControlName="attribute6" [(ngModel)]="hsrpin.attribute6"
                            class="pop_input"></th>
                        <th><input type="text" formControlName="attribute7" [(ngModel)]="hsrpin.attribute7"
                            class="pop_input"></th>
                        <th><input type="text" formControlName="attribute8" [(ngModel)]="hsrpin.attribute8"
                            class="pop_input"></th>
                      </tr>
                      <tr *ngFor="let row of purchasebyid$ | async; let i = index">
                        <td>{{i+1}}</td>
                        <td><ion-checkbox></ion-checkbox></td>
                        <td><input type="text" formControlName="attr1" [(ngModel)]="row.attr1" class="pop_input"></td>
                        <td><input type="text" formControlName="attr2" [(ngModel)]="row.attr2" class="pop_input"></td>
                        <td><input type="text" formControlName="attr3" [(ngModel)]="row.attr3" class="pop_input"></td>
                        <td><input type="text" formControlName="attr4" [(ngModel)]="row.attr4" class="pop_input"></td>
                        <td><input type="text" formControlName="attr5" [(ngModel)]="row.attr5" class="pop_input"></td>
                        <td><input type="text" formControlName="attr6" [(ngModel)]="row.attr6" class="pop_input"></td>
                        <td><input type="text" formControlName="attr7" [(ngModel)]="row.attr7" class="pop_input"></td>
                        <td><input type="text" formControlName="attr8" [(ngModel)]="row.attr8" class="pop_input"></td>
                      </tr>
                    </table>
                    <ion-row class="custom-primary" style="justify-content: right; margin-top: 20px;">
                      <ion-button style="float: right; bottom: 0;" (click)="closeQuantityPopover()">Ok</ion-button>
                    </ion-row>
                  </div>
                </ion-content>
              </ng-template>
            </ion-popover>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>