<ion-content class="home_page" [fullscreen]="true">
  <div class="signup">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="6">
          <ion-card class="card1">
            <img src="../../assets/ktechno-removebg-preview.png" alt="">
          </ion-card>
        </ion-col>

        <ion-col size="12" size-lg="6">

          <ion-card class="card4">
            <form #registerFrom="ngForm" (ngSubmit)="login(registerFrom)">
              <ion-row>
                <h1 style="color: skyblue;font-size: 35px;font-weight: bold;justify-content: center;">Login Now </h1>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-lg="12">
                  <ion-input [(ngModel)]="email" color="dark"  type="email" label="Email" label-placement="floating" fill="outline" name="email"></ion-input>
                </ion-col>
              </ion-row>
             
              <ion-row>
               <ion-col size="12" size-lg="12">
                <ion-input [(ngModel)]="phone" name="phone"   color="dark"  type="number" label="Mobile number" label-placement="floating" fill="outline" value="phone"  required></ion-input>
               </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" size-lg="12">
                  <ion-input [(ngModel)]="password" maxlength="15" name="password" id="password" color="dark"  type="password" label=" Password" label-placement="floating" fill="outline"   required></ion-input>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" size-lg="12">
                  <ion-input [(ngModel)]="confirmpassword" maxlength="15" name="confirmpassword" id="confirmpassword" label="Confrum Password"  color="dark"  label-placement="floating" fill="outline"  required></ion-input>
                </ion-col>
              </ion-row>

              <ion-row style="justify-content: center;">
                <ion-button expand="full" color="undefined" type="submit" class="home_buttons" >Login Now</ion-button>
              </ion-row>

              <ion-row style="justify-content: center;">
                <p>Don't have an account? <a [routerLink]="['/signup']">Signup here</a></p>
              </ion-row>
            </form>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>