.search ion-item{
    margin-top: 5px;
    max-height: 35px !important;
    border: solid 1px rgb(190, 190, 190);
    border-radius: 4px;
    position: relative;
    /* Ensure the ion-item is relatively positioned */
    outline-width: 2px;
    outline-style: initial;
}
.search ion-label {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(85, 105, 149);
}

  
.Customer ion-input {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    // outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}


.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}

.images img {
    height: 200px;
    width: 200px;
}

.Customer ion-card {
    width: 70%;
    margin-left: 15%;
}

@media(max-width:940px) {
    .Customer ion-card {
        width: 100%;
        margin-left: 0%;
    }
}

@media(max-width:540px) {
    .Customer ion-input {
        min-height: 25px;
        font-size: 10px;
        outline-width: 2px;
        outline-style: initial;
    }
}


ion-popover {
    --width: 700px;
    --height: 205px;
}

.hsns {
    --offset-y: 0px;
    --offset-x: 0px;
}

.units {
    --offset-y:0px;
    --offset-x: 100px;
}

.groups {
    --offset-y: 0px;
    --offset-x: 150px;
}