<ion-content [fullscreen]="true">
  <ion-content>
    <div class="Customer">
      <ion-card>
        <ion-card-content>
          <div class="dekstop-menu">
            <ion-card-header>
              <ion-row lines="none">
                <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
                <ion-title style="text-align: center;">Add Item</ion-title>
                <div  class="custom-primary">
                  <ion-button [routerLink]="['/viewitem']">View Item</ion-button>
                </div>
              </ion-row>
            </ion-card-header>
          </div>
          <ion-grid>
            <form [formGroup]="myform" (ngSubmit)="onSubmit()">
              <ion-row>
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [(ngModel)]="itemDesc" formControlName="itemDesc" name="item_Desc" type="text"
                      label=" Item Description :" label-placement="floating" fill="outline">
                    </ion-input>
                    <div *ngIf="myform && myform.controls['itemDesc']?.hasError('required') && myform.controls['itemDesc']?.touched" >
                      Item Description is required.
                    </div>
                  </ion-row>

                </ion-col>
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [(ngModel)]="itemCode" formControlName="itemCode" name="item_Code"
                      type="text" label=" Item code :" label-placement="floating" fill="outline"></ion-input>
                      <div *ngIf="myform && myform.controls['itemCode']?.hasError('required') && myform.controls['itemCode']?.touched" class="error-message">
                        Item Code is required.
                      </div>
                  </ion-row>
                </ion-col>

                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <select [(ngModel)]="hsnname" formControlName="hsnname" name="hsn_name">
                    <option value="" disabled selected>---Select HSN  ---</option>
                    <option *ngFor="let hsnname of hsnname$ | async" [value]="hsnname.hsnid">
                      {{ hsnname.hsnname }}
                    </option>
                    
                  </select>
                </ion-col>

                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <select [(ngModel)]="stocktypename" formControlName="stocktypename" name="select_Stock">
                    <option value="" disabled selected>---Select Stock Type  ---</option>
                    <option *ngFor="let stocktypename of stocktypename$ | async" [value]="stocktypename.stocktypeid">
                      {{ stocktypename.stocktypename }}
                    </option>
                  </select>
                    
                  <div *ngIf="myform && myform.controls['selectStock']?.hasError('required') && myform.controls['selectStock']?.touched" class="error-message">
                    Stock Type is required.
                  </div>
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <select [(ngModel)]="itemtypename" formControlName="itemtypename" name="select_Item">
                    <option value="" disabled selected>---Select Item Type  ---</option>
                    <option *ngFor="let itemtypename of itemtypename$ | async" [value]="itemtypename.itemtypeid">
                      {{ itemtypename.itemtypename }}
                    </option>
                  </select>
                  <div *ngIf="myform && myform.controls['selectItem']?.hasError('required') && myform.controls['selectItem']?.touched" class="error-message">
                    Item Type is required.
                  </div>
                </ion-col>
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <select [(ngModel)]="unitname" formControlName="unitname$" name="unit_name$" >
                    <option value="" disabled selected>--- Select Unit Name ---</option>
                    <option *ngFor="let unitname of unitname$ | async" [value]="unitname.unitid">
                      {{ unitname.unitname }}
                    </option>
                  </select>
                </ion-col>

                <!-- <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <select [(ngModel)]="selectAltUnit" formControlName="selectAltUnit" name="select_AltUnit">
                    <option value="">--- Select Alternate Unit ---</option>
                    <option value="">Roll (RL)</option>
                    <option value="">Bundle (BDL)</option>
                    <option value="">Carton (CTN)</option>
                    <option value="">Pack (PK)</option>
                    <option value="">Pair (PR)</option>
                    <option value="">Dozen (DZ)</option>
                    <option value="">Case (CS)</option>
                    <option value="">Bundle of 10 (BDL10)</option>
                    <option value="">Square Feet (ft²)</option>
                    <option value="">Cubic Feet (ft³)</option>
                    <option value="">Hour (HR)</option>
                    <option value="">Pallet (PLT)</option>
                    <option value="">Custom Units</option>

                  </select>
                </ion-col> -->
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <select [(ngModel)]="selectItemGroup" formControlName="selectItemGroup" name="select_ItemGroup">
                    <option value="">--- Setect Item Group ---</option>
                    
                    <option *ngFor="let itemgroup of itemgroups$  | async" [value]="itemgroup.itemgroupid">
                      {{ itemgroup.itemgroupname }}
                    </option>
                  </select>
                  <div *ngIf="myform && myform.controls['selectItemGroup']?.hasError('required') && myform.controls['selectItemGroup']?.touched" class="error-message">
                    Item Group Type is required.
                  </div>
                </ion-col>
             

                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <select [(ngModel)]="selectGst" formControlName="selectGst" name="select_Gst">
                    <option value="" disabled selected>---Select GST ---</option>
                    <option *ngFor="let gsttype of selectGst$ | async" [value]="gsttype.gstid">
                      {{ gsttype.gstname }}
                    </option>
                  </select>
                  <div *ngIf="myform && myform.controls['selectGst']?.hasError('required') && myform.controls['selectGst']?.touched" class="error-message">
                     GST is required.
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [(ngModel)]="openingbalance" formControlName="openingbalance" name="opening_balance" type="text" label=" Opening Balance :" label-placement="floating"
                      fill="outline"></ion-input>
                  </ion-row>

                </ion-col>
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [(ngModel)]="closingbalance" formControlName="closingbalance" name="closing_balance" type="text" label=" Closing Balance :" label-placement="floating"
                      fill="outline"></ion-input>
                  </ion-row>
                </ion-col>

              </ion-row>
              <ion-row style=" border: 2px solid lightblue; margin-top: 20px;">

                <ion-toolbar>
                <ion-segment style="border-bottom: 2px solid lightblue;" name="type" [ngModelOptions]="{standalone: true}" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable >
                  <ion-segment-button style="border-right: 2px solid lightblue; background: fff; color: #000000;"
                    value="all">
                    <ion-label>Attribute</ion-label>
                  </ion-segment-button>
                  <ion-segment-button style="border-right: 2px solid lightblue;background: fff; color: #000000;"
                    value="Image">
                    <ion-label>Image</ion-label>
                  </ion-segment-button>
                  <ion-segment-button style="border-right: 2px solid lightblue; background: #fff; color: #000000;"
                    value="Barcode">
                    <ion-label>Barcode </ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="Other"
                    style="border-right: 2px solid lightblue; background: #fff; color: #000000;">
                    <ion-label>Other Details</ion-label>
                  </ion-segment-button>
                </ion-segment>
                </ion-toolbar>

                <ng-container [ngSwitch]="type">
                <div style="width: 100%; margin-bottom: 30px;" *ngSwitchCase="'all'">
                  <ion-row>
                    <ion-col size="12" size-lg="3" size-md="3" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="attr1" formControlName="attr1" name="attra"
                          type="text" label=" Attribute 1 :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="3" size-md="3" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="attr2" formControlName="attr2" name="attrb"
                          type="text" label=" Attribute 2 :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="3" size-md="3" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="attr3" formControlName="attr3" name="attrc"
                          type="text" label=" Attribute 3 :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="3" size-md="3" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="attr4" formControlName="attr4" name="attrd"
                          type="text" label=" Attribute 4 :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>

                  <ion-row>
                    <ion-col size="12" size-lg="3" size-md="3" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="attr5" formControlName="attr5" name="attre"
                          type="text" label=" Attribute 5 :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="3" size-md="3" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="attr6" formControlName="attr6" name="attrf"
                          type="text" label=" Attribute 6 :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="3" size-md="3" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="attr7" formControlName="attr7" name="attrg"
                          type="text" label=" Attribute 7 :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="3" size-md="3" size-sm="6">
                      <ion-row> 
                        <ion-input [(ngModel)]="attr8" formControlName="attr8" name="attrh"
                          type="text" label=" Attribute 8 :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>
                </div>

                <div style="width: 100%;height: 100%; margin: 0 auto;" *ngSwitchCase="'Image'">

                  <ion-row>

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <div class="images">
                        <!-- <input class="file"  type="file" (change)="onFileSelected($event)" accept="image/*" /> -->
                        <input class="file"  type="file" fomControlName="files" [(ngModel)]="files" name="image"  (change)="onFileSelected($event)" accept="image/*" />
                        <img [src]="selectedImage" *ngIf="selectedImage" alt="Selected Image" />
                      </div>
                    </ion-col>

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6" style="border: solid 1px lightblue;">
                      <div></div>
                    </ion-col>

                  </ion-row>
                </div>

                <div style="width: 100%; margin: 0 auto;"*ngSwitchCase="'Barcode'">
                  <ion-row style="margin-bottom: 10px;">
                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <ion-row>
                        <ion-input name="barcode" formControlName="barcode" [(ngModel)]="barcode"
                          type="text" label=" Barcode :" label-placement="floating"
                          fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </div>

                <div style="width: 100%; margin: 10px auto;" *ngSwitchCase="'Other'">

                  <ion-row class="headinglabel">
                    <ion-label>Quantity Levels</ion-label>
                  </ion-row>

                  <ion-row>

                    <ion-col size="12" size-lg="4" size-md="4" size-sm="4">
                      <ion-row>
                        <ion-input name="mini_mum" formControlName="minimum" [(ngModel)]="minimum"
                          type="text" label="Minimum :" label-placement="floating"
                          fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>
                    <ion-col size="12" size-lg="4" size-md="4" size-sm="4">
                      <ion-row>
                        <ion-input name="maxi_mum" formControlName="maximum" [(ngModel)]="maximum"
                          type="text" label="Maximum :" label-placement="floating"
                          fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="4" size-md="4" size-sm="4">
                      <ion-row>
                        <ion-input name="re_order" formControlName="reorder" [(ngModel)]="reorder"
                          type="text" label="Re-order :" label-placement="floating"
                          fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>

                

                 <!--  <div style="margin-top: 30px; border:  0.5px solid grey; width: 100%;"></div>

                  <ion-row class="headinglabel">
                    <ion-label>Dimension & Weight</ion-label>
                  </ion-row>

                  <ion-row>

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <ion-row>
                        <ion-input name="dime_nsion" formControlName="dimension" [(ngModel)]="dimension"
                          type="text"  label="Dimension :" label-placement="floating"
                          fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <ion-row>
                        <ion-input name="wei_ght" formControlName="weight" [(ngModel)]="weight"
                          type="text" label="Weight :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>

                  <ion-row>

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <ion-row>
                        <ion-input name="brand_name" formControlName="brandname" [(ngModel)]="brandname"
                          type="text" label="Brand Name :" label-placement="floating"
                          fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <ion-row>
                        <ion-input name="model_name" formControlName="modelname" [(ngModel)]="modelname"
                           type="text" label=" Model name :" label-placement="floating"
                          fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>

                  <ion-row>

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <select name="categ_ory" formControlName="category" [(ngModel)]="category">
                        <option value="Category">--Select Category--</option>
                        <option value="">Non Stock(Asset)</option>
                        <option value="">Non Stock(Expense)</option>
                        <option value="">Service</option>
                        <option value="">Capital</option>
                      </select>
                    </ion-col>

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="weightunit" formControlName="weightunit" name="weight_unit" type="text"
                          label="Unit of Weigth :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>

                  <ion-row style="margin-bottom: 20px;">

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="relailprofit" formControlName="relailprofit" name="relail_profit" type="text"
                          label="Retailer Profit % :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                      <ion-row>
                        <ion-input [(ngModel)]="delarprofit" formControlName="delarprofit" name="delar_profit" type="text"
                          label="Delar Profit % : " label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row> -->
                </div>
              </ng-container>

              </ion-row>
              <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
                <ion-button>New</ion-button>
                <ion-button type="submit">Save</ion-button>
                <ion-button>Delete</ion-button>
                <ion-button>Preview</ion-button>
                <ion-button>Close</ion-button>
              </ion-row>
            </form>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-content>
