<ion-content>
  <div class="Customer">
    <div class="container_data">
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create Unit</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="unit_name" formControlName="unit_name" name="unitname" type="text"
                    label="Unit Name :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="short_name" formControlName="short_name" name="shortname" type="text"
                    label="Symbol/ Short Name :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

            
              <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
                <select class="select" name="decimalplace" formControlName="decimal_place" [(ngModel)]="decimal_place">
                  <option value="">Select Decimal Places</option>
                  <option value="meter">1</option>
                  <option value="centimeter">2</option>
                  <option value="millimeter">3</option>
                  <option value="kilometer">4</option>

                </select>
              </ion-col>
              <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
                <ion-row>
                  <select class="select" name="primaryunit" formControlName="primary_unit" [(ngModel)]="primary_unit">
                    <option value="">Select UQC</option>
                    <option value="meter">Meter (m)</option>
                    <option value="centimeter">Centimeter (cm)</option>
                    <option value="millimeter">Millimeter (mm)</option>
                    <option value="kilometer">Kilometer (km)</option>
                    <option value="inch">Inch (in)</option>
                    <option value="foot">Foot (ft)</option>
                    <option value="yard">Yard (yd)</option>
                    <option value="squaremeter">Square Meter (m²)</option>
                    <option value="squarecentimeter">Square Centimeter (cm²)</option>
                    <option value="squarekilometer">Square Kilometer (km²)</option>
                    <option value="squareinch">Square Inch (in²)</option>
                    <option value="squarefoot">Square Foot (ft²)</option>
                    <option value="squareyard">Square Yard (yd²)</option>
                    <option value="acre">Acre (ac)</option>
                    <option value="liter">Liter (L)</option>
                    <option value="milliliter">Milliliter (mL)</option>
                    <option value="cubicmeter">Cubic Meter (m³)</option>
                    <option value="cubiccentimeter">Cubic Centimeter (cm³)</option>
                    <option value="gallon">Gallon (gal)</option>
                    <option value="quart">Quart (qt)</option>
                    <option value="pint">Pint (pt)</option>
                    <option value="fluidounce">Fluid Ounce (fl oz)</option>
                    <option value="gram">Gram (g)</option>
                    <option value="kilogram">Kilogram (kg)</option>
                    <option value="milligram">Milligram (mg)</option>
                    <option value="ounce">Ounce (oz)</option>
                    <option value="pound">Pound (lb)</option>
                    <option value="ton">Ton (metric ton)</option>
                    <option value="second">Second (s)</option>
                    <option value="minute">Minute (min)</option>
                    <option value="hour">Hour (hr)</option>
                    <option value="day">Day (d)</option>
                    <option value="week">Week (wk)</option>
                    <option value="month">Month (mo)</option>
                    <option value="year">Year (yr)</option>
                    <option value="each">Each (ea)</option>
                    <option value="dozen">Dozen (dz)</option>
                    <option value="gross">Gross (gr)</option>
                    <option value="pair">Pair (pr)</option>
                    <option value="celsius">Celsius (°C)</option>
                    <option value="fahrenheit">Fahrenheit (°F)</option>
                    <option value="kelvin">Kelvin (K)</option>

                  </select>
                </ion-row>
              </ion-col>
             
            </ion-row>
            <ion-row>
              <ion-searchbar class="custom"></ion-searchbar>
            </ion-row>
            <ion-row class="Executive">
              <div style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;">
                <table style="width: 100%;overflow-x:auto;overflow-y: auto;">
                 
                  <thead>
                    <tr>
                      <th style="width: 50px;">Sr.No</th>
                      <th style="width: 100px;"> Unit Name</th>
                      <th style="width: 200px;">Symbol/ Short Name</th>
                      <th style="width: 100px;">Decimal Places</th>
                      <th style="width: 100px;">Uqc</th>
                    </tr>
                  </thead>
                  <tbody>
                    <td>1</td>
                    <td>Kilogram</td>
                    <td>kg</td>
                    <td>0</td>
                    <td>2</td>
                  </tbody>

                </table>
              </div>
            </ion-row>
            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button id="open-loading">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..." [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading1" message="Unit Creating..." [duration]="1000"></ion-loading>
              <ion-button id="open-loading4">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..." [duration]="1000"></ion-loading>

            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>