<ion-content>
  <div class="Customer">
    <div class="container_data">
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create Unit</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="unit_name" formControlName="unit_name" name="unit_name" type="text"
                    label="Unit Name :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="short_name" formControlName="short_name" name="short_name" type="text"
                    label="Symbol/ Short Name :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

            
              <ion-col size-lg="3" size-md="4" size-sm="6" size="6">
                <ion-select  class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- Decimal Places ---" label-placement="floating" fill="outline"  name="decimal_place" formControlName="decimal_place" [(ngModel)]="decimal_place">
                  <!-- <ion-select-option value="0"> --- Decimal Places --- </ion-select-option> -->
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>

                </ion-select>
              </ion-col>
              <ion-col size-lg="3" size-md="4" size-sm="6" size="6">
                <ion-row>
                  <ion-select  class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="--- UQC ---" label-placement="floating" fill="outline"  name="primary_unit" formControlName="primary_unit" [(ngModel)]="primary_unit">
                    <!-- <ion-select-option value="0">  --- UQC --- </ion-select-option> -->
                    <ion-select-option value="2">Meter (m)</ion-select-option>
                    <ion-select-option value="3">Centimeter (cm)</ion-select-option>
                    <ion-select-option value="4">Millimeter (mm)</ion-select-option>
                    <ion-select-option value="5">Kilometer (km)</ion-select-option>
                    <ion-select-option value="6">Inch (in)</ion-select-option>
                    <ion-select-option value="7">Foot (ft)</ion-select-option>
                    <ion-select-option value="8">Yard (yd)</ion-select-option>
                    <ion-select-option value="9">Square Meter (m²)</ion-select-option>
                    <ion-select-option value="10">Square Centimeter (cm²)</ion-select-option>
                    <ion-select-option value="11">Square Kilometer (km²)</ion-select-option>
                    <ion-select-option value="12">Square Inch (in²)</ion-select-option>
                    <ion-select-option value="13">Square Foot (ft²)</ion-select-option>
                    <ion-select-option value="14">Square Yard (yd²)</ion-select-option>
                    <ion-select-option value="15">Acre (ac)</ion-select-option>
                    <ion-select-option value="16">Liter (L)</ion-select-option>
                    <ion-select-option value="17">Milliliter (mL)</ion-select-option>
                    <ion-select-option value="18">Cubic Meter (m³)</ion-select-option>
                    <ion-select-option value="19">Cubic Centimeter (cm³)</ion-select-option>
                    <ion-select-option value="21">Gallon (gal)</ion-select-option>
                    <ion-select-option value="22">Quart (qt)</ion-select-option>
                    <ion-select-option value="23">Pint (pt)</ion-select-option>
                    <ion-select-option value="24">Fluid Ounce (fl oz)</ion-select-option>
                    <ion-select-option value="25">Gram (g)</ion-select-option>
                    <ion-select-option value="26">Kilogram (kg)</ion-select-option>
                    <ion-select-option value="27">Milligram (mg)</ion-select-option>
                    <ion-select-option value="28">Ounce (oz)</ion-select-option>
                    <ion-select-option value="29">Pound (lb)</ion-select-option>
                    <ion-select-option value="30">Ton (metric ton)</ion-select-option>
                    <ion-select-option value="31">Second (s)</ion-select-option>
                    <ion-select-option value="32">Minute (min)</ion-select-option>
                    <ion-select-option value="33">Hour (hr)</ion-select-option>
                    <ion-select-option value="34">Day (d)</ion-select-option>
                    <ion-select-option value="35">Week (wk)</ion-select-option>
                    <ion-select-option value="36">Month (mo)</ion-select-option>
                    <ion-select-option value="37">Year (yr)</ion-select-option>
                    <ion-select-option value="38">Each (ea)</ion-select-option>
                    <ion-select-option value="39">Dozen (dz)</ion-select-option>
                    <ion-select-option value="40">Gross (gr)</ion-select-option>
                    <ion-select-option value="41">Pair (pr)</ion-select-option>
                    <ion-select-option value="42">Celsius (°C)</ion-select-option>
                    <ion-select-option value="43">Fahrenheit (°F)</ion-select-option>
                    <ion-select-option value="45">Kelvin (K)</ion-select-option>

                  </ion-select>
                </ion-row>
              </ion-col>
             
            </ion-row>
            <ion-row>
              <ion-searchbar class="custom" [(ngModel)]="searchTerm" formControlName="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
            </ion-row>
            <ion-row class="Executive">
              <div style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;">
                <table style="width: 100%;overflow-x:auto;overflow-y: auto;">
                 
                  <thead>
                    <tr>
                      <th style="width: 50px;">Sr.No</th>
                      <th style="width: 100px;"> Unit Name</th>
                      <th style="width: 200px;">Symbol/ Short Name</th>
                      <th style="width: 100px;">Decimal Places</th>
                      <th style="width: 100px;">Uqc</th>
                      <th style="width: 50px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let unit of filteredUnits$ | async; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{unit.unit_name}}</td>
                    <td>{{unit.short_name}}</td>
                    <td>{{unit.primary_unit}}</td>
                    <td>{{unit.decimal_place}}</td>
                    <td>
                      <ion-icon color="danger" icon-only name="trash"></ion-icon>
                    </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </ion-row>
            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button id="open-loading" (click)="onNew()">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..." [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              
              <ion-button id="open-loading4" (click)="onButtonClick()">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Unit Closing..." [duration]="1000"></ion-loading>

            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>