<ion-content>
  <div class="Customer">
    <div class="container_data">
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create Unit</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="unit_name" formControlName="unit_name" name="unit_name" type="text"
                    label="Unit Name :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="short_name" formControlName="short_name" name="short_name" type="text"
                    label="Symbol/ Short Name :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

            
              <ion-col size-lg="3" size-md="4" size-sm="6" size="6">
                <select class="select" name="decimal_place" formControlName="decimal_place" [(ngModel)]="decimal_place">
                  <option value="0"> --- Decimal Places --- </option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>

                </select>
              </ion-col>
              <ion-col size-lg="3" size-md="4" size-sm="6" size="6">
                <ion-row>
                  <select class="select" name="primary_unit" formControlName="primary_unit" [(ngModel)]="primary_unit">
                    <option value="0">  --- UQC --- </option>
                    <option value="2">Meter (m)</option>
                    <option value="3">Centimeter (cm)</option>
                    <option value="4">Millimeter (mm)</option>
                    <option value="5">Kilometer (km)</option>
                    <option value="6">Inch (in)</option>
                    <option value="7">Foot (ft)</option>
                    <option value="8">Yard (yd)</option>
                    <option value="9">Square Meter (m²)</option>
                    <option value="10">Square Centimeter (cm²)</option>
                    <option value="11">Square Kilometer (km²)</option>
                    <option value="12">Square Inch (in²)</option>
                    <option value="13">Square Foot (ft²)</option>
                    <option value="14">Square Yard (yd²)</option>
                    <option value="15">Acre (ac)</option>
                    <option value="16">Liter (L)</option>
                    <option value="17">Milliliter (mL)</option>
                    <option value="18">Cubic Meter (m³)</option>
                    <option value="19">Cubic Centimeter (cm³)</option>
                    <option value="21">Gallon (gal)</option>
                    <option value="22">Quart (qt)</option>
                    <option value="23">Pint (pt)</option>
                    <option value="24">Fluid Ounce (fl oz)</option>
                    <option value="25">Gram (g)</option>
                    <option value="26">Kilogram (kg)</option>
                    <option value="27">Milligram (mg)</option>
                    <option value="28">Ounce (oz)</option>
                    <option value="29">Pound (lb)</option>
                    <option value="30">Ton (metric ton)</option>
                    <option value="31">Second (s)</option>
                    <option value="32">Minute (min)</option>
                    <option value="33">Hour (hr)</option>
                    <option value="34">Day (d)</option>
                    <option value="35">Week (wk)</option>
                    <option value="36">Month (mo)</option>
                    <option value="37">Year (yr)</option>
                    <option value="38">Each (ea)</option>
                    <option value="39">Dozen (dz)</option>
                    <option value="40">Gross (gr)</option>
                    <option value="41">Pair (pr)</option>
                    <option value="42">Celsius (°C)</option>
                    <option value="43">Fahrenheit (°F)</option>
                    <option value="45">Kelvin (K)</option>

                  </select>
                </ion-row>
              </ion-col>
             
            </ion-row>
            <ion-row>
              <ion-searchbar class="custom"></ion-searchbar>
            </ion-row>
            <ion-row class="Executive">
              <div style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;">
                <table style="width: 100%;overflow-x:auto;overflow-y: auto;">
                 
                  <thead>
                    <tr>
                      <th style="width: 50px;">Sr.No</th>
                      <th style="width: 100px;"> Unit Name</th>
                      <th style="width: 200px;">Symbol/ Short Name</th>
                      <th style="width: 100px;">Decimal Places</th>
                      <th style="width: 100px;">Uqc</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let unit of units$ | async; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{unit.unit_name}}</td>
                    <td>{{unit.short_name}}</td>
                    <td>{{unit.primary_unit}}</td>
                    <td>{{unit.decimal_place}}</td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </ion-row>
            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button id="open-loading">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..." [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading1" message="Unit Creating..." [duration]="1000"></ion-loading>
              <ion-button id="open-loading4">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..." [duration]="1000"></ion-loading>

            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>