ion-header {
    ion-toolbar {
        --color: rgb(0, 0, 0);
    }

    ion-title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
}

ion-content {
    ion-list {
        margin-bottom: 20px;
    }

    ion-item {
        display: flex;

    }
}
.billno ion-input{
    min-height: 30px;
}
.Payment ion-select{
    min-height: 30px;
}
.customername ion-select{
    min-height: 30px;
}
.Refrence ion-input{
    min-height: 30px;
}
.sales ion-input{
    min-height: 30px;
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: 240px;
    margin-right: 10px;
}

.title {
    font-size: 0px;
    font-weight: bold;
    margin: 0;
}

.login {
    margin-top: 20px;
    padding: 20px;
    border: .5px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px #717171;
    margin-bottom: 20px;
}

table,
td,
th,
tr {
    border: solid 2px #000;
    padding: 5px;
}

th {
    background-color: aquamarine;
    color: #000;
    padding: 10px;

}

table {
    text-align: center;
    width: 100%;
    background-color: #fff;
}

ion-card {
    width: 95%;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px 0px;
    border: solid 1px;
}

.Report {
    text-align: center;
    height: 500px;

}

.Report h6 {
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 22px;
    text-decoration: underline;
    font-weight: bold;
}


.label {
    border-top: #000000 solid;
}

.Action ion-icon {
    font-size: 25px;
  }

ion-label {
    color: #000000;
}

ion-segment {
    background-color: goldenrod;
    border: solid 2px ;
}

.shareicon {
    margin-top: 10px;


}

.shareicon ion-icon {
    margin-left: 10px;
}


.label1 ion-input {
    border: goldenrod;
    background-color: #fff;
    margin-left: -10px;
    min-height: 30px;
}


.label1 ion-label {
    padding: 5px;
    color:rgb(0, 0, 0);
    margin-top: 0px;
    text-align: center;
    justify-content: center;

}



.label1 ion-input {
    min-height: 30px;
}



.top {
    border-top: solid #000;
    border-right: solid #000;
    border-left: solid #000;

}

ion-list {
    margin-left: 50px;
}



.mobile h1 {
    color: #ffee00;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.mobcontent ion-item {
    height: 40px;
    margin-top: -10px;
    width: 100%;
    margin-left: 0px;
}

.mobcontent ion-input {
    border: solid 2px goldenrod;
    margin-top: 0px;
    min-height: 30px;
}

.mobcontent ion-label {
    font-size: 14px;
    margin-top: 0px;
    color: rgb(0, 0, 0);

}

.always-flip {
    width: 200px;
}

/*
.billno ion-input{
    width: 150px;
}

.Payment ion-select{
    width: 150px;
}
.customercode ion-input{
    width: 150px;
}
.customername ion-select{
    width: 150px;
}
*/
ion-datetime-button {
    font-size: 16px;
    margin-top: 10px;
}

.mobile1 ion-card {
    box-shadow: none;
    background-color: #d4d4d4;
}

.invoice {
    text-align: left;
    align-items: start;
    margin-top: 0px;
    margin-bottom: 0px;
}

.invoice ion-card {
    box-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.selectvender {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.selectvender a {
    text-decoration: none;
    color: blueviolet;
    margin-top: 0px;
    margin-bottom: 0px;

}

.selectvender ion-card {
    box-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.charges {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.charges a {
    color: grey;
    font-size: 18px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

ion-footer {
    text-align: left;
    background-color: #d4d4d4;
    margin-top: 0px;
    margin-bottom: 0px;

}
.Report ion-input{
    border: solid 2px goldenrod;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    max-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
}
.Report ion-select {
    border: solid 2px goldenrod;
    border-radius: 3px;
    background-color: #fff;
    max-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
}

.Report ion-label {
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 16px;

}

.Report ion-textarea {
    border: solid 2px goldenrod;
    border-radius: 3px;
    background-color: #fff;
    max-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
}
@media(max-width:3880px) {
    .mobile {
        display: none;
        visibility: hidden;
    }
}

@media(max-width:1024px) {

    .billno ion-input {
        width: 100px;
    }

    .customercode ion-input {
        width: 100px;

    }

    .username ion-input {
        width: 100px;
    }

    .label ion-datetime-button {
        margin-left: 0px;
    }

    .label1 ion-label {
        font-size: 12px;
    }

    .share {
        margin-left: 75px;
        margin-top: -38px;
    }


    .billno ion-input {
        width: 70px;
    }

    .customercode ion-input {
        width: 70px;
    }

    .username ion-input {
        width: 70px;
    }
}

@media(max-width:912px) {
    .billno s {
        width: 300px;
        font-size: 10px;
    }

    .label ion-label {
        font-size: 22px;
    }


    .shareicon ion-icon {
        size: 10px;
        margin-left: 50px;
    }

    .share {
        margin-left: 0px;
        margin-top: 0px;
    }

   

    .billno ion-input {
        width: 80px;
        margin-top: 20px;
        margin-left: -3px;
    }

    .username ion-input {
        width: 80px;
        margin-top: 20px;
    }

    .customercode {
        margin-top: 15px;
    }

    .customername {
        margin-top: 15px;
    }
}

@media(max-width:820px) {
    .label ion-datetime-button {
        width: 130px;
        margin-left: -22px;
    }

    .segment ion-segment-button {
        width: 100px;
    }

    

    .label1 ion-label {
        font-size: 8px;
        padding: 0px;
    }

    .label3 ion-label {
        font-size: 10px;
        padding: 0px;
    }

    ion-segment {
        width: 200px;
    }

    .label2 ion-input {
        width: 80px;
        height: 45px;

    }

    .label2 ion-input {
        width: 80px;
        height: 45px;

    }

    .shareicon ion-icon {
        size: 10px;
        margin-left: 90px;
    }

    .share {
        margin-left: 0px;
        margin-top: 0px;
    }

}

@media(max-width:768px) {
    .shareicon ion-icon {
        size: 10px;
        margin-left: 80px;
    }
}

@media(max-width:540px) {
    .segment {
        display: none;
        visibility: hidden;
    }

    .label {
        display: none;
        visibility: hidden;
    }

    .label11 {
        display: none;
        visibility: hidden;
    }

    .label12 {
        display: none;
        visibility: hidden;
    }

    .tabelwindow {
        display: none;
        visibility: hidden;
    }

    .mobile {
        visibility: visible;
        display: block;
        box-shadow: none;
        width: 100%;
    }

    ion-card {
        width: 100%;
    }

    .mobile ion-card {
        width: 100%;
        margin-left: 0px;
    }




    .label11 {
        visibility: hidden;
        display: none;
    }

    .label15 ion-input {
        width: 200px;
    }

    .unit {
        margin-top: 20px;
    }

    .quantity {
        margin-top: 20px;
    }



    .segment {
        margin-left: 30px;
        width: 200px;
    }

    ion-segment {
        width: 200px;
    }


    .segment default {
        width: 100px;
    }

    .shareicon {
        visibility: hidden;
        display: none;
    }

    .grid {
        margin-left: -55px;
        margin-top: 0px;
    }

    .Print {
        margin-left: -15px;
        margin-top: -35px;
    }

    .share {
        margin-left: 20px;
        margin-top: -38px;
    }

    .label ion-button {
        width: 200px;
        font-size: 16px;
        margin-left: -50px;
        margin-top: 170px;
    }


    .label ion-label {
        margin-left: 100px;
        width: 200px;

    }

    .label1 ion-input {
        width: 100px;
        margin-left: -50px;
    }

    .khali {
        display: none;
        visibility: hidden;
    }



    .save {
        margin-left: 40px;
        width: 100px;

    }

    .Delete {
        margin-left: 300px;
        margin-top: -66px;
        width: 100px;

    }

    .Preview {
        margin-left: 250px;
        margin-top: 0px;
        width: 100px;

    }

    .print {
        margin-left: -10px;
        margin-top: -65px;
        width: 100px;

    }

    .label ion-datetime-button {
        margin-top: 0px;
        width: 250px;
        font-size: 16px;
        margin-left: 0px;
    }

    .billno {
        margin-left: 0px;
        margin-top: 45px;
    }

    .billno ion-input {
        margin-top: 0px;
        width: 130px;
        margin-left: -5px;
    }

    .billno ion-label {
        margin-left: 0px;
    }

    .Payment {
        margin-top: 45px;
        margin-left: 0px;
    }

  

    .Payment ion-label {
        margin-left: 0px;
    }

    .customercode {
        margin-top: 45px;
        margin-left: 33px;
    }

    .customercode ion-input {
        margin-top: 0px;
        width: 130px;
        margin-left: -5px;
    }

    .customercode ion-label {
        margin-left: 0px;
    }

    .customername {
        margin-top: 120px;
        margin-left: -300px;
    }

    

    .username {
        margin-top: 390px;
        margin-left: -70px;
    }

    .username ion-input {
        width: 200px;
        margin-top: 0px;
        margin-left: -30px;
    }

    .username ion-label {
        margin-left: -30px;
    }

    .label15 {
        margin-left: 150px;
    }

    .label15 ion-input {
        width: 200px;
        height: 40px;
    }

    .label15 ion-label {
        margin-left: -150px;
        font-size: 16px;
    }

    h6 {
        display: none;
        visibility: hidden
    }

}

@media(max-width:414px) {


    .mobcontent ion-item {
        height: 30px;
       
    }

    .salerate {
        margin-top: 20px;
    }

    .gst {
        margin-top: 20px;
    }

    .totalquantity {
        margin-top: 20px;
    }

    .totalamount {
        margin-top: 20px;
    }


    .label ion-datetime-button {
        margin-top: 0px;
        width: 250px;
        font-size: 16px;
        margin-left: 0px;
    }
    .save {
        margin-left: 20px;
        width: 100px;

    }

    .Delete {
        margin-left: 240px;
        margin-top: -66px;
        width: 100px;

    }

    .Preview {
        margin-left: 180px;
        margin-top: 0px;
        width: 100px;

    }

    .print {
        margin-left: -10px;
        margin-top: -65px;
        width: 100px;

    }
}

@media(max-width:412px) {
    .mobile {
        margin-left: 0px;
    }
    .save {
        margin-left: 10px;
        width: 100px;

    }

    .Delete {
        margin-left: 230px;
        margin-top: -66px;
        width: 100px;

    }

    .Preview {
        margin-left: 180px;
        margin-top: 0px;
        width: 100px;

    }

    .print {
        margin-left: 0px;
        margin-top: -65px;
        width: 100px;

    }

}

@media(max-width:394px) {

    
    .quantity {
        width: 20px;
    }

    .productname {
        margin-top: -10px;
    }

    .unit {
        margin-top: 10px;
    }

    .quantity {
        margin-top: 10px;
    }

    .gst {
        margin-top: 20px;
    }

    .salerate {
        margin-top: 20px;
    }

    .totalamount {
        margin-top: 0px;
    }

    .totalquantity {
        margin-top: 0px;
    }

    .label ion-datetime-button {
        margin-left: -20px;
    }

    .new {
        margin-left: 0px;
        width: 100px;
    }

    .save {
        margin-left: 0px;
        width: 100px;
    }

    .Delete {
        margin-left: 150px;
        margin-top: -155px;
        width: 130px;

    }

    .Preview {
        margin-left: 150px;
        margin-top: -100px;
        width: 130px;

    }

    .print {
        margin-left: 100px;
        margin-top: -35px;
        width: 100px;
    }
}

@media(max-width:390px) {
   

}

@media(max-width:376px) {
    

    .share {
        margin-left: 15px;
    }

    .grid {
        margin-left: -50px;
    }

    .print {
        margin-left: -100px;
    }

    ion-segment {
        margin-left: -30px;
    }

    .shareicon {
        margin-left: -30px;
    }

    .new {
        margin-left: 0px;
        width: 100px;
    }

    .save {
        margin-left: 0px;
        width: 100px;
    }

    .Delete {
        margin-left: 150px;
        margin-top: -155px;
        width: 130px;
    }

    .Preview {
        margin-left: 150px;
        margin-top: -100px;
        width: 130px;
    }

    .print {
        margin-left: 100px;
        margin-top: -35px;
        width: 100px;
    }

    .billno ion-label {
        font-size: 10px;

    }

    .billno {
        margin-left: 0px;
        margin-top: 45px;
    }

    .billno ion-input {
        margin-top: 0px;
        width: 100px;
        margin-left: -5px;
    }

    .billno ion-label {
        font-size: 10px;
    }

    .Payment {
        margin-top: 45px;
        margin-left: 0px;
    }

   

    .Payment ion-label {
        font-size: 10px;
    }

    .customercode {
        margin-top: 45px;
        margin-left: 30px;
    }

    .customercode ion-input {
        margin-top: 0px;
        width: 100px;
        margin-left: -5px;
    }

    .customercode ion-label {
        font-size: 10px;
    }

    .customername {
        margin-top: 140px;
        margin-left: -270px;
    }

    
}

@media(max-width:360px) {

    ion-segment {
        margin-left: -25px;
        width: 180px;
    }

    ion-segment-button {
        width: 60px;
        font-size: 10px;
    }

    .shareicon {
        margin-left: 10px;
    }

    ion-card {
        width: 320px;
    }

    .segment {
        margin-left: 30px;
        width: 200px;
    }

    .segment ion-segment-button {
        width: 100px;
    }

    .segment default {
        width: 100px;
    }

    .shareicon ion-icon {
        size: 10px;
        margin-left: 100px;
    }

    .label15 ion-input {
        width: 250px;
    }

    .grid {
        margin-left: -55px;
        margin-top: 0px;
    }

    .Print {
        margin-left: -15px;
        margin-top: -35px;
    }

    .share {
        margin-left: 20px;
        margin-top: -38px;
    }

    .label1 ion-input {
        width: 150px;
        margin-left: -35px;
    }

    .new {
        margin-left: 0px;
        width: 100px;
    }

    .save {
        margin-left: 0px;
        width: 100px;
    }

    .Delete {
        margin-left: 150px;
        margin-top: -155px;
        width: 130px;

    }

    .Preview {
        margin-left: 150px;
        margin-top: -100px;
        width: 130px;

    }

    .print {
        margin-left: 100px;
        margin-top: -35px;
        width: 100px;
    }

   
}

@media(max-width:280px) {
   

    .mobile ion-label {
        font-size: 10px;
    }



    .shareicon {
        margin-top: 60px;
        margin-left: -60px;
    }

    ion-segment {
        margin-left: -20px;
        width: 220px;
    }

    ion-segment-button {
        width: 130px;
        font-size: 10px;
    }

    ion-card {
        width: 320px;
    }

    .segment {
        margin-left: 30px;
        width: 200px;
    }


    .label ion-button {
        width: 180px;
        font-size: 14px;
        margin-left: -55px;
        margin-top: 170px;
    }

    .segment ion-segment-button {
        width: 100px;
    }

    .segment default {
        width: 100px;
    }

    .shareicon ion-icon {
        size: 10px;
        margin-left: 60px;
    }

    .grid {
        margin-left: -55px;
        margin-top: 0px;
    }

    .Print {
        margin-left: -15px;
        margin-top: -35px;
    }

    .share {
        margin-left: 20px;
        margin-top: -38px;
    }


    .label1 ion-input {
        width: 80px;
        margin-left: -35px;
    }

    .new {
        margin-left: -20px;
        width: 100px;
    }

    .save {
        margin-left: -20px;
        width: 100px;
    }

    .Delete {
        margin-left: 120px;
        margin-top: -155px;
        width: 120px;

    }

    .Preview {
        margin-left: 120px;
        margin-top: -100px;
        width: 120px;

    }

    .print {
        margin-left: 70px;
        margin-top: -35px;
        width: 100px;

    }

    .billno {
        margin-left: 0px;
        margin-top: 45px;
    }

    .billno ion-input {
        margin-top: 0px;
        width: 80px;
        margin-left: -5px;
    }

    .billno ion-label {
        margin-left: 0px;
    }

    .Payment {
        margin-top: 45px;
        margin-left: 0px;
    }

   

    .Payment ion-label {
        margin-left: 0px;
    }

    .customercode {
        margin-top: 45px;
        margin-left: 33px;
    }

    .customercode ion-input {
        margin-top: 0px;
        width: 80px;
        margin-left: -15px;
    }

    .customercode ion-label {
        margin-left: 0px;
    }

    .customername {
        margin-top: 120px;
        margin-left: -200px;
    }

    

    .mobcontent ion-item {
        width: 100%;
    }

}