<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>DC-IN Window</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">DC-OUT Window</ion-title>
              <div class="custom-primary">
                <ion-button size="small" [routerLink]="['/dc-out-report']" id="open-loading5">View DC-OUT</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="DC-OUT Showing ..."
                  [duration]="1000"></ion-loading>
                <img id="menu" style="margin-left: 10px;" width="20px" height="20px" src="../../assets/more.png"
                  alt="more">
              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form [formGroup]="myform" (ngSubmit)="onSubmit(myform,dcoutData)">
            <ion-row>
              <ion-col class="ionselect" size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="Voucher Formate" label-placement="floating" fill="outline" [(ngModel)]="voucherformat"
                  name="voucherformat" formControlName="voucherformat">
                  <!-- <option value="0" disabled selected>Voucher Formate</option> Default option -->
                  <ion-select-option value="0">1</ion-select-option>
                  <ion-select-option value="1">2</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input #firstInvalidInput [(ngModel)]="voucherNumber" name="vouchno"
                    formControlName="voucherNumber" type="text" label="Voucher No. :" label-placement="floating"
                    fill="outline"></ion-input>

                </ion-row>
              </ion-col>
              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="datetype" name="date" formControlName="datetype" type="date"
                    label="Voucher Date :" label-placement="floating" fill="outline"></ion-input>

                </ion-row>
              </ion-col>
              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="vendcode" formControlName="vendcode" name="vendcode" type="text"
                    label="Code :" label-placement="floating" fill="outline"
                    (ngModelChange)="getCustomers($event)"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col class="ionselect" size-lg="3.6" size-md="2" size-sm="6" size="6">
                <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="--- Customer Name --- " label-placement="floating" fill="outline" [(ngModel)]=" vendcode"
                  name="suppliertype" formControlName="suppliertype" (ngModelChange)="getCustomers($event)">
                  <ion-select-option *ngFor="let customername of customer$ | async" [value]="customername.id">
                    {{ customername.name }}
                  </ion-select-option>
                </ion-select>
              </ion-col>

              <ion-col class="custom-primary" size-lg="0.4" size-md="2" size-sm="2" size="2">
                <ion-button (click)="presentPopovers($event)"><ion-icon
                    name="person-add-outline"></ion-icon></ion-button>
              </ion-col>


              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-input [(ngModel)]="referenceNumber" name="refernceNumber" formControlName="referenceNumber"
                  type="text" label="Refrence No. :" label-placement="floating" fill="outline">
                </ion-input>

              </ion-col>

              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="refdate" name="refdate" formControlName="refdate" type="date"
                    label=" Reference Date :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="ponumber" name="ponumber" formControlName="ponumber" type="text"
                    label=" Po Number :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

            </ion-row>

            <ion-row style="margin-top: 10px;">
              <div class="scroll-container">
                <table style="width:1305px;overflow-x:auto;">
                  <tr>
                    <th>Sr.No.</th>
                    <th>BarCode</th>
                    <th>Item Code</th>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>MRP</th>
                    <th>Basic Rate</th>
                    <th>Net Rate</th>
                    <th>Gross Amount</th>
                    <th>GST</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>IGST</th>
                    <th>Discount BY</th>
                    <th>Discount Amount</th>
                    <th>Tax Amount</th>
                    <th>Net Amount</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let dcout of dcoutData; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                      <input [(ngModel)]="dcout.barcode" [ngModelOptions]="{standalone: true}" class="table_input"
                        (ngModelChange)="getItems(dcout)" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="dcout.itemcode" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="getItems(dcout)" class="table_input" type="text">
                    </td>
                    <td>
                      <select class="select-option" [(ngModel)]="dcout.selectedItemId"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="getItems(dcout)">
                        <option value="0">Item Name</option><!-- Default option -->
                        <option *ngFor="let item  of itemnames$ | async" [value]="item.tid">
                          {{ item.itemDesc }}
                        </option>
                      </select>
                      <!-- Use a hidden input for sending itemcode -->
                      <ion-input style="display: none;" [(ngModel)]="dcout.itemid" [ngModelOptions]="{standalone: true}"
                        type="hidden"></ion-input>
                      <ion-input style="display: none;" [(ngModel)]="companyid" [ngModelOptions]="{standalone: true}"
                        type="hidden"></ion-input>
                      <ion-input style="display: none;" [(ngModel)]="userid" [ngModelOptions]="{standalone: true}"
                        type="hidden"></ion-input>
                    </td>
                    <td>
                      <input [(ngModel)]="dcout.description" [ngModelOptions]="{standalone: true}" class="description"
                        type="text">
                    </td>
                    <td>
                      <input *ngIf="dcout.itemcode !== 0" [(ngModel)]="dcout.quantity"
                        [ngModelOptions]="{standalone: true}" class="table_input" type="number"
                        (keydown.enter)="presentPopover(dcout)">
                    </td>
                    <td>
                      <input [(ngModel)]="dcout.unitname" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="text">
                      <input [(ngModel)]="dcout.hunitname" [ngModelOptions]="{standalone: true}" type="hidden">
                      <!-- <select class="select-option" [(ngModel)]="dcout.unitname" [ngModelOptions]="{standalone: true}">
                        <option value="0" (ngModelChange)="getItems(dcout)">Unit Name</option>
                        <option *ngFor="let unitnames of unitname$ | async" [value]="unitnames.unitid">
                          {{ unitnames.unitname }}
                        </option>
                      </select> -->
                    </td>
                    <td>
                      <input [(ngModel)]="dcout.mrp" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="number">
                    </td>
                    <td>
                      <input [(ngModel)]="dcout.basicrate" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="number">

                    </td>
                    <td>
                      <input [(ngModel)]="dcout.netrate" [value]="getnetrate(dcout)"
                        [ngModelOptions]="{standalone: true}" class="table_input" type="text">
                    </td>
                    <td>
                      <input [value]="getgrossrate(dcout)" [readonly]="true" class="table_input" type="number">
                    </td>
                    <td>
                      <input [(ngModel)]="dcout.taxrate" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="number">
                      <!-- <select class="select-option" id="taxrate" #taxrate (change)="onSelectChange(taxrate,dcout)"
                        (ngModelChange)="getItems(dcout)" [(ngModel)]="dcout.taxrate"
                        [ngModelOptions]="{standalone: true}">
                        <option value="0"> GST</option>
                        <option *ngFor="let gsttype of taxrate$ | async" [value]="gsttype.gstid">
                          {{ gsttype.gstname }}
                        </option>
                      </select> -->
                    </td>
                    <input type="hidden" [(ngModel)]="dcout.taxrate1" [ngModelOptions]="{standalone: true}" />
                    <td>
                      <input [value]="getsgst(dcout)" [readonly]="true" class="table_input" type="number">
                    </td>
                    <td>
                      <input [value]="getcgst(dcout)" [readonly]="true" class="table_input" type="number">
                    </td>
                    <td>
                      <input [value]="getigst(dcout)" type="number" class="table_input">
                    </td>
                    <td>
                      <select class="select-option" formControlName="discountType">
                        <option value="amount">Amount</option>
                        <option value="percentage">Percentage</option>
                      </select>
                    </td>
                    <td>
                      <input *ngIf="myform.get('discountType')?.value === 'percentage'; else amountField"
                        [(ngModel)]="dcout.discount" (ionBlur)="getdiscountp(dcout)"
                        [ngModelOptions]="{standalone: true}" class="table_input" type="number">
                      <ng-template #amountField>
                        <input [(ngModel)]="dcout.discountamt" (keyup)="getdiscountamt(dcout)"
                          [value]="getdiscountamt(dcout)" [ngModelOptions]="{standalone: true}" class="table_input"
                          type="number">
                      </ng-template>
                    </td>

                    <td>
                      <input [readonly]="true" [value]="getTotaltax(dcout)" class="table_input" type="text">
                    </td>
                    <td>
                      <input [readonly]="true" [value]="getTotalamt([dcout])" class="table_input" type="text">

                    </td>

                    <td>
                      <ion-icon icon-only clear color="primary" name="add" (click)="addDcout()"></ion-icon>
                      <ion-icon *ngIf="i>0" icon-only clear color="danger" name="trash"
                        (click)="removeDcout(i,dcout)"></ion-icon>
                    </td>
                  </tr>
                </table>
              </div>
              <div style="overflow-x: auto; border: 1px solid grey; width: 100%;">

                <ion-row>
                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Total Item :</label>
                    <input name="totalitemno" [(ngModel)]="dcoutData.length" formControlName="totalitemno"
                      class="input_table" type="text">
                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Quantity : </label>

                    <input name="totalquantity" [(ngModel)]="totalquantity" [value]="getTotalQuantity()"
                      formControlName="totalquantity" class="input_table" type="text">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Gross Amount :</label>
                    <input name="totalgrossamt" [(ngModel)]="totalgrossamt" [value]="getTotalGrossAmount()"
                      formControlName="totalgrossamt" class="input_table" type="number">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Discount Amount : </label>
                    <input name="totaldiscountamt" [(ngModel)]="totaldiscountamt" [value]="getTotalDiscountAmount()"
                      formControlName="totaldiscountamt" class="input_table" type="number">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Tax Amount :</label>
                    <input name="totaltaxamount" [(ngModel)]="totaltaxamount" [value]="getTotalTaxAmount()"
                      formControlName="totaltaxamount" class="input_table" type="text">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Taxable Amount :</label>
                    <input name="totalnetamount" [(ngModel)]="totalnetamount" formControlName="totalnetamount"
                      [value]="getTaxableAmount()" class="input_table" type="text">

                  </ion-col>
                </ion-row>
              </div>
            </ion-row>

            <ion-row>
              <ion-col class="row1" size-lg="3" size-md="3" size-sm="3" size="12">
                <div class="row3">
                  <ion-label class="delivery-label" style="font-size: small;">Scheduled Delivery</ion-label>
                  <div class="outstanding">
                    <ion-row>
                      <table class="delivery-table" style="width: 100%; overflow: hidden;">
                        <tr>
                          <th style="width: 100px !important;">Delivery Date</th>
                          <td>
                            <ion-input type="date" [(ngModel)]="deliverydate" formControlName="deliverydate"
                              name="deliverydate" placeholder="Enter Delivery Date"></ion-input>
                          </td>
                        </tr>
                        <tr>
                          <th style="width: 100px !important;">Delivery Place</th>
                          <td>
                            <ion-input type="text" [(ngModel)]="deliveryplace" formControlName="deliveryplace"
                              name="deliveryplace" placeholder="Enter Delivery Place"></ion-input>
                          </td>
                        </tr>
                      </table>
                    </ion-row>
                  </div>
                </div>
              </ion-col>

              <ion-col class="row1" size-lg="4" size-md="6" size-sm="6" size="12">
                <ion-label class="delivery-label" style="font-size: smaller;">OutStanding</ion-label>
                <div class="outstanding">
                  <ion-row>
                    <table style="width: 100%; overflow: hidden; max-height: 60px;">
                      <tr>
                        <th style="width: 100px !important;">Opening Balance</th>
                        <td>
                          <ion-input type="number" [(ngModel)]="openingbalance" formControlName="openingbalance"
                            name="openingbalance" placeholder="Enter Opening Balance"></ion-input>
                        </td>
                        <th style="width: 100px !important;">Debit</th>
                        <td>
                          <ion-input type="number" [(ngModel)]="debit" formControlName="debit" name="debit"
                            placeholder="Enter  Dedit Amount"></ion-input>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 100px !important;">Closing Balance</th>
                        <td>
                          <ion-input type="number" [(ngModel)]="closingbalance" formControlName="closingbalance"
                            name="closingbalance" placeholder="Enter Closing Balance"></ion-input>
                        </td>
                        <th style="width: 100px !important;">Credit</th>
                        <td>
                          <ion-input type="number" [(ngModel)]="credit" formControlName="credit" name="credit"
                            placeholder="Enter Credit Amount"></ion-input>
                        </td>
                      </tr>
                    </table>
                  </ion-row>
                </div>
              </ion-col>
              <ion-col class="row1" size-lg="2" size-md="3" size-sm="3" size="12">

              </ion-col>

              <ion-col class="row" size-lg="3" size-md="12" size-sm="12" size="12">
                <div class="output" style="border: none;margin-left: 30px;">
                  <table>

                    <tr>
                      <th colspan="2">Discount Amount :</th>
                      <td colspan="2"> <input [(ngModel)]="totaldiscountamt" [value]="getTotalDiscountAmount()"
                          id="totaldiscountamt" formControlName="totaldiscountamt" name="totaldiscountamt"
                          class="row_input" type="text">
                      </td>
                    </tr>

                    <tr>
                      <th colspan="2">Tax Amount : </th>
                      <td colspan="2"> <input [(ngModel)]="totaltaxamount" [value]="getTotalTaxAmount()"
                          id="totaltaxamount" formControlName="totaltaxamount" name="totaltaxamount" class="row_input"
                          type="text">
                      </td>
                    </tr>


                    <tr>
                      <th colspan="2">Pre-Tax : </th>
                      <td colspan="2"> <input [(ngModel)]="pretax" formControlName="pretax" name="pretax" id="pretax"
                          class="row_input" type="number">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Post-Tax : </th>
                      <td colspan="2"> <input [(ngModel)]="posttax" formControlName="posttax" name="posttax"
                          id="posttax" class="row_input" type="number">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Round Off : </th>
                      <td colspan="2"> <input [(ngModel)]="roundoff" formControlName="roundoff" name="roundoff"
                          [value]="getRoundoff()" id="roundoff" class="row_input" type="number">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Grand Total : </th>
                      <td colspan="2"> <input [(ngModel)]="totalnetamount" formControlName="totalnetamount"
                          [value]="getGrandTotal()" id="totalnetamount" name="totalnetamount" class="row_input"
                          type="text">
                      </td>
                    </tr>
                  </table>
                </div>
              </ion-col>
            </ion-row>


            <ion-row class="custom-primary" style="justify-content: right;margin-top: 10px;">
              <ion-button id="open-loading" (click)="onNew()">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-button>Print</ion-button>
              <ion-button id="open-loading4" (click)="onButtonClick()">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
                [duration]="1000"></ion-loading>

            </ion-row>


          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>

<ion-popover trigger="customer" #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" side="bottom" alignment="end">
  <ng-template>
    <ion-content class="ion-padding Customer ">
      <form [formGroup]="customerpop" (ngSubmit)="onCustSubmit()">
        <ion-row style="justify-content: center;margin-bottom: 10px;">
          <ion-label class="executive">Add Customer</ion-label>
        </ion-row>
        <ion-row>
          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="customer_code" formControlName="customer_code" name="customer_code" type="text"
                label=" Customer Code :" label-placement="floating" fill="outline" maxlength="5"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
            <ion-row>
              <ion-input #firstInvalidInput [(ngModel)]="name" formControlName="name" name="name" type="text"
                label="Customer Name :" label-placement="floating" fill="outline" color="dark"
                class="sign_input"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="gstin" formControlName="gstin" name="gstin" type="text" label=" GSTIN :"
                label-placement="floating" fill="outline" maxlength="15"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="mobile" formControlName="mobile" name="mobile" type="text" label=" Mobile Number:"
                label-placement="floating" fill="outline" maxlength="10"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="12">
            <select class="select" [(ngModel)]="country" formControlName="country" name="country"
              label-placement="floating" fill="outline" (change)="onCountryChange()">
              <option value="0"> --- Country --- </option>
              <option *ngFor="let country of countries$ | async" [value]="country.countryid">
                {{ country.countryname }}
              </option>

            </select>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <select class="select" [(ngModel)]="state" formControlName="state" name="state" label-placement="floating"
              fill="outline" (change)="onStateChange()">
              <option value="0"> --- State --- </option>
              <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                {{ state.statename }}
              </option>
            </select>
          </ion-col>
          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <select class="select" [(ngModel)]="district" formControlName="district" name="district"
              label-placement="floating" fill="outline">
              <option value="0"> --- District --- </option>
              <option *ngFor="let district of districts$ | async" [value]="district.districtid">
                {{ district.districtname }}
              </option>
            </select>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="pincode" formControlName="pincode" type="tel" name="pincode" label=" PinCode  :"
                label-placement="floating" fill="outline" maxlength="6"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="12" size-lg="9" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="address" formControlName="address" name="address" type="text"
                label="Full Address :" label-placement="floating" fill="outline"></ion-input>
            </ion-row>
          </ion-col>

        </ion-row>

        <ion-row style="float: right;margin-top: 10px;">
          <ion-button type="submit">Save</ion-button>
          <ion-button (click)="closePopover()">Close</ion-button>
        </ion-row>

      </form>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-popover class="menu" trigger="menu" side="bottom" alignment="end">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-icon name="document"></ion-icon>
      <ion-icon name="print-outline"></ion-icon>
      <ion-icon (click)="onNew()" name="person-add-outline"></ion-icon>
    </ion-content>
  </ng-template>
</ion-popover>