<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>DC-IN Window</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">DC-OUT Window</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
                <ion-row>
                  <ion-input  [(ngModel)]="voucherNumber" formControlName="voucherNumber"  name="vouchno" type="text"
                    label="Voucher No. :" label-placement="floating" fill="outline"></ion-input>
                    <div *ngIf="form && form.get('voucherNumber')?.hasError('required') && form.get('voucherNumber').touched" class="error-message">
                      Voucher Number is required.
                    </div>
                </ion-row>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="date" formControlName="date"  name="datetype" type="date" label=" Date :"
                    label-placement="floating" fill="outline"></ion-input>
                    <div *ngIf="form && form.get('date')?.hasError('required') && form.get('date').touched" class="error-message">
                      Date is required.
                    </div>
                </ion-row>
              </ion-col>

              <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
                <select [(ngModel)]="supplier" formControlName="supplier"  name="suppliertype">
                  <option  value="">---Select Suppliers ---</option>
                  <option value="2">Nirbahy</option>
                  <option value="3">Yogesh</option>
                </select>
                <div *ngIf="form && form.get('supplier')?.hasError('required') && form.get('supplier').touched" class="error-message">
                  Supplier is required.
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
                <select [(ngModel)]="referenceNumber" formControlName="referenceNumber"  name="referNumber">
                  <option  value="">
                    --Select Reference No. --</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
                <div *ngIf="form && form.get('referenceNumber')?.hasError('required') && form.get('referenceNumber').touched" class="error-message">
                  Reference Number is required.
                </div>
              </ion-col>

              <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
                <select [(ngModel)]="payment" formControlName="payment"  name="pty">
                  <option  value="">---Select Cash/Credit ---</option>
                  <option value="2">Cash</option>
                  <option value="3">Credit</option>
                </select>
                <div *ngIf="form && form.get('payment')?.hasError('required') && form.get('payment').touched" class="error-message">
                  Payment is required.
                </div>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
                <ion-row>
                  <ion-textarea  [(ngModel)]="remark" formControlName="remark"  name="rmark" type="text" label="Remark :"
                    label-placement="floating" fill="outline"></ion-textarea>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 10px;">
              <div class="scroll-container">
                <table>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Item Code</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Discount%</th>
                    <th>Discount Amount</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>Total</th>
                    <th>Action</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <input class="table_input" type="text">
                    </td>
                    <td>
                      <select class="table_select" aria-label="Default select example" id="transaction">
                        <option selected>--Select--</option>
                        <option value="1">Credit</option>
                        <option value="2">Cash</option>
                      </select>
                    </td>
                    <td>1</td>
                    <td>100</td>
                    <td>
                      <input class="table_input" type="text">
                    </td>
                    <td>12</td>
                    <td>18</td>
                    <td>18</td>
                    <td>110</td>
                    <td>
                      <ion-icon class="create" name="create"></ion-icon>
                      <ion-icon class="delete" name="trash"></ion-icon>
                    </td>
                  </tr>
                </table>
              </div>
            </ion-row>

                <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
                  <ion-button>New</ion-button>
                  <ion-button type="submit">Save</ion-button>
                  <ion-button>Delete</ion-button>
                  <ion-button>Preview</ion-button>
                  <ion-button>Close</ion-button>
                </ion-row>
              
             
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>