

<ion-content>
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Pending AMC</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <ion-row >
            <ion-col size-lg="8" size-md="4" size-sm="6" size="6" style="margin-top: 10px;">
              <ion-radio style="margin-right: 10px;" color="warning" value="view_sale" name="month" labelPlacement="end"
                alignment="start">Expire</ion-radio>
              <ion-radio style="margin-right: 10px;" color="warning" value="view_sale" name="quartly"
                labelPlacement="end" alignment="start">0-20 Days</ion-radio>
              <ion-radio style="margin-right: 10px;" color="warning" value="view_sale" name="year" labelPlacement="end"
                alignment="start">30-60
                Days</ion-radio>
              <ion-radio style="margin-right: 10px;" color="warning" value="view_sale" name="year" labelPlacement="end"
                alignment="start">60-180
                Days</ion-radio>
            </ion-col>

            <ion-col size-lg="4" size-md="8" size-sm="6" size="6">
              <ion-row>
                <ion-col size-lg="5" size-md="6" size-sm="6" size="12">
                  <ion-row>
                    <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date" label=" From Date  :"
                      label-placement="floating" fill="outline"></ion-input>
                  </ion-row>
                </ion-col>

                <ion-col size-lg="5" size-md="6" size-sm="6" size="12">
                  <ion-row>
                    <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                      label-placement="floating" fill="outline"></ion-input>

                  </ion-row>
                </ion-col>

                <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
                  <ion-button  expand="block">Ok</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
           
          </ion-row>
          <ion-row>
            <ion-searchbar class="custom"></ion-searchbar>
          </ion-row>
          <ion-row class="Executive">
            <div style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;">
              <table style="width: 100%;overflow-x:auto;overflow-y: 
              auto;">
                <tr>
                  <th>Sr.No.</th>
                  <th>AMC Id</th>
                  <th>AMC Date</th>
                  <th>Customer Code</th>
                  <th>Customer Name</th>
                  <th>Bill Number</th>
                  <th>Renew Date</th>
                  <th>Service Type</th>
                  <th>Service Coverage</th>
                  <th>Item Name</th>
                  <th>Selling Price</th>
                  <th>AMC Type</th>
                  <th>AMC Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let amcs of amc$ | async; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{amcs.amc_id}}</td>
                  <td>{{amcs.amc_date}}</td>
                  <td>{{amcs.cust_code}}</td>
                  <td>{{amcs.cust_name}}</td>
                  <td>{{amcs.bill_number}}</td>
                  <td>{{amcs.renew_date}}</td>
                  <td>{{amcs.service_type}}</td>
                  <td>{{amcs.servic_coverage}}</td>
                  <td>{{amcs.itemname}}</td>
                  <td>{{amcs.saler_price}}</td>
                  <td>{{amcs.amc_type}}</td>
                  <td>{{amcs.amc_period}}</td>
                  
                  <td class="Action">
                    <ion-icon color="danger" icon-only name="trash"></ion-icon>
                    <ion-icon color="primary" icon-only name="create"></ion-icon>
                  </td>
                </tr>
               
                <!-- Add more rows with dummy data as needed -->
              </table>
              
            </div>
          </ion-row>

          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
           
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>