<ion-header class="toolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Customer</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-item lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title>Add Customer</ion-title>
            </ion-item>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row style="justify-content: right;">
            <ion-icon id="left-start" size="large" name="ellipsis-vertical-outline"></ion-icon>
            <ion-popover trigger="left-start" size="auto" side="left" alignment="start">
              <ng-template>
                <ion-button style="color: black;" size="small" color="undefined">Delete</ion-button>
                <ion-button style="color: black;" size="small" color="undefined">Edit</ion-button>
                <ion-button style="color: black; " size="small" color="undefined">Save</ion-button>
              </ng-template>
            </ion-popover>
          </ion-row>

          <ion-row>
            <ion-label style="font-size: 25px; font-weight: bold;">Contact Information :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Name :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!--   <ion-item lines="none">
                <ion-label class="label-width">Name :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>-->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Customer Code :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Customer Code :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->

            </ion-col>
          </ion-row>

          <!-- Second Row -->
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" GSTIN :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">GSTIN :</ion-label>
                <ion-input class="input-width"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <!-- <ion-row>
                <ion-select  color="warning" label="Group Name:" label-placement="floating" fill="outline">
                  <ion-select-option value="daimond">Daimond</ion-select-option >
                  <ion-select-option  value="star">Star</ion-select-option >
                  <ion-select-option  value="silver">Silver</ion-select-option >
                </ion-select>
              </ion-row> -->
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Group Name:</ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="India">Select Group
                  Name</option>
                <option value="daimond">Daimond</option>
                <option value="star">Star</option>
                <option value="silver">Silver</option>
              </select>
              <!-- </ion-item> -->

            </ion-col>



          </ion-row>

          <!-- Third Row -->
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Opening Balance :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Opening Bal. :</ion-label>
                <ion-input class="input-width"></ion-input>
              </ion-item> -->

            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Closing Balance :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Closing Bal. :</ion-label>
                <ion-input class="input-width"></ion-input>
              </ion-item> -->
            </ion-col>

          </ion-row>

          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Address :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="4" size-lg="6" size-md="6" size-sm="12">
              <!-- <ion-item lines="none"> -->
              <!-- <ion-label class="label-width">Country :</ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="India">Select Country
                </option>
                <option value="India">India</option>
                <option value="UK">UK</option>
                <option value="USA">USA</option>
              </select>
              <!-- </ion-item> -->
            </ion-col>
            <ion-col class="row" size="4" size-lg="6" size-md="6" size-sm="12">
              <!-- <ion-item lines="none">
                <ion-label class="label-width">State :</ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="--Select--">Select
                  State</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu
                </option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Delhi">Delhi</option>
                <option value="Puducherry">Puducherry</option>
              </select>
              <!-- </ion-item> -->
            </ion-col>
            <ion-col class="row" size="4" size-lg="6" size-md="6" size-sm="12">
              <!-- <ion-item lines="none">
                <ion-label class="label-width">City :</ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="--Select--">Select
                  City</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Delhi">Delhi</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Chennai">Chennai</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Pune">Pune</option>
                <option value="Ahmedabad">Ahmedabad</option>
                <option value="Jaipur">Jaipur</option>
                <option value="Lucknow">Lucknow</option>
                <!-- Add more cities as needed -->
              </select>

              <!-- </ion-item> -->
            </ion-col>
          </ion-row>

          <ion-row>

            <ion-col class="row" size="12">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Full Address :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Address :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label=" PinCode  :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">PinCode :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label=" Mobile Number :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Mobile No. :</ion-label>
                <ion-input class="input-width" type="number"></ion-input>
              </ion-item> -->
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="email" label="Email :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Email id :</ion-label>
                <ion-input class="input-width" type="email"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label=" WhatsApp Number :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Whatshapp No.:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>

          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Registration :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>

            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label=" Tax Deducation No. :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Tax Deducation No:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>


            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label="Aadhar No.:"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Aadhar No. :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" PAN No. :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">PAN Code :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>

            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Udayog Aadhar No. :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Udayog Aadhar No :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>
          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Bnak Details :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label="A/C Number :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">A/c Number:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="IFSC Code :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">IFSC CODE:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Bank Name :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">Bank Name:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Branch Name :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">Branch:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>
          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Other Details :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Credit Period :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">Credit Period:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Credit Limit :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">Crdit Limit:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">Sales Person:</ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="India">Select Sales
                  Person</option>
                <option value="India">Deepak</option>
                <option value="UK">Abhishel</option>
                <option value="USA">Ravi</option>
              </select>
              <!-- </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Card Number :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">Card Number:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Opening Point :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">Opening Point:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Closing Point :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width ">Closing Point:</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>

          <ion-row style="justify-content: right;margin-top: 20px;">
            <ion-button color="warning">Save</ion-button>
            <ion-button color="warning">Cancel</ion-button>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>