
.container ion-input {
    min-height: 35px;
    color: goldenrod;
    font-weight: 400;
    outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}

.container ion-select {
    min-height: 35px;
    color: goldenrod;
    font-weight: 400;
    outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}

.container select {
    min-height: 35px;
    color: goldenrod;
    font-weight: 400;
    //border-color: goldenrod;
    width: 100%;
    text-align: left
}
