

<ion-content >
  <div class="Customer">
    <ion-card>
      <ion-card-content>

        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Customer</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
        
            <ion-row class="headinglabel">
              <ion-label style="font-size: 18px;">Contact Information :</ion-label><span
                style="width: 100%; height: 2px;"></span>
            </ion-row>
            <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
            <ion-row>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>

                  <ion-input [(ngModel)]="cname" type="text" label=" Name :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline" color="dark" class="sign_input"></ion-input>
                </ion-row>

              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="customercode" type="text" label=" Customer Code :"
                    label-placement="floating" [ngModelOptions]="{standalone: true}" fill="outline" maxlength="5" ></ion-input>

                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="gstin" type="text" label=" GSTIN :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline" maxlength="15"  ></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <select class="select-width" fill="outline">
                  <option value="">
                    Select Group Name</option>
                  <option value="daimond">Daimond</option>
                  <option value="star">Star</option>
                  <option value="silver">Silver</option>
                </select>

              </ion-col>
            </ion-row>

            <!-- Third Row -->
            <ion-row>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="openingbalance" class="sign_input" type="text" label=" Opening Balance :"
                    label-placement="floating" [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>

                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="closingbalance " type="text" label=" Closing Balance :"
                    label-placement="floating" [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>

                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="phone" type="tel" label=" Mobile Number :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline" maxlength="10"  ></ion-input>

                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="whatshappnumber" type="number" label=" Whatsapp Number :"
                    label-placement="floating" [ngModelOptions]="{standalone: true}" fill="outline" maxlength="10" ></ion-input>

                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="email" type="email" label="Email :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>

                </ion-row>

              </ion-col>

            </ion-row>

            <ion-row class="headinglabel" style="margin: 10px auto;">
              <ion-label style="font-size: 18px; font-weight: bold;">Address :</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
                "></span>
            </ion-row>
           
            <ion-row>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="12">
                <select [(ngModel)]="selectedOption" name="country" label-placement="floating" fill="outline" (change)="onCountryChange()">
                  <option *ngFor="let country of countries$ | async" [value]="country.countryid">
                    {{ country.countryname }}
                  </option>
                  
                </select>
              </ion-col>
              
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6" *ngIf="selectedOption">
                <select [(ngModel)]="selectedState" name="state" label-placement="floating" (change)="onStateChange()">
                  <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                    {{ state.statename }}
                  </option>
                </select>
              </ion-col>
           
            
           
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                
                <select class="select-width" [(ngModel)]="selectedDistrict" name="district" label-placement="floating" fill="outline"
                  [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let district of (districts$ | async)" [value]="district.districtid" >
                    {{ district.districtname }}
                  </option>
                </select>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="pincode" type="tel" label=" PinCode  :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline" ></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="12" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="fullname" type="text" label="Full Address :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="headinglabel" style="margin: 10px auto;">
              <ion-label style="font-size: 18px; font-weight: bold;">Registration :</ion-label><span style="width: 100%; height: 2px; background-image: linear-gradient(to right, #00b4db, #0083b0);
                "></span>
            </ion-row>

            <ion-row>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="taxnumber" type="text" label=" Tax Deducation No. :"
                    label-placement="floating" [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="adharnumber" type="tel" label="Aadhar No.:" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline" maxlength="12"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="panumber" type="text" label=" PAN No. :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="udayognumber" type="text" label=" Udayog Aadhar No. :"
                    label-placement="floating" [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

            </ion-row>


            <ion-row class="headinglabel" style="margin: 10px auto;">
              <ion-label style="font-size: 18px; font-weight: bold;">Bank Details :</ion-label><span style="width: 100%; height: 2px; background-image: linear-gradient(to right, #00b4db, #0083b0);
                "></span>
            </ion-row>

            <ion-row>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="accountnumber" type="number" label="A/C Number :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="ifsc" type="text" label="IFSC Code :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="bankname" type="text" label="Bank Name :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="branchname" type="text" label=" Branch Name :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

            </ion-row>

            <ion-row class="headinglabel" style="margin: 10px auto;">
              <ion-label style="font-size: 18px; font-weight: bold;">Other Details :</ion-label><span style="width: 100%; height: 2px; background-image: linear-gradient(to right, #00b4db, #0083b0);
                "></span>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="creditperiod" type="tel" label=" Credit Period :" label-placement="floating"
                    [ngModelOptions]="{ standalone: true }" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="creditlimit" type="text" label=" Credit Limit :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <select fill="outline" class="select-width" [(ngModel)]="selectedOption"
                  [ngModelOptions]="{standalone: true}">
                  <option value="">
                    Select Sales Person</option>
                  <option value="">Deepak</option>
                  <option value="">Abhishek</option>
                  <option value="">Ravi</option>
                  <option value="">Yogesh</option>
                </select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="cardnumber" type="text" label=" Card Number :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="openingpoint" type="text" label="Opening Point :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>

              </ion-col>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="closingpoint" type="text" label="Closing Point :" label-placement="floating"
                    [ngModelOptions]="{standalone: true}" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>
        
            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button>New</ion-button>
              <ion-button type="submit">Save</ion-button>
              <ion-button>Delete</ion-button>
              <ion-button>Preview</ion-button>
              <ion-button>Close</ion-button>
            </ion-row>
          </form>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>