<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back" ></ion-icon>
              <ion-title style="text-align: center;">User Edit</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row style="justify-content: center;">

            <ion-searchbar class="custom"></ion-searchbar>
            <ion-row style="margin: 0 auto; width: 100%;">
              <div style="overflow:auto; width: 100%;">
                <table style="width:1500px;">
                  <tr>
                    <th style="width: 50px;">Sr. No.</th>
                    <th style="width: auto;">UserCode</th>
                    <th style="width: auto;">UserName</th>
                    <th style="width: auto;"> Father Name</th>
                    <th style="width: auto;">Mobile </th>
                    <th style="width: auto;">Email</th>
                    <th style="width: auto;">Role</th>
                    <th style="width: auto;">Action</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>User001</td>
                    <td>John Doe</td>
                    <td>Michael Doe</td>
                    <td>123-456-7890</td>
                    <td>john.doe@example.com</td>
                    <td>Admin</td>
                    <td>
                      <!-- Add action buttons or links for the first row here -->
                      <ion-icon name="create-outline"></ion-icon>
                      <ion-icon name="trash-outline"></ion-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>User002</td>
                    <td>Jane Smith</td>
                    <td>William Smith</td>
                    <td>987-654-3210</td>
                    <td>jane.smith@example.com</td>
                    <td>User</td>
                    <td>
                      <!-- Add action buttons or links for the second row here -->
                      <ion-icon name="create-outline"></ion-icon>
                      <ion-icon name="trash-outline"></ion-icon>
                    </td>

                  </tr>
                </table>
              </div>
            </ion-row>

          </ion-row>



          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button>New</ion-button>
              <ion-button type="submit" id="open-loading">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Editing..." [duration]="1000"></ion-loading>
              <!-- <ion-button>Delete</ion-button> -->
              <!-- <ion-button>Preview</ion-button> -->
              <ion-button>Close</ion-button>
            </ion-row>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>