.dekstop-header a {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: goldenrod;
  font-weight: 700;
  margin-left: 25px;
}

.drop a {
  text-transform: uppercase;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
  color: goldenrod;
  font-weight: 700;
  margin-left: 25px;
}


.dekstop-header item {
  list-style: none;
}

select {
  display: flex;
  flex-wrap: wrap;
  border: none;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: goldenrod;
  font-weight: 700;
  background-color: #000000;
}

/* Style the dropdown arrow (not supported in all browsers) */
select::-ms-expand {
  display: none;
}

/* Stysle the options */

select option {
  font-size: 16px;
  padding: 20px;

  background-color: #000000;
  color: goldenrod;
}


/* Style the selected option */
select option:checked {
  background-color: #007bff;
  color: #fff
}

.dropdown {
  transition: border-bottom 0.3s ease;
  /* Add a smooth transition effect */

}

.dropdown :hover {
  color: #fff;
  border-bottom: rgb(255, 255, 255) solid 2px;
  border-width: 50%;
}

.drop img {
  height: 70px;
  width: 70px;
}

.mymenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
}