.dekstop-header a {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: goldenrod;
  font-weight: 700;
  margin-left: 25px;
  text-align: center;

}

.dekstop-header item {
  list-style: none;
}

select {
  display: flex;
  flex-wrap: wrap;
  border: none;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: goldenrod;
  font-weight: 700;
  margin-left: 15px;
}

/* Style the dropdown arrow (not supported in all browsers) */
select::-ms-expand {
  display: none;
}

/* Stysle the options */

select option {
  font-size: 16px;
  padding: 20px;

  background-color: #f0f0f0;
  color: #333;
}


/* Style the selected option */
select option:checked {
  background-color: #007bff;
  color: #fff
}

.dropdown{
  transition: border-bottom 0.3s ease; /* Add a smooth transition effect */

}
.dropdown :hover {
    color: rgb(0, 0, 0);
    border-bottom:  grey solid 2px  ;
border-width: 50%;
}
.drop img{
  height: 100px;
  width: 100px;
}
