
<ion-header class="dekstop-header">
  <ion-toolbar>
   
    <div class="mymenu">
      <!-- <div class="drop">  
        <img src="../../assets/ktechno-removebg-preview.png" alt="">
      </div>  -->
      <div class="drop2">
        <div class="segmentlabel">
          <ion-label (click)="toggleSegment('segment1')">Company</ion-label>
          <ion-label (click)="toggleSegment('segment2')">Master</ion-label>
          <ion-label (click)="toggleSegment('segment3')">Lead Manager</ion-label>
          <ion-label (click)="toggleSegment('segment4')">Service Invoicing</ion-label>
          <ion-label (click)="toggleSegment('segment5')">Inventory</ion-label>
          <ion-label (click)="toggleSegment('segment6')">Compliance</ion-label>
          <ion-label (click)="toggleSegment('segment7')">Tools</ion-label>
          <ion-label (click)="toggleSegment('segment8')">Transaction</ion-label>
          <ion-label (click)="toggleSegment('segment9')">Others</ion-label>
          <ion-label (click)="toggleSegment('segment10')">Support</ion-label>

        </div>
        

<!-- <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="master">Master</option>
          <option value="add-customer">Add Customer</option>
          <option value="add-vendor">Add Vender</option>
          <option value="add-item">Add Item</option>
          <option value="add-service">Add Service</option>
          <option value="add-executive">Add Executive</option>
          <option value="hsn-manager">HSN Manager</option>
          <option value="item-master">Item Master</option>
          <option value="add-prospect">Add Prospect</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="lead-manager">Lead</option>
          <option value="add-lead">Add Lead</option>
          <option value="follow-up">Follow Up</option>
          <option value="transfer-lead">Transfer Lead</option>
          <option value="view-lead">View Lead</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="quote-manager">Quote</option>
          <option value="add-quot">Add Quotation</option>
          <option value="view-quot">View Quotation</option>
          <option value="update-quot">Update Quotation</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="challan-manager">Challan</option>
          <option value="dc-in">DC-IN</option>
          <option value="dc-out">DC-OUT</option>
          <option value="dc-in-report">DC-IN Report</option>
          <option value="dc-out-report">DC-OUT Report</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="sales-manager">Sales</option>
          <option value="add-sale">Add Sale</option>
          <option value="add-purchase">Add Purchase</option>
          <option value="view-sale">View Sales</option>
          <option value="view-purchase">View Purchase</option>
          <option value="reports">Reports</option>

        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="stock-manager">Stock </option>
          <option value="itemledger">Item Ledger Report </option>
          <option value="stockledger">Stock Ledger</option>
          <option value="serviceledger">Service Ledger</option>
          <option value="groupwisereport">Group Wise Report</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="account-manager">Account </option>
          <option value="addaccount">Add Account </option>
          <option value="accountreport">Account Report</option>
        </select>
      </div>

      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="amc-manager">AMC</option>
          <option value="createamc">Creat AMC</option>
          <option value="amcreport">AMC Report</option>
          <option value="pendingamc">Pending AMC</option>
        </select>
      </div>
      <div class="drop1">
        <ion-button class="custom-button" [routerLink]="['/login']" color="success">Log Out</ion-button>
      </div>
    </div> -->
</div>
</div>
</ion-toolbar>

<div>
  <ion-row class="segmentbutton" style="justify-content: left;">
    <!-- Master -->
    <ion-segment *ngIf="activeSegment === 'segment2'">
      <ion-segment-button value="add-customer" routerLink="/add-customer">
        Add Customer
      </ion-segment-button>
      <ion-segment-button value="add-vendor" routerLink="/add-vendor">
        Add Vendor
      </ion-segment-button>
      <ion-segment-button value="add-item" routerLink="/add-item">
        Add Item
      </ion-segment-button>
      <ion-segment-button value="add-service" routerLink="/add-service">
        Add Service
      </ion-segment-button>
      <ion-segment-button value="add-executive" routerLink="/add-executive">
        Add Exicutive
      </ion-segment-button>
      <ion-segment-button value="hsn-manager" routerLink="/hsn-manager">
        HSN Manager
      </ion-segment-button>
      <ion-segment-button value="add-prospect" routerLink="/add-prospect">
        Add Prospect
      </ion-segment-button>
      <ion-segment-button value="item-master" routerLink="/item-master">
        Item Master
      </ion-segment-button>
      <ion-segment-button value="amc-manager" routerLink="/amc-manager">
        AMC
      </ion-segment-button>
    </ion-segment>

    <!-- Accounts -->

    <ion-segment *ngIf="activeSegment === 'segment3'">
      <ion-segment-button value="choice1" routerLink="/add-lead">
        Add Lead
      </ion-segment-button>
      <ion-segment-button value="choice2" routerLink="/view-lead">
        View Lead
      </ion-segment-button>
      <ion-segment-button value="choice3">
        Choice 3
      </ion-segment-button>
    </ion-segment>

    <!-- Service Invoicing -->
    <ion-segment *ngIf="activeSegment === 'segment4'">
      <ion-segment-button value="item1">
        Item 1
      </ion-segment-button>
      <ion-segment-button value="item2">
        Item 2
      </ion-segment-button>
      <ion-segment-button value="item3">
        Item 3
      </ion-segment-button>
    </ion-segment>

    <!-- Inventory -->
    <ion-segment *ngIf="activeSegment === 'segment5'">
      <ion-segment-button value="item1">
        Item 4
      </ion-segment-button>
      <ion-segment-button value="item2">
        Item 5
      </ion-segment-button>
      <ion-segment-button value="item3">
        Item 6
      </ion-segment-button>
    </ion-segment>

    <!-- Compliance -->
    <ion-segment *ngIf="activeSegment === 'segment6'">
      <ion-segment-button value="item1">
        Item 7
      </ion-segment-button>
      <ion-segment-button value="item2">
        Item 8
      </ion-segment-button>
      <ion-segment-button value="item3">
        Item 9
      </ion-segment-button>
    </ion-segment>


    <!-- Tools -->
    <ion-segment *ngIf="activeSegment === 'segment7'">
      <ion-segment-button value="item1">
        Item 10
      </ion-segment-button>
      <ion-segment-button value="item2">
        Item 11
      </ion-segment-button>
      <ion-segment-button value="item3">
        Item 12
      </ion-segment-button>
    </ion-segment>

    <!-- Transaction -->
    <ion-segment *ngIf="activeSegment === 'segment8'">
      <ion-segment-button value="item1">
        Item 13
      </ion-segment-button>
      <ion-segment-button value="item2">
        Item 14
      </ion-segment-button>
      <ion-segment-button value="item3">
        Item 15
      </ion-segment-button>
    </ion-segment>

    <!-- Others -->
    <ion-segment *ngIf="activeSegment === 'segment9'">
      <ion-segment-button value="item1">
        Item 16
      </ion-segment-button>
      <ion-segment-button value="item2">
        Item 17
      </ion-segment-button>
      <ion-segment-button value="item3">
        Item 18
      </ion-segment-button>
    </ion-segment>

    <!-- Support -->
    <ion-segment *ngIf="activeSegment === 'segment10'">
      <ion-segment-button value="item1">
        Item 20
      </ion-segment-button>
      <ion-segment-button value="item2">
        Item 21
      </ion-segment-button>
      <ion-segment-button value="item3">
        Item 22
      </ion-segment-button>
    </ion-segment>

    <ion-segment *ngIf="activeSegment === 'segment1'">
      <ion-segment-button value="item1">
        New Company
      </ion-segment-button>
      <ion-segment-button value="item2">
        Open Company
      </ion-segment-button>
      <ion-segment-button value="item3">
        Close Company
      </ion-segment-button>
      <ion-segment-button value="item3">
        Home
      </ion-segment-button>
    </ion-segment>
  </ion-row>
</div>

</ion-header>

<ion-header class="toolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-item lines="none" [routerLink]="'/home'">
        <ion-icon name="home"></ion-icon>
        <ion-title>Dashboard</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list id="inbox-list">

      <ion-menu-toggle auto-hide="false">
        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected" routerLink="./master">
          <ion-icon aria-hidden="true" name="globe" slot="start"></ion-icon>
          <ion-label>Master</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="./lead-manager">
          <ion-icon aria-hidden="true" slot="start" name="layers"></ion-icon>
          <ion-label>Lead Manger</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/quote-manager">
          <ion-icon aria-hidden="true" slot="start" name="desktop"></ion-icon>
          <ion-label>Quote Manager</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/challan-manager">
          <ion-icon aria-hidden="true" slot="start" name="desktop"></ion-icon>
          <ion-label>Challan Manager</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="./sales-manager">
          <ion-icon aria-hidden="true" slot="start" name="cart"></ion-icon>
          <ion-label>Sales Manager</ion-label>
        </ion-item>
        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/stock-manager">
          <ion-icon aria-hidden="true" slot="start" name="clipboard"></ion-icon>
          <ion-label>Stock Manager</ion-label>
        </ion-item>
        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/account-manager">
          <ion-icon aria-hidden="true" slot="start" name="calculator"></ion-icon>
          <ion-label>Account Manager</ion-label>
        </ion-item>
        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/amc-manager">
          <ion-icon aria-hidden="true" slot="start" name="newspaper"></ion-icon>
          <ion-label>AMC Manager</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected" routerLink="/login">
          <ion-icon aria-hidden="true" slot="start" name="key"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>

      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>