<ion-header class="dekstop-header">
  <ion-toolbar>
    <div class="mymenu">
      <div class="drop">
        <img src="../../assets/ktechno-removebg-preview.png" alt="">
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="master">Master</option>
          <option value="add-customer">Add Customer</option>
          <option value="add-vendor">Add Vender</option>
          <option value="add-item">Add Item</option>
          <option value="add-service">Add Service</option>
          <option value="add-executive">Add Executive</option>
          <option value="hsn-manager">HSN Manager</option>
          <option value="item-master">Item Master</option>
          <option value="add-prospect">Add Prospect</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="lead-manager">Lead</option>
          <option value="add-lead">Add Lead</option>
          <option value="follow-up">Follow Up</option>
          <option value="transfer-lead">Transfer Lead</option>
          <option value="view-lead">View Lead</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="quote-manager">Quote</option>
          <option value="add-quot">Add Quotation</option>
          <option value="view-quot">View Quotation</option>
          <option value="update-quot">Update Quotation</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="challan-manager">Challan</option>
          <option value="dc-in">DC-IN</option>
          <option value="dc-out">DC-OUT</option>
          <option value="dc-in-report">DC-IN Report</option>
          <option value="dc-out-report">DC-OUT Report</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="sales-manager">Sales</option>
          <option value="add-sale">Add Sale</option>
          <option value="add-purchase">Add Purchase</option>
          <option value="view-sale">View Sales</option>
          <option value="view-purchase">View Purchase</option>
          <option value="reports">Reports</option>

        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="stock-manager">Stock </option>
          <option value="itemledger">Item Ledger Report </option>
          <option value="stockledger">Stock Ledger</option>
          <option value="serviceledger">Service Ledger</option>
          <option value="groupwisereport">Group Wise Report</option>
        </select>
      </div>
      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="account-manager">Account </option>
          <option value="addaccount">Add Account </option>
          <option value="accountreport">Account Report</option>
        </select>
      </div>

      <div class="dropdown">
        <select (change)="navigateToRoute($event)">
          <option selected value="amc-manager">AMC</option>
          <option value="createamc">Creat AMC</option>
          <option value="amcreport">AMC Report</option>
          <option value="pendingamc">Pending AMC</option>
        </select>
      </div>
      <div class="drop1">
        <ion-button class="custom-button" [routerLink]="['/login']" color="success">Log Out</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-menu side="start" contentId="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-item lines="none" [routerLink]="'/home'">
        <ion-icon name="home"></ion-icon>
        <ion-title>Dashboard</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list id="inbox-list">

      <ion-menu-toggle auto-hide="false">
        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected" routerLink="./master">
          <ion-icon aria-hidden="true" name="globe" slot="start"></ion-icon>
          <ion-label>Master</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="./lead-manager">
          <ion-icon aria-hidden="true" slot="start" name="layers"></ion-icon>
          <ion-label>Lead Manger</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/quote-manager">
          <ion-icon aria-hidden="true" slot="start" name="desktop"></ion-icon>
          <ion-label>Quote Manager</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/challan-manager">
          <ion-icon aria-hidden="true" slot="start" name="desktop"></ion-icon>
          <ion-label>Challan Manager</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="./sales-manager">
          <ion-icon aria-hidden="true" slot="start" name="cart"></ion-icon>
          <ion-label>Sales Manager</ion-label>
        </ion-item>
        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/stock-manager">
          <ion-icon aria-hidden="true" slot="start" name="clipboard"></ion-icon>
          <ion-label>Stock Manager</ion-label>
        </ion-item>
        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/account-manager">
          <ion-icon aria-hidden="true" slot="start" name="calculator"></ion-icon>
          <ion-label>Account Manager</ion-label>
        </ion-item>
        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected"
          routerLink="/amc-manager">
          <ion-icon aria-hidden="true" slot="start" name="newspaper"></ion-icon>
          <ion-label>AMC Manager</ion-label>
        </ion-item>

        <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected" routerLink="/login">
          <ion-icon aria-hidden="true" slot="start" name="key"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>

      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>