.dekstop-header a {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: goldenrod;
  font-weight: 700;
  margin-left: 25px;
  width: 100px;

}

.drop a {
  text-transform: uppercase;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
  color: goldenrod;
  font-weight: 700;
  margin-left: 25px;

}

.drop ion-label {
  text-transform: uppercase;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
  color: goldenrod;
  font-weight: 700;
  margin-left: 25px;
}


.dekstop-header item {
  list-style: none;
}

select {
  display: flex;
  flex-wrap: wrap;
  border: none;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: goldenrod;
  font-weight: 700;
  // background-color: #000000;
}

/* Style the dropdown arrow (not supported in all browsers) */
select::-ms-expand {
  display: none;
}

/* Stysle the options */

select option {
  font-size: 16px;
  padding: 20px;

  // background-color: #000000;
  color: goldenrod;
}


/* Style the selected option */
select option:checked {
  background-color: #007bff;
  color: #fff
}

.dropdown {
  transition: border-bottom 0.3s ease;
  // width: 140px;

}

.dropdown :hover {
  color: #000;
  border-bottom: rgb(255, 255, 255) solid 2px;
}

.drop img {
  height: 50px;
  width: 50px;
  text-align: right;
}

.mymenu {
  height: 60px;
  // padding-top: 15px;
  // display: flex;
  justify-content: space-around;
  //align-items: start;
  //background-color: rgb(121, 121, 155);
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  //background-color:  linear-gradient(#c6ffdd, #fbd786, #f7797d);

}

ion-toolbar {
  background-image: linear-gradient(to right, #434343 0%, black 100%);

}

@media(max-width:950px) {
  .mymenu {
    visibility: hidden;
    display: block;
  }
}

.drop1 {
  margin-right: 5px;
}

ion-segment {
  background-color: rgb(255, 255, 255);
  color: goldenrod;
  margin-top: 0px;
  width: 100%;
  text-align: left;
}

ion-segment-button {
  text-transform: uppercase;
  background: skyblue;
  border: 1px solid #000;
  //background-clip: text;
  // color: transparent;
  font-weight: bold;
  /* Adjust font styles as needed */
  /* Add any other styles you want */
  //background-color: black;
  min-height: 30px;
  text-decoration: none;
  color: #000000;
}

.segmentbutton {
  text-align: left;
}

.segmentlabel ion-label {
  // border: 2px solid goldenrod;
  padding: 5px 10px 5px 10px;
  // margin: 0px;
  // margin-bottom: 15px;
  // min-width: 150px;
  text-transform: uppercase;
  background: linear-gradient(to right, purple, black, blue, green);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  /* Adjust font styles as needed */
  /* Add any other styles you want */
  margin: 3px;
  text-decoration-line: initial 1px solid white;
}

.segmentlabel {
  --background-color: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

ion-toolbar {
  // height: 55px;
  --background-color: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

/* Remove hover effect for ion-segment-button */
ion-segment-button:hover {
  background: #fff;
  color: #000;
}

/* Remove hover effect for ion-segment itself */
ion-segment:hover {
  background-color: goldenrod, darkgoldenrod;

}

/* Remove the blue border on ion-segment-button when clicked */
.segmentbutton ion-segment-button:focus {
  outline: none;
}

.segmentlabel :hover {
  border-bottom: 2px solid black;
  border-top: 2px solid black;

  font-weight: bold;
  color: #007bff;
  direction: ltr;


}

.segment {
  width: 100%;
  // height: 30px;
}

.segment ion-label {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  border: 1px solid #000;
  //background-clip: text;
  // color: transparent;
  font-weight: bold;
  /* Adjust font styles as needed */
  /* Add any other styles you want */
  //background-color: black;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 3px 5px 3px 5px;
}

.segment select {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  border: 1px solid #000;
  //background-clip: text;
  // color: transparent;
  font-weight: bold;
  /* Adjust font styles as needed */
  /* Add any other styles you want */
  //background-color: black;
  text-decoration: none;
  color: rgb(255, 255, 255);
  max-width: 150px;
  max-height: 35px;
  padding: 5px 5px 4px 5px;
}

.segment option {
  text-transform: uppercase;
  background-color: #8e2de2;
  border-bottom: 1px solid #000;
  //background-clip: text;
  // color: transparent;
  font-weight: bold;
  /* Adjust font styles as needed */
  /* Add any other styles you want */
  //background-color: black;
  min-height: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: auto;
  padding: 2px 2px 2px 2px;
}

.segment ion-select {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  border: 1px solid #000;
  font-weight: bold;
  min-height: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: auto;
  padding: 0px 2px 0px 2px;
}


.segment ion-select-option {
  color: rgb(0, 0, 0);
}

ion-select::part(icon) {
  color: rgb(255, 255, 255);
}


ion-select::part(icon) {
  font-size: 28px;
}

.dropdown-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #000000;
  width: 100%;
}

/* Style the title button */
.dropdown-title {
  background: none;
  border: none;
  cursor: pointer;
  width: 70px;
  color: darkslateblue;
}

.dropdown-title :hover{
  color: #000;
}
/* Show the list when hovering over the title */
.dropdown:hover .dropdown-list {
  display: block;
  color: #333;
}

/* Style list items */
.dropdown-list li {
  padding: 8px;
  border-bottom: 1px solid #050505;
  color: #000;
  height: 100%;
  background: skyblue;

}

.dropdown-list a {
  text-decoration: none;
  color: #000000;

}

.dropdown-list li:hover {
  background: skyblue;
  width: 100%;
}
.dropdown{
  padding: 4px;
}
.dropdown img{
  height: 20px;
  width: 20px;
  margin-top: 10px;
}
.dropdown p{
  font-size: 14px;
}
.dropdown p :hover{
  color: #000;
}
.dropdown li{
  width: 100%;
}
.dropdown_menu{
  background-color: #fff;
}
.dropdown-list {
width: 160px;
background: skyblue;

}
.dropdown-list li{
  flex-wrap: nowrap;
  background: skyblue;
  color: #fff;
}
.right-dropdown{
   width: 100%;
   display: flex;
   flex-direction: column;
}
.right-dropdown a{
  background: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
  text-decoration: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 5px;
}
.right-dropdown a :hover{
color: #000;
background: rgb(185, 228, 229);

}
.drop_down{
  margin-left: 20px;
  margin-top: -15px;
}
.dropdown_menu{
  height: 50px;
  
}
.dropdown button{
 
  margin: 0px;
}
.desktop_menu{
  display: none;
  background-color: #fff;
  width: 140px;
  // height: 100%;
  margin-top: -25px;
}
.dropdown_menu{
  display: flex;
  justify-content: left;
  align-items: center;
}
.buttons{
  display: none;
}
.dropdown_div{
  display: flex;
  justify-content: left;
  align-items: center;
}
.dropdown_menu1{
  display: none;
}
@media(max-width:940px) {
.dropdown_menu1{
  display: block;
  visibility: visible;
}
}
@media(max-width:540px) {
  .dropdown_menu{
    display: block;
  }
  .dropdown_div{
    display: none;
    background-color: lightgray;
    width: 150px;
  }
  .dropdown-list{
    float: right;
    left: 100px;
    top: 0;
    background: fixed;
  }
  .desktop_menu{
    display: block;
    background-color: #fff;
  }
  .desktop_menu img{
    display: none;
    visibility: hidden;
  }
  .desktop_menu p{
    font-size: 18px;
  }
  .desktop_menu button{
    width: 100%;
  }
  .buttons{
    display: block;
    float: left;
    font-size: 30px;
  } 
}
