<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Account</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content class="child_window" [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Account</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
         
          <form  [formGroup]="form" (ngSubmit)="onSubmit()">

          <ion-row class="headinglabel">
            <ion-label style="font-size: 18px; font-weight: bold;">Account Information :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
              <ion-row>
                <ion-input  [(ngModel)]="acName" formControlName="acName" name="ac_Name" type="text" label=" Account Name :"
                  label-placement="floating"fill="outline"></ion-input>
                  <div *ngIf="form && form.controls['acName']?.hasError('required') && form.controls['acName'].touched" class="error-message">
                    Account Name is required.
                  </div>
              </ion-row>
            </ion-col>
            <ion-col  size="12" size-lg="3" size-md="6" size-sm="6">
              <ion-row>
                <ion-input  [(ngModel)]="acid" formControlName="acid" name="accountid" type="text" label=" Account ID :"
                  label-placement="floating" fill="outline"></ion-input>
                  <div *ngIf="form && form.controls['acid']?.hasError('required') && form.controls['acid'].touched" class="error-message">
                    Account Id is required.
                  </div>
              </ion-row>
            </ion-col>

            <ion-col  size="12" size-lg="3" size-md="6" size-sm="6">
              <ion-row>
                <ion-input  [(ngModel)]="actype" formControlName="actype" name="accounttype" type="text" label=" Account Type :"
                  label-placement="floating" fill="outline"></ion-input>
                  <div *ngIf="form && form.controls['actype']?.hasError('required') && form.controls['actype'].touched" class="error-message">
                    Account Type is required.
                  </div>
              </ion-row>
             
            </ion-col>
            <ion-col  size="12" size-lg="3" size-md="6" size-sm="6">
              <ion-row>
                <ion-input  [(ngModel)]="industry" formControlName="industry" name="industrytype" type="text" label=" Industry :" label-placement="floating"
                fill="outline"></ion-input>
                <div *ngIf="form && form.controls['industry']?.hasError('required') && form.controls['industry'].touched" class="error-message">
                  Industry is required.
                </div>
              </ion-row>
            </ion-col>

          </ion-row>

         
          <ion-row class="headinglabel">
            <ion-label style="font-size: 18px; font-weight: bold;">Contact Information :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
              <ion-row>
                <ion-input  [(ngModel)]="priycontact" formControlName="priycontact" name="primaryac" type="text" label=" Primary Contact Name :" label-placement="floating"
                fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col  size="12" size-lg="4" size-md="6" size-sm="12">
              <ion-row>
                <ion-input [(ngModel)]="email" formControlName="email" name="emails" type="Email" label=" Email :" label-placement="floating"
                fill="outline" ></ion-input>
              </ion-row>
            </ion-col>
            <ion-col  size="12" size-lg="4" size-md="6" size-sm="12">
              <ion-row>
                <ion-input [(ngModel)]="phone" formControlName="phone" name="mobileno" type="text" label=" Phone Number :" label-placement="floating"
                fill="outline"></ion-input>
                <div *ngIf="form && form.controls['phone']?.hasError('required') && form.controls['phone'].touched" class="error-message">
                  Phone Number is required.
                </div>
              </ion-row>
            </ion-col>

          </ion-row>
          <ion-row class="headinglabel">
            <ion-label style="font-size: 18px; font-weight: bold;">Account Manager Details:</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input  [(ngModel)]="acmanager" formControlName="acmanager" name="acmanage" type="text" label="Account Manager Name:"
                  label-placement="floating" fill="outline"></ion-input>
                  <div *ngIf="form && form.controls['acmanager']?.hasError('required') && form.controls['acmanager'].touched" class="error-message">
                    Acoount Manager is required.
                  </div>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input  [(ngModel)]="assignteam" formControlName="assignteam" name="assign" type="text" label="Assigned Team:"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>    
            </ion-col>
            <ion-col  size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input [(ngModel)]="acstatus" formControlName="acstatus" name="status" type="text" label="Account Status :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
         
          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>