<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Account</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content class="child_window" [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-item lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title>Add Account</ion-title>
            </ion-item>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row style="justify-content: right;">
            <ion-icon id="left-start" size="large" name="ellipsis-vertical-outline"></ion-icon>
            <ion-popover trigger="left-start" size="auto" side="left">
              <ng-template>
                <ion-button color="danger">Delete</ion-button>
                <ion-button  color="warning">Edit</ion-button>
                <ion-button   color="success">Save</ion-button>
              </ng-template>
            </ion-popover>
          </ion-row>

          <ion-row>
            <ion-label style="font-size: 18px; font-weight: bold;">Account Information :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Account Name :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col  size="12" size-lg="3" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Account ID :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>

            <ion-col  size="12" size-lg="3" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Account Type :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
             
            </ion-col>
            <ion-col  size="12" size-lg="3" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Industry :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>

          </ion-row>

         
          <ion-row>
            <ion-label style="font-size: 18px; font-weight: bold;">Contact Information :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Primary Contact Name :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col  size="12" size-lg="4" size-md="6" size-sm="12">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="Email" label=" Email :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col  size="12" size-lg="4" size-md="6" size-sm="12">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Phone Number :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-label style="font-size: 18px; font-weight: bold;">Account Manager Details:</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Account Manager Name:"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Assigned Team:"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>    
            </ion-col>
            <ion-col  size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Account Status :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
         
          <ion-row style="justify-content: right;margin-top: 20px;">
            <ion-button color="warning">New</ion-button>
            <ion-button color="warning">Save</ion-button>
            <ion-button color="warning">Delete</ion-button>
            <ion-button color="warning">Preview</ion-button>
            <ion-button color="warning">Close</ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>