<ion-content>
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Roles of Executives </ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row>
            <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
          </ion-row>

          <ion-row class="Executive">
            <div style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;">
              <table style="width: 100%;overflow-x:auto;overflow-y: 
              auto;">
                <tr>
                  <th>Sr. No.</th>
                  <th>Executive Name</th>
                  <th>Executive Title</th>
                  <th>Mobile No.</th>
                  <th>Whatsapp No. </th>
                  <th>Email</th>
                  <th>Country</th>
                  <th>State</th>
                  <th>District</th>
                  <th>PinCode</th>
                  <Th>Address</Th>
                  <th>Action</th>
                </tr>
                <!-- Sample Row -->
                <tr *ngFor="let roleexective of roleexectives$ | async; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{roleexective.exname}} </td>
                  <td>{{roleexective.extilte}}</td>
                  <td>{{roleexective.phone}}</td>
                  <td>{{roleexective.wpnumber}}</td>
                  <td>{{roleexective.email}}</td>
                  <td>{{roleexective.selectedOption}}</td>
                  <td>{{roleexective.selectedState}}</td>
                  <td>{{roleexective.selectedDistrict}}</td>
                  <td>{{roleexective.pin_code}}</td>
                  <td>{{roleexective.fulladdress}}</td>
                  <td>
                    <!-- Add action buttons or links for the first row here -->
                    <ion-icon name="create-outline"></ion-icon>
                    <ion-icon name="trash-outline"></ion-icon>
                  </td>
                </tr>

                <!-- Add more rows following a similar pattern -->

              </table>
            </div>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>