<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Ledger</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
              <ion-row>
                <ion-searchbar class="custom" showCancelButton="focus" [(ngModel)]="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
              </ion-row>

              <ion-row>
                <div class="scroll-container" style="border: 1px solid grey;">
                  <table style="width: 2500px;overflow-x:auto;">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th >Ledger Code</th>
                        <th >Ledger Name</th>
                        <th >Company ID</th>
                        <th >Company Name</th>
                        <th >Group Name</th>
                        <th >GSTIN</th>
                        <th >Opening Balance</th>
                        <th >Closing Balance</th>
                        <th >Mobile Number</th>
                        <th >Whatsapp Number</th>
                        <th >Email</th>
                        <th >Country</th>
                        <th >State</th>
                        <th >Address</th>
                        <th >Pincode</th>
                        <th >Tax Deducation No.</th>
                        <th >Aadhar Number</th>
                        <th >PAN Number</th>
                        <th >Udhyog Aadhar Number</th>
                        <th >Account Number</th>
                        <th >IFSC Code</th>
                        <th >Bank Name</th>
                        <th >Branch Name</th>
                        <th >Card Number</th>
                        <th >Credit Period</th>
                        <th >Credit Limit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ledger of filteredLedgers$ | async; let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{ledger.ledger_code}}</td>
                        <td>{{ledger.lname}}</td>
                        <td>{{ledger.companyid}}</td>
                        <td> {{ledger.companyName}}</td>
                        <td>{{ledger.lgroup_name}}</td>
                        <td>{{ledger.gstin}}</td>
                        <td>{{ledger.opening_balance}}</td>
                        <td>{{ledger.closing_balance}}</td>
                        <td>{{ledger.mobile}}</td>
                        <td>{{ledger.whatsapp_number}}</td>
                        <td>{{ledger.email}}</td>
                        <td>{{ledger.country}}</td>
                        <td>{{ledger.state}}</td>
                        <td>{{ledger.address}}</td>
                        <td>{{ledger.pincode}}</td>
                        <td>{{ledger.tdn}}</td>
                        <td>{{ledger.aadhar_no}}</td>
                        <td>{{ledger.pan_no}}</td>
                        <td>{{ledger.udhyog_aadhar}}</td>
                        <td>{{ledger.account_number}}</td>
                        <td>{{ledger.ifsc_code}}</td>
                        <td>{{ledger.bank_name}}</td>
                        <td>{{ledger.branch_name}}</td>
                        <td>{{ledger.card_number}}</td>
                        <td>{{ledger.credit_period}}</td>
                        <td>{{ledger.credit_limit}}</td>

                      </tr>

                    </tbody>

                  </table>
                </div>
              </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-content>