<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Ledger</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <ion-row>

              <ion-col size-lg="2" size-md="6" size-sm="6" size="5">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="formDate" name="fromDate" type="date" label=" From Date  :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="2" size-md="6" size-sm="6" size="5">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size-lg="1" size-md="2" size-sm="6" size="2" class="custom-primary">
                <ion-button expand="block" (click)="filterData()">Ok</ion-button>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
                <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="Select Coloumns" label-placement="floating" fill="outline" [(ngModel)]="selectedColumns"
                  name="selectedColumns" multiple="true">
                  <ion-select-option *ngFor="let col of availableColumns" [value]="col">{{ col }}</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
                <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="Select Report Type" label-placement="floating" fill="outline" name="selectedColumns"
                  multiple="true">
                  <ion-select-option value="Standard">Standard</ion-select-option>
                  <ion-select-option value="PartyWise">PartyWise</ion-select-option>
                  <ion-select-option value="ItemWise">ItemWise</ion-select-option>
                  <ion-select-option value="Detailed">Detailed</ion-select-option>

                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-searchbar class="custom " [ngModelOptions]="{standalone: true}" showCancelButton="focus"
                [(ngModel)]="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
            </ion-row>
            <ion-row class="Executive">
              <div #content style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;;">
                <table style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th *ngFor="let col of selectedColumns">{{ col }}</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ledger of filteredLedgers$ | async; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td *ngFor="let col of selectedColumns">{{ ledger[col] }}</td>
                      <td class="Action">
                        <ion-icon color="danger" (click)="deleteLedger(ledger.id,$event)" icon-only  name="trash"></ion-icon>
                        <ion-icon color="primary" icon-only name="create"></ion-icon>
                      </td>
                    </tr>
                    <tr>
                      <td [attr.colspan]="selectedColumns.length + 1">
                        <p style="text-align: left; justify-content: left; margin-left: 20px; font-weight: bold;">Total:
                          <span style="margin-left: 10px;">{{totalItems }}</span></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </ion-row>
            <!-- <ion-row>
                <div class="scroll-container" style="border: 1px solid grey;">
                  <table style="width: 2500px;overflow-x:auto;">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th >Ledger Code</th>
                        <th >Ledger Name</th>
                        <th >Company ID</th>
                        <th >Company Name</th>
                        <th >Group Name</th>
                        <th >GSTIN</th>
                        <th >Opening Balance</th>
                        <th >Closing Balance</th>
                        <th >Mobile Number</th>
                        <th >Whatsapp Number</th>
                        <th >Email</th>
                        <th >Country</th>
                        <th >State</th>
                        <th >Address</th>
                        <th >Pincode</th>
                        <th >Tax Deducation No.</th>
                        <th >Aadhar Number</th>
                        <th >PAN Number</th>
                        <th >Udhyog Aadhar Number</th>
                        <th >Account Number</th>
                        <th >IFSC Code</th>
                        <th >Bank Name</th>
                        <th >Branch Name</th>
                        <th >Card Number</th>
                        <th >Credit Period</th>
                        <th >Credit Limit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ledger of filteredLedgers$ | async; let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{ledger.ledger_code}}</td>
                        <td>{{ledger.lname}}</td>
                        <td>{{ledger.companyid}}</td>
                        <td> {{ledger.companyName}}</td>
                        <td>{{ledger.lgroup_name}}</td>
                        <td>{{ledger.gstin}}</td>
                        <td>{{ledger.opening_balance}}</td>
                        <td>{{ledger.closing_balance}}</td>
                        <td>{{ledger.mobile}}</td>
                        <td>{{ledger.whatsapp_number}}</td>
                        <td>{{ledger.email}}</td>
                        <td>{{ledger.country}}</td>
                        <td>{{ledger.state}}</td>
                        <td>{{ledger.address}}</td>
                        <td>{{ledger.pincode}}</td>
                        <td>{{ledger.tdn}}</td>
                        <td>{{ledger.aadhar_no}}</td>
                        <td>{{ledger.pan_no}}</td>
                        <td>{{ledger.udhyog_aadhar}}</td>
                        <td>{{ledger.account_number}}</td>
                        <td>{{ledger.ifsc_code}}</td>
                        <td>{{ledger.bank_name}}</td>
                        <td>{{ledger.branch_name}}</td>
                        <td>{{ledger.card_number}}</td>
                        <td>{{ledger.credit_period}}</td>
                        <td>{{ledger.credit_limit}}</td>

                      </tr>

                    </tbody>

                  </table>
                </div>
              </ion-row> -->
            <ion-row class="custom-primary" style="justify-content: right;">
              <ion-button size="small" (click)="printThisPage()"><ion-icon name="print" slot="end" size="small"
                  color="secondry"></ion-icon>Print</ion-button>
              <ion-button size="small" (click)="generatePdf()"><ion-icon name="document" slot="end" size="small"
                  color="secondry"></ion-icon>Export To PDF</ion-button>
              <ion-button size="small" (click)="printThisPage()"><ion-icon name="eye" slot="end" size="small"
                  color="secondry"></ion-icon>Preview</ion-button>
              <!-- <ion-button size="small" (click)="generateExcelReport()"><ion-icon name="grid"slot="end" size="small"
                  color="secondry"></ion-icon>Export Excel</ion-button> -->
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-content>