<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Service</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <ion-row>
              <ion-searchbar class="custom" showCancelButton="focus" [(ngModel)]="searchTerm"
                (ionInput)="onSearchTermChanged()"></ion-searchbar>
            </ion-row>

            <ion-row class="Executive">
              <ion-row class="data">
                <h1>Services List :</h1>
              </ion-row>
              <div #content class="scroll-container">
                <table id="serviceTable" style="width: 100%;">
                  <thead>
                    <tr>
                      <th style="width: 100px !important">Sr. No.</th>
                      <th style="width: 100px">Service Code</th>
                      <th style="width: 100px">Service Name</th>
                      <th style="width: 100px">SAC Code</th>
                      <th style="width: 100px">GST %</th>
                      <th style="width: 100px">Description</th>
                      <th style="width: 100px">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let service of services$ | async; let i = index">

                      <td>{{ i + 1 }}</td>
                      <td>{{service.service_code}}</td>
                      <td>{{service.service_name}}</td>
                      <td>{{service.sac_code}}</td>
                      <td>{{service.gst}}</td>
                      <td>{{service.description}}</td>
                      <td><ion-icon color="danger" icon-only name="trash"></ion-icon></td>
                    </tr>

                  </tbody>

                </table>
              </div>
            </ion-row>
            <ion-row class="custom-primary" style="justify-content: right;">
              <ion-button size="small" (click)="printThisPage()"><ion-icon name="print" slot="end" size="small"
                  color="secondry"></ion-icon>Print</ion-button>
              <ion-button size="small" (click)="generatePdf()"><ion-icon name="document" slot="end" size="small"
                  color="secondry"></ion-icon>Export To PDF</ion-button>
              <ion-button size="small" (click)="printThisPage()"><ion-icon name="eye" slot="end" size="small"
                  color="secondry"></ion-icon>Preview</ion-button>
              <!-- <ion-button size="small" (click)="generateExcelReport()"><ion-icon name="grid"slot="end" size="small"
                color="secondry"></ion-icon>Export Excel</ion-button> -->
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-content>