.attribute{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Customer ion-input {
    min-height: 35px;
    outline-width: 2px;
    outline-style: initial;
}

.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}

ng-template ion-button{
    color: goldenrod;
}

.Customer ion-card{
    width: 50%;
    margin-left: 25%;
}


.scroll-container {
    overflow-x: auto;
    border: 1px solid grey ;
    width: 100%;
    height:350px;
    overflow-x:auto
}
td{
    border-right: 1px solid grey;
    text-align: center;
}

@media(max-width:940px){
    .Customer ion-card{
        width: 100%;
        margin-left: 0%;
    }
}
@media(max-width:540px){
    .Customer ion-input {
        min-height: 25px;
        font-size: 10px;
        outline-width: 2px;
        outline-style: initial;
    }
    ion-button{
        font-size: 10px;
       
    }
}