<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Attribute</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row >
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" name="goBack" type="text" label="Attribute Name :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
         
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12" style="min-height: 35px;">
              <ion-row>
                <ion-textarea color="dark" name="description" type="text" label=" Description :" label-placement="floating"
                  fill="outline"></ion-textarea>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-searchbar class="custom"></ion-searchbar>
           </ion-row>
           <ion-row>
             <div style="width: 100%;" class="scroll-container">
               <table>
                 <tr>
                   <th>Attribute Name</th>
                   <th>Attribute Details</th>
                 </tr>
                 <tr>
                   <td><ion-input style="border: none;"></ion-input></td>
                   <td><ion-input style="border: none;"></ion-input></td>
 
                 </tr>
               </table>
             </div>
           </ion-row>
          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>