<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Exicutive</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="Customer">
    <div class="container_div">
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Executive</ion-title>
              <div  class="custom-primary">
                <ion-button size="small" [routerLink]="['/viewexicutive']" id="open-loading5">View Executive</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="Executive Showing ..." [duration]="1000"></ion-loading>
              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size="6" size-lg="2" size-md="6" size-sm="6">
                <select class="select" [ngModel]="roleid" name="roleid" formControlName="roleid">
                  <option value="0">  --- Role --- </option> <!-- Default option -->
                  <option *ngFor="let roletypes of roletypes$ | async" [value]="roletypes.roletypeid" >
                    {{ roletypes.roletypename }}
                  </option>   
                  
                </select>
                
              </ion-col>
              <ion-col size="6" size-lg="2.8" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input  [ngModel]="excode"   formControlName="excode" name="excode" type="text" label=" Executive Code :" label-placement="floating" fill="outline" ></ion-input>
                 
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="4.7" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [ngModel]="executivename"   formControlName="executivename" name="executivename" type="text" label=" Name :" label-placement="floating" fill="outline" ></ion-input>
                 
                </ion-row>
              </ion-col>
              <ion-col size="6" size-lg="2.5" size-md="6" size-sm="6">
                <select class="select" [ngModel]="emanager"  formControlName="emanager" name="emanager">
                  <option value="" disabled selected>  --- Manager --- </option> <!-- Default option -->
                  <option value="1">Deepak</option>
                  <option value="1">Yogesh</option>
                  <option value="1">Abhishek</option>
                  <option value="1">Nirbhay</option>
                  <option value="1">Ravi</option>
                </select>
               
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                <select class="select" [ngModel]="ledger"  formControlName="ledger"  name="ledger">
                  <option value="" disabled selected>  --- ledger --- </option> <!-- Default option -->
                  <option *ngFor="let ledger of ledgers$ | async; let i = index">{{ledger.lname}} </option>
                </select>
                
              </ion-col>
            
              <ion-col size="6" size-lg="4.5" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [ngModel]="emobile" maxlength="10" formControlName="emobile" name="emobile" type="tel" label="Mobile No. :"
                    label-placement="floating" fill="outline" ></ion-input>
                    
                </ion-row>
              </ion-col>
          
              <ion-col size="6" size-lg="4.5" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [ngModel]="ewhatsapp"  formControlName="ewhatsapp"  name="ewhatsapp" type="tel" maxlength="10"label="WhatsApp No. :"
                    label-placement="floating" fill="outline" ></ion-input>
                </ion-row>
              </ion-col>


              <ion-col size="12" size-lg="6" size-md="6" size-sm="12">
                <ion-row>
                  <ion-input [ngModel]="eemail"  formControlName="eemail"  name="eemail" type="email" label="Email :" label-placement="floating"
                     fill="outline" ></ion-input>
                </ion-row>
              </ion-col>
            
              <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [ngModel]="epan"   formControlName="epan" name="epan" type="text" label="PAN No. :"
                    label-placement="floating"  fill="outline" ></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [ngModel]="ecommision"  formControlName="ecommision"  name="ecommision" type="number" label="Commission :"
                    label-placement="floating"  fill="outline" ></ion-input>
                </ion-row>
              </ion-col>
           
            </ion-row>

            <ion-row class="custom-primary" style="justify-content: right;margin-top: 10px;">
              <ion-button (click)="onNew()">New</ion-button>
              <ion-button type="submit" id="open-loading1">Create Role</ion-button>              
            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>