ion-card {
    margin-top: 0px;
    position: relative;
}


ion-icon {
    font-size: 25px;
}
.add{
    font-weight: bolder;
}
.print{
    color: grey;
}
.delete {
    color: red;
    font: 10px;
}

.create {
    color: rgb(24, 24, 204);
    font: 10px;
}

.show {
    color: green;
}

.save {
    color: rgb(159, 15, 196);
}

ion-searchbar.custom {
    --background: goldenrod;
    --color: #000000;
    --placeholder-color: #000000;
    --icon-color: #000000;
    --clear-button-color: #000000;
  
    --border-radius: 4px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: goldenrod;
  }
  
  ion-searchbar.md.custom {
    --cancel-button-color: #000000;
  }

  .label_input{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: row;
}
.add_label{
    color: goldenrod;
    font-weight: bold;
    font-size: 12px;
}
.add_input{
    min-height: 20px;
    border: 1px solid goldenrod;
}
select{
    border-color: goldenrod;
    width: 150px;
    outline: none;
    text-align: center;
}

.add_textarea{
    border: 1px solid goldenrod;
    width: 235px;
}