<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Exicutive</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-item lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title>Add Exicutive</ion-title>
            </ion-item>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row style="justify-content: right;">
            <ion-icon id="left-start" size="large" name="ellipsis-vertical-outline"></ion-icon>
            <ion-popover trigger="left-start" size="auto" side="left" alignment="start">
              <ng-template>
                <ion-button style="color: black;" size="small" color="undefined">Delete</ion-button>
                <ion-button style="color: black;" size="small" color="undefined">Edit</ion-button>
                <ion-button style="color: black; " size="small" color="undefined">Save</ion-button>
              </ng-template>
            </ion-popover>
          </ion-row>


          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Group Name: </ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="Category">--- Select Group Name ---
                </option>
                <option value="1">--India--</option>
                <option value="1">--USA--</option>
                <option value="1">--Canada--</option>
              </select>
              <!-- </ion-item> -->
            </ion-col>

            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Name :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width"> Name: </ion-label>
                <ion-input type="text" class="input-width"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>
          <ion-row>

            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Manager: </ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="Category">--- Select Manager ---
                </option>
                <option value="1">--India--</option>
                <option value="1">--USA--</option>
                <option value="1">--Canada--</option>
              </select>
              <!-- </ion-item> -->
            </ion-col>

            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Mobile No. :"
                  label-placement="floating" fill="outline"></ion-input>
              
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Mobile No. : </ion-label>
                <ion-input type="text" class="input-width"></ion-input>
              </ion-item> -->
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="email" label="Email :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Email: </ion-label>
                <ion-input type="text" class="input-width"></ion-input>
              </ion-item> -->
            </ion-col>

            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="PAN No. :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">PAN No. : </ion-label>
                <ion-input type="text" class="input-width"></ion-input>
              </ion-item> -->
            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Area :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Area: </ion-label>
                <ion-input type="text" class="input-width"></ion-input>
              </ion-item> -->
            </ion-col>

            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Group: </ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="Category">--- Select Group ---
                </option>
                <option value="1">--India--</option>
                <option value="1">--USA--</option>
                <option value="1">--Canada--</option>
              </select>
              <!-- </ion-item> -->
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Commission :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Commission: </ion-label>
                <ion-input type="text" class="input-width"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Legder: </ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="Category">--- Select Ledger ---
                </option>
                <option value="1">--India--</option>
                <option value="1">--USA--</option>
                <option value="1">--Canada--</option>
              </select>
              <!-- </ion-item> -->
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 10px;float: right;">
            <ion-button color="warning">Close</ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>