<ion-content class="container_fluid">
  <div class="dash">
    <ion-chip>
      <ion-label>{{companyname}}</ion-label>
    </ion-chip>
    <ion-title>
      Transtraction Dashboard
    </ion-title>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="gamil">{{username}}</ion-label>
    </ion-chip>
    <div class="custom-primary" style="justify-content: right;text-align: right;">
      <ion-buttons slot="end">
        <ion-button (click)="openNotificationsPage()">
          <ion-icon color="light" size="large" name="notifications-circle-outline"></ion-icon>
          <ion-badge color=danger *ngIf="notificationCount > 0">{{ notificationCount }}</ion-badge>
        </ion-button>
      </ion-buttons>
      <ion-button expand="block" (click)="logout()">
        <ion-icon color="light" size="medium" name="log-out-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="lead_nav">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="9" size-md="8" size-sm="9">
          <div class="icon-container">
            <ion-row class="leadscard">
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: rgb(255, 244, 244);" [routerLink]="'/view-quot'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <img src="assets/paper.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totalQuote}}</ion-title>
                      <ion-label>
                        Quatations
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: rgb(255, 146, 186);"
                  [routerLink]="'/dc-in-report'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <ion-icon color="dark" name="list-outline"></ion-icon>
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totaldcin}}</ion-title>
                      <ion-label>
                        DC-IN
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>

              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: rgb(248, 187, 255);"
                  [routerLink]="'/dc-out-report'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <ion-icon color="dark" name="newspaper-outline"></ion-icon>
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totaldcout}}</ion-title>
                      <ion-label>
                        DC-OUT</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: lightpink;" [routerLink]="'/view-sale'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <img src="assets/shopping-online.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totalsales}}</ion-title>
                      <ion-label>
                        Sales
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: lightsalmon;" [routerLink]="'/view-purchase'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <img src="assets/checklist.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totalpurchase}}</ion-title>
                      <ion-label>
                        Purchase
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: rgb(189, 245, 251);"
                  [routerLink]="'/view-salesreturn'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <img src="assets/sales.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totalsalesreturn}}</ion-title>
                      <ion-label>
                        Sales Return
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: rgb(182, 253, 229);"
                  [routerLink]="'/view-purchasereturn'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <img src="assets/return.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totalpurchasereturn}}</ion-title>
                      <ion-label style="margin-left: -15px;">
                        Purchase Return
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>

          <div class="graph">
            <ion-grid>
              <ion-row>
                <ion-col size-lg="4" size-sm="4" size-md="6" size="12">
                  <ion-label>
                    Total Quatation
                  </ion-label>
                  <!-- <ion-title>{{totalQuote }}</ion-title> -->
                  <canvas id="totalquotationBarChart" class="chart-canvas"></canvas>

                </ion-col>
                <ion-col size-lg="4" size-sm="4" size-md="6" size="12">
                  <ion-label>
                    Total Sales
                  </ion-label>
                  <!-- <ion-title>{{totalsales }}</ion-title> -->
                  <canvas id="totalsaleBarChart" class="chart-canvas"></canvas>

                </ion-col>
                <ion-col size-lg="4" size-sm="4" size-md="6" size="12">
                  <ion-label>
                    Total Purchase
                  </ion-label>
                  <!-- <ion-title>{{totalpurchase}}</ion-title> -->
                  <canvas id="totalpurchaseBarChart" class="chart-canvas"></canvas>

                </ion-col>
                <!-- <ion-col size-lg="3" size-sm="3" size-md="6" size="12">
                  <ion-label>
                    Total Executive
                  </ion-label>
                  <ion-title>{{totalExecitve}}</ion-title>
                  <canvas id="executiveBarChart" class="chart-canvas"></canvas>
        
                </ion-col> -->
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="3">
          <div class="icon-container">
            <ion-row>
              <ion-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedOptions" multiple
                class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="Select Master Table" label-placement="floating" fill="outline">
                <ion-select-option value="purchaselist">Purchase List</ion-select-option>
                <ion-select-option value="saleslist">Sales List</ion-select-option>
                <ion-select-option value="quotelist">Quatations List</ion-select-option>
                <ion-select-option value="dcinlist">DC-IN List</ion-select-option>
                <ion-select-option value="dcoutlist">DC-OUT List</ion-select-option>
                <ion-select-option value="purchasereturnlist">Purchase Return List</ion-select-option>
                <ion-select-option value="salreturnslist">Sales Return List</ion-select-option>
              </ion-select>
            </ion-row>
            <ion-row class="headinglabel" style="text-align: center;">
              <ion-label color="dark">Manage Transtaction Pages:</ion-label>
            </ion-row>
            <ion-row class="leadsrouter">
              <ion-item [routerLink]="['/add-quot']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Quatations
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/dc-in']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  DC-IN
                </ion-label> <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/dc-out']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  DC-OUT
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/add-sale']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Sales
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/add-purchase']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Purchase
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>

              <ion-item [routerLink]="['/add-purchase']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Sales Return
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/add-purchase']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Purchase Return
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row class="lead_details">

      <ion-col class="table_data" size="12" size-lg="6" *ngIf="selectedOptions.includes('purchaselist')">
        <div class="table-container">
          <p>Purchase List</p>
          <ion-searchbar class="customs" [(ngModel)]="searchTerms" (ionInput)="onSearchTermPurchase()"></ion-searchbar>
          <div class="scroll-container">
            <table style="width: 100%;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Billing Date</th>
                <th style="width: 70px !important;">Supplier Code</th>
                <th style="width: 70px !important;">Supplier Name</th>
                <th style="width: 70px !important;"> Order Date</th>
                <th style="width: 70px !important;"> Order No.</th>
                <th style="width: 70px !important;">Exicutive Name</th>

              </tr>
              <tr *ngFor="let purchase of filteredPurchase$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{purchase.billDate}}</td>
                <td>{{purchase.vendcode}}</td>
                <td>{{purchase.supplier}}</td>
                <td>{{purchase.orderDate}}</td>
                <td>{{purchase.orderNumber}}</td>
                <td>{{purchase.executive}}</td>
              </tr>

            </table>
          </div>
        </div>
      </ion-col>


      <ion-col class="table_data" size="12" size-lg="6" *ngIf="selectedOptions.includes('saleslist')">
        <div class="table-container">
          <p>Sales List</p>
          <ion-searchbar class="customs" [(ngModel)]="searchSale" (ionInput)="onSearchTermSale()"></ion-searchbar>
          <div class="scroll-container">
            <table style="width: 100%;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Billing Date</th>
                <th style="width: 70px !important;">Customer Code</th>
                <th style="width: 70px !important;">Customer Name</th>
                <th style="width: 70px !important;">Order No.</th>
                <th style="width: 70px !important;">Order Date</th>
                <th style="width: 300px !important;">Sales Person Name</th>
              </tr>
              <tr *ngFor="let sales of filteredSales$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{sales.billDate}}</td>
                <td>{{sales.custcode}}</td>
                <td>{{sales.custname}}</td>
                <td>{{sales.orderDate}}</td>
                <td>{{sales.orderNumber}}</td>
                <td>{{sales.salePerson}}</td>
              </tr>

            </table>
          </div>
        </div>
      </ion-col>
      
      <ion-col class="table_data" size="12" size-lg="6" *ngIf="selectedOptions.includes('quotelist')">
        <div class="table-container">
          <p>Quatations List</p>
          <ion-searchbar class="customs" [(ngModel)]="searchTerm" (ionInput)="onSearchTermQuote()"></ion-searchbar>
          <div class="scroll-container">
            <table style="width:  100%;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Quote No.</th>
                <th style="width: 70px !important;">Quote Date</th>
                <th style="width: 70px !important;">Customer Name</th>
              </tr>
              <tr *ngFor="let quote of filteredQuatation$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{quote.quoteNumber}}</td>
                <td>{{quote.quateDate}}</td>
                <td>{{quote.custname}}</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>

      <ion-col class="table_data" size="12" size-lg="6" *ngIf="selectedOptions.includes('dcinlist')">
        <div class="table-container">
          <p>DC-IN List</p>
          <ion-searchbar class="customs" [(ngModel)]="searchDcin" (ionInput)="onSearchTermDcin()"></ion-searchbar>
          <div class="scroll-container">
            <table style="width:  100%;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Voucher No.</th>
                <th style="width: 70px !important;">Voucher Date</th>
                <th style="width: 70px !important;">Supplier Code</th>
                <th style="width: 70px !important;">Supplier Name</th>

              </tr>
              <tr *ngFor="let dcin of filteredDcin$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{dcin.voucherNumber}}</td>
                <td>{{dcin.datetype}}</td>
                <td>{{dcin.vendcode}}</td>
                <td>{{dcin.suppliertype}}</td>

              </tr>
            </table>
          </div>
        </div>
      </ion-col>

      <ion-col class="table_data" size="12" size-lg="6" *ngIf="selectedOptions.includes('dcoutlist')">
        <div class="table-container">
          <p>DC-OUT List</p>
          <ion-searchbar class="customs" [(ngModel)]="searchDcout" (ionInput)="onSearchTermDcout()"></ion-searchbar>
          <div class="scroll-container">
            <table style="width:  100%;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Voucher Formate</th>
                <th style="width: 70px !important;">Voucher No.</th>
                <th style="width: 70px !important;">Voucher Date</th>
                <th style="width: 70px !important;">Supplier Code</th>
                <th style="width: 70px !important;">Supplier Name</th>
              </tr>
              <tr *ngFor="let dcout of filteredDcout$ | async; let i = index">
                <td>{{i + 1}}</td>
                <td>{{dcout.voucherformat}}</td>
                <td>{{dcout.voucherNumber}}</td>
                <td>{{dcout.datetype}}</td>
                <td>{{dcout.vendcode}}</td>
                <td> {{dcout.suppliertype}}</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>

      <ion-col class="table_data" size="12" size-lg="6" *ngIf="selectedOptions.includes('salreturnslist')">
        <div class="table-container">
          <p>Sales Return List</p>
          <ion-searchbar class="customs" [(ngModel)]="searchSalereturn"
            (ionInput)="onSearchTermSalereturn()"></ion-searchbar>
          <div class="scroll-container">
            <table style="width:  100%;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Billing Date</th>
                <th style="width: 70px !important;">Customer Code</th>
                <th style="width: 70px !important;">Customer Name</th>
                <th style="width: 70px !important;">Order No.</th>
                <th style="width: 70px !important;">Order Date</th>
                <th style="width: 300px !important;">Sales Person Name</th>
              </tr>
              <tr *ngFor="let salreturns of filteredSalereturns$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{salreturns.billDate}}</td>
                <td>{{salreturns.custcode}}</td>
                <td>{{salreturns.custname}}</td>
                <td>{{salreturns.orderDate}}</td>
                <td>{{salreturns.orderNumber}}</td>
                <td>{{salreturns.salePerson}}</td>
              </tr>

            </table>
          </div>
        </div>
      </ion-col>

      <ion-col class="table_data" size="12" size-lg="6" *ngIf="selectedOptions.includes('purchasereturnlist')">
        <div class="table-container">
          <p>Purchase Return List</p>
          <ion-searchbar class="customs " [(ngModel)]="searchPurchasereturn"
            (ionInput)="onSearchTermPurchasereturn()"></ion-searchbar>
          <div class="scroll-container">
            <table style="width:  100%;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Billing Date</th>
                <th style="width: 70px !important;">Supplier Code</th>
                <th style="width: 70px !important;">Supplier Name</th>
                <th style="width: 70px !important;"> Order Date</th>
                <th style="width: 70px !important;"> Order No.</th>
                <th style="width: 70px !important;">Exicutive Name</th>

              </tr>
              <tr *ngFor="let purchasereturn of  filteredPurchasereturns$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{purchasereturn.billDate}}</td>
                <td>{{purchasereturn.vendcode}}</td>
                <td>{{purchasereturn.supplier}}</td>
                <td>{{purchasereturn.orderDate}}</td>
                <td>{{purchasereturn.orderNumber}}</td>
                <td>{{purchasereturn.executive}}</td>
              </tr>

            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>