
<ion-content class="container_fluid">
  <div class="dash">
    <ion-title>
      Transtraction Dashboard
    </ion-title>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="gamil">Ktechnocrm&#64;gmail.com</ion-label>
    </ion-chip>
  </div>

  <div class="lead_nav">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="9" size-md="8" size-sm="9">
          <div class="icon-container">
            <ion-row class="leadscard">

              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: rgb(255, 244, 244);">
                  <ion-icon name="person-outline" ></ion-icon><br>
                  <ion-label >
                    Quatations
                  </ion-label>
                  <ion-title>{{totalQuote}}</ion-title>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: rgb(199, 250, 199);">
                  <ion-icon name="list-outline"></ion-icon><br>
                  <ion-label>
                    DC-IN
                  </ion-label>
                  <ion-title>{{totaldcin}}</ion-title>
                </ion-card>
              </ion-col>

              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: lightgray;">
                  <ion-icon name="trophy-outline"></ion-icon><br>
                  <ion-label>
                    DC-OUT </ion-label>
                  <ion-title>{{totaldcout}}</ion-title>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: lightpink;">
                  <ion-icon name="shield-checkmark-outline"></ion-icon><br>
                  <ion-label>
                    Sales 
                  </ion-label>
                  <ion-title>{{totalsales}}</ion-title>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: lightsalmon;">
                  <ion-icon name="shield-half-outline"></ion-icon><br>
                  <ion-label>
                    Purchase 
                  </ion-label>
                  <ion-title>{{totalpurchase}}</ion-title>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: lemonchiffon;">
                  <ion-icon name="shield-half-outline"></ion-icon><br>
                  <ion-label>
                    Sales Return 
                  </ion-label>
                  <ion-title>{{totalsalesreturn}}</ion-title>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: lightblue;">
                  <ion-icon name="shield-half-outline"></ion-icon><br>
                  <ion-label>
                    Purchase Return 
                  </ion-label>
                  <ion-title>{{totalpurchasereturn}}</ion-title>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="3">
          <div class="icon-container">
            <!-- <ion-row class="headinglabel" style="text-align: center;">
              <ion-label color="dark">Manage Master :</ion-label>
            </ion-row> -->
            <ion-row class="leadsrouter">
              <ion-item [routerLink]="['/add-quot']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Quatations
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/dc-in']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  DC-IN
                </ion-label> <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/dc-out']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                 DC-OUT
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/add-sale']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Sales
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/add-purchase']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Purchase
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>

              <ion-item [routerLink]="['/add-purchase']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Sales Return
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/add-purchase']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Purchase Return
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
             
            </ion-row>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row class="lead_details">

      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Purchase List</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container"style="width: 550px;">
            <table style="width: 1000px;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Billing Date</th>
                <th style="width: 70px !important;">Supplier Code</th>
                <th style="width: 70px !important;">Supplier Name</th>
                <th style="width: 70px !important;"> Order Date</th>
                <th style="width: 70px !important;"> Order No.</th>
                <th style="width: 70px !important;">Exicutive Name</th>
               
              </tr>
              <tr *ngFor="let purchase of purchase$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{purchase.billDate}}</td>
                <td>{{purchase.vendcode}}</td>
                <td>{{purchase.supplier}}</td>
                <td>{{purchase.orderDate}}</td>
                <td>{{purchase.orderNumber}}</td>
                <td>{{purchase.executive}}</td>
              </tr>

            </table>
          </div>
        </div>
      </ion-col>

     
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Sales List</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container"style="width: 550px;">
            <table style="width: 1000px;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Billing Date</th>
                <th style="width: 70px !important;">Customer Code</th>
                <th style="width: 70px !important;">Customer Name</th>
                <th style="width: 70px !important;">Order No.</th>
                <th style="width: 70px !important;">Order Date</th>
                <th style="width: 300px !important;">Sales Person Name</th>
              </tr>
              <tr *ngFor="let sales of sales$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{sales.billDate}}</td>
                <td>{{sales.custcode}}</td>
                <td>{{sales.custname}}</td>
                <td>{{sales.orderDate}}</td>
                <td>{{sales.orderNumber}}</td>
                <td>{{sales.salePerson}}</td>
              </tr>

            </table>
          </div>
        </div>
      </ion-col>
     
    </ion-row>
    <ion-row class="lead_details">

      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Quatations List</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container"style="width: 550px;">
            <table style="width: 800px;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Quote No.</th>
                <th style="width: 70px !important;">Quote Date</th>
                <th style="width: 70px !important;">Customer Name</th>
              </tr>
              <tr *ngFor="let quote of quote$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{quote.quoteNumber}}</td>
                <td>{{quote.quateDate}}</td>
                <td>{{quote.custname}}</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>

     
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Dc-in List</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container"style="width: 550px;">
            <table style="width: 800px;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Voucher No.</th>
                <th style="width: 70px !important;">Voucher Date</th>
                <th style="width: 70px !important;">Supplier Code</th>
                <th style="width: 70px !important;">Supplier Name</th>
               
              </tr>
              <tr *ngFor="let dcin of dcin$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{dcin.voucherNumber}}</td>
                <td>{{dcin.datetype}}</td>
                <td>{{dcin.vendcode}}</td>
                <td>{{dcin.suppliertype}}</td>
               
              </tr>
            </table>
          </div>
        </div>
      </ion-col>

      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Dc-out List</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container"style="width: 550px;">
            <table style="width: 800px;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Voucher Formate</th>
                <th style="width: 70px !important;">Voucher No.</th>
                <th style="width: 70px !important;">Voucher Date</th>
                <th style="width: 70px !important;">Supplier Code</th>
                <th style="width: 70px !important;">Supplier Name</th>
              </tr>
              <tr  *ngFor="let dcout of dcout$ | async; let i = index">
                <td>{{i + 1}}</td>
                <td>{{dcout.voucherformat}}</td>
                <td>{{dcout.voucherNumber}}</td>
                <td>{{dcout.datetype}}</td>
                <td>{{dcout.vendcode}}</td>
                <td> {{dcout.suppliertype}}</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>

      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Sales Return List</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container"style="width: 550px;">
            <table style="width: 1000px;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Billing Date</th>
                <th style="width: 70px !important;">Customer Code</th>
                <th style="width: 70px !important;">Customer Name</th>
                <th style="width: 70px !important;">Order No.</th>
                <th style="width: 70px !important;">Order Date</th>
                <th style="width: 300px !important;">Sales Person Name</th>
              </tr>
              <tr *ngFor="let salreturns of salreturn$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{salreturns.billDate}}</td>
                <td>{{salreturns.custcode}}</td>
                <td>{{salreturns.custname}}</td>
                <td>{{salreturns.orderDate}}</td>
                <td>{{salreturns.orderNumber}}</td>
                <td>{{salreturns.salePerson}}</td>
              </tr>

            </table>
          </div>
        </div>
      </ion-col>

      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Purchase Return List</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container"style="width: 550px;">
            <table style="width: 1000px;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Billing Date</th>
                <th style="width: 70px !important;">Supplier Code</th>
                <th style="width: 70px !important;">Supplier Name</th>
                <th style="width: 70px !important;"> Order Date</th>
                <th style="width: 70px !important;"> Order No.</th>
                <th style="width: 70px !important;">Exicutive Name</th>
               
              </tr>
              <tr *ngFor="let purchasereturn of purchasereturn$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{purchasereturn.billDate}}</td>
                <td>{{purchasereturn.vendcode}}</td>
                <td>{{purchasereturn.supplier}}</td>
                <td>{{purchasereturn.orderDate}}</td>
                <td>{{purchasereturn.orderNumber}}</td>
                <td>{{purchasereturn.executive}}</td>
              </tr>

            </table>
          </div>
        </div>
      </ion-col>


    </ion-row>


  </ion-grid>

</ion-content>