<ion-header>

</ion-header>
<ion-content class="container_fluid">
  <div class="dash">
    <ion-label class="gamil"> <img width="25px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="user">
      Ktechnocompanycrm@gmail.com</ion-label>
  </div>

  <div class="lead_nav">
    <ion-grid>
      <ion-row>
        <ion-col class="table_data" size="12" size-lg="6" size-md="6" size-sm="6">
          <div class="icon-container">

            <ion-row>
              <ion-col class="lead_icon line">
                <ion-icon name="person-add"></ion-icon>
                <ion-label> Quatation</ion-label>

              </ion-col>
              <ion-col class="lead_icon line">
                <ion-icon name="person-add"></ion-icon>
                <ion-label>DC-In</ion-label>

              </ion-col>
              <ion-col class="lead_icon line">
                <ion-icon name="transgender"></ion-icon>
                <ion-label>DC-Out</ion-label>

              </ion-col>
              <ion-col class="lead_icon line">
                <ion-icon name="person-add"></ion-icon>
                <ion-label>Sales</ion-label>

              </ion-col>
              <ion-col class="lead_icon line">
                <ion-icon name="person-add"></ion-icon>
                <ion-label>Purchase</ion-label>

              </ion-col>
            </ion-row>

          </div>
        </ion-col>
        <ion-col class="table_data" size="12" size-lg="6" size-md="6" size-sm="6">
          <div class="icon-container">
            <ion-row>
              <ion-col class="lead_icon">
                <a [routerLink]="['/add-quot']">Add Quatation</a>
              </ion-col>
              <ion-col class="lead_icon">
                <a [routerLink]="['/dc-in']">DC-IN</a>
              </ion-col>
              <ion-col class="lead_icon">
                <a [routerLink]="['/dc-out']">DC-OUT</a>
              </ion-col>
              <ion-col class="lead_icon">
                <a [routerLink]="['/add-sale']">Add Sale</a>
              </ion-col>
              <ion-col class="lead_icon">
                <a [routerLink]="['/add-purchase']">Add Purchase</a>
              </ion-col>
            </ion-row>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row class="lead_details">
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>DC-IN</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th><input type="checkbox" name=""></th>
                <th>Sr No.</th>
                <th>Voucher Number</th>
                <th>Voucher Date</th>
                <th>Ref. Number</th>
                <th>Ref. Date</th>
                <th>Supplier Name</th>
                <th>Total</th>
                <th>Rmark</th>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>5</td>
                <td>30/10/2023</td>
                <td>49</td>
                <td>30/10/2023</td>
                <td>Deepak</td>
                <td>499</td>
                <td>Rmark is dks</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>5</td>
                <td>30/10/2023</td>
                <td>49</td>
                <td>30/10/2023</td>
                <td>Deepak</td>
                <td>499</td>
                <td>Rmark is dks</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>5</td>
                <td>30/10/2023</td>
                <td>49</td>
                <td>30/10/2023</td>
                <td>Deepak</td>
                <td>499</td>
                <td>Rmark is dks</td>
              </tr>
             
            </table>
          </div>
        </div>
      </ion-col>
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>DC-OUT</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th><input type="checkbox" name=""></th>
                <th>Sr No.</th>
                <th>Voucher Number</th>
                <th>Voucher Date</th>
                <th>Ref. Number</th>
                <th>Ref. Date</th>
                <th>Customer Name</th>
                <th>Total</th>
                <th>Rmark</th>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>5</td>
                <td>30/10/2023</td>
                <td>49</td>
                <td>30/10/2023</td>
                <td>Deepak</td>
                <td>499</td>
                <td>Rmark is dks</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>5</td>
                <td>30/10/2023</td>
                <td>49</td>
                <td>30/10/2023</td>
                <td>Deepak</td>
                <td>499</td>
                <td>Rmark is dks</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>5</td>
                <td>30/10/2023</td>
                <td>49</td>
                <td>30/10/2023</td>
                <td>Deepak</td>
                <td>499</td>
                <td>Rmark is dks</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="lead_details">
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Sale</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th><input type="checkbox" name=""></th>
                <th>Sr No.</th>
                <th>Item Code </th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Discount</th>
                <th>Discount Amount</th>
                <th>CGST</th>
                <th>SGST</th>
                <th>Total</th>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>65</td>
                <td>Jeans</td>
                <td>100</td>
                <td>499</td>
                <td>10%</td>
                <td>150</td>
                <td>5</td>
                <td>15</td>
                <td>60000</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>65</td>
                <td>Jeans</td>
                <td>100</td>
                <td>499</td>
                <td>10%</td>
                <td>150</td>
                <td>5</td>
                <td>15</td>
                <td>60000</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>65</td>
                <td>Jeans</td>
                <td>100</td>
                <td>499</td>
                <td>10%</td>
                <td>150</td>
                <td>5</td>
                <td>15</td>
                <td>60000</td>
              </tr>
             
            </table>
          </div>
        </div>
      </ion-col>
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container">
          <p>Purchase</p>
          <ion-searchbar class="custom"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th><input type="checkbox" name=""></th>
                <th>Sr No.</th>
                <th>Item Code </th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Discount</th>
                <th>Discount Amount</th>
                <th>CGST</th>
                <th>SGST</th>
                <th>Total</th>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>65</td>
                <td>Jeans</td>
                <td>100</td>
                <td>499</td>
                <td>10%</td>
                <td>150</td>
                <td>5</td>
                <td>15</td>
                <td>60000</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>65</td>
                <td>Jeans</td>
                <td>100</td>
                <td>499</td>
                <td>10%</td>
                <td>150</td>
                <td>5</td>
                <td>15</td>
                <td>60000</td>
              </tr>
              <tr>
                <td><input type="checkbox" name=""></td>
                <td>1</td>
                <td>65</td>
                <td>Jeans</td>
                <td>100</td>
                <td>499</td>
                <td>10%</td>
                <td>150</td>
                <td>5</td>
                <td>15</td>
                <td>60000</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>