
.Customer ion-input {
    min-height: 33px;
   outline-width: 2px;
   outline-style: initial;
  }
  
  .Customer select {
   width: 100%;
   text-align: left;
  }
  
  
  .scroll-container td {
  background-color: #fff;
  border: .1px solid grey;
  max-height: 20px;
  }
  
  .output td {
   border: 1px solid grey;
   margin: 5px;
   // height: 30px;
  }
  
  .output th {
   text-align: right;
   border: none;
   // background-color: #fff;
   padding-left: 10px;
  }
  .scroll-container {
  overflow-x: auto;
  border: 1px solid;
  width: 100%;
  height: 400px;
  overflow-x: auto;
  overflow-y: auto;
  }
  .Customer ion-select {
  margin-top: -10px;
  margin-bottom: -10px;
  --max-width: 50px !important;
  }
  .delivery-label {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  }
  .outstanding {
  border: solid .1px grey;
  border-radius: 10px;
  table td {
   background-color: #fff;
  }
  }
  @media(max-width:540px) {
   .Customer ion-input {
     min-height: 25px;
    font-size: 10px;
   }
  
  }
  
  