
.Customer ion-input {
   min-height: 33px;
  outline-width: 2px;
  outline-style: initial;
}

.Customer select {
  width: 100%;
  text-align: left;
}


.scroll-container td {
background-color: #fff;
border: .1px solid grey;
max-height: 20px;
}

.output td {
  border: 1px solid grey;
  margin: 5px;
  // height: 30px;
}

.output th {
  text-align: right;
  border: none;
  // background-color: #fff;
  padding-left: 10px;
}
.scroll-container {
overflow-x: auto;
width: 100%;
max-width: 100%;
border: 1px solid;
width: 100%;
height: 270px;
overflow-x: auto;
width: 1555px;
}
.Customer ion-select {
margin-top: -10px;
margin-bottom: -10px;
--max-width: 50px !important;
}
.delivery-label {
font-size: 1.5em;
font-weight: bold;
margin-bottom: 10px;
}
.outstanding {
border: solid .1px grey;
border-radius: 10px;
table td {
  background-color: #fff;
}
}
@media(max-width:540px) {
  .Customer ion-input {
    min-height: 25px;
   font-size: 10px;
  }
 
 }

 .row{
  margin-top: -103px;
  margin-left: 74.4%;
}
 @media(max-width:990px){
   .row{
      margin-top: -253px;
      margin-left: 60%;
   }
   .row1{
      margin-top: 150px;
   }
 }
 @media(max-width:575px){
   .row{
      margin-top: -324px;
      margin-left: 40%;
   }
   .row1{
      margin-top: 0px;
   }
   .row3{
      margin-top:150px ;
   }
 
 }
 
 @media(max-width:475px){
   .row{
    margin-top: -325px;
    margin-left: -15px;
   }
   .row1{
      margin-top: 0px;
   }
   .row3{
      margin-top:150px ;
   }
 
 }