<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>HSN Manager</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">HSN Code: </ion-label>
                <ion-input class="input-width"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Unit: </ion-label>
                <ion-input class="input-width"></ion-input>
              </ion-item>
            </ion-col>

          </ion-row>

          <ion-row  style=" margin-top: 5px;" >
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Description: </ion-label>
                <ion-textarea rows="1" class="textarea-width"></ion-textarea>
              </ion-item>
            </ion-col>
           
          </ion-row>

          <ion-row >
            <div  style="overflow-x:auto;">
              <ion-searchbar class="custom " showCancelButton="focus"></ion-searchbar>
                <table>
                  <tr>
                    <th>Sr.No.</th>
                    <th>HSN Code</th>
                    <th>Unit</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>123</td>
                    <td>123</td>
                    <td>wddsfd df fad asd</td>
                    <td>
                      <ion-icon class="create" name="create"></ion-icon>
                      <ion-icon class="delete" name="trash"></ion-icon>
                    </td>
                  </tr>
                </table>
            </div>
          </ion-row>

          <ion-row style="justify-content: right; margin-top: 10px;">
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
            <ion-button color="warning">Go to Excel</ion-button>
            <ion-button color="warning">
              Add
            </ion-button>
            <ion-button color="warning">
              Save
            </ion-button>
            <ion-button color="warning">
              View
            </ion-button>
            <ion-button color="warning">
              Close
            </ion-button>
            </ion-col>
          </ion-row>


        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>