table{
    width: 100%;
}
td {
    text-align: center;
    // border-right: 1px solid grey;
}


.Customer ion-input {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    // outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}
.Customer ion-textarea {
    height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    // outline-color: goldenrod;
    background: skyblue;

}

.Customer ion-select {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    // outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}

.Customer select {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    //border-color: goldenrod;
    width: 100%;
    text-align: left
}

ng-template ion-button{
    color: goldenrod;
}
table select {
    background: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

@media(max-width:540px) {
    .Customer ion-input {
        min-height: 33px;
        text-align: center;
    }

    .Customer ion-select {
        min-height: 33px;
        text-align: center;
    }
}

.scroll-container {
    overflow-x: auto;
    width: 100%;
    border: 1px solid grey;
    height:350px;
    overflow-x:auto
}
.no-scrollbars {
    overflow: hidden;
  }
  
@media screen {
    .data{
        display: none;
        visibility: hidden;
    }
}
@media print {
     /* Hide scrollbars */
  .scroll-container {
    overflow: visible !important;
  }
  
  /* Set table width to 100% */
  #companyTable {
    width: 100% !important;
  }
    .data{
        display: block;
        visibility: visible;
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
        padding: 5px;
        justify-content: center;
    }
    .scroll-container{
        border: none;
    }
    .total{
        display: none;
        visibility: hidden;
    }
    ion-input{
        display: none;
        visibility: hidden;
    }
    ion-button{
        display: none;
        visibility: hidden;

    }
    ion-select{
        display: none;
        visibility: hidden;

    }
    ion-searchbar{
        display: none;
        visibility: hidden;
    }
    ion-card-header{
        display: none;
        visibility: hidden;
    }
}