<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon id="open-loading" (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="1000"></ion-loading>
              <ion-title style="text-align: center;">View Company</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <form #viewSaleForm="ngForm" (ngSubmit)="onSubmit()">
              <ion-row>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12">
                </ion-col>
                <!-- <ion-col size-lg="8" size-md="8" size-sm="6" size="12">
                  <ion-row>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date"
                          label=" From Date  :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                          label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>
                </ion-col>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
                  <ion-button style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
                </ion-col> -->
              </ion-row>

              <ion-row>
                <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
              </ion-row>

              <ion-row>
                <div class="scroll-container">
                  <table style="width: 4500px;">
                    <thead>
                      <tr>
                        <th style="background-color: azure; width: 500px !important;" colspan="4">Company</th>
                        <th style="background-color: azure;width: 1000px !important;" colspan="9">Address : 1</th>
                        <th style="background-color: azure;width: 1000px !important;" colspan="9">Address : 2</th>
                        <th style="background-color: azure;width: 800px !important;" colspan="8">Registration</th>
                        <th style="background-color: azure;width: 800px !important;" colspan="9">Modules</th>
                        <th style="background-color: azure;width: 500px !important;" colspan="5">Bank Details</th>
                        <th style="background-color: azure;width: 100px !important;" rowspan="2">Action</th>
                      </tr>
                      <tr>
                        <th style="width: 50px !important; ">Sr. No.</th>
                        <th  style="width: 120px !important; ">Comany Name</th>
                        <th  style="width: 50px !important; ">Company Code</th>
                        <th  style="width: 80px !important; ">Company GSTIN</th>
                        <th  style="width: 70px !important; ">Country</th>
                        <th  style="width: 70px !important; ">State</th>
                        <th  style="width: 70px !important; ">District</th>
                        <th  style="width: 70px !important; ">Pincode</th>
                        <th  style="width: 220px !important; ">Address</th>
                        <th  style="width: 70px !important; ">Mobile No.</th>
                        <th  style="width: 70px !important; ">WhatsApp No.</th>
                        <th  style="width: 110px !important; ">Email</th>
                        <th  style="width: 70px !important; ">Website URl</th>
                        <th  style="width: 70px !important; ">Country</th>
                        <th  style="width: 70px !important; ">State</th>
                        <th  style="width: 70px !important; ">District</th>
                        <th  style="width: 70px !important; ">Pincode</th>
                        <th  style="width: 200px !important; ">Address</th>
                        <th  style="width: 70px !important; ">Mobile No.</th>
                        <th   style="width: 70px !important; ">WhatsApp No.</th>
                        <th  style="width: 100px !important; ">Email</th>
                        <th  style="width: 70px !important; ">Website URl</th>
                        <th  style="width: 70px !important; ">Image</th>
                        <th  style="width: 70px !important; ">Starting Date</th>
                        <th  style="width: 70px !important; ">Industry Type</th>
                        <th  style="width: 70px !important; ">Business Type</th>
                        <th  style="width: 70px !important; ">Segment Type</th>
                        <th  style="width: 70px !important; ">GST Type</th>
                        <th  style="width: 70px !important; ">PAN No.</th>
                        <th  style="width: 70px !important; ">TAN No.</th>
                        <th  style="width: 50px !important; ">Sales</th>
                        <th  style="width: 50px !important; ">Purchase</th>
                        <th  style="width: 50px !important; ">Quotation</th>
                        <th  style="width: 50px !important; ">Challan</th>
                        <th  style="width: 50px !important; ">LMS</th>
                        <th  style="width: 50px !important; ">AMC</th>
                        <th  style="width: 50px !important; ">ALL Modules</th>
                        <th  style="width: 50px !important; ">Language</th>
                        <th  style="width: 50px !important; ">Curreny</th>
                        <th  style="width: 70px !important; ">Account No.</th>
                        <th  style="width: 70px !important; ">IFSC Code</th>
                        <th  style="width: 110px !important; ">Bank Name</th>
                        <th  style="width: 70px !important; ">Branch Name</th>
                        <th  style="width: 70px !important; ">UPI ID</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let company of companys$ | async; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{company.cpyname}}</td>
                        <td>{{company.companyid}}</td>
                        <td>{{company.gstin}}</td>
                        <td>{{company.selectedCountry}}</td>
                        <td>{{company.selectedState}}</td>
                        <td>{{company.selectedDistrict}}</td>
                        <td>{{company.pinCode}}</td>
                        <td>{{company.address}}</td>
                        <td>{{company.phone}}</td>
                        <td>{{company.wpnumber}}</td>
                        <td>{{company.email}}</td>
                        <td>{{company.website}}</td>
                        <td>{{company.selectedCountry1}}</td>
                        <td>{{company.selectedState1}}</td>
                        <td>{{company.selectedDistrict1}}</td>
                        <td>{{company.pinCode1}}</td>
                        <td>{{company.address1}}</td>
                        <td>{{company.phone1}}</td>
                        <td>{{company.wpnumber1}}</td>
                        <td>{{company.email1}}</td>
                        <td>{{company.website1}}</td>
                        <td>{{company.logo}}</td>
                        <td>{{company.rdate}}</td>
                        <td>{{company.industry}}</td>
                        <td>{{company.businesstype}}</td>
                        <td>{{company.segmenttype}}</td>
                        <td>{{company.companytype}}</td>
                        <td>{{company.pannumber}}</td>
                        <td>{{company.tanumber}}</td>
                        <td>{{company.sales}}</td>
                        <td>{{company.purchase}}</td>
                        <td>{{company.quotation}}</td>
                        <td>{{company.challan}}</td>
                        <td>{{company.lms}}</td>
                        <td>{{company.amc}}</td>
                        <td>{{company.alloftheabove}}</td>
                        <td>{{company.language}}</td>
                        <td>{{company.currency}}</td>
                        <td>{{company.accno}}</td>
                        <td>{{company.ifsc}}</td>
                        <td>{{company.bname}}</td>
                        <td>{{company.branchname}}</td>
                        <td>{{company.upiid}}</td>
                        <td class="Action">
                          <!-- <ion-icon color="danger" icon-only clear (click)="presentConfirmAlert(company.tid)" name="trash"></ion-icon> -->
                            <ion-icon color="primary" icon-only clear (click)="editcompany(company)" name="create"></ion-icon>
                        </td>
                      </tr>


                    </tbody>

                  </table>
                </div>
              </ion-row>
            </form>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>