<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon id="open-loading" (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="1000"></ion-loading>
              <ion-title style="text-align: center;">View Company</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
             
              <ion-row>
                <ion-searchbar class="custom" showCancelButton="focus" [(ngModel)]="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
              </ion-row>

              <ion-row>
                <div class="scroll-container">
                  <table style="width: 4000px;">
                    <thead>
                      <tr>
                        <th style="background-color: azure; width: 500px !important;" colspan="4">Company</th>
                        <th style="background-color: azure;width: 1000px !important;" colspan="9">Address : 1</th>
                        <th style="background-color: azure;width: 1000px !important;" colspan="9">Address : 2</th>
                        <th style="background-color: azure;width: 800px !important;" colspan="8">Registration</th>
                        <th style="background-color: azure;width: 800px !important;" colspan="9">Modules</th>
                        <th style="background-color: azure;width: 500px !important;" colspan="5">Bank Details</th>
                        <th style="background-color: azure;width: 100px !important;" rowspan="2">Action</th>
                      </tr>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Comany Name</th>
                        <th>Company Code</th>
                        <th>Company GSTIN</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>District</th>
                        <th>Pincode</th>
                        <th >Address</th>
                        <th>Mobile No.</th>
                        <th>WhatsApp No.</th>
                        <th >Email</th>
                        <th>Website URl</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>District</th>
                        <th>Pincode</th>
                        <th >Address</th>
                        <th>Mobile No.</th>
                        <th >WhatsApp No.</th>
                        <th >Email</th>
                        <th>Website URl</th>
                        <th>Image</th>
                        <th>Starting Date</th>
                        <th>Industry Type</th>
                        <th>Business Type</th>
                        <th>Segment Type</th>
                        <th>GST Type</th>
                        <th>PAN No.</th>
                        <th>TAN No.</th>
                        <th>Sales</th>
                        <th>Purchase</th>
                        <th>Quotation</th>
                        <th>Challan</th>
                        <th>LMS</th>
                        <th>AMC</th>
                        <th>ALL Modules</th>
                        <th>Language</th>
                        <th>Curreny</th>
                        <th>Account No.</th>
                        <th>IFSC Code</th>
                        <th >Bank Name</th>
                        <th>Branch Name</th>
                        <th>UPI ID</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let company of  filteredCompany$ | async; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{company.cpyname}}</td>
                        <td>{{company.companyid}}</td>
                        <td>{{company.gstin}}</td>
                        <td>{{company.selectedCountry}}</td>
                        <td>{{company.selectedState}}</td>
                        <td>{{company.selectedDistrict}}</td>
                        <td>{{company.pinCode}}</td>
                        <td>{{company.address}}</td>
                        <td>{{company.phone}}</td>
                        <td>{{company.wpnumber}}</td>
                        <td>{{company.email}}</td>
                        <td>{{company.website}}</td>
                        <td>{{company.selectedCountry1}}</td>
                        <td>{{company.selectedState1}}</td>
                        <td>{{company.selectedDistrict1}}</td>
                        <td>{{company.pinCode1}}</td>
                        <td>{{company.address1}}</td>
                        <td>{{company.phone1}}</td>
                        <td>{{company.wpnumber1}}</td>
                        <td>{{company.email1}}</td>
                        <td>{{company.website1}}</td>
                        <td>{{company.logo}}</td>
                        <td>{{company.rdate}}</td>
                        <td>{{company.industry}}</td>
                        <td>{{company.businesstype}}</td>
                        <td>{{company.segmenttype}}</td>
                        <td>{{company.companytype}}</td>
                        <td>{{company.pannumber}}</td>
                        <td>{{company.tanno}}</td>
                        <td>{{company.sales}}</td>
                        <td>{{company.purchase}}</td>
                        <td>{{company.quotation}}</td>
                        <td>{{company.challan}}</td>
                        <td>{{company.lms}}</td>
                        <td>{{company.amc}}</td>
                        <td>{{company.alloftheabove}}</td>
                        <td>{{company.language}}</td>
                        <td>{{company.currency}}</td>
                        <td>{{company.accno}}</td>
                        <td>{{company.ifsc}}</td>
                        <td>{{company.bname}}</td>
                        <td>{{company.branchname}}</td>
                        <td>{{company.upiid}}</td>
                        <td class="Action">
                          <!-- <ion-icon color="danger" icon-only clear (click)="presentConfirmAlert(company.tid)" name="trash"></ion-icon> -->
                            <ion-icon color="primary" icon-only clear (click)="editcompany(company)" name="create"></ion-icon>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>