.signup {
    width: 60%;
    margin-left: 20%;
}

.signup ion-input {
    min-height: 35px;
    margin-bottom: 10px;

    // color: goldenrod;
    font-weight: 400;
    box-shadow: none;
    background-color: #fff;
    color: black;
}

.signup select {
    min-height: 35px;
    // color: goldenrod;
    font-weight: 400;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px rgb(194, 194, 194);
}

.card1 {
    margin-top: -50px;
}

ion-header {
    display: none;
    visibility: hidden;
}

@media(max-width:912px) {
    .signup select {
        min-height: 35px;
        // color: goldenrod;
        font-weight: 400;
        background-color: #fff;
        margin-bottom: 4px;
    }

    .signup {
        width: 100%;
        margin-left: -10px;
    }
}