<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button style="float: left;" (click)="goBack()" fill="clear" class="custom-back-button">
      <ion-icon (click)="goBack()" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>-->

<ion-content class="home_page" [fullscreen]="true">
  <div class="signup">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="6">
          <ion-card class="card1">
            <img src="../../assets/ktechno-removebg-preview.png" alt="">
          </ion-card>
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-card class="card2">
            <ion-row style="justify-content: center;">
              <h1  style="color: goldenrod;font-size: 35px;font-weight: bold;">Sign up </h1>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-lg="12">
                <ion-input  color="warning"  class="sign_input" type="text" label="First Name" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-col>
              <ion-col size="12" size-lg="12">
                <ion-input  color="warning"  class="sign_input" type="text" label="Last Name" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="12">
                <ion-input  color="warning"  class="sign_input" type="tel" label="Mobile Number" label-placement="floating" maxength="10"
                  fill="outline"></ion-input>
              </ion-col>
              <ion-col size="12" size-lg="12">
                <ion-input  color="warning"  class="sign_input" type="email" label="Email" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="12">
                <ion-input  color="warning"  class="sign_input" type="Password" label="Password" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-col>
              <ion-col size="12" size-lg="12">
                <ion-input  color="warning"  class="sign_input" type="Password" label="Confirm Password" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6" size-lg="6" size-md="6" size-sm="12" size="12">
                <select  color="warning"  class="sign_select" id="countrySelect">
                  <option value="1">----Country----</option>
                  <option value="USA">United States</option>
                  <option value="Canada">Canada</option>
                  <option value="UK">United Kingdom</option>
                  <option value="Australia">Australia</option>
                  <option value="Germany">Germany</option>
                  <option value="France">France</option>
                  <option value="Japan">Japan</option>
                  <option value="China">China</option>
                  <option value="India">India</option>
                  <option value="Brazil">Brazil</option>
                </select>
              </ion-col>
              <ion-col size="6" size-lg="6" size-md="6" size-sm="12" size="12">
                <select  color="warning"  class="sign_select" id="hearAbout">
                  <option value="1">----How to you hear about me----</option>
                  <option value="Google">Google</option>
                  <option value="Social Media">Social Media</option>
                  <option value="Friend or Family">Friend or Family</option>
                  <option value="Advertisement">Advertisement</option>
                  <option value="News Article">News Article</option>
                  <option value="Other">Other</option>
                </select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="6">
                <ion-checkbox labelPlacement="end">I read and accept <a href="#"> Terms & Conditions</a></ion-checkbox>
              </ion-col>
            </ion-row>

            <ion-row style="justify-content: center;">
              <ion-button color="warning"  class="home_buttons">Signup Now</ion-button>
            </ion-row>

            <ion-row style="justify-content: center;">
              <p>Do you have an account? <a [routerLink]="['/login']">Login here</a></p>
            </ion-row>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>