<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button style="float: left;" (click)="goBack()" fill="clear" class="custom-back-button">
      <ion-icon (click)="goBack()" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>-->

<ion-content class="home_page" [fullscreen]="true">
  <div class="signup">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="6">
          <div class="card1">
            <img src="../../assets/ktechno-removebg-preview.png" alt="">
          </div>
        </ion-col>

        <ion-col size="12" size-lg="6">
          <div class="card2">
            <ion-row style="justify-content: center;color: black;font-size: 35px;font-weight: bold;text-decoration: underline;">
              <h1>Sign up </h1>
            </ion-row>

            <form #signUpFrom="ngForm" (ngSubmit)="signUp()">
              
            <ion-row>
              <ion-col size="12" size-lg="12">
                <ion-input [(ngModel)]="firstName" name="firstName" color="dark"   type="text" label="First Name" label-placement="floating"
                  fill="outline" [ngModelOptions]="{ standalone: true }"></ion-input>
              </ion-col>
              <ion-col size="12" size-lg="12">
                <ion-input [(ngModel)]="lastName" name="lastName" color="dark"   type="text" label="Last Name" label-placement="floating"
                  fill="outline" [ngModelOptions]="{ standalone: true }"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="12">
                <ion-input   [(ngModel)]="phone" name="phone" color="dark"   type="tel" label="Mobile Number" label-placement="floating" maxength="10"
                  fill="outline" [ngModelOptions]="{ standalone: true }"></ion-input>
              </ion-col>
              <ion-col size="12" size-lg="12">
                <ion-input  [(ngModel)]="email" name="email"  color="dark"   type="email" label="Email" label-placement="floating"
                  fill="outline" [ngModelOptions]="{ standalone: true }"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="12">
                <ion-input  [(ngModel)]="password" name="password" color="dark" type="Password" label="Password" label-placement="floating"
                  fill="outline" [ngModelOptions]="{ standalone: true }"></ion-input>
              </ion-col>
              <ion-col size="12" size-lg="12">
                <ion-input  [(ngModel)]="confirmpassword" name="confirmpassword" color="dark"   type="Password" label="Confirm Password" label-placement="floating"
                  fill="outline" [ngModelOptions]="{ standalone: true }"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6" size-lg="6" size-md="6" size-sm="12" style="width: 100%;">
                <select style="width: 100%;justify-content: center;text-align: center;"  color="warning"   id="countrySelect" [(ngModel)]="selectedOption" [ngModelOptions]="{ standalone: true }">
                  <option value="">----Country----</option>
                  <option value="USA">United States</option>
                  <option value="Canada">Canada</option>
                  <option value="UK">United Kingdom</option>
                  <option value="Australia">Australia</option>
                  <option value="Germany">Germany</option>
                  <option value="France">France</option>
                  <option value="Japan">Japan</option>
                  <option value="China">China</option>
                  <option value="India">India</option>
                  <option value="Brazil">Brazil</option>
                </select>
              </ion-col>
              <ion-col size="6" size-lg="6" size-md="6" size-sm="12" >
                <select style="width: 100%;justify-content: center;text-align: center;" color="warning"   id="hearAbout" [(ngModel)]="selectedOption" [ngModelOptions]="{ standalone: true }">
                  <option value="">----How to you hear about me----</option>
                  <option value="Google">Google</option>
                  <option value="Social Media">Social Media</option>
                  <option value="Friend or Family">Friend or Family</option>
                  <option value="Advertisement">Advertisement</option>
                  <option value="News Article">News Article</option>
                  <option value="Other">Other</option>
                </select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="6">
                <ion-checkbox [(ngModel)]="checkBoxSection" labelPlacement="end" [ngModelOptions]="{ standalone: true }">I read and accept <a href="#"> Terms & Conditions</a></ion-checkbox>
              </ion-col>
            </ion-row>

            <ion-row >
              <ion-button  type="submit"   fill="outline" class="home_buttons">Signup Now</ion-button>
            </ion-row>

            <ion-row style="justify-content: center;">
              <p>Do you have an account? <a [routerLink]="['/login']">Login here</a></p>
            </ion-row>
          </form>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>