
.Customer ion-input {
    min-height: 33px;
   // color: goldenrod;
   // font-weight: 400;
   // outline-color: goldenrod;
   outline-width: 2px;
   outline-style: initial;
}
.Customer ion-select {
   min-height: 33px;
   // color: goldenrod;
   // font-weight: 400;
   // outline-color: goldenrod;
   outline-width: 2px;
   outline-style: initial;
}

.Customer select {
   // color: goldenrod;
   // font-weight: 400;
   //border-color: goldenrod;
   width: 100%;
   text-align: left;
}

ion-popover {
    --background: rgba(235, 239, 240, 0.6);
    --backdrop-opacity: 0.6;
    // --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 650px;
  }
  
  ion-popover ion-content {
    --background: skyblue;
  }
  
  ion-popover::part(backdrop) {
    background-color: skyblue;
  }
  .custom-popover-table {
    width: 600px; /* Set the desired width */
    max-height: 300px !important;
  }
  
  .btn{
    --box-shadow: none;  
     font-size: 12px;
    margin-top: 3px;
    color: grey;
    font-weight: bold;
    padding: 0;
 }
 tr .table_input{
  max-height: 20px !important;
 }
 .icons ion-icon{
  font-size: 18px;
 }