<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Payment Transaction</ion-title>
              <div class="custom-primary">
                <ion-button size="small" [routerLink]="['/paymenttransaction-report']" id="open-loading5">View Payemnt
                  Transaction</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="Payemnt Transaction Showing ..."
                  [duration]="1000"></ion-loading>

              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="myform" (ngSubmit)="onSubmit()">
          <ion-row>

            <ion-col size="12" size-lg="6" size-md="6" size-sm="8">
              <ion-card>
              
                <ion-row>
                 
                    <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                      <ion-input [(ngModel)]="voucherNumber" formControlName="voucherNumber" name="voucherNumber" type="text" label="Voucher No.:"
                        label-placement="floating" fill="outline"></ion-input>
                    </ion-col>
                    <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                      <ion-input [(ngModel)]="paymentdate" formControlName="paymentdate" name="paymentdate" type="date" label="Payment Date:"
                        [(ngModel)]="paymentdate" label-placement="floating" fill="outline"></ion-input>
                    </ion-col>
                    <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                      <select class="select" name="ledgername" [(ngModel)]="ledgername" formControlName="ledgername">
                        <option value="0"> --- Cash --- </option>
                        <option value="1">Bank</option>
                        <option value="2">Card</option>
                      </select>
                    </ion-col>
                </ion-row>

                <ion-row style="margin-top: 10px;">
                  <div style="overflow-x:auto;height: 300px;border: 1px solid grey;">
                    <table style="width: 650px;overflow-x:auto;border: 1px solid grey; ">
                      <tr>
                        <th>Ledger Name</th>
                        <th >Dedit</th>
                        <th >Credit</th>
                        <th >Balance</th>

                      </tr>
                      <tr>
                        <td >
                          <select class="select-option" name="companyname" [(ngModel)]="companyname" formControlName="companyname" >
                            <option value="0">Ledger Name</option>
                           
                            <option *ngFor="let suppliername of supplier$ | async" [value]="suppliername.id">
                              {{ suppliername.name }}
                            </option>
                          </select>
                         
                        </td>
                        <td>
                          <ion-input class="table_input" name="debit" [(ngModel)]="debit" formControlName="debit" type="text"></ion-input>
                        </td>
                       
                        <td>
                          <ion-input class="table_input" name="credit" [(ngModel)]="credit" formControlName="credit" type="text"></ion-input>
                        </td>
                        <td>
                          <ion-input class="table_input" name="balance" [(ngModel)]="balance" formControlName="balance" type="text"></ion-input>
                        </td>
                      </tr>
                    </table>
                  </div>
                </ion-row>
                <table>
                  <tr>
                    <td style="float: right;">
                      <label for="" style="margin-right: 5px;">Total :</label>
                      <input type="text" name="total" [(ngModel)]="total" formControlName="total" style="border: none;outline: none;text-align: center;">
                    </td>
                  </tr>
                </table>
                
               
              </ion-card>

            </ion-col>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="4">
              <ion-card>
               
                <ion-row>
                  <ion-col size-lg="8" size-md="6" size-sm="6" size="6">
                    <ion-input  name="ledgername" [(ngModel)]="ledgername" formControlName="ledgername" type="text" label="Ledger Name:"
                      label-placement="floating" fill="outline"></ion-input>
                  </ion-col>
                  <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                    <ion-input  [(ngModel)]="total_payment" formControlName="total_payment" name="total_payment" type="text" label="Total Payment:"
                      label-placement="floating" fill="outline"></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row style="margin-top: 10px;">
                  <div style="overflow-x:auto;height: 300px;border: 1px solid grey;">
                    <table style="overflow-x:auto;border: 1px solid grey; ">
                      <tr>
                        <th>Type</th>
                        <th>Dr/Cr</th>
                        <th>Particular</th>
                        <th>Date</th>
                        <th>Dedit</th>
                        <th>Credit</th>

                      </tr>
                      <tr>
                        <td >
                          <select class="select-option" name="billtype" [(ngModel)]="billtype" formControlName="billtype">
                            <option value="0"> Type</option>
                            <option value="1">New Bill</option>
                            <option value="2">Towards Bill/Refrence</option>
                            <option value="3">On A/c</option>
                            <option value="4">Advance</option>
                          </select>
                        </td>
                        <td>
                          <select  class="select-option" name="selectdrcr" [(ngModel)]="selectdrcr" formControlName="selectdrcr">
                            <option value="0"> Dr/Cr</option>
                            <option value="1">Debit</option>
                            <option value="2">Credit</option>

                          </select>
                        </td>
                        <td class="select-option">
                          <ion-button class="btn" color="undefined" size="small" style="margin-top: 5px;"
                            (click)="presentPopover($event)">  Particulars <ion-icon
                              name="chevron-down-outline"></ion-icon></ion-button>
                          <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
                            <ng-template>
                              <ion-content class="ion-padding ">
                                <div class="scroll-container">
                                  <table style="width:700px;" class="custom-popover-table">
                                    <tr>
                                      <th style="width:70px;">Action</th>
                                      <th style="width:200px;"> Particulars</th>
                                      <th style="width:80px;">Date</th>
                                      <th style="width:100px;">Refrence</th>
                                      <th style="width:100px;">Original Amount</th>
                                      <th style="width:80px;">Balance</th>
                                      <th style="width:100px;">Sales Person</th>
                                    </tr>

                                    <tbody>
                                      <tr>
                                        <td class="icons">
                                          <ion-icon name="checkmark-circle-sharp" color="primary"></ion-icon>
                                        </td>
                                        <td>
                                          <ion-input class="table_input" name="particular" [(ngModel)]="particular" formControlName="particular" type="text"></ion-input>
                                        </td>
                                        <td>
                                          <ion-input class="table_input date"  name="datetype" [(ngModel)]="datetype" formControlName="datetype" type="date"></ion-input>
                                        </td>
                                        <td>
                                          <ion-input class="table_input" name="reference" [(ngModel)]="reference" formControlName="reference" type="text"></ion-input>
                                        </td>
                                        <td>
                                          <ion-input class="table_input" name="oriamount" [(ngModel)]="oriamount" formControlName="oriamount" type="text"></ion-input>
                                        </td>
                                        <td>
                                          <ion-input class="table_input" name="balanceamt" [(ngModel)]="balanceamt" formControlName="balanceamt" type="text"></ion-input>
                                        </td>
                                        <td>
                                          <ion-input class="table_input" name="sale_person" [(ngModel)]="sale_person" formControlName="sale_person" type="text"></ion-input>
                                        </td>

                                      </tr>

                                      <!-- Add more rows as needed -->
                                    </tbody>
                                  </table>
                                </div>
                              </ion-content>
                            </ng-template>
                          </ion-popover>
                        </td>
                        <td>
                          <ion-input class="date" type="date" name="datetype" [(ngModel)]="datetype" formControlName="datetype"></ion-input>
                        </td>
                        <td>
                          <ion-input type="text" name="debit" [(ngModel)]="debit" formControlName="debit"></ion-input>
                        </td>
                        <td>
                          <ion-input type="text" name="credit" [(ngModel)]="credit" formControlName="credit"></ion-input>
                        </td>
                      </tr>
                    </table>
                  </div>
                 
                </ion-row>
                <ion-row class="custom-primary" style="justify-content: right;margin-top: 10px;">
                  <ion-button id="open-loading" (click)="onNew()">New</ion-button>
                  <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                    [duration]="1000"></ion-loading>
                  <ion-button type="submit" id="open-loading1">Save</ion-button>
                  <ion-button (click)="onButtonClick()"></ion-button>
                  
                </ion-row>
           
              </ion-card>

            </ion-col>
          </ion-row>
        </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>