<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Payment Transaction</ion-title>
              <div class="custom-primary">
                <ion-button size="small" [routerLink]="['/paymenttransaction-report']" id="open-loading5">View Payemnt
                  Transaction</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="Payemnt Transaction Showing ..."
                  [duration]="1000"></ion-loading>

              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="myform" (ngSubmit)="onSubmit(myform,paymentData)">
            <ion-row>

              <ion-col size="12" size-lg="6" size-md="6" size-sm="8">
                <ion-card>

                  <ion-row>
                    <ion-col size-lg="3" size-md="6" size-sm="6" size="6">
                      <ion-input [(ngModel)]="voucherNumber" formControlName="voucherNumber" name="voucherNumber"
                        type="text" label="Voucher No.:" label-placement="floating" fill="outline"></ion-input>
                    </ion-col>
                    <ion-col size-lg="3.5" size-md="6" size-sm="6" size="6">
                      <ion-input [(ngModel)]="paymentdate" formControlName="paymentdate" name="paymentdate" type="date"
                        label="Payment Date:" [(ngModel)]="paymentdate" label-placement="floating"
                        fill="outline"></ion-input>
                    </ion-col>
                    <ion-col size-lg="5.5" size-md="12" size-sm="12" size="12" style="margin-bottom: 4px;">
                      <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                        label="Select Payment Transfer Method" label-placement="floating" fill="outline" [ngModel]="ledger"
                        formControlName="ledger" name="ledger">
                        <ion-select-option *ngFor="let ledger of ledgers$ | async; let i = index" [value]="ledger.id">{{ledger.lname}}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>

                  <ion-row style="margin-top: 10px;">
                    <div class="scroll-container">
                      <table style="width: 100%;overflow-x:auto; ">
                        <tr>
                          <th>Ledger Name</th>
                          <th>OutStanding</th>
                          <th>Payment Made</th>
                          <th>Pending Amt.</th>
                          <th>Payment By</th>

                        </tr>
                        <tr>
                          <td>
                            <select class="select-option" name="companyname" [(ngModel)]="selectedvendorId"
                              formControlName="companyname" (change)="fetchBillsForCustomer()">
                              <option value="0">Select Ledger Name</option>
                              <option *ngFor="let suppliername of supplier$ | async" [value]="suppliername.id">
                                {{ suppliername.name }}
                              </option>
                            </select>
                            
                          </td>
                          
                          <!-- Assuming the input field for outstanding_amount is in the first row -->
                          <td *ngIf="outstanding_amount !== null">
                            <ion-input class="table_input" name="outstanding" [(ngModel)]="outstanding" [value]="outstanding"
                              formControlName="outstanding" type="number"></ion-input>
                          </td>

                          <td>
                            <ion-input class="table_input" name="paymentmade" [(ngModel)]="paymentmade"
                               formControlName="paymentmade" type="number"></ion-input>
                          </td>
                          <td>
                            <ion-input class="table_input" name="pendingamt" [(ngModel)]="pendingamt"
                            [value]="calculatePendingAmount()" formControlName="pendingamt" type="number"></ion-input>
                          </td>
                          <td>
                            <select class="select-option" name="paymentway" [(ngModel)]="paymentway"
                              formControlName="paymentway" id="">
                              <option value="">Select Payment Way</option>
                              <option value="BillWise">BillWise</option>
                              <option value="On Account">On Account</option>
                            </select>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </ion-row>
                  <!-- <table>
                    <tr>
                      <td style="float: right;">
                        <label for="" style="margin-right: 5px;">Total :</label>
                        <input type="number" name="total" [(ngModel)]="total" formControlName="total"
                          style="border: none;outline: none;text-align: center;">
                      </td>
                    </tr>
                  </table> -->
                </ion-card>
              </ion-col>

              <ion-col size="12" size-lg="6" size-md="6" size-sm="4">
                <ion-card>

                  <ion-row>
                    <ion-col size-lg="8" size-md="12" size-sm="12" size="12">
                      <ion-input [value]="selectedvendorId" name="companyname" [(ngModel)]="companyname" formControlName="companyname" type="text"
                        label="Ledger Name:" label-placement="floating" fill="outline" ></ion-input>
                    </ion-col>
                    <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
                      <ion-input [(ngModel)]="total_payment" formControlName="total_payment" name="total_payment"
                      [value]="calculateTotalCurrentAmt()"  type="number" label="Total Payment:" label-placement="floating" fill="outline"></ion-input>
                    </ion-col>
                  </ion-row>
                  
                  <ion-row style="margin-top: 10px;" *ngIf="paymentway === 'BillWise'" >
                    <div class="scroll-container">
                      <table style="width: 100%; overflow-x:auto; ">
                        <tr>
                          <th style="width: 60px;">Select Bill</th>
                          <th style="width: 40px;">Sr. No.</th>
                          <th>Bill No.</th>
                          <th>Bill Date</th>
                          <th>Total Amt. Due</th>
                          <th>Receive Amt.</th>
                          <th>Current Amt.</th>
                          <th>Pending Amt.</th>

                        </tr>
                        <tr *ngFor="let purchase of myPaymentBillData; let i = index">
                          <td><ion-checkbox ></ion-checkbox></td>
                          <td>{{ i + 1 }}</td>
                          <td>
                            <ion-input type="text" name="billno " [value]="purchase.billNumber" >
                            </ion-input>
                          </td>
                          <td>
                            <ion-input type="text" name="billdate " [value]="purchase.billDate" >
                            </ion-input>
                          </td>
                          <td>
                            <ion-input class="date" type="number" name="totalamt" [value]="purchase.total" ></ion-input>
                          </td>

                          <td>
                            <ion-input class="date" type="number" name="receiveamt" [(ngModel)]="receiveamt"
                              formControlName="receiveamt" ></ion-input>
                          </td>
                          <td>
                            <ion-input class="date" type="number" name="currentamt" [(ngModel)]="currentamt"
                              formControlName="currentamt" ></ion-input>
                          </td>
                          <td>
                            <ion-input type="number" name="pendingamt" [(ngModel)]="pendingamt"
                              formControlName="pendingamt" ></ion-input>
                          </td>

                        </tr>
                      </table>
                    </div>
                    <div style="width: 100%;">
                      <table class="payment_table">
                        <tr>
                          <td >
                            <label for="">Total Due Amt:</label>
                            <input type="number" name="totaldueamt" [(ngModel)]="totaldueamt"
                              [value]="calculateTotalDueAmt()" formControlName="totaldueamt" >
                          </td>
                          <td>
                            <label for="" >Total Receive Amt:</label>
                            <input type="number" name="totalreceiveamt" [(ngModel)]="totalreceiveamt"
                            [value]="calculateTotalReceiveAmt()" formControlName="totalreceiveamt" >
                          </td>
                          <td>
                            <label for="" >Total Current Amt:</label>
                            <input type="number" name="totalcurrentamt" [(ngModel)]="totalcurrentamt"
                            [value]="calculateTotalCurrentAmt()" formControlName="totalcurrentamt" >
                          </td>
                          <td>
                            <label for="" >Total Pending Amt:</label>
                            <input type="number" name="totalpendingamt" [(ngModel)]="totalpendingamt"
                            [value]="calculateTotalPendingAmt()"  formControlName="totalpendingamt">
                          </td>
                        </tr>
                      </table>
                    </div>
                  </ion-row>
                  <ion-row class="custom-primary" style="justify-content: right;margin-top: 10px;">
                    <ion-button id="open-loading" (click)="onNew()">New</ion-button>
                    <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                      [duration]="1000"></ion-loading>
                    <ion-button id="open-loading1" type="submit">Save</ion-button>

                  </ion-row>

                </ion-card>

              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>