<ion-header>
  <ion-toolbar>
    <ion-title>
      Invoice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="invoice" #content class="invoice" style="border: solid 2px #000;">

    <div class="invoice-subheader" style="border: solid 2px #000;
    ">
      <ion-row *ngFor="let company of company$ | async; let i = index">
        <ion-col size="2">
          <img src="assets/ktechno-removebg-preview.png" alt="">
        </ion-col>
        <ion-col size="5" style="border-right: solid 2px #000;">
          <h1>{{company.cpyname}}</h1>
          <!-- <h6>(Software Sales & Services)</h6> -->
          <h5><span>Address:</span>
            {{company.address}}
          </h5>
          <h5><span>Branch :</span>
            {{company.address1}}</h5>
          <ion-row>
            <ion-col size="6">
              <h5><span>GSTIN:</span>{{company.gstin}}</h5>
              <h5><span>Email Id :</span>{{company.email}}</h5>
              <h5><span>Pan No :</span>{{company.pannumber}}</h5>
              <h5><span>Country :</span>{{company.selectedCountry}}
              </h5>
            </ion-col>
            <ion-col size="6">
              <h5><span>State:</span>{{company.selectedState}}
              </h5>
              <h5><span>Phone No.:</span>{{company.phone}}</h5>
              <h5><span>WhatsApp No.:</span>{{company.wpnumber}}</h5>

              <h5><span>Website:</span>{{company.website}}</h5>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="5" class="details">
          <div *ngFor="let sales of sales$ | async; let i = index">
            <h5><span>Invoice No : </span>{{sales.billNumber}}</h5>
            <h5><span>Date : </span> {{ sales.billDate }}</h5>
            <h5><span>PO Ref No. : </span> {{ sales.refrence }}</h5>
            <h5><span>PO Date : </span> {{ sales.refdate }}</h5>
            <h5><span>Remark : </span> {{ sales.description }}</h5>
          </div>
         


        </ion-col>
      </ion-row>

    </div>
    <div class="invoice-header">
      <h1>Tax Invoice</h1>
    </div>
    <div class="shipping">
      <ion-row>
        <ion-col size="6" style="border-right: solid 2px #000;">
          <div *ngFor="let customer of customers$ | async; let i = index">
            <h1>Billing Details (Bill To)</h1>
            <h5><span>Name : </span> {{customer.name}}</h5>
            <h5><span>Address : </span> {{customer.address}}</h5>
            <ion-row>
              <ion-col size="8">
                <h5><span>POS : </span> {{customer.stateid}}</h5>
              </ion-col>
              <ion-col size="4">
                <h5><span>Code : </span> {{customer.customer_code}}</h5>
              </ion-col>
            </ion-row>
            <h5><span>Phone No : </span> {{customer.customer_code}}</h5>
            <h5><span>GSTIN : </span> {{customer.gstin}}</h5>
          </div>
        </ion-col>
        <ion-col size="6">
          <div *ngFor="let customer of customers$ | async; let i = index">
            <h1>Shiping Details (Ship To)</h1>
            <h5><span>Name : </span> {{customer.name}}</h5>
            <h5><span>Address : </span> {{customer.address}}</h5>
            <ion-row>
              <ion-col size="8">
                <h5><span>POS : </span> {{customer.stateid}}</h5>
              </ion-col>
              <ion-col size="4">
                <h5><span>Code : </span> {{customer.customer_code}}</h5>
              </ion-col>
            </ion-row>
            <h5><span>Phone No : </span> {{customer.customer_code}}</h5>
            <h5><span>GSTIN : </span> {{customer.gstin}}</h5>
          </div>

        </ion-col>
      </ion-row>
    </div>
    <div class="Declaration">
      <h5><span>Declaration : </span> We declare that this invoice show the actual price of the goods described and that
        all particulars are true and correct.</h5>
    </div>
    <div class="invoice-content">


      <table style="width: 100%;scroll-behavior: auto;height: 400px;">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Item Code</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>MRP</th>
            <th>Net Rate</th>
            <th>Tax %</th>
            <th>Tax Amt.</th>
            <th>Discount Amt.</th>
            <th>Net Amount</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sales of sales$ | async; let i = index" style="max-height: 30px !important;">
            <td style="max-height: 30px !important;">{{ i + 1 }}</td>
            <td style="max-height: 30px !important;">{{sales.itemcode}}</td>
            <td style="max-height: 30px !important;">{{sales.itemname}}</td>
            <td style="max-height: 30px !important;">{{sales.quantity}}</td>
            <td style="max-height: 30px !important;">{{sales.unitname}}</td>
            <td style="max-height: 30px !important;">{{sales.mrp}}  &#8377;</td>
            <td style="max-height: 30px !important;">{{sales.netrate}}  &#8377;</td>
            <td style="max-height: 30px !important;">{{sales.taxrate}} %</td>
            <td style="max-height: 30px !important;">{{sales.totaltax}}  &#8377;</td>
            <td style="max-height: 30px !important;">{{sales.discountamt}}  &#8377;</td>
            <td style="max-height: 30px !important;">{{sales.total}}  &#8377;</td>

          </tr>
        </tbody>
      </table>

    </div>
    <div class="invoice-footer">
      <ion-row>
        <ion-col size="9">
          <div class="taxtable">
            <table style="width: 100%;">
              <tr>
                <th>Taxable AMT</th>
                <th>CGST %</th>
                <th>CGST AMT</th>
                <th>SGST %</th>
                <th>SGST AMT</th>
                <th>IGST %</th>
                <th>IGST AMT</th>
              </tr>
              <tr *ngFor="let sales of sales$ | async; let i = index">
                <td>{{sales.totaltax}}</td>
                <td>{{sales.taxrate/2}} %</td>
                <td>{{sales.CGST}}</td>
                <td>{{sales.taxrate/2}} %</td>
                <td>{{sales.SGST}}</td>
                <td>{{sales.taxrate}} %</td>
                <td>{{sales.IGST}}</td>
              </tr>
              <tr>
                <th>Total</th>
                <th>CGST</th>
                <th>{{ cgstamt | currency: 'INR' }}</th>
                <th>SGST </th>
                <th>{{ sgstamt | currency: 'INR' }}</th>
                <th>IGST</th>
                <th>{{ igstamt | currency: 'INR' }}</th>
              </tr>
            </table>
          </div>
          <div class="banktable" *ngFor="let sales of sales$ | async; let i = index">
            <table style="width: 100%;">
              <tr>
                <th colspan="4" style="text-align: center;background: #e1e0e0;">Bank Details:</th>
              </tr>
              <tr>
                <!-- <th>UPI ID</th> -->
                <th>IFSC Code</th>
                <td>{{sales.ifsc_code}}</td>
                <th>Bank Name :</th>
                <td>{{sales.bank_name}}</td>
              </tr>
              <tr>
                <th>Account Number :</th>
                <td>{{sales.account_number}}</td>
                <th>Branch Name :</th>
                <td>{{sales.branch_name}}</td>
              </tr>

            </table>

          </div>

        </ion-col>
        <ion-col size="3" style="border: solid 1px #000;">
          <div>
          <h5><span>Total Amount  : </span>{{ totalAmount | currency: 'INR' }}</h5>
          <p>Discount Amount : {{ discountAmount | currency: 'INR' }}</p>
       

          <p>CGST Amt : {{ cgstamt | currency: 'INR' }}</p>
          <p>SGST Amt : {{ sgstamt | currency: 'INR' }}</p>
          <p>Taxable Amount :{{ taxAmount | currency: 'INR' }}</p>
          <p>Discount Amount :{{ discountAmount | currency: 'INR' }}</p>
          <p>Pre Tax : &#8377; {{ pretaxAmount | currency: 'INR' }}</p>
          <p>Post Tax : &#8377;{{ posttaxAmount | currency: 'INR' }}</p>
          <p>Cess Amount : &#8377; 00.0</p>
          <p>Round Off Amount : {{ grandTotal | currency: 'INR' }}</p>
          <h5><span>Grand Total : </span>{{ grandTotal | currency: 'INR' }}</h5>
        </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="Declaration">
      <h6><span>No. Of Items : </span>{{totalitem}}</h6>
      <h5><span>Amount In Words : </span>{{ grandTotal | currency: 'INR'  }}</h5>
    </div>
    <div class="invoice-footer">
      <ion-row>
        <ion-col size="8" class="terms">
          <h6>Terms & Condition : </h6>
          <ul>
            <li>After 1 Year AMC will applicable</li>
            <li>Kindly do not update software without AMC.</li>
            <li>Our Support Numbers are : 8829976868, 7577576868</li>
            <li>Payment : 100% against to Installation</li>
          </ul>


        </ion-col>
        <ion-col size="4" style="height: 70px;">
          <h6 style="text-align: center;font-weight: 900;">For K Techno</h6>
          <h6 style="text-align: center;margin-top: 90px;font-weight: 700;">Authorised Signatory</h6>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>