<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back" ></ion-icon>
              <ion-title style="text-align: center;">Role Assign</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row style="margin: 10px 0; width: 100%;">
            <div style="overflow:auto; width: 100%;">
              <table style="width:100%;">
                <tr>
                  <th style="width: 50px;">Select</th>
                  <th style="width: 100px;">Module Name</th>
                  <th style="width: 50px;">All</th>
                  <th style="width: 50px;">New</th>
                  <th style="width: 50px;">View</th>
                  <th style="width: 50px;">Edit</th>
                  <th style="width: 50px;">Delete</th>
                  <th style="width: 50px;">Print</th>
                </tr>
                <tr>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td>Sales</td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                </tr>
                <tr>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td>Purchase</td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                </tr>
                <tr>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td>Quotation</td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                </tr>
                <tr>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td>Challan</td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                </tr>
                <tr>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td>LMS</td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                </tr>
                <tr>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td>AMC</td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                </tr>
                <tr>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td>Sales</td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                  <td><ion-checkbox></ion-checkbox></td>
                </tr>

              </table>
            </div>
          </ion-row>
          <ion-row class="custom-primary" style="justify-content: right;">
              <ion-button>New</ion-button>
              <ion-button type="submit" id="open-loading">Save</ion-button>
              <ion-button>Close</ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>