.master_windows {
    text-align: center;

}

.master_logo {
    justify-content: center;
    background-color: black;
}

.master_logo img {
    height: 70px;
    width: 70px;
}

ion-card {
    background-color: black;
}
 ion-card:hover {
    background-color: #525252;
}
.row1{
    display: flex;
    justify-content: center;
}
.master_logo h1 {
    color: goldenrod;
    font-size: 22px;
    text-decoration: underline;
}

.master ion-icon {
    color: goldenrod;
    font-size: 40px;
}

.master ion-card-subtitle {
    color: goldenrod;
    font-size: 22px;
}

.master a {
    text-decoration: none;
}

.sales_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sales_icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: goldenrod;
}



@media(max-width:540px) {
    .master ion-icon {
        color: goldenrod;
        font-size: 30px;
    }

    .master ion-card-subtitle {
        color: goldenrod;
        font-size: 16px;
    }
}

@media(max-width:414px) {
    .master ion-icon {
        color: goldenrod;
        font-size: 24px;
    }

    .master ion-card-subtitle {
        color: goldenrod;
        font-size: 12px;
    }

    .master_window ion-card {
        height: 120px;
        width: 100px;
    }
}

@media(max-width:280px) {

    .master_window ion-card {
        height: 100px;
        width: 85px;
        margin-left: -5px;
    }
}