<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>View Sale</ion-title>
   </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Sales Return Report</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <form #viewSaleForm="ngForm" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size-lg="2" size-md="2" size-sm="6" size="12">
              </ion-col>
              <ion-col size-lg="8" size-md="8" size-sm="6" size="12">
                <ion-row>
                  <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-row>
                      <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date" label=" From Date  :"
                        label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>
                  <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-row>
                      <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                        label-placement="floating" fill="outline"></ion-input>
                    </ion-row>
                  </ion-col>
  
                </ion-row>
              </ion-col>
              <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
                <ion-button  style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
              </ion-col>
            </ion-row>
              
            <ion-row>
              <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
            </ion-row>

              <ion-row>
                <div class="scroll-container" style="overflow-x:auto; width: 100%;">
                  <table style="width:3055px;">
                    <tr>
                      <th style="width: 50px !important;">Sr.No.</th>
                      <th style="width: 70px !important;">Bill Formate</th>
                      <th style="width: 100px !important;">Billing No.</th>
                      <th style="width: 100px !important;">Billing Date</th>
                      <th style="width: 100px !important;">From Billing NO.</th>
                      <th style="width: 100px !important;">Customer Code</th>
                      <th style="width: 100px !important;">Customer Name</th>
                      <th style="width: 100px !important;">Refrence No.</th>
                      <th style="width: 100px !important;">Refrence Date</th>
                      <th style="width: 100px !important;">Order No.</th>
                      <th style="width: 100px !important;">Order Date</th>
                      <th style="width: 100px !important;">GSTIN</th>
                      <th style="width: 100px !important;">Sales Person Name</th>
                      <th style="width: 100px !important;">Payment Mode</th>
                      <th style="width: 100px !important;">Delivery Date</th>
                      <th style="width: 100px !important;">Delivery Place</th>
                      <th style="width: 100px !important;">BarCode</th>
                      <th style="width: 70px !important;">Item Code</th>
                      <th style="width: 150px !important;">Item Name</th>
                      <th style="width: 120px !important;">Description</th>
                      <th style="width: 50px !important;">Quantity</th>
                      <th style="width: 70px !important;">Unit</th>
                      <th style="width: 50px !important;">MRP</th>
                      <th style="width: 70px !important;">Basic Rate</th>
                      <th style="width: 70px !important;">Net Rate</th>
                      <th style="width: 70px !important;">Gross Amount</th>
                      <th style="width: 50px !important;">GST</th>
                      <th style="width: 50px !important;">CGST</th>
                      <th style="width: 50px !important;">SGST</th>
                      <th style="width: 50px !important;">IGST</th>
                      <th style="width: 70px !important;">Discount %</th>
                      <th style="width: 100px !important;">Discount Amount</th>
                      <th style="width: 70px !important;">Tax Amount</th>
                      <th style="width: 70px !important;">Pre-Tax</th>
                      <th style="width: 70px !important;">Post-Tax</th>
                      <th style="width: 70px !important;">Net Amount</th>
                      <th style="width: 70px !important;">Action</th>
                    </tr>
                    <tr  *ngFor="let salreturns of salreturn$ | async; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{salreturns.billformate}}</td>
                      <td>{{salreturns.billNumber}}</td>
                      <td>{{salreturns.billDate}}</td>
                      <td>{{salreturns.frombill}}</td>
                      <td>{{salreturns.custcode}}</td>
                      <td>{{salreturns.custname}}</td>
                      <td>{{salreturns.refrence}}</td>
                      <td>{{salreturns.refdate}}</td>
                      <td>{{salreturns.orderNumber}}</td>
                      <td>{{salreturns.orderDate}}</td>
                      <td>{{salreturns.gstin}}</td>
                      <td>{{salreturns.salePerson}} </td>
                      <td>{{salreturns.payment}}</td>
                      <td>{{salreturns.deliverydate}}</td>
                      <td>{{salreturns.deliveryplace}}</td>
                      <td>{{salreturns.barcode}}</td>
                      <td>{{salreturns.itemcode}}</td>
                      <td>{{salreturns.itemname}} </td>
                      <td>{{salreturns.description}} </td>
                      <td>{{salreturns.quantity}}</td>
                      <td>{{salreturns.unitname}}</td>
                      <td>{{salreturns.mrp}}</td>
                      <td>{{salreturns.basicrate}}</td>
                      <td>{{salreturns.netrate}}</td>
                      <td>{{salreturns.grossrate}}</td>
                      <td>{{salreturns.taxrate}}</td>
                      <td>{{salreturns.CGST}}</td>
                      <td>{{salreturns.SGST}}</td>
                      <td>{{salreturns.IGST}}</td>
                      <td>{{salreturns.discount}}</td>
                      <td>{{salreturns.discountamt}}</td>
                      <td>{{salreturns.totaltax}}</td>
                      <td>{{salreturns.pretax}}</td>
                      <td>{{salreturns.posttax}}</td>
                      <td>{{salreturns.total}}</td>
                     
                      <td>
                        <ion-icon name="create"></ion-icon>
                        <ion-icon name="trash"></ion-icon>
                      </td>
                    </tr>

                  </table>
                </div>
              </ion-row>

              <!-- <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
                <ion-button>New</ion-button>
                <ion-button type="submit">Save</ion-button>
                <ion-button>Delete</ion-button>
                <ion-button>Preview</ion-button>
                <ion-button>Close</ion-button>
              </ion-row> -->

            </form>

          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
