<ion-content>
  <h1  style="text-align: center;">Attribute Table</h1>
  <div style="padding: 10px;width: 800px;text-align: center;scroll-behavior: auto;overflow: hidden; overflow-x: auto;">
    <table style="width: 600px;text-align: center;scroll-behavior: auto;overflow: hidden; overflow-x: auto;">
      
      <tr>
        <th>Item No.</th>
        <!-- Display attribute names dynamically -->
        <!-- <th *ngFor="let attr of selectedItemAttributes">{{ attr.attr1 + ' ' + attr.attr2 + ' '+ ' ' + attr.attr3+ ' ' + attr.attr4 }}</th> -->
        <th *ngFor="let attr of selectedItemAttributes">{{attr.attr2}}</th>
        <!-- <th *ngFor="let attr of selectedItemAttributes">{{ attr.attr2}}</th>
        <th *ngFor="let attr of selectedItemAttributes">{{ attr.attr3}}</th>
        <th *ngFor="let attr of selectedItemAttributes">{{ attr.attr4}}</th>
        <th *ngFor="let attr of selectedItemAttributes">{{ attr.attr5}}</th>
        <th *ngFor="let attr of selectedItemAttributes">{{ attr.attr6}}</th>
        <th *ngFor="let attr of selectedItemAttributes">{{ attr.attr7}}</th>
        <th *ngFor="let attr of selectedItemAttributes">{{ attr.attr8}}</th> -->


      </tr>
      <tbody>
        <tr *ngFor="let row of rowData; let i = index">
          <td style="width: 100px;">{{ i + 1 }}</td> <!-- Serial Number -->
          <!-- Display attribute values dynamically -->
          <td *ngFor="let attr of selectedItemAttributes">
            <input type="text" [(ngModel)]="row[attr]" class="pop_input">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ion-button style="justify-content: right;" size="small" (click)="closePopover()">Close</ion-button>

</ion-content>
