
ion-content {
    overflow: hidden !important;
  }
  
  /* Add custom styles to the popover content */
  .quantity-popover-content {
    width: 300px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    overflow-y: auto; /* Add vertical scroll if the content overflows */
  }
  
  /* Hide the scrollbar thumb (indicator) */
  .quantity-popover-content::-webkit-scrollbar-thumb {
    display: none;
  }
  
  /* Optional: Hide the scrollbar track */
  .quantity-popover-content::-webkit-scrollbar-track {
    display: none;
  }
  
  
  /* Add custom styles to the popover content */
  .quantity-popover-content {
    width: 300px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    overflow-y: auto; /* Add vertical scroll if the content overflows */
  }
  
  /* Hide the scrollbar thumb (indicator) */
  .quantity-popover-content::-webkit-scrollbar-thumb {
    display: none;
  }
  
  /* Optional: Hide the scrollbar track */
  .quantity-popover-content::-webkit-scrollbar-track {
    display: none;
  }

  .pop_input{
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  /* styles.scss or your custom stylesheet */

/* Increase the width and height of the popover content */
.quantity-popover-content {
    width: 400px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    max-width: 90vw; /* Set the maximum width if needed */
    max-height: 90vh; /* Set the maximum height if needed */
    overflow-y: auto; /* Add vertical scroll if the content overflows */
  }
  
  /* Hide the scrollbar thumb (indicator) */
  .quantity-popover-content::-webkit-scrollbar-thumb {
    display: none;
  }
  
  /* Optional: Hide the scrollbar track */
  .quantity-popover-content::-webkit-scrollbar-track {
    display: none;
  }
  

 
  .table-container {
    width: 800px;
    overflow-x: auto;
    margin: 10px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: center;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: #abf5ff;
  }
  
  input.pop_input {
    width: 100%;
    box-sizing: border-box;
  }
  