<ion-content>
  <div style="padding: 10px;">
    <table style="width: 100%;">
      <tr>
        <th>Item No.</th>
        <th>Attr1</th>
        <th>Attr2</th>
        <th>Attr3</th>
        <th>Attr4</th>
        <th>Attr5</th>
        <th>Attr6</th>
        <th>Attr7</th>
        <th>Attr8</th>
      </tr>
      <tbody >
      <tr *ngFor="let row of rows; let i = index">
        <td style="width: 100px;">{{ i + 1 }}</td> <!-- Serial Number -->
        <td><input type="text" [(ngModel)]="rowData[i].attr1" class="pop_input"></td>
        <td><input type="text" [(ngModel)]="rowData[i].attr2" class="pop_input"></td>
        <td><input type="text" [(ngModel)]="rowData[i].attr3" class="pop_input"></td>
        <td><input type="text" [(ngModel)]="rowData[i].attr4" class="pop_input"></td>
        <td><input type="text" [(ngModel)]="rowData[i].attr5" class="pop_input"></td>
        <td><input type="text" [(ngModel)]="rowData[i].attr6" class="pop_input"></td>
        <td><input type="text" [(ngModel)]="rowData[i].attr7" class="pop_input"></td>
        <td><input type="text" [(ngModel)]="rowData[i].attr8" class="pop_input"></td>
      </tr>
    </tbody>
    </table>
    <ion-button style="float: right;bottom: 0;" size="small" (click)="closePopover()">Close</ion-button>
  </div>

</ion-content>
