ion-content {
    --ion-width: 100%;
    // --ion-background-color:lightgrey;
    --margin-top: 100px;
  }
  
  ion-header {
    margin-bottom: 75px;
  }
  
  .dash {
    border-bottom: 1px solid grey;
    padding: 5px;
    display: flex;
    justify-content: end;
  }
  
  .gamil {
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-right: 20px;
    background: linear-gradient(0deg, rgba(95, 184, 215, 1) 0%, rgba(95, 184, 215, 0.7) 50%, rgba(95, 184, 215, 0.4) 100%);
    padding: 5px;
    border-radius: 20px;
  }
  
  .line {
    line-height: 16px;
  }
  
  ion-col {
    display: flex;
    flex-direction: column;
  
  }
  
  .line {
    line-height: 11px;
  }
  
  .table_data {
    padding: 5px 10px;
  }
  
  
  // .table-data {
  //   background: linear-gradient(0deg, rgba(95, 184, 215, 1) 0%, rgba(95, 184, 215, 0.7) 50%, rgba(95, 184, 215, 0.4) 100%);}
  
  .table-container {
    background: linear-gradient(0deg, rgba(95, 184, 215, 1) 0%, rgba(95, 184, 215, 0.7) 50%, rgba(95, 184, 215, 0.4) 100%);
    width: 500px;
  }
  
  ion-content {
    --margin-top: 80px !important;
  
  }
  
  .container_fluid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .table-container {
    width: 100%;
    height: 400px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .scroll-container table {
    border: solid 1px lightblue !important;
    min-width: 100% !important;
    min-height: 270px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
  }
  
  .scroll-container {
    width: 100%;

    /* Set the width of the container */
    height: 290px;
    /* Set the height of the container */
    overflow-x: scroll;
    /* Enable horizontal scrollbar when content overflows */
    overflow-y: scroll;
    // background-color: white;
  }
  
  .table-container p {
    // background-color: lightblue;
    font-size: 20px;
    // border-bottom: 1px solid white;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  /* Style the table inside the container */
  .table-container table {
    width: 100%;
    padding: 10px;
    border: none;
    // border: 1px solid grey;
    height: 200px;
  }
  
  tr {
    border: none;
    cursor: pointer;
  }
  
  th {
    border: none;
    width: 300px;
    // border-top: 1px solid rgb(199, 191, 191);
    // border-bottom: 1px solid rgb(199, 191, 191);
    // background-color: lightgray;
    padding: 0px 12px;
    font-size: 14px;
  }
  
  td {
    border: none;
    width: 300px;
    // border-bottom: 1px solid rgb(199, 191, 191);
    // color: grey;
    padding: 0px 12px;
    font-size: 13px;
  }
  
  a {
    text-decoration: none;
    color: grey;
  }
  
  tr:hover {
    background-color: rgb(224, 215, 215);
    border-radius: 10px;
  }
  
  tr a:hover {
    color: blue;
  }
  
  input[type="date"] {
    border: none;
    width: 150px;
    background-color: transparent;
  }
  
  .icon-container {
    height: 100%;
    width: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(95, 184, 215, 1) 0%, rgba(95, 184, 215, 0.7) 50%, rgba(95, 184, 215, 0.4) 100%);
  }
  
  .icon-container1 {
    height: 100%;
    width: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(95, 184, 215, 1) 0%, rgba(95, 184, 215, 0.7) 50%, rgba(95, 184, 215, 0.4) 100%);
  }
  
  
  
  // .leadscard ion-title {
  //   font-size: 26px;
  //   color: black;
  //   font-weight: bolder;
  // }
  
  // .leadscard ion-icon {
  //   font-size: 28px;
  //   color: rgb(69, 69, 69);
  //   font-weight: bolder;
  // }
  
  // .leadscard ion-label {
  //   font-size: 18px;
  //   font-weight: bold;
  //   color: #737373;
  // }
  
  .hovers:hover {
    background-color: white;
    cursor: pointer;
  }
  
  .headinglabel ion-label {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  .dash ion-title {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    background: linear-gradient(0deg, rgba(95, 184, 215, 1) 0%, rgba(95, 184, 215, 0.7) 50%, rgba(95, 184, 215, 0.4) 100%);
    accent-color: #f39c12;
    /* Yellow/Gold */
  
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
    color: black;
  }
  
  .dash ion-chip {
    background: linear-gradient(0deg, rgba(95, 184, 215, 1) 0%, rgba(95, 184, 215, 0.7) 50%, rgba(95, 184, 215, 0.4) 100%);
  
    text-align: center;
    height: 40px;
    margin-top: 6px;
  }
  
  .leadsrouter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .leadsrouter ion-icon {
    padding: 5px;
    color: rgb(0, 0, 0);
  }
  
  .leadsrouter ion-card {
    margin: 10px;
    width: 80%;
  }
  
  .leadsrouter ion-label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  
  ion-item:hover {
    background: linear-gradient(0deg, rgba(95, 184, 215, 1) 0%, rgba(95, 184, 215, 0.7) 50%, rgba(95, 184, 215, 0.4) 100%);
    border-radius: 8px;
  
    ion-icon {
      transition: 0.5s all linear;
      color: white;
    }
  
    ion-label {
      color: #000;
    }
  }
  
  @media(max-width:575px) {
    .icon-container {
      margin-top: 10px;
    }
  
  }
  
  @media(max-width:375px) {
    .scroll-container {
      width: 350px;
      /* Set the width of the container */
      height: 290px;
      /* Set the height of the container */
      overflow-x: scroll;
      /* Enable horizontal scrollbar when content overflows */
      overflow-y: scroll;
      // background-color: white;
    }
  }
  
  ion-card {
    /* Add styles for non-hover state */
    transition: transform 0.3s ease;
    /* Add smooth transition effect */
  }
  
  ion-card:hover {
    /* Add styles for hover state */
    transform: scale(1.05);
    cursor: pointer;
    /* Increase the size on hover, adjust as needed */
  }
  
  ion-select {
    --background-color: transparent;
    color: rgb(0, 0, 0);
  
    font-weight: bold;
    outline-color: rgb(0, 0, 0);
  }
  
  .graph {
    background: linear-gradient(0deg, rgba(95, 184, 215, 1) 0%, rgba(95, 184, 215, 0.7) 50%, rgba(95, 184, 215, 0.4) 100%);
    padding: 10px;
    /* Add padding for spacing */
    margin: 5px;
    border-radius: 10px;
    height: 60%;
  }
  
  .chart-canvas {
    background-color: #d1fffd;
    /* Set canvas background color */
    border: 1px solid #ccc;
    /* Add a border for better visibility */
    border-radius: 5px;
    /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add box shadow for a subtle effect */
  } 
  .leadscard ion-card {
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .row ion-icon {
    background-color: #ffeaac;
    border-radius: 4px;
    margin: 4px;
    padding: 5px;
    height: 50px;
    width: 50px;
    justify-content: left;
    text-align: left;
  
  }
  .row img {
    background-color: #ffeaac;
    border-radius: 4px;
    margin: 4px;
    padding: 5px;
    height: 60px;
    width: 100px;
    justify-content: left;
    text-align: left;
  
  }
  
  .row ion-title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
  color: #000;
  }
  
  .row ion-label {
    display: flex;
    text-align: center;
    justify-content: center;
    //margin-left: 10px;
    font-weight: 900;
    font-size: 16px;
    color:#2b2b2b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }