.master_window {
    text-align: center;
}
.master_logo {
    justify-content: center;
    background-color: black;
}
.master_logo img {
    height: 70px;
    width: 70px;
}
.master {
    color: #525252;
    transition: all 0.5s linear;
    box-shadow: none;
}
.master:hover {
    background-color: #525252;
    // text-indent: 5px;
    transform: translateX(10px); 
}
ion-card-subtitle{
    font-size: 25px;
}


.master ion-icon {
    color: goldenrod;
    font-size: 40px;
}
.master a {
    text-decoration: none;
}

@media(max-width:540px) {
    .master ion-icon {
        color: goldenrod;
        font-size: 30px;
    }

    .master ion-card-subtitle {
        color: goldenrod;
        font-size: 16px;
    }
}

@media(max-width:414px) {
    .master ion-icon {
        color: goldenrod;
        font-size: 24px;
    }

    .master ion-card-subtitle {
        color: goldenrod;
        font-size: 12px;
    }

    .master_window ion-card {
        height: 120px;
        width: 100px;
    }
}

@media(max-width:280px) {

    .master_window ion-card {
        height: 100px;
        width: 85px;
        margin-left: -5px;
    }
}