 <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>Master Window</ion-title>
   </ion-item>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <div class="master_window">
    <ion-grid>
      <!-- <ion-row class="master_logo">
        <img src="https://k-techno.in/images/K_techno_l-removebg-preview.png" alt="">

      </ion-row> -->
     
      <ion-row>
        <ion-col  size-lg="3" size-md="4" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./add-prospect">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="medkit"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>Add Prospect</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
        <ion-col  size-lg="3" size-md="4" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./add-customer">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="woman"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>Add Customer</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>


        <ion-col  size-lg="3" size-md="4" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./add-vendor">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="walk"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>Add Vendor</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
        <ion-col  size-lg="3" size-md="4" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./hsn-manager">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="walk"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>HSN Manager</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size-lg="3" size-md="4" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./add-item">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="cart"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>Add Item</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>

        <ion-col  size-lg="3" size-md="4" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./add-service">
              <ion-card-header>
                <ion-card-title><ion-icon name="clipboard"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle> Add Service</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
        <ion-col  size-lg="3" size-md="4" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./add-executive">
              <ion-card-header>
                <ion-card-title><ion-icon name="clipboard"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>Add Executive</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
        <ion-col  size-lg="3" size-md="4" size-sm="6" size="6">
          <ion-card class="master">
            <a href="./item-master">
              <ion-card-header>
                <ion-card-title><ion-icon name="clipboard"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>Item Master</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
      
      </ion-row>
      <!--<ion-row>
        <ion-col size="4" size-lg="4" size-md="4" size-sm="4" size="4">
          <ion-card class="master">
            <a href="./challan-manager">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="desktop-outline"></ion-icon>
                </ion-card-title>
                <ion-card-subtitle>Challan Manager</ion-card-subtitle>
              </ion-card-header>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>-->
    </ion-grid>
  </div>
</ion-content>