ion-card {
    margin-top: 0px;
    position: relative;
}



.hsn_manager ion-input {
    border: solid 1.5px goldenrod;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    min-height: 35px;
    
    padding: 5px;
    color: #000000;

}
.hsn_manager ::-ms-value{
    margin-left: 5px;
}

.hsn_manager ion-label {
    font-weight: bold;
    color: goldenrod;
    text-decoration: underline;
    font-size: 16px;

}

.hsn_manager ion-select {
    border: solid 1.5px goldenrod;
    border-radius: 3px;
    background-color: #fff;
    min-height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #000000;

}


.hsn_manager ion-textarea {
    border: solid 1.5px goldenrod;
    border-radius: 3px;
    background-color: #fff;
    min-height: 30px;
    color: #000000;

}
.tables{
    width: 100%;
    // border-radius: 5px;
}
table {
    border-collapse: collapse;
     width: 1057px;
    border-radius: 5px;
}

th, td {
    border: 1px solid goldenrod;
    padding: 8px;
    text-align: center;
    color: white;
}
td{
    color: #000;
}

th {
    background-color: #000;
}

.add_input{
    width: 50px;
    outline: none;
    border:1px solid goldenrod;
    border-radius: 3px;
}
option{
    border-color: goldenrod;
    text-align: center;
    color: #000;
}
// .selects{
//     display: flex;
//     flex-direction: column;
// }
select{
    border: solid 1.5px goldenrod;
    border-radius: 3px;
    background-color: #fff;
    font-size: 15px;
    min-height: 30px;
    padding: 0 5px;
    outline: none;
  
}
ion-icon {
    font-size: 25px;
}
.add{
    font-weight: bolder;
}
.print{
    color: grey;
}
.delete {
    color: red;
    font: 10px;
}

.create {
    color: rgb(24, 24, 204);
    font: 10px;
}

.show {
    color: green;
}

.save {
    color: rgb(159, 15, 196);
}

ion-searchbar.custom {
    --background: goldenrod;
    --color: #000000;
    --placeholder-color: #000000;
    --icon-color: #000000;
    --clear-button-color: #000000;
  
    --border-radius: 4px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: goldenrod;
  }
  
  ion-searchbar.md.custom {
    --cancel-button-color: #000000;
  }