<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>View Executive</ion-title>
   </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="hsn_manager">
    <ion-card-content>
      <ion-grid>
        <ion-row style="justify-content: right;">
          <ion-button color="warning">Go to Excel</ion-button>
          <ion-button color="warning">
           add
          </ion-button>
          <ion-button color="warning">
           view
          </ion-button>
          <ion-button color="warning">
            save
          </ion-button>
          <ion-button color="warning">
cancel
          </ion-button>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-searchbar class="custom " showCancelButton="focus"></ion-searchbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="tables" style="overflow-x:auto;">
            <div class="row">
              <table>
                <tr>
                  <th>Sr.No.</th>
                  <th>Name</th>
                  <th>Phone No.</th>
                  <th>Email ID</th>
                  <th>Area</th>
                  <th>PAN</th>
                  <th>Group Name</th>
                  <th>Commission %</th>
                  <th>Lead ID</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Naman</td>
                  <td>1234567890</td>
                  <td>example@gmail.com</td>
                  <td>Jaipur</td>
                  <td>1221323DSFSD3</td>
                  <td>King</td>
                  <td>5%</td>
                  <td>123</td>
                  <td>
                    <ion-icon class="create" name="create"></ion-icon>
                    <ion-icon class="delete" name="trash"></ion-icon>
                  </td>

                </tr>
              </table>
            </div>
          </div>
        </ion-row>
        <ion-row>
          <ion-col style="display: flex; justify-content: right; align-items: center;">  
              <ion-button color="warning">New</ion-button>
              <ion-button color="warning">Save</ion-button>
              <ion-button color="warning">Delete</ion-button>
              <ion-button color="warning">Close</ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>