ion-card {
    margin-top: 0px;
    position: relative;
}



.Customer ion-input {
    min-height: 35px;
}
.Customer ::-ms-value{
    margin-left: 5px;
}

.Customer ion-select {
    min-height: 30px;
}


.Customer ion-textarea {
    border-radius: 3px;
    min-height: 30px;
}
.tables{
    width: 100%;
    // border-radius: 5px;
}
table {
    border-collapse: collapse;
     width: 1057px;
    border-radius: 5px;
}

