<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Purchase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid class="add_sale">
       
        <ion-row>
          <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-label> Billing No. :</ion-label>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-label> Billing Date:</ion-label>
            <ion-input type="date" ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-label> Voucher No. :</ion-label>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-label> Date :</ion-label>
            <ion-input type="date" ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-label> Supplier :</ion-label>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col class="selects" size="6" size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-label> Payment Type :</ion-label>
              <select aria-label="Default select example" id="transaction">
                <option selected>-Select-</option>
                <option value="1">Credit</option>
                <option value="2">Cash</option>
              </select>
          </ion-col>
        </ion-row> 

        <ion-row>
          <div class="tables" style="overflow-x:auto;">
            <div class="row">
                <table>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Discount%</th>
                        <th>Discount Amount</th>
                        <th>CGST</th>
                        <th>SGST</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                          <input class="add_input" type="text">
                        </td>
                        <td>
                            <select style="width: 120px;" class="table-select"
                                aria-label="Default select example" id="transaction">
                                <option selected>-Select-</option>
                                <option value="1">Credit</option>
                                <option value="2">Cash</option>
                            </select>
                        </td>
                        <td>1</td>
                        <td>100</td>
                        <td>
                          <input class="add_input" type="text">
                        </td>
                        <td>12</td>
                        <td>18</td>
                        <td>18</td>
                        <td>110</td>
                        <td>
                            <ion-icon class="create" name="create"></ion-icon>
                            <ion-icon class="delete" name="trash"></ion-icon>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
        </ion-row>

        <ion-row style="justify-content: right;">
          <ion-button color="warning">
            <ion-icon class="add" name="add"></ion-icon>
          </ion-button>
          <ion-button color="warning">
            <ion-icon class="print" name="print"></ion-icon>
          </ion-button>
          <ion-button color="warning">
            <ion-icon class="show" name="eye"></ion-icon>
          </ion-button>
          <ion-button color="warning">
            <ion-icon class="save" name="save"></ion-icon>
          </ion-button>

        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>


