<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Prospect</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content  [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Prospect</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
        <ion-row>
          <ion-row class="headinglabel">
            <ion-label style="font-size: 18px; font-weight: bold;">Contact Information :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <form #addprospectForm="ngForm" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="fullName" name="fullName" type="text" label=" Full Name :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="companyName" name="companyName" type="text"
                    label=" Company Name :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="phoneNumber" name="phoneNumber" type="number"
                    label=" Phone Number :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="email" name="email" type="email" label=" Email :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

            </ion-row>

            <ion-row class="headinglabel">
              <ion-label >Address :</ion-label><span
                style="width: 100%; height: 2px; background-color: black;"></span>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <select [(ngModel)]="country" name="country">
                  <option style="background-color: black;font-weight: bold; font-size: 16px;" value="">--Select
                    Country--
                  </option>
                  <option value="India">India</option>
                  <option value="UK">UK</option>
                  <option value="USA">USA</option>
                </select>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <select [(ngModel)]="state" name="state">
                  <option style="background-color: black;font-weight: bold; font-size: 16px;" value="">
                    --Select
                    State--</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="West Bengal">West Bengal</option>
                  <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu
                  </option>
                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Puducherry">Puducherry</option>
                </select>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <select [(ngModel)]="city" name="city">
                  <option style="background-color: black;font-weight: bold; font-size: 16px;" value="">--
                    Select
                    City--</option>
                  <option value="Mumbai">Mumbai</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Bangalore">Bangalore</option>
                  <option value="Hyderabad">Hyderabad</option>
                  <option value="Chennai">Chennai</option>
                  <option value="Kolkata">Kolkata</option>
                  <option value="Pune">Pune</option>
                  <option value="Ahmedabad">Ahmedabad</option>
                  <option value="Jaipur">Jaipur</option>
                  <option value="Lucknow">Lucknow</option>
                </select>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="pinCode" name="pinCode" type="number" label=" PinCode  :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="fullAddress" name="fullAddress" type="text"
                    label="Full Address :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row  class="headinglabel">
              <ion-label >Company Information :</ion-label><span
                style="width: 100%; height: 2px; background-color: black;"></span>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="companySize" name="companySize" type="number"
                    label=" Company Size  :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="industryType" name="industryType" type="text"
                    label=" Industry Type :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="website" name="website" type="text" label=" Website :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="revenue" name="revenue" type="number"
                    label=" Annual Revenue  :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="headinglabel">
              <ion-label>Follow-Up Dates and Tasks :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="followDate" name="followDate" type="Date"
                    label="Follow-Up Date :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="leadStatus" name="leadStatus" type="text"
                    label="Lead Status :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="leadScore" name="leadScore" type="text" label="Lead Score :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-row>
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input color="dark" class="sign_input" type="text" label=" Full Name :"
                      label-placement="floating"  fill="outline"></ion-input>
                  </ion-row>
                </ion-col>
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input color="dark" class="sign_input" type="text" label=" Company Name :"
                      label-placement="floating"  fill="outline"></ion-input>
                  </ion-row>
                </ion-col>

                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input color="dark" class="sign_input" type="number" label=" Phone Number :"
                      label-placement="floating"  fill="outline"></ion-input>
                  </ion-row>
                </ion-col>
                <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input color="dark" class="sign_input" type="email" label=" Email :"
                      label-placement="floating"  fill="outline"></ion-input>
                  </ion-row>
                </ion-col>

              </ion-row>

            </ion-row>
          <ion-row class="headinglabel">
            <ion-label>Attachments :</ion-label><span
            style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-row>
              <input type="file" id="fileUpload" [(ngModel)]="fileUpload" name="fileUpload">
            </ion-row>
            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button>New</ion-button>
              <ion-button type="submit">Save</ion-button>
              <ion-button>Delete</ion-button>
              <ion-button>Preview</ion-button>
              <ion-button>Close</ion-button>
            </ion-row>
          </ion-row>
         
          </form>
        </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
