<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Prospect</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="child_window" [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-item lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title>Add Prospect</ion-title>
            </ion-item>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row style="justify-content: right;margin-top: -15px;">
            <ion-icon id="left-start" size="large" name="ellipsis-vertical-outline"></ion-icon>
            <ion-popover trigger="left-start" size="auto" side="left" alignment="start">
              <ng-template>
                <ion-button style="color: black;" size="small" color="undefined">Delete</ion-button>
                <ion-button style="color: black;" size="small" color="undefined">Edit</ion-button>
                <ion-button style="color: black; " size="small" color="undefined">Save</ion-button>
              </ng-template>
            </ion-popover>
          </ion-row>

          <ion-row>
            <ion-label style="font-size: 25px; font-weight: bold;">Contact Information :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Full Name :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Company Name :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <!-- Second Row -->
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Job Title :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">GSTIN :</ion-label>
                <ion-input class="input-width"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="email" label=" Email :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Phone Number :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Address :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="4" size-lg="6" size-md="6" size-sm="12">
              <!-- <ion-item lines="none"> -->
              <!-- <ion-label class="label-width">Country :</ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="India">---Select
                  Country---
                </option>
                <option value="India">India</option>
                <option value="UK">UK</option>
                <option value="USA">USA</option>
              </select>
              <!-- </ion-item> -->
            </ion-col>
            <ion-col class="row" size="4" size-lg="6" size-md="6" size-sm="12">
              <!-- <ion-item lines="none">
                <ion-label class="label-width">State :</ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="--Select--">---Select
                  State ---</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu
                </option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Delhi">Delhi</option>
                <option value="Puducherry">Puducherry</option>
              </select>
              <!-- </ion-item> -->
            </ion-col>
            <ion-col class="row" size="4" size-lg="6" size-md="6" size-sm="12">
              <!-- <ion-item lines="none">
                <ion-label class="label-width">City :</ion-label> -->
              <select class="select-width">
                <option style="background-color: black;font-weight: bold; font-size: 16px;" value="--Select--">---
                  Select
                  City ---</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Delhi">Delhi</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Chennai">Chennai</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Pune">Pune</option>
                <option value="Ahmedabad">Ahmedabad</option>
                <option value="Jaipur">Jaipur</option>
                <option value="Lucknow">Lucknow</option>
                <!-- Add more cities as needed -->
              </select>

              <!-- </ion-item> -->
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label=" PinCode  :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">PinCode :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Full Address :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width">Address :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item> -->
            </ion-col>
          </ion-row>
          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Company Information :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label=" Company Size  :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Industry Type :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label=" Website :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label=" Annual Revenue  :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="number" label=" Lead Source:  :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>


          </ion-row>
          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Follow-Up Dates and Tasks :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="Date" label="Follow-Up Date :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-textarea color="warning" class="sign_input" type="text" label="Tasks :" label-placement="floating"
                  fill="outline"></ion-textarea>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Lead Status :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Lead Score :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Budget :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="text" label="Lead Owner :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Attachments :</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <input type="file" name="fileUpload" id="fileUpload">
          </ion-row>
          <ion-row style="justify-content: right;margin-top: 20px;">
            <ion-button color="warning">New</ion-button>
            <ion-button color="warning">Save</ion-button>
            <ion-button color="warning">Delete</ion-button>
            <ion-button color="warning">Preview</ion-button>
            <ion-button color="warning">Close</ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>