.Customer ion-card{
    width: 50%;
    margin-left: 25%;
}

.Customer ion-input {
    min-height: 35px;
    
    outline-width: 2px;
    outline-style: initial;
}
.Customer ion-textarea {
    min-height: 35px;
   
}


ng-template ion-button{
    color: goldenrod;
}

@media(max-width:940px){
    .Customer ion-card{
        width: 100%;
        margin-left: 0%;
    }
}
@media(max-width:540px){
    .Customer ion-input {
        min-height: 25px;
       
        outline-width: 2px;
        outline-style: initial;
    }
    .Customer ion-textarea {
        min-height: 30px;
        text-align: left;
        font-size: 10px;
       
    }
   

}