<ion-content class="container_fluid">
  <div class="dash">
    <ion-chip>
      <ion-label class="gamil"> Company Name</ion-label>
    </ion-chip>
    <ion-title>
      Master Dashboard
    </ion-title>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="gamil">{{username}}</ion-label>
    </ion-chip>
    <div class="custom-primary" style="justify-content: right;text-align: right;">
      <ion-buttons slot="end">
        <ion-button (click)="openNotificationsPage()">
          <ion-icon color="light" size="large" name="notifications-circle-outline"></ion-icon>
          <ion-badge color=danger *ngIf="notificationCount > 0">{{ notificationCount }}</ion-badge>
        </ion-button>
      </ion-buttons>
      <ion-button expand="block" (click)="logout()">
        <ion-icon color="light" size="medium" name="log-out-outline"></ion-icon>
      </ion-button>
    </div>

  </div>

  <div class="lead_nav">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8" size-sm="9" size-lg="9">
          <div class="icon-container1">
            <ion-row class="leadscard">

              <ion-col size="6" size-lg="3" size-md="4" size-sm="4">
                <ion-card style="text-align: center;background-color: rgb(255, 244, 244);" class="hovers"
                  [routerLink]="'/viewcustomer'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <img src="assets/evaluation.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totalCustomer }}</ion-title>
                      <ion-label>
                        Active Customer
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="4" size-sm="4">
                <ion-card style="text-align: center;background-color:rgb(199, 250, 199);" class="hovers"
                  [routerLink]="'/viewsupplier'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <img src="assets/supplier.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totalSupplier }}</ion-title>
                      <ion-label>
                        Active Supplier
                      </ion-label>
                    </ion-col>
                  </ion-row>

                </ion-card>
              </ion-col>

              <ion-col size="6" size-lg="3" size-md="4" size-sm="4">
                <ion-card style="text-align: center;background-color: rgb(255, 164, 164);" class="hovers"
                  [routerLink]="'/viewitem'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <img src="assets/list-items.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totalItems}}</ion-title>
                      <ion-label>
                        Total Items
                      </ion-label>
                    </ion-col>
                  </ion-row>

                </ion-card>
              </ion-col>

              <ion-col size="6" size-lg="3" size-md="4" size-sm="4">
                <ion-card style="text-align: center;background-color: rgb(231, 181, 254);" class="hovers"
                  [routerLink]="'/viewexicutive'">
                  <ion-row class="row">
                    <ion-col size="4">
                      <img src="assets/skills.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <ion-title>{{totalExecitve}}</ion-title>
                      <ion-label>
                        Total Executive
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>

            </ion-row>
          </div>
          <div class="graph">
            <ion-grid>
              <ion-row>
                <ion-col size-lg="3" size-sm="3" size-md="6" size="12">
                  <ion-label>
                    Active Customer
                  </ion-label>
                  <!-- <ion-title>{{totalCustomer }}</ion-title> -->
                  <canvas id="customerBarChart" class="chart-canvas"></canvas>

                </ion-col>
                <ion-col size-lg="3" size-sm="3" size-md="6" size="12">
                  <ion-label>
                    Active Supplier
                  </ion-label>
                  <!-- <ion-title>{{totalSupplier }}</ion-title> -->
                  <canvas id="supplierBarChart" class="chart-canvas"></canvas>

                </ion-col>
                <ion-col size-lg="3" size-sm="3" size-md="6" size="12">
                  <ion-label>
                    Total Items
                  </ion-label>
                  <!-- <ion-title>{{totalItems}}</ion-title> -->
                  <canvas id="itemBarChart" class="chart-canvas"></canvas>

                </ion-col>
                <ion-col size-lg="3" size-sm="3" size-md="6" size="12">
                  <ion-label>
                    Total Executive
                  </ion-label>
                  <!-- <ion-title>{{totalExecitve}}</ion-title> -->
                  <canvas id="executiveBarChart" class="chart-canvas"></canvas>

                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

        </ion-col>
        <ion-col size="12" size-lg="3" size-sm="3" size-md="4">
          <div class="icon-container">
            <ion-row style="margin-top: 10px;padding: 8px;">
              <ion-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedOptions" multiple
                class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="Select Master Table" label-placement="floating" fill="outline">
                <ion-select-option value="customerlist">Customer List</ion-select-option>
                <ion-select-option value="vendorlist">Vendor List</ion-select-option>
                <ion-select-option value="executivelist">Executive List</ion-select-option>
                <ion-select-option value="itemlist">Item List</ion-select-option>
              </ion-select>
            </ion-row>
            <ion-row class="headinglabel" style="text-align: center;">
              <ion-label color="dark">Master Page Manage :</ion-label>
            </ion-row>
            <ion-row class="leadsrouter">
              <ion-item [routerLink]="['/add-customer']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Add Customer
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/add-vendor']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Add Supplier
                </ion-label> <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/add-item']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Add Item
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/add-executive']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Add Executive
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
            </ion-row>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row class="lead_details">
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container" *ngIf="selectedOptions.includes('customerlist')">
          <p>Customer List</p>
          <ion-searchbar class="customs" [(ngModel)]="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th>Sr. No.</th>
                <th>Code</th>
                <th>Customer Name</th>
                <th>City</th>
                <th>Executive</th>
                <th>Mobile No.</th>
                <!-- <th >Email</th> -->

              </tr>
              <tr *ngFor="let customer of filteredCustomers$ | async; let i = index">

                <td>{{ i + 1 }}</td>
                <td>{{customer.customer_code}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.districtid}}</td>
                <td>{{customer.select_sales_person}}</td>
                <td>{{customer.mobile}}</td>
                <!-- <td>{{customer.email}}</td> -->

              </tr>
            </table>
          </div>
        </div>
      </ion-col>
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container" *ngIf="selectedOptions.includes('vendorlist')">
          <p>Supplier List</p>
          <ion-searchbar class="customs"  [(ngModel)]="searchTerms" (ionInput)="onSearchTermSupplier()"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th>Sr. No.</th>
                <th>Name</th>
                <th>Code</th>
                <th>Mobile No.</th>
                <th>Email</th>
              </tr>
              <tr *ngFor="let vendoer of filteredSupplers$ | async; let i = index">
                <td>{{i + 1}}</td>
                <td>{{vendoer.name}}</td>
                <td>{{vendoer.vendor_code}}</td>
                <td>{{vendoer.mobile}}</td>
                <td>{{vendoer.email}}</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container" *ngIf="selectedOptions.includes('executivelist')">
          <p>Executive List</p>
          <ion-searchbar class="customs"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th>Sr. No.</th>
                <th>Executive Role</th>
                <th>Executive Code</th>
                <th>Executive Name</th>
                <th>Phone Number</th>
                <th>Email</th>
              </tr>
              <tr *ngFor="let execute of executives$ | async; let i = index">
                <td>{{i + 1}}</td>
                <td>{{execute.roleid}}</td>
                <td>{{execute.excode}}</td>
                <td>{{execute.executivename}}</td>
                <td>{{execute.emobile}}</td>
                <td>{{execute.eemail}}</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container" *ngIf="selectedOptions.includes('itemlist')">
          <p>Item List</p>
          <ion-searchbar class="customs"></ion-searchbar>
          <div class="scroll-container">
            <table>
              <tr>
                <th>Sr. No.</th>
                <th>Item Code</th>
                <th>Item Description</th>
                <th>Item Type</th>
                <th>Item Group</th>
              </tr>
              <tr *ngFor="let item of items$ | async; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.itemCode}}</td>
                <td>{{item.itemDesc}}</td>
                <td>{{item.itemtypename}}</td>
                <td>{{item.selectItemGroup}}</td>
              </tr>

            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>