<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create Password</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-row style="justify-content: center;">
            <ion-col size="12">
              <ion-row>
                <ion-input [(ngModel)]="createpass" formControlName="createpass" color="dark" name="password" type="password" label="Create Password:" label-placement="floating"
                  fill="outline"></ion-input>
                  <div *ngIf="form && form.controls['createpass']?.hasError('required') && form.controls['createpass'].touched" class="error-message">
                    You can write password in using 0-9 numbers,!@#$%^&*()_+~?>:",a-z,A-Z characters
                  </div>
              </ion-row>
              <!-- <p>You can write password in using 0-9 numbers,!@#$%^&*()_+~?>:",a-z,A-Z characters</p> -->

            </ion-col>
          </ion-row>
         <ion-row style="justify-content: center;">
            <ion-col  size="12">
              <ion-row>
                <ion-input [(ngModel)]="cunfpass" formControlName="cunfpass" color="dark" name="cunfpass" type="password" label="Confrum Password :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
              <ion-checkbox style="margin-top: 5px;" [indeterminate]="true"></ion-checkbox>
              <ion-label> I agree to the terms and conditions</ion-label>
            </ion-col>
          </ion-row>



          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <!-- <ion-button>New</ion-button> -->
              <ion-button type="submit" id="open-loading">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Password Creating..."
              [duration]="1000"></ion-loading>
              <!-- <ion-button>Delete</ion-button> -->
              <!-- <ion-button>Preview</ion-button> -->
              <!-- <ion-button>Close</ion-button> -->
            </ion-row>
          </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>