<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Stock</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Stock Window</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <ion-row>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Product Name :"
                  label-placement="floating" fill="outline" ></ion-input>
              </ion-row>
            </ion-col>

            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <select class="select-width">
                  <option style="background-color: rgb(255, 255, 255);font-weight: bold; font-size: 16px;" value="">
                    Product Category :</option>
                  <option value="1">Credit</option>
                  <option value="2">Cash</option>
                </select>
              </ion-row>
            </ion-col>
        
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-textarea style="min-height: 35px;" color="dark" class="sign_input" type="text" label=" Description :"
                  label-placement="floating" fill="outline"></ion-textarea>
              </ion-row>
            </ion-col>

            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row style="min-height: 35px;">
                <select class="select-width" >
                  <option style="background-color: rgb(255, 255, 255);font-weight: bold; font-size: 16px;" value="">
                    Applicate for HSN :</option>
                  <option value="1">Credit</option>
                  <option value="2">Cash</option>
                </select>
              </ion-row>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Dealer Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>

            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label=" Op. Qty :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
         
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label=" Op. Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>


            </ion-col>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Purchase Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label=" Cl. Qty :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label=" Avg. Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
          
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="MRP Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Sale. Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label=" Wrnt. Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Max. Stock :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
         
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Min. Stock :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Tax % age :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="CGST/SGST :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label=" IGST :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
        
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label=" VAT :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
            <ion-col class="row" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label=" CGST/SGST :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button id="open-loading">New</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..." [duration]="1000"></ion-loading>
            <ion-button type="submit" id="open-loading1">Save</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading1" message="New Stock Adding..." [duration]="1000"></ion-loading>
            <ion-button id="open-loading2">Delete</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading2" message="Deleting Customer..." [duration]="1000"></ion-loading>
            <ion-button id="open-loading3">Preview</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading3" message="Previewing..." [duration]="1000"></ion-loading>
            <ion-button id="open-loading4">Close</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..." [duration]="1000"></ion-loading>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>