
ion-header{
    --background-color:#000;
    text-align: center;
}

ion-title{
    font-weight: bold;
    color: goldenrod;
}
ion-card {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

ion-item {
    --background: transparent;
    --border-color: #000000;
    /* You can adjust the border color as needed */
    height: 50px;

}

ion-input {
    --background: transparent;
    --color: #000000;
    /* You can adjust the text color as needed */
}


ion-icon {
    font-size: 25px;
}
.add{
    font-weight: bolder;
}
.print{
    color: grey;
}
.delete {
    color: red;
    font: 10px;
}

.create {
    color: rgb(24, 24, 204);
    font: 10px;
}

.show {
    color: green;
}





.label_input{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: row;
}
.add_label{
    color: goldenrod;
    font-weight: bold;
    font-size: 12px;
}
.add_input{
    min-height: 20px;
    border: 1px solid goldenrod;
}
select{
    border-color: goldenrod;
    width: 150px;
    outline: none;
    text-align: center;
}

.add_textarea{
    border: 1px solid goldenrod;
    width: 235px;
}