<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Quotation</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Quotation</ion-title>
              <div class="custom-primary">
                <ion-button size="small" [routerLink]="['/view-quot']" id="open-loading5">View Quotation</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="Quotation Showing ..."
                  [duration]="1000"></ion-loading>

              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form #myform="ngForm" (ngSubmit)="onSubmit(myform,quoteData)">
            <ion-row>
              <ion-col size-lg="1.5" size-md="2" size-sm="2" size="4">
                <select [(ngModel)]="billformate" name="billformate">
                  <option value="0" disabled selected>Bill Formate</option> <!-- Default option -->
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </ion-col>

              <ion-col size-lg="1" size-md="2" size-sm="2" size="4">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="quoteNumber" name="quoteNumber" type="text" label="Quote No. :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>


              <ion-col size-lg="1.5" size-md="2" size-sm="2" size="4">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="quateDate" name="quateDate" type="date" label="Date :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>


              <ion-col size-lg="1" size-md="2" size-sm="2" size="4">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="custcode" name="custcode" type="text" label="Code :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size-lg="4" size-md="2" size-sm="2" size="4">
                <select [(ngModel)]="custname" name="custname">
                  <option value="0" disabled selected>Customer Name</option> <!-- Default option -->
                  <option value="1">Deepak</option>
                  <option value="2">Ram</option>
                  <option value="3">Shyam</option>
                  <option value="4">Lakshman</option>

                </select>
              </ion-col>

              <ion-col size-lg="1.5" size-md="2" size-sm="2" size="4">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="refrence" name="refrence" type="text" label="Refrence No. :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size-lg="1.5" size-md="2" size-sm="2" size="4">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="refdate" name="refdate" type="date" label="Ref. Date :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>


              <!-- <ion-col size-lg="2" size-md="2" size-sm="2" size="4">
                    <select [(ngModel)]="quateTax" name="quateTax">
                      <option value="" disabled selected>Quote Tax</option>
                      <option value="" disabled selected>Quote Tax</option>
                      <option value="1">5%</option>
                      <option value="2">12%</option>
                      <option value="3">18%</option>
                      <option value="4">28%</option>
                    </select>
                  </ion-col> -->

            </ion-row>

            <ion-row style="margin-top: 7px;">
              <div class="scroll-container">

                <table style="width:1555px;">
                  <tr>
                    <th style="width: 50px !important;">Sr.No.</th>
                    <th style="width: 100px !important;">BarCode</th>
                    <th style="width: 70px !important;">Item Code</th>
                    <th style="width: 150px !important;">Item Name</th>
                    <th style="width: 120px !important;">Description</th>
                    <th style="width: 50px !important;">Quantity</th>
                    <th style="width: 70px !important;">Unit</th>
                    <th style="width: 50px !important;">MRP</th>
                    <th style="width: 70px !important;">Basic Rate</th>
                    <th style="width: 70px !important;">Net Rate</th>
                    <th style="width: 70px !important;">Gross Amount</th>
                    <th style="width: 50px !important;">GST</th>
                    <th style="width: 50px !important;">CGST</th>
                    <th style="width: 50px !important;">SGST</th>
                    <th style="width: 50px !important;">IGST</th>
                    <th style="width: 70px !important;">Discount %</th>
                    <th style="width: 100px !important;">Discount Amount</th>
                    <th style="width: 70px !important;">Tax Amount</th>
                    <th style="width: 70px !important;">Net Amount</th>
                    <th style="width: 70px !important;">Action</th>
                  </tr>
                  <tr *ngFor="let quote of quoteData; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                      <input [(ngModel)]="quote.barcode" name="barcode" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.itemcode" name="itemcode" class="table_input" type="text">
                    </td>
                    <td>
                      <ion-select ion-select interface="popover" [(ngModel)]="quote.itemname" name="itemname" class="table_input"
                      aria-label="Default select example" id="itemname" class="table_select">
                      <ion-select-option>Item 1</ion-select-option>
                      <ion-select-option>Item 2</ion-select-option>
                      <ion-select-option>Item 3</ion-select-option>

                    </ion-select>
                    </td>
                    <td>
                      <input [(ngModel)]="quote.description" name="description" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.quantity" name="quantity" class="table_input" type="number">

                    </td>
                    <td>
                      <select class="select" [(ngModel)]="unitname$"  name="unit_name$" >
                        <option value="0">--- Select Unit Name ---</option>
                        <option *ngFor="let unitname of unitname$ | async" [value]="unitname.unitid">
                          {{ unitname.unitname }}
                        </option>
                      </select>     
                    </td>
                    <td>
                      <input [(ngModel)]="quote.mrp" name="mrp" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.basicrate" name="basicrate" class="table_input" type="number">

                    </td>
                    <td>
                      <input [(ngModel)]="quote.netrate" name="netrate" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.grossrate" name="grossrate" class="table_input" type="number">
                    </td>
                    <td>
                      <ion-select interface="popover" [(ngModel)]="quote.taxrate" name="taxrate" id="taxrate">
                        <ion-select-option value="">Select GST</ion-select-option>
                        <!-- Default option with value 0 -->
                        <ion-select-option *ngFor="let gsttype of taxrate$ | async" [value]="gsttype.gstid">
                          {{ gsttype.gstname }}
                        </ion-select-option>
                      </ion-select>
                    </td>

                    <td>
                      <input [(ngModel)]="quote.CGST" name="CGST" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.SGST" name="SGST" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.IGST" name="IGST" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.discount" name="discount" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.discountamt" name="discountamt" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.totaltax" name="totaltax" class="table_input" type="text">
                    </td>
                    <td>
                      <input [(ngModel)]="quote.total" name="total" class="table_input" type="text">

                    </td>

                    <td>
                      <ion-icon icon-only clear color="primary" name="add" (click)="addQuote()"></ion-icon>
                      <ion-icon *ngIf="i>0" icon-only clear color="danger" name="trash"
                        (click)="removeQuote(i,quote)"></ion-icon>
                    </td>
                  </tr>
                </table>

              </div>
              <table>
                <tr>

                  <td colspan="1">
                    <input name="srno" class="" type="text" placeholder="Total Item Number">
                  </td>

                  <td colspan="5">
                    <!-- <label for="">Quantity :</label> -->
                    <input name="quantity" class="" type="text" placeholder="Total Quantity">
                  </td>

                  <td colspan="10">
                    <!-- <label for="">Gross Amount :</label> -->
                    <input name="grossamt" class="" type="text" placeholder="Total Gross Amount">
                  </td>
                  <td colspan="10">
                    <!-- <label for="">Gross Amount :</label> -->
                    <input name="discountamt" class="" type="text" placeholder="Total Discount Amount">
                  </td>
                  <td>
                    <!-- <label for="">Tax Amount</label> -->
                    <input name="taxamount" class="" type="text" placeholder="Total Tax Amount">
                  </td>
                  <td colspan="2">
                    <!-- <label for="">Total</label> -->
                    <input name="netamount" class="" type="text" placeholder="Total Net Amount">
                  </td>
                </tr>

              </table>
            </ion-row>
            <ion-row>
              <ion-col size-lg="3" size-md="12" size-sm="12" size="12">
                <ion-label class="delivery-label" style="font-size: small;">Scheduled Delivery</ion-label>
                <div class="outstanding">
                  <ion-row>
                    <table class="delivery-table" style="width: 100%; overflow: hidden;">
                      <tr>
                        <th style="width: 100px !important;">Delivery Date</th>
                        <td>
                          <ion-input type="date" placeholder="Enter Delivery Date"></ion-input>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 100px !important;">Delivery Place</th>
                        <td>
                          <ion-input type="text" placeholder="Enter Delivery Place"></ion-input>
                        </td>
                      </tr>
                    </table>
                  </ion-row>
                </div>
              </ion-col>

              <ion-col size-lg="4" size-md="12" size-sm="12" size="12">
                <ion-label class="delivery-label" style="font-size: smaller;">OutStanding</ion-label>
                <div class="outstanding">
                  <ion-row>
                    <table style="width: 100%; overflow: hidden; max-height: 60px;">
                      <tr>
                        <th style="width: 100px !important;">Opening Balance</th>
                        <td>
                          <ion-input type="text" placeholder="Enter Opening Balance"></ion-input>
                        </td>
                        <th style="width: 100px !important;">Debit</th>
                        <td>
                          <ion-input type="text" placeholder="Enter  Dedit Amount"></ion-input>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 100px !important;">Closing Balance</th>
                        <td>
                          <ion-input type="text" placeholder="Enter Closing Balance"></ion-input>
                        </td>
                        <th style="width: 100px !important;">Credit</th>
                        <td>
                          <ion-input type="text" placeholder="Enter Credit Amount"></ion-input>
                        </td>
                      </tr>
                    </table>
                  </ion-row>
                </div>
              </ion-col>
              <ion-col size-lg="2" size-md="12" size-sm="12" size="12">
                <ion-label class="delivery-label" style="font-size: smaller;">Total</ion-label>
                <div class="outstanding">
                  <ion-row>
                    <table style="width: 100%; overflow: hidden; max-height: 60px;">
                      <tr>
                        <th style="text-align: left;">Total Item :</th>
                        <td> <input class="table_input" type="text">
                        </td>
                      </tr>
                      <tr>
                        <th style="text-align: left;">Total Quantity :</th>
                        <td> <input class="table_input" type="text">
                        </td>
                      </tr>
                    </table>
                  </ion-row>
                </div>
              </ion-col>

              <ion-col class="row" size-lg="3" size-md="12" size-sm="12" size="12">
                <div class="output">
                  <table style="border: none;margin-left: 25px;">

                    <tr>
                      <th colspan="2">Discount Amount :</th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>

                    <tr>
                      <th colspan="2">Tax Amount : </th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>

                    <tr>
                      <th colspan="2">Round Off : </th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Pre-Tax : </th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Post-Tax : </th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>

                    <tr>
                      <th colspan="2">Grand Total : </th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>
                  </table>
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
              <ion-button id="open-loading">New</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                [duration]="1000"></ion-loading>
              <ion-button type="submit" id="open-loading1">Save</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading1" message="Quotation Adding..."
                [duration]="1000"></ion-loading>
              <ion-button id="open-loading2">Delete</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading2" message="Deleting Customer..."
                [duration]="1000"></ion-loading>
              <ion-button id="open-loading3">Preview</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading3" message="Previewing..."
                [duration]="1000"></ion-loading>
              <ion-button id="open-loading4">Close</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
                [duration]="1000"></ion-loading>

            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>