<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Quotation</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Quotation</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>

          <form #myform="ngForm" (ngSubmit)="onSubmit(myform)" >
            <ion-row>
              <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="quoteNumber" name="quoteNumber" type="text"
                    label="Quotation No :" label-placement="floating" fill="outline" id="startDate"
                    name="startDate"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="quateDate" name="quateDate" type="date"
                    label="Quotation Date :" label-placement="floating" fill="outline" id="startDate"
                    name="startDate"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
                <select [(ngModel)]="quoteGroup" name="quoteGroup">
                  <option value="">--Quote Group--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </ion-col>

              <ion-col size-lg="3" size-md="3" size-sm="6" size="12">
                <select [(ngModel)]="quateTax" name="quateTax">
                  <option value="">--Quote Tax--</option>
                              <option value="1">5%</option>
                              <option value="2">12%</option>
                              <option value="3">18%</option>
                              <option value="4">28%</option>
                </select>
              </ion-col>

            </ion-row>

            <ion-row style="margin-top: 7px;">
              <div class="scroll-container">
                      <table>
                        <tr>
                          <th>Sr.No.</th>
                          <th>Item Description</th>
                          <th>Quantity</th>
                          <th>Unit</th>
                          <th>Basic Rate</th>
                          <th>Gross Amount</th>
                          <th>Tax Rate</th>
                          <th>CGST</th>
                          <th>SGST</th>
                          <th>Total </th>
                          <th>Action</th>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>
                            <input [(ngModel)]="description" name="description" style="width: 50px;" class="table_input" type="text">
                          </td>
                          <td>
                            <input [(ngModel)]="quantity" name="quantity" style="width: 50px;" class="table_input" type="number">
                          </td>
                          <td>
                            <select [(ngModel)]="unit" name="unit" style="width: 80px;" class="table_select" aria-label="Default select example"
                              id="transaction">
                              <option selected>--Select--</option>
                              <option value="1">Pack</option>
                              <option value="2">Liter</option>
                            </select>
                          </td>
                          <td>
                            <input [(ngModel)]="basicrate" name="basicrate" style="width: 50px;" class="table_input" type="number">
                          </td>
                          <td>
                            <input [(ngModel)]="grossrate" name="grossrate" style="width: 50px;" class="table_input" type="number">
                          </td>
                          <td>
                            <select [(ngModel)]="taxrate" name="taxrate" style="width: 80px;" class="table_select" aria-label="Default select example"
                              id="transaction">
                              <option selected>--Select--</option>
                              <option value="1">5%</option>
                              <option value="2">12%</option>
                              <option value="3">18%</option>
                              <option value="4">28%</option>
                            </select>
                          </td>

                          <td>
                            <input [(ngModel)]="CGST" name="CGST" style="width: 40px;" class="table_input" type="text">
                          </td>
                          <td>
                            <input  [(ngModel)]="SGST" name="SGST" style="width: 40px;" class="table_input" type="text">
                          </td>

                          <td>110</td>
                          <td>
                            <ion-icon class="create" name="create"></ion-icon>
                            <ion-icon class="delete" name="trash"></ion-icon>
                          </td>
                        </tr>
                      </table>
              </div>
            </ion-row>
            <ion-row>
              <ion-col size="8">
              </ion-col>
              <ion-col class="row" size-lg="4" size-md="12" size-sm="12" size="12">
                <div class="output" >
                  <table  style="border: none;margin-left: 25px;">
                    <tr>
                      <th colspan="13">Discount Amount :</th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="13">Tax Amount : </th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="13">Round Off : </th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="13">Grand Total : </th>
                      <td colspan="2"> <input class="table_input" type="text">
                      </td>
                    </tr>
                  </table>
                </div>
              </ion-col>
            </ion-row>

          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row>

          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

                
         
                    