<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Add Quotation</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Quotation</ion-title>
              <div class="custom-primary">
                <ion-button size="small" [routerLink]="['/view-quot']" id="open-loading5">View Quotation</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading5" message="Quotation Showing ..."
                  [duration]="1000"></ion-loading>

              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="myform" (ngSubmit)="onSubmit(myform,quoteData)">
            <ion-row>
              <ion-col class="ionselect" size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="--- Bill Formate --- " label-placement="floating" fill="outline" [(ngModel)]="billformate"
                  name="billformate" formControlName="billformate" name="bill formate">
                  <!-- <option value="0" disabled selected>Bill Formate</option> Default option -->
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="1">2</ion-select-option>
                </ion-select>
              </ion-col>

              <ion-col size-lg="1" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="quoteNumber" formControlName="quoteNumber" name="quoteNumber" type="text"
                    label="Quote No. :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>


              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input color="warning" [(ngModel)]="quateDate" formControlName="quateDate" name="quateDate"
                    type="date" label="Date :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>


              <ion-col size-lg="1" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input [(ngModel)]="custcode" formControlName="custcode"
                    name="custcode" type="text" label="Code :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col class="ionselect" size-lg="3.5" size-md="2" size-sm="6" size="6">
                <ion-select  class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="--- Customer Name --- " label-placement="floating" fill="outline" [(ngModel)]="custcode"
                  name="custname" formControlName="custname">
                  <ion-select-option *ngFor="let customername of customer$ | async" [value]="customername.id">
                    {{ customername.name }}
                  </ion-select-option>
                </ion-select>
              </ion-col>

              <ion-col class="custom-primary" size-lg="0.4" size-md="2" size-sm="2" size="2">
                <ion-button  (click)="presentPopovers($event)"><ion-icon name="person-add-outline"></ion-icon></ion-button>
              </ion-col>

              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="refrence" formControlName="refrence" name="refrence" type="text"
                    label="Refrence No. :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
                <ion-row>
                  <ion-input color="dark" [(ngModel)]="refdate" formControlName="refdate" name="refdate" type="date"
                    label="Ref. Date :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 7px; ">
              <div class="scroll-container">

                <table style="width:1400  px;overflow-x:auto;">
                  <tr>
                    <th>Sr.No.</th>
                    <th>BarCode</th>
                    <th>Item Code</th>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>MRP</th>
                    <th>Basic Rate</th>
                    <th>Net Rate</th>
                    <th>Gross Amount</th>
                    <th>GST</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>IGST</th>
                    <th>Discount By</th>
                    <th>Dis.Amount</th>
                    <th>Tax Amount</th>
                    <th>Net Amount</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let quote of quoteData; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                      <input [(ngModel)]="quote.barcode" [ngModelOptions]="{standalone: true}" class="table_input"
                        (ngModelChange)="getItems(quote)" type="text">
                    </td>
                    <td>
                      <input style="width: 70px;" [(ngModel)]="quote.itemcode" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="getItems(quote)" class="table_input" type="text">
                    </td>
                    <td style="width: 100px !important;">
                      <select class="table_select" [(ngModel)]="quote.selectedItemId" [ngModelOptions]="{standalone: true}"
                        (change)="getItems(quote)">
                        <option value="0">Item Name</option> <!--//Default option -->
                        <option *ngFor="let item  of itemnames$ | async" [value]="item.tid">
                          {{ item.itemDesc }}
                        </option>
                      </select>
                      <!-- Use a hidden input for sending itemcode -->
                      <ion-input style="display: none;" [(ngModel)]="quote.itemid" [ngModelOptions]="{standalone: true}"
                        type="hidden"></ion-input>
                      <ion-input style="display: none;" [(ngModel)]="companyid" [ngModelOptions]="{standalone: true}"
                        type="hidden"></ion-input>
                      <ion-input style="display: none;" [(ngModel)]="userid" [ngModelOptions]="{standalone: true}"
                        type="hidden"></ion-input>
                    </td>
                    <td>
                      <input [(ngModel)]="quote.description" [ngModelOptions]="{standalone: true}" class="description"
                        type="text">
                    </td>
                    <td>
                      <input *ngIf="quote.itemcode !== 0"
                             [(ngModel)]="quote.quantity"
                             [ngModelOptions]="{standalone: true}"
                             class="table_input"
                             type="number"
                             (keydown.enter)="presentPopover(quote)">
                    </td>                   
                    <td style="width: 90px;">
                      <input [(ngModel)]="quote.unitname" [ngModelOptions]="{standalone: true}" class="table_input"
                      type="text">
                      <input [(ngModel)]="quote.hunitname" [ngModelOptions]="{standalone: true}" 
                      type="hidden">
                      <!-- <select class="table_select" [(ngModel)]="quote.unitname" [ngModelOptions]="{standalone: true}">
                        <option value="0">Unit Name</option>
                        <option *ngFor="let unitnames of unitname$ | async" [value]="unitnames.unitid">
                          {{ unitnames.unitname }}
                        </option>
                      </select> -->
                    </td>
                    <td>
                      <input [(ngModel)]="quote.mrp" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="number">
                    </td>
                    <td>
                      <input style="width: 70px;" [(ngModel)]="quote.basicrate" [ngModelOptions]="{standalone: true}"
                        class="table_input" type="number">

                    </td>
                    <td>
                      <input style="width: 70px;" [(ngModel)]="quote.netrate" [value]="getnetrate(quote)"
                        [ngModelOptions]="{standalone: true}" class="table_input" type="text">
                    </td>
                    <td>
                      <input style="width: 90px;" [value]="getgrossrate(quote)" [readonly]="true" class="table_input"
                        type="number">
                    </td>
                    <td style="width: 50px;">
                      <input [(ngModel)]="quote.taxrate" [ngModelOptions]="{standalone: true}" class="table_input"
                      type="number"  >
                      <!-- <select class="select-option" id="taxrate" #taxrate (change)="onSelectChange(taxrate, quote)"
                        (ngModelChange)="getItems(quote)" [(ngModel)]="quote.taxrate"
                        [ngModelOptions]="{standalone: true}">
                        <option value="0"> GST</option>
                        <option *ngFor="let gsttype of taxrate$ | async" [value]="gsttype.gstid">
                          {{ gsttype.gstname }}
                        </option>
                      </select> -->
                    </td>
                    <input type="hidden" [(ngModel)]="quote.taxrate1" [ngModelOptions]="{standalone: true}" />
                    <td>
                      <input [value]="getsgst(quote)" [readonly]="true" class="table_input" type="number">
                    </td>
                    <td>
                      <input [value]="getcgst(quote)" [readonly]="true" class="table_input" type="number">
                    </td>
                    <td>
                      <input [value]="getigst(quote)" type="number" class="table_input">
                    </td>
                    <td style="width: 90px;">
                      <select class="table_select" formControlName="discountType">
                        <option value="amount">Amount</option>
                        <option value="percentage">Percentage</option>
                      </select>
                    </td>
                  <td>
                    <input *ngIf="myform.get('discountType')?.value === 'percentage'; else amountField"
                      style="width: 90px;" [(ngModel)]="quote.discount" (ionBlur)="getdiscountp(quote)"
                      [ngModelOptions]="{standalone: true}" class="table_input" type="number">
                    <ng-template #amountField>
                      <input style="width: 100px;" [(ngModel)]="quote.discountamt" (keyup)="getdiscountamt(quote)"
                        [value]="getdiscountamt(quote)" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="number">
                    </ng-template>
                  </td>

                    <td>
                      <input style="width: 90px;" name="totaltax" [readonly]="true" [value]="getTotaltax(quote)"
                        class="table_input" type="text">
                    </td>
                    <td>
                      <input style="width: 90px;" name="total" [readonly]="true" [value]="getTotalamt([quote])"
                        class="table_input" type="text">
                    </td>

                    <td>
                      <ion-icon icon-only clear color="primary" name="add" (click)="addQuote()"></ion-icon>
                      <ion-icon *ngIf="i>0" icon-only clear color="danger" name="trash"
                        (click)="removeQuote(i,quote)"></ion-icon>
                    </td>
                  </tr>
                </table>

              </div>
              <div style="overflow-x: auto; border: 1px solid grey; width: 100%;">

                <ion-row>
                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Total Item :</label>
                    <input name="totalitemno" [(ngModel)]="quoteData.length" formControlName="totalitemno"
                      class="input_table" type="text">
                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Quantity : </label>

                    <input name="totalquantity" [readonly]="true" [value]="getTotalQuantity()"
                      class="input_table" type="number">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Gross Amount :</label>
                    <input name="totalgrossamt"  [readonly]="true" [value]="getTotalGrossAmount()"
                       class="input_table" type="number">
                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Discount Amount : </label>
                    <input name="totaldiscountamt"   [readonly]="true" [value]="getTotalDiscountAmount()"
                      class="input_table" type="number">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Tax Amount :</label>
                    <input name="totaltaxamount"  [readonly]="true" [value]="getTotalTaxAmount()"
                       class="input_table" type="number">

                  </ion-col>

                  <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                    <label class="label_table" for="">Taxable Amount :</label>
                    <input name="totalnetamount"  [readonly]="true" 
                      [value]="getTaxableAmount()" class="input_table" type="number">

                  </ion-col>
                </ion-row>
              </div>

            </ion-row>

            <ion-row>
              <ion-col class="row1" size-lg="3" size-md="3" size-sm="3" size="12">
                <div class="row3">
                  <ion-label class="delivery-label" style="font-size: small;">Scheduled Delivery</ion-label>
                  <div class="outstanding">
                    <ion-row>
                      <table class="delivery-table" style="width: 100%; overflow: hidden;">
                        <tr>
                          <th style="width: 100px !important;">Delivery Date</th>
                          <td>
                            <ion-input type="date" [(ngModel)]="deliverydate" formControlName="deliverydate"
                              name="deliverydate" placeholder="Enter Delivery Date"></ion-input>
                          </td>
                        </tr>
                        <tr>
                          <th style="width: 100px !important;">Delivery Place</th>
                          <td >
                            <ion-input  type="text" [(ngModel)]="deliveryplace" formControlName="deliveryplace"
                              name="deliveryplace" placeholder="Enter Delivery Place" ></ion-input>
                          </td>
                        </tr>
                      </table>
                    </ion-row>
                  </div>
                </div>
              </ion-col>

              <ion-col class="row1" size-lg="4" size-md="6" size-sm="6" size="12">
                <ion-label class="delivery-label" style="font-size: smaller;">OutStanding</ion-label>
                <div class="outstanding">
                  <ion-row>
                    <table style="width: 100%; overflow: hidden; max-height: 60px;">
                      <tr>
                        <th style="width: 100px !important;">Opening Balance</th>
                        <td>
                          <ion-input type="number" [(ngModel)]="openingbalance" formControlName="openingbalance"
                            name="openingbalance" placeholder="Enter Opening Balance"></ion-input>
                        </td>
                        <th style="width: 100px !important;">Debit</th>
                        <td>
                          <ion-input type="number" [(ngModel)]="debit" formControlName="debit" name="debit"
                            placeholder="Enter  Dedit Amount"></ion-input>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 100px !important;">Closing Balance</th>
                        <td>
                          <ion-input type="number" [(ngModel)]="closingbalance" formControlName="closingbalance"
                            name="closingbalance" placeholder="Enter Closing Balance"></ion-input>
                        </td>
                        <th style="width: 100px !important;">Credit</th>
                        <td>
                          <ion-input type="number" [(ngModel)]="credit" formControlName="credit" name="credit"
                            placeholder="Enter Credit Amount"></ion-input>
                        </td>
                      </tr>
                    </table>
                  </ion-row>
                </div>
              </ion-col>
              <ion-col class="row1" size-lg="2" size-md="3" size-sm="3" size="12">

              </ion-col>

              <ion-col class="row" size-lg="3" size-md="12" size-sm="12" size="12">
                <div class="output" style="border: none;margin-left: 30px;">
                  <table>

                    <tr>
                      <th colspan="2">Discount Amount :</th>
                      <td colspan="2"> <input [(ngModel)]="totaldiscountamt" [value]="getTotalDiscountAmount()"
                          id="totaldiscountamt" formControlName="totaldiscountamt" name="totaldiscountamt"
                          class="row_input" type="text">
                      </td>
                    </tr>

                    <tr>
                      <th colspan="2">Tax Amount : </th>
                      <td colspan="2"> <input [(ngModel)]="totaltaxamount" [value]="getTotalTaxAmount()"
                          id="totaltaxamount" formControlName="totaltaxamount" name="totaltaxamount" class="row_input"
                          type="text">
                      </td>
                    </tr>

                   
                    <tr>
                      <th colspan="2">Pre-Tax : </th>
                      <td colspan="2"> <input [(ngModel)]="pretax" formControlName="pretax" name="pretax" id="pretax"
                          class="row_input" type="number">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Post-Tax : </th>
                      <td colspan="2"> <input [(ngModel)]="posttax" formControlName="posttax" name="posttax"
                          id="posttax" class="row_input" type="number">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Round Off : </th>
                      <td colspan="2"> <input  [readonly]="true" name="roundoff"
                          [value]="getRoundoff()" id="roundoff" class="row_input" type="number">
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">Grand Total : </th>
                      <td colspan="2"> <input  [readonly]="true"
                          [value]="getGrandTotal()" id="totalnetamount" name="totalnetamount" class="row_input"
                          type="text">
                      </td>
                    </tr>
                  </table>
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="custom-primary" style="justify-content: right;">
              <div style="margin-right: 50px;margin-top: 5px;">
                <!-- <ion-button id="open-loading" >New</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                  [duration]="1000"></ion-loading> -->
                <ion-button type="submit">Save</ion-button>
                <!-- <ion-button>Print</ion-button> -->
                <ion-button id="open-loading4" (click)="onButtonClick()">Close</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
                  [duration]="1000"></ion-loading>
              </div>
              <ion-fab style="float: left;">
                <ion-fab-button size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="top">
                  <ion-fab-button color="primary">
                    <ion-icon name="document"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button color="dark">
                    <ion-icon name="print-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button color="warning">
                    <ion-icon (click)="onNew()" name="person-add-outline"></ion-icon>
                  </ion-fab-button>
                </ion-fab-list>
              </ion-fab>
            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>

<ion-popover trigger="customer"  #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" side="bottom" alignment="end">
  <ng-template>
    <ion-content  class="ion-padding Customer ">
      <form [formGroup]="customerpop" (ngSubmit)="onCustSubmit()">
        <ion-row style="justify-content: center;margin-bottom: 10px;">
          <ion-label class="executive">Add Customer</ion-label>
        </ion-row>
      <ion-row>
        <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
          <ion-row>
            <ion-input [(ngModel)]="customer_code" formControlName="customer_code" name="customer_code"
              type="text" label=" Customer Code :" label-placement="floating" fill="outline"
              maxlength="5"></ion-input>
          </ion-row>
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
          <ion-row>
            <ion-input #firstInvalidInput [(ngModel)]="name" formControlName="name" name="name" type="text"
              label="Customer Name :" label-placement="floating" fill="outline" color="dark"
              class="sign_input"></ion-input>
          </ion-row>
        </ion-col>

        <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
          <ion-row>
            <ion-input [(ngModel)]="gstin" formControlName="gstin" name="gstin" type="text" label=" GSTIN :"
              label-placement="floating" fill="outline" maxlength="15"></ion-input>
          </ion-row>
        </ion-col>

        <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
          <ion-row>
            <ion-input [(ngModel)]="mobile" formControlName="mobile" name="mobile" type="text"
              label=" Mobile Number:" label-placement="floating" fill="outline" maxlength="10"></ion-input>
          </ion-row>
        </ion-col>

        <ion-col size="6" size-lg="3" size-md="6" size-sm="12">
          <select class="select" [(ngModel)]="country" formControlName="country" name="country"
            label-placement="floating" fill="outline" (change)="onCountryChange()">
            <option value="0"> --- Country --- </option>
            <option *ngFor="let country of countries$ | async" [value]="country.countryid">
              {{ country.countryname }}
            </option>

          </select>
        </ion-col>

        <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
          <select class="select" [(ngModel)]="state" formControlName="state" name="state"
            label-placement="floating" fill="outline" (change)="onStateChange()">
            <option value="0"> --- State --- </option>
            <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
              {{ state.statename }}
            </option>
          </select>
        </ion-col>
        <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
          <select class="select" [(ngModel)]="district" formControlName="district" name="district"
            label-placement="floating" fill="outline">
            <option value="0"> --- District --- </option>
            <option *ngFor="let district of districts$ | async" [value]="district.districtid">
              {{ district.districtname }}
            </option>
          </select>
        </ion-col>

        <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
          <ion-row>
            <ion-input [(ngModel)]="pincode" formControlName="pincode" type="tel" name="pincode"
              label=" PinCode  :" label-placement="floating" fill="outline" maxlength="6"></ion-input>
          </ion-row>
        </ion-col>

        <ion-col size="12" size-lg="9" size-md="6" size-sm="6">
          <ion-row>
            <ion-input [(ngModel)]="address" formControlName="address" name="address" type="text"
              label="Full Address :" label-placement="floating" fill="outline"></ion-input>
          </ion-row>
        </ion-col>

      </ion-row>

      <ion-row style="float: right;margin-top: 10px;">
        <ion-button type="submit">Save</ion-button>
        <ion-button (click)="closePopover()">Close</ion-button>
      </ion-row>

    </form>
    </ion-content>
  </ng-template>
</ion-popover>