<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Suppliers</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <form #viewSaleForm="ngForm" (ngSubmit)="onSubmit()">
              <ion-row>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12">
                </ion-col>
                <!-- <ion-col size-lg="8" size-md="8" size-sm="6" size="12">
                  <ion-row>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date"
                          label=" From Date  :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                          label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>
                </ion-col>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
                  <ion-button style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
                </ion-col> -->
              </ion-row>

              <ion-row>
                <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
              </ion-row>

              <ion-row class="Executive">
                <div style="overflow-x:auto; width: 100% ;height: 350px;">
                  <table style="width: 100%;overflow-x:auto;">
                    <thead>
                      <tr>
                        <th style="width: 50px;">Sr. No.</th>

                        <th>Name</th>
                        <th>Code</th>
                        <th>GSTIN</th>
                        <th>Mobile No.</th>
                        <th>Whatsapp</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>District</th>

                        <th>Address</th>
                        <th>Pincode</th>
                        <th>Aadhar No.</th>
                        <th>PAN No.</th>
                        <th>Udhyog Aadhar</th>
                        <th>Account No.</th>
                        <th>IFSC Code</th>
                        <th>Bank Name</th>
                        <th>Branch Name</th>
                        <th>Card No.</th>
                        <th>Credit Period</th>
                        <th>Credit Limit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vendoer of vendors$ | async; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{vendoer.name}}</td>
                        <td>{{vendoer.vendor_code}}</td>
                        <td>{{vendoer.gstin}}</td>
                        <td>{{vendoer.mobile}}</td>
                        <td>{{vendoer.whatsapp_number}}</td>
                        <td>{{vendoer.email}}</td>
                        <td>{{vendoer.countryid}}</td>
                        <td>{{vendoer.stateid}}</td>
                        <td>{{vendoer.districtid}}</td>
                        <td>{{vendoer.address}}</td>
                        <td>{{vendoer.pincode}}</td>
                        <td>{{vendoer.aadhar_no}}</td>
                        <td>{{vendoer.pan_no}}</td>
                        <td>{{vendoer.udhyog_aadhar}}</td>
                        <td>{{vendoer.account_number}}</td>
                        <td>{{vendoer.ifsc_code}}</td>
                        <td>{{vendoer.bank_name}}</td>
                        <td>{{vendoer.branch_name}}</td>
                        <td>{{vendoer.card_number}}</td>
                        <td>{{vendoer.credit_period}}</td>
                        <td>{{vendoer.credit_limit}}</td>
                      </tr>
                    
                    </tbody>

                  </table>
                </div>
              </ion-row>
            </form>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>