<ion-content [fullscreen]="true">
  <div class="Customer">
<div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Suppliers</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>              

            <ion-row>
              <ion-col  size-lg="8" size-md="8" size-sm="6" size="12">
                <ion-searchbar class="custom" showCancelButton="focus" [(ngModel)]="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
              </ion-col>
              <ion-col  size-lg="4" size-md="4" size-sm="6" size="12">
                <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="Select Coloumns" label-placement="floating" fill="outline" [(ngModel)]="selectedColumns" name="selectedColumns" multiple="true">
                  <ion-select-option *ngFor="let col of availableColumns" [value]="col">{{ col }}</ion-select-option>
                </ion-select>
              </ion-col>
              
            </ion-row>

            <ion-row class="Executive">
              <div style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;;">

                <table style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th *ngFor="let col of selectedColumns">{{ col }}</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let vendoer of filteredSupplers$ | async; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td *ngFor="let col of selectedColumns">{{ vendoer[col.toLowerCase()] }}</td>
                      <td class="Action">
                        <ion-icon color="danger" icon-only name="trash"></ion-icon>
                        <ion-icon color="primary" icon-only name="create"></ion-icon>
                      </td>
                    </tr>
                    <tr>
                      <td [attr.colspan]="selectedColumns.length + 1">
                        <p>Total: <span style="margin-left: 10px;">{{ totalItems }}</span></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ion-row>
            <ion-row class="custom-primary" style="justify-content: right;">
              <ion-button size="small" (click)="printThisPage()"><ion-icon name="print" slot="end" size="small"
                  color="secondry"></ion-icon>Print</ion-button>
              <ion-button size="small" (click)="generatePdf()"><ion-icon name="document" slot="end" size="small"
                  color="secondry"></ion-icon>Export To PDF</ion-button>
              <ion-button size="small" (click)="printThisPage()"><ion-icon name="eye" slot="end" size="small"
                  color="secondry"></ion-icon>Preview</ion-button>
              <!-- <ion-button size="small" (click)="generateExcelReport()"><ion-icon name="grid"slot="end" size="small"
                color="secondry"></ion-icon>Export Excel</ion-button> -->
            </ion-row>
                  <!-- <table style="width: 2000px;overflow-x:auto;overflow-y: 
                  auto;">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>GSTIN</th>
                        <th>Mobile No.</th>
                        <th>WhatsApp No.</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>District</th>
                        <th>Pincode</th>
                        <th>Full Address</th>
                        <th>Aadhar Number</th>
                        <th>PAN Number</th>
                        <th>Udhyog Aadhar Number</th>
                        <th>Account Number</th>
                        <th>IFSC Code</th>
                        <th>Bank Name</th>
                        <th>Branch Name</th>
                        <th>Card No.</th>
                        <th>Credit Period</th>
                        <th>Credit Limit</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vendoer of filteredSupplers$ | async; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{vendoer.name}}</td>
                        <td>{{vendoer.vendor_code}}</td>
                        <td>{{vendoer.gstin}}</td>
                        <td>{{vendoer.mobile}}</td>
                        <td>{{vendoer.whatsapp_number}}</td>
                        <td>{{vendoer.email}}</td>
                        <td>{{vendoer.countryid}}</td>
                        <td>{{vendoer.stateid}}</td>
                        <td>{{vendoer.districtid}}</td>
                        <td>{{vendoer.address}}</td>
                        <td>{{vendoer.pincode}}</td>
                        <td>{{vendoer.aadhar_no}}</td>
                        <td>{{vendoer.pan_no}}</td>
                        <td>{{vendoer.udhyog_aadhar}}</td>
                        <td>{{vendoer.account_number}}</td>
                        <td>{{vendoer.ifsc_code}}</td>
                        <td>{{vendoer.bank_name}}</td>
                        <td>{{vendoer.branch_name}}</td>
                        <td>{{vendoer.card_number}}</td>
                        <td>{{vendoer.credit_period}}</td>
                        <td>{{vendoer.credit_limit}}</td>
                        <td class="Action">
                          <ion-icon color="danger" icon-only name="trash"></ion-icon>
                          <ion-icon color="primary" icon-only name="create"></ion-icon>
                        </td>
                      </tr>
                    
                    </tbody>

                  </table> -->
               
          </ion-grid>
        </div>
      </ion-card-content>
</div>
    </div>
</ion-content>