<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Lead Follow Up</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Lead Follow-Up Window</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <form [formGroup]="myform" (ngSubmit)="onSubmit()">
          <ion-row>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-card style="height: 445px;">
                <ion-searchbar class="custom" formControlName="searchTerm" showCancelButton="focus"
                  [(ngModel)]="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
                <ion-row style="padding: 10px;">
                  <div class="scroll-container" style="height: 360px;">

                    <table style="width: 800px;overflow-x:auto;overflow-y: auto;">
                      <tr>
                        <th>Sr.No.</th>
                        <th>Lead ID</th>
                        <th>Company Name</th>
                        <th>Lead Date</th>
                        <th>Contact Person</th>
                        <th>Mobile No.</th>
                        <!-- <th>Country</th>
                        <th>State</th>
                        <th>City </th> -->
                        <th>Address</th>
                        <!-- <th>Pincode</th>
                        <th>Email ID</th> -->
                        <th>Select Product</th>
                        <!-- <th>Lead Source</th>
                        <th>Lead Assign To</th>
                        <th>Lead Score</th>-->
                        <th>Remark</th> 
                      </tr>
                      <tr (click)="showDetails(leadscore)"
                        *ngFor="let leadscore of filteredFollowups$ | async; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{leadscore.tid}}</td>
                        <td>{{leadscore.companyname}}</td>
                        <td>{{leadscore.crdate}}</td>
                        <td>{{leadscore.catPerson}}</td>
                        <td>{{leadscore.phone}}</td>
                        <!-- <td>{{leadscore.selectedCountry}}</td>
                          <td>{{leadscore.selectedState}}</td>
                          <td>{{leadscore.selectedDistrict}}</td> -->
                        <td> {{leadscore.fulladdress}}</td>
                        <!-- <td>{{leadscore.pncode}}</td> -->
                        <!-- <td>{{leadscore.emails}}</td>-->
                        <td>{{leadscore.selectpd}}</td>
                        <!-- <td>{{leadscore.lscore}}</td> -->
                        <!-- <td>{{leadscore.lscore}}</td>-->
                          <td>{{leadscore.executivename}}</td>
                          
                          <!-- <td>{{leadscore.rmark}}</td>  -->

                      </tr>

                    </table>
                  </div>
                </ion-row>
              </ion-card>
            </ion-col>

            <ion-col class="followuplist" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-card style="height: 445px;">
                <ion-row class="headinglabel">
                  <ion-label>List Of Follow-Up :</ion-label>
                </ion-row>
                <div>
                  <ion-row style="height: 300px;padding: 10px;overflow-x:auto;">
                    <div class="scroll-container" style="border: 1px solid grey;">
                      <table style="overflow-x:auto; width: 645px;">
                        <!-- <tr>
                          <th >
                            Company Name
                          </th>
                          <td  *ngIf="selectedRow">
                            {{selectedRow.companyname}}
                          </td>
                          <th >
                            Lead Id
                          </th>
                          <td  *ngIf="selectedRow">{{selectedRow.tid}}</td>
                        
                        </tr> -->
                        <tr>
                          <th style="width: 50px;">SR. No.</th>
                          <!-- <th>followupId</th> -->
                          <!-- <th style="width: 80px;">Company Name</th> -->
                          <th style="width: 75px !important;">Lead Id</th>
                          <th style="width: 80px;">Company Name</th>
                          <th style="width: 80px;">Lead Date</th>
                          <!-- <th style="width: 80px;">Product</th> -->
                          <!-- <th style="width: 80px;">Phone</th> -->
                          <!-- <th>Address</th> -->
                          <!-- <th style="width: 70px;">Entered By</th> -->
                          <th style="width: 200px;">Remark</th>
                          <th style="width: 130px !important;">Next Follow-Up Date</th>
                        </tr>
                        <ng-container *ngIf="selectedRow">
                        <!-- <ng-container  *ngFor="let follow of lead$; let i = index"> -->
                          <tr *ngFor="let followup of followups; let i = index">
                            <td>{{i+1}}</td>
                            <!-- <td>{{selectedRow.srNo}}</td> -->
                            <td>{{selectedRow.tid}}</td>
                            <td>{{selectedRow.companyname}}</td>
                            <td>{{selectedRow.crdate}}</td>
                            <!-- <td>{{selectedRow.executivename}}</td> -->
                            <!-- <td>{{selectedRow.phone}}</td> -->
                            <!-- <td>{{selectedRow.fulladdress}}</td> -->
                            <!-- <td>{{selectedRow.selectpd}}</td> -->
                            <td>{{followup.remark}}</td>
                            <td>{{followup.nextfollowupDate}}</td>

                          </tr>
                        <!-- </ng-container> -->
                      </ng-container>
                      </table>
                    </div>
                  </ion-row>
                </div>

                <div>
                  <ion-row style="padding:0px 10px ;">

                    <ion-col size="6" size-lg="4" size-md="4" size-sm="4">
                      <ion-row>
                        <ion-input [(ngModel)]="nextfollowupDate" formControlName="nextfollowupDate"
                          name="nextfollowupDate" type="date" label="Next Follow-Up Date :"
                          label-placement="floating" fill="outline"></ion-input>
                          <ion-input [(ngModel)]="lid" formControlName="lid"
                          name="lid" type="hidden"></ion-input>
                      </ion-row>
                    </ion-col>
                    <ion-col size="6" size-lg="8" size-md="8" size-sm="8">
                      <ion-textarea [(ngModel)]="remark" formControlName="remark" label-placement="floating"
                        fill="outline" name="remark" type="text" label="Remark :"></ion-textarea>
                    </ion-col>
                  </ion-row>
                  <ion-row class="custom-primary" style="justify-content: right;padding: 10px;">
                    <ion-button id="open-loading">New</ion-button>
                    <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
                      [duration]="1000"></ion-loading>
                    <ion-button type="submit" id="open-loading1">Save</ion-button>
                    <ion-loading class="custom-loading" trigger="open-loading1" message="New Follow Up Saving..."
                      [duration]="1000"></ion-loading>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </div>
  </div>
</ion-content>