.Customer ion-input {
    min-height: 35px;
    outline-width: 2px;
    outline-style: initial;
}

.Customer ion-textarea {
    min-height: 35px;
}

.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}

.scroll-container {
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    border: 1px solid grey;
    width: 100%;
    height: 280px;
    overflow-x: auto
}
table tr td select{
    border: solid 1px lightgray;
    color: darkgray;
    font-weight: 400;
    
}
ng-template ion-button {
    color: goldenrod;
}

@media(max-width:540px) {
    .Customer ion-input {
        min-height: 25px;
       font-size: 10px;
    }
    
    .Customer ion-textarea {
        min-height: 25px;
        font-size: 10px;
    }
}