.Customer ion-input {
    min-height: 35px;
    outline-width: 2px;
    outline-style: initial;
}

.Customer ion-textarea {
    max-height: 35px;
}

.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}

.scroll-container {
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    border: 1px solid grey;
    width: 100%;
    height: 280px;
    overflow-x: auto
}

table tr td select {
    border: solid 1px lightgray;
    color: darkgray;
    font-weight: 400;
    cursor: pointer;

}

table {
    cursor: pointer;
}

ng-template ion-button {
    color: goldenrod;
}

@media(max-width:540px) {
    .Customer ion-input {
        min-height: 25px;
        font-size: 10px;
    }

    .Customer ion-textarea {
        min-height: 25px;
        font-size: 10px;
    }
}

.compname {
    border: solid 1px grey;
    border-radius: 4px;
    max-height: 30px;
    margin: 2px;
    padding: 2px;
    font-size: 16px;
}

.compname {
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;

}

.compname ion-label {
    font-size: 16px;
    color: #0083b0;
}

.compname div {
    margin-top: -10px;
    justify-content: left;
    text-align: left;
    font-weight: lighter;
}

.scroll-container table tr:hover {
    color: rgb(0, 0, 0);
    background: rgb(0, 183, 255);
    font-weight: bold;
    border: solid   1px black;
    border-radius: 30px;
    padding: 5px;
}