<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Lead Follow Up</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Lead Follow-Up Window</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <form [formGroup]="myform" (ngSubmit)="onSubmit()">
          <ion-row>
            <ion-col size="12" size-lg="5" size-md="5" size-sm="6">
              <ion-card style="height: 100%;">
                <ion-searchbar class="custom" formControlName="searchTerm" showCancelButton="focus"
                  [(ngModel)]="searchTerm" (ionInput)="onSearchTermChanged()"></ion-searchbar>
                <ion-row style="padding: 10px;">
                  <div class="scroll-container">
                    <table style="width: 100%;overflow-x:auto;overflow-y: auto;">
                      <tr>
                        <th>Lead ID</th>
                        <th>Lead Date</th>
                        <th>Company Name</th>
                        <th>Mobile No.</th>
                        <th>Select Product</th>
                        <th>Lead Type</th>
                        <th>Lead Owner</th>
                      </tr>
                      <tr (click)="showDetails(leadscore)"
                        *ngFor="let leadscore of filteredFollowups$ | async; let i = index">
                        <td>{{leadscore.tid}}</td>
                        <td>{{leadscore.crdate | date:'dd/MM/YYYY'}}</td>
                        <td>{{leadscore.companyname}}</td>
                        <td>{{leadscore.phone}}</td>
                        <td>{{leadscore.selectpd}}</td>
                        <td>{{leadscore.leadtype}}</td>
                        <td>{{leadscore.executivename}}</td>
                      </tr>

                    </table>
                  </div>
                </ion-row>
              </ion-card>
            </ion-col>

            <ion-col class="followuplist" size="12" size-lg="7" size-md="7" size-sm="6">
              <ion-card style="height: 100%;">
                <ion-row class="headinglabel">
                  <ion-label>List Of Follow-Up :</ion-label>
                </ion-row>
                <ion-item>
                  <ion-range aria-label="Custom range" [min]="0" [max]="100" [value]="rangeValue" [pin]="true"
                    [ticks]="true" [snaps]="true"></ion-range>

                </ion-item>
                <div *ngIf="selectedRow" class="compname">
                  <ion-label>Company Name</ion-label>
                  <p>{{selectedRow.companyname}}</p>
                </div>

                <div style="padding: 10px;">
                  <ion-row style="overflow-x:auto;">
                    <div class="scroll-container1">
                      <table style="overflow-x:auto; width: 100%;">
                        <tr>
                          <th>SR. No.</th>
                          <th>Date</th>
                          <th>Remark</th>                 
                          <th>Lead Activity</th>
                          <th>Lead Status</th>
                          <th>Next Follow-Up</th>
                          <th>Update By</th>
                        </tr>
                        <ng-container *ngIf="selectedRow">
                          <!-- <ng-container  *ngFor="let follow of lead$; let i = index"> -->
                          <tr (click)="selectFollowup(followup)" *ngFor="let followup of followups; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{followup.followupdate}}</td>
                            <td>{{followup.remark}}</td>
                            <td>{{followup.leadactivity}}</td>
                            <td>{{followup.leadstatus}}</td>
                            <td>{{followup.nextfollowupDate}}</td>
                            <td>{{followup.enterdby}}</td>

                          </tr>
                          <!-- </ng-container> -->
                        </ng-container>
                      </table>
                    </div>
                  </ion-row>
                </div>

                <div>
                  <ion-row style="padding:0px 10px;">
                    <ion-col size-lg="4" size-md="4" size-sm="4" size="6">
                      <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                        label="---Lead Status---" label-placement="floating" fill="outline" [(ngModel)]="leadstatus"
                        formControlName="leadstatus" name="leadstatus" (ionChange)="updateProgressBar()">
                        <!-- <ion-select-option value="0"> --- Lead Type --- </ion-select-option> -->
                        <ion-select-option id="2" value="Cold/Initiate">Cold/Initiate</ion-select-option>
                        <ion-select-option id="3" value="Warm/Intalk">Warm/Intalk</ion-select-option>
                        <ion-select-option id="4" value="Hot/Intersted">Hot/Intersted</ion-select-option>
                        <ion-select-option id="5" value="Order Closed">Order Closed</ion-select-option>
                        <ion-select-option id="1" value="Not Interested">Not Interested</ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col size-lg="4" size-md="4" size-sm="4" size="6">
                      <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                        label="---Lead Activity" label-placement="floating" fill="outline" [(ngModel)]="leadactivity"
                        formControlName="leadactivity" name="leadactivity" (ionChange)="updateProgressBar()">
                        <!-- <ion-select-option value="0"> --- Lead Type --- </ion-select-option> -->
                        <ion-select-option id="1" value="oncall">On Call</ion-select-option>
                        <ion-select-option id="2" value="byemail">By Email</ion-select-option>
                        <ion-select-option id="3" value="onwhatsapp">On WhatsApp</ion-select-option>
                        <ion-select-option id="4" value="onsitevisit">OnSite Visit</ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col size-lg="4" size-md="4" size-sm="4" size="6">
                      <ion-row>
                        <ion-input [(ngModel)]="nextfollowupDate" formControlName="nextfollowupDate"
                          name="nextfollowupDate" type="date" label="Next Follow-Up Date :" label-placement="floating"
                          fill="outline"></ion-input>
                        <ion-input [(ngModel)]="lid" formControlName="lid" name="lid" type="hidden"></ion-input>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                  <ion-row style="padding:0px 10px;">
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-textarea [(ngModel)]="remark" formControlName="remark" label-placement="floating"
                        fill="outline" name="remark" type="text" label="Remark :"></ion-textarea>
                    </ion-col>

                  </ion-row>
                  <ion-row class="custom-primary" style="justify-content: right;padding: 10px;">
                    <ion-button id="open-loading" (click)="onNew()">New</ion-button>
                    <ion-button type="submit" id="open-loading1">Save</ion-button>
                    <ion-button (click)="onButtonClick()">Cancel</ion-button>
                  </ion-row>
                  <ion-input formControlName="followupdate" name="followupdate" type="hidden"
                    [(ngModel)]="followupdate"></ion-input>

                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </div>
  </div>
</ion-content>