.Customer ion-input {
    min-height: 35px;
    outline-width: 2px;
    outline-style: initial;
}

.Customer ion-textarea {
    max-height: 35px;
}

.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}

.scroll-container {
    overflow-x: auto;
    width: 100%;
    border: 1px solid grey;
    height: 420px;
    overflow-x: auto
}
.scroll-container1 {
    overflow-x: auto;
    width: 100%;
    border: 1px solid grey;
    height: 220px;
    overflow-x: auto
}
table tr td select {
    border: solid 1px lightgray;
    color: darkgray;
    font-weight: 400;
    cursor: pointer;

}

table {
    cursor: pointer;
}

ng-template ion-button {
    color: goldenrod;
}

@media(max-width:540px) {
    .Customer ion-input {
        min-height: 25px;
        font-size: 10px;
    }

    .Customer ion-textarea {
        min-height: 25px;
        font-size: 10px;
    }
}

.compname {
    border: solid 1px grey;
    border-radius: 4px;
    max-height: 30px;
    margin: 10px;
    padding: 2px;
    font-size: 16px;

}

.compname {
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;

}

.compname ion-label {
    font-size: 16px;
    color: #0083b0;
}

.compname p {
    font-size: 16px;
    color: #0083b0;
}

.compname div {
    margin-top: -10px;
    justify-content: left;
    text-align: left;
    font-weight: lighter;
}

.scroll-container table tr:hover {
    color: rgb(0, 0, 0);
    background: rgb(0, 183, 255);
    // font-weight: bold;
    border: solid   1px black;
    border-radius: 30px;
    padding: 5px;
}
ion-range::part(tick) {
    background: #a2d2ff;
  }
  
  ion-range::part(tick-active) {
    background: #bde0fe;
  }
  
  ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    background: #ffafcc;
    color: #fff;
  
    border-radius: 50%;
    transform: scale(1.01);
  
    top: -20px;
  
    min-width: 28px;
    height: 28px;
    transition: transform 120ms ease, background 120ms ease;
  }
  
  ion-range::part(pin)::before {
    content: none;
  }
  
  ion-range::part(knob) {
    background: #ffc8dd;
  }
  
  ion-range::part(bar) {
    background: #a2d2ff;
  }
  
  ion-range::part(bar-active) {
    background: #bde0fe;
  }