
<ion-content class="container_fluid">
  <div class="dash">
    <ion-title>
      Accounts Dashboard
    </ion-title>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="gamil">Ktechnocrm&#64;gmail.com</ion-label>
    </ion-chip>
  </div>
  <div class="lead_nav">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="9" size-md="9" size-sm="10">
          <div class="icon-container">
            <ion-row class="leadscard">
             
              <ion-col size="6" size-lg="4" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: rgb(241, 201, 207);" [routerLink]="'/paymenttransaction-report'">
                  <ion-icon name="analytics-sharp"></ion-icon><br>
                  <ion-label>
                   Total Payment Transtraction
                  </ion-label>
                  <ion-title>10</ion-title>
                </ion-card>
              </ion-col>
              <ion-col size="6" size-lg="4" size-md="3" size-sm="3">
                <ion-card style="text-align: center;background-color: rgb(179, 225, 243);" [routerLink]="'/receipttransaction-report'">
                  <ion-icon name="cash-sharp"></ion-icon><br>
                  <ion-label>
                   Total Receipt Transtraction
                  </ion-label>
                  <ion-title>11</ion-title>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="3">
          <div class="icon-container">
            <ion-row style="margin-top: 10px;padding: 8px;">
              <ion-select  [ngModelOptions]="{standalone: true}"  [(ngModel)]="selectedOptions" multiple class="always-flip"
              toggleIcon="caret-down-sharp" color="dark" interface="popover" label="Select Master Table"
              label-placement="floating" fill="outline">
                <ion-select-option value="paymenttransactionlist">Payment Transtraction List</ion-select-option>
                <ion-select-option value="receipttransactionlist">Receipt Transtraction List</ion-select-option>
              </ion-select>
            </ion-row>

            <ion-row class="headinglabel" style="text-align: center;">
              <ion-label color="dark">Accounts Page Manage :</ion-label>
            </ion-row>
            <ion-row class="leadsrouter">
             
              <ion-item [routerLink]="['/payment']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                  Payment
                </ion-label> <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/receipt']">
                <ion-icon name="checkmark-circle"></ion-icon> <ion-label color="success">
                 Receipt
                </ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>            
            </ion-row>

           
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-row class="lead_details">

      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container" *ngIf="selectedOptions.includes('paymenttransactionlist')">
          <p>Payment Transtraction List</p>
          <ion-searchbar class="customs"></ion-searchbar>
          <div class="scroll-container">
            <table style="width: 1000px;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Voucher No</th>
                <th style="width: 70px !important;">Payment Transtraction Date</th>
                <th style="width: 70px !important;">Ledger Name</th>
                <th style="width: 70px !important;">Debit Amount</th>
                <th style="width: 70px !important;">Credit Amount</th>
               
              </tr>
              <tr>
                <td>1</td>
                <td>V-001</td>
                <td>2023-11-20</td>
                <td>John Doe</td>
                <td>500.00</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>V-002</td>
                <td>2023-11-21</td>
                <td>Jane Smith</td>
                <td></td>
                <td>300.00</td>
              </tr>
              <tr>
                <td>3</td>
                <td>V-003</td>
                <td>2023-11-22</td>
                <td>Bob Johnson</td>
                <td>200.00</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>

     
      <ion-col class="table_data" size="12" size-lg="6">
        <div class="table-container" *ngIf="selectedOptions.includes('receipttransactionlist')">
          <p>Receipt Transtraction List</p>
          <ion-searchbar class="customs"></ion-searchbar>
          <div class="scroll-container">
            <table style="width: 1000px;overflow-x: auto;overflow-y: auto;">
              <tr>
                <th style="width: 50px !important;">Sr.No.</th>
                <th style="width: 70px !important;">Voucher No</th>
                <th style="width: 70px !important;">Receipt Transtraction Date</th>
                <th style="width: 70px !important;">Ledger Name</th>
                <th style="width: 70px !important;">Debit Amount</th>
                <th style="width: 70px !important;">Credit Amount</th>
               
              </tr>
              <tr>
                <td>1</td>
                <td>V-001</td>
                <td>2023-11-20</td>
                <td>John Doe</td>
                <td>500.00</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>V-002</td>
                <td>2023-11-21</td>
                <td>Jane Smith</td>
                <td></td>
                <td>300.00</td>
              </tr>
              <tr>
                <td>3</td>
                <td>V-003</td>
                <td>2023-11-22</td>
                <td>Bob Johnson</td>
                <td>200.00</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
     
    </ion-row>
  
  </ion-grid>
</ion-content>

