@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.container {
    margin-top: 30px;
}



ion-item {
    --background-hover: var(--background);
    --ripple-color: transparent;
    --background-activated: transparent;
}


ion-menu.md ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
}

ion-menu ion-header{
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
}

ion-menu.md ion-list {
    color: #fff;
}

ion-menu.md ion-note {}

ion-menu.md ion-note {
    // padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
    // border-bottom: 1px solid var(--ion-color-step-150, #000000);
    background-image: linear-gradient(to right, #ff9966, #ff5e62);

}


ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    // border-radius: 50px;
    // border-bottom: #000000 solid 1px;
    color: #fff;
}

ion-menu.md ion-item.selected {
    --background: #f5f5dc;
    border-radius: 50px;
    color: #000;
}

ion-menu.md ion-item.selected ion-icon {
    color: #525252;
    border: #000 solid 1px;
}
.buttons ion-button{
    background-color: radial-gradient(circle farthest-side, #fceabb, #f8b500);;
}
ion-menu.md ion-item ion-icon {
    color: #fff;
    border: #fff solid 1.5px;
    border-radius: 50%;
    padding: 5px;
}

ion-menu.md ion-item ion-label {
    font-weight: bold;
}

ion-menu.ios ion-content {
    --padding-bottom: 20px;
}

ion-menu.ios ion-list {
    padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
}

ion-menu.ios ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: red;
}

ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
}

ion-menu.ios ion-note {
    margin-bottom: 8px;
}

ion-note {
    display: inline-block;
    font-size: 16px;
    color: var(--ion-color-medium-shade);
}

ion-icon :hover {
    color: #000000;
}

ion-menu-button {
    margin-left: 10px;
    font-size: 30px;
}

.home_page {
    --background: rgba(0, 0, 0, 0.9);
    background-image: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card1 {
    --background: transparent;
    padding-left: 100px;
    padding-top: 70px;

}

.card2 {
    --background: transparent;
    border: 1px solid white;
    padding: 5px 10px;
}

.card3 {
    --background: transparent;
    margin: 100px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.card4 {
    --background: transparent;
    margin-top: 100px;
    text-align: center;
    border: 1px solid white;
    padding: 5px 10px;
}


.home_buttons {
    background-color: #000000;
    color: white;
    border: 1px solid goldenrod;
    border-radius: 3px;
    margin: 20px auto;
    transition: all 0.5s ease-out;
    text-align: center;
}

.home_buttons:hover {

    background-color: #fff;
    color: #000000;
}

.master_window {
    text-align: center;
    background-color: #e5e4e2;
    height: 100%;
    margin-top: 0px;
}

.master_logo {
    justify-content: center;
    // background-color: #555555;
}

.master_logo img {
    padding: 10px 0;
    height: 90px;
    width: 160px;
}

.master {
    margin: 30px auto;
    width: 150px;
    height: 120px;
    padding: 10px;
    // color: #525252;
    transition: all 0.5s linear;
    box-shadow: none;
    border-radius: 10px;

}

.master:hover {
    background-color: #525252;
    // font-size: 25px;
    transform: translateY(5px);
    color: #fff;
}


ion-card-subtitle {
    font-size: 19px;

}


.master a {
    text-decoration: none;
}



@media(max-width:940px) {
    .master ion-icon {
        font-size: 30px;
    }

    ion-card-subtitle {
        font-size: 16px;

    }

    .master {
        height: 100px;
    }
}

ion-toolbar ion-icon {
    font-size: 26px;
    text-align: left;
    // margin-left: 10px;
    font-weight: bold;
}


ion-header ion-title {
    font-weight: bold;
    
}

.dekstop-menu ion-title{
    text-transform: uppercase;
  background: linear-gradient(to right,purple, #73ff00, #d3e200 ,rgb(255, 2, 2), black , blue ,green);
  background-clip: text;
  color: transparent;
  font-weight: bold; /* Adjust font styles as needed */
  /* Add any other styles you want */
}
ion-card {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.images {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file {
    font-size: 16px;
}



.dots {
    font-size: 25px;
}

ion-item {
    --background: transparent;
}

.toolbar {
    background: #000000;
}

// ion-icon {
//     font-size: 18px;
// }


.scroll-container {
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;
    width: 100%;
    height: 200px;
}




table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
border-radius: 10px;
}

table th
{
    padding: 0px;
    background-color: #f2f2f2;
    border: 2px solid #000;
        text-align: center;

}
table td
{
    padding: 0px;
    border: 2px solid #000;
    text-align: center;

}
.table_input {
    border: none;
    outline: none;
    text-align: center;
}

.table_select {
    border: none;
    outline: none;
    text-align: center;
}

.back {
    padding: 3px;
}

.back:hover {
    background-color: rgba(255, 251, 251, 0.932);
}
@media(max-width:2222px){
    .toolbar{
        display: none;
        visibility: hidden;
    }
}
@media(max-width:950px){
    .toolbar{
        display: block;
        visibility: visible;
    }
    .container{
        margin-top: 10px;
    }
}

@media screen and (max-width:1010px) {
    .container {
        width: 100%;
    }
}


@media(max-width:540px) {
    .card1 {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width:420px) {

    .label-width {
        min-width: 120px;
        text-align: left;
    }


    .input-width {
        min-width: 120px;
    }

    .select-width {
        min-width: 120px;
    }

    .textarea-width {
        min-width: 120px;
    }
}


@media(max-width:920px) {
    .second_header {
        display: block;
    }

    .dekstop-header {
        display: none;
        visibility: hidden;
    }
    
    ion-content ion-card{
        margin-top: 0px;
    }
}

ion-card-header {
    border-bottom: 2px solid  #f11712;
    // width: 100%;
    // margin-top: -30px;
}

ion-card-header ion-title {
    font-weight: bold;
    text-align: center;
}

ion-card-header .back {
    color: red;
    font-size: 24px;
    font-weight: bold;
}



.container ion-input {
    min-height: 35px;
    color: #000;
    background: skyblue;
    font-weight: 600;
    outline-width: 2px;
    outline-style: initial;
    border: solid 1px #000;
border-radius: 4px;
text-transform: uppercase;
}
.container ion-input label{
    margin-left: 10px;

}
.container ion-textarea label{
    margin-left: 10px;

}
.container ion-select {
    text-transform: uppercase;
    min-height: 35px;
    background: skyblue;
    color: #000;
    font-weight: 600;
    outline-width: 2px;
    outline-style: initial;
}
.container option{
    color: #000000;
}
.container select {
    background: skyblue;
    min-height: 35px;
    color: #000;
    font-weight: 600;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    text-transform: uppercase;

}
.container ion-textarea {
    text-transform: uppercase;
    background: skyblue;
    color: #000;
    font-weight: 600;
    width: 100%;
    text-align: left;
    border: solid 1px black;
    border-radius: 4px;
}

// .row {
//     margin-top: 6px;

// }


.back {
    margin-top: 15px;
}

.container ion-row span{
    background: linear-gradient(to right, #ff6600, #ff3300);
}
.headinglabel ion-label{
    text-transform: uppercase;
    background: linear-gradient(to right, #ff6600, #ff3300);
    background-clip: text;
    color: transparent;
    font-weight: bold; /* Adjust font styles as needed */
    /* Add any other styles you want */
  margin: 3px;
}
ion-card{
    width: 100%;
    // background-image: linear-gradient(to right, #141e30, #243b55);
}
// .gradient-button{
//     background: linear-gradient(to right, #ff6600, #ff3300);
//     color: white; /* Text color */
//     /* Add any other button styles as needed */
//   }
  .custom-primary ion-button{
    --background: transparent;
    background-clip: text;
    background: linear-gradient(to right, #ff6600, #ff3300);
border-radius: 4px;
  }



  //code of cards design
  .cards{
    margin-top: 40px;
}
.cards ion-card{
    height: 150px;
    width: 200px;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
border: none;
}
.cards ion-icon {
    color: #fff;
    font-size: 40px;
}

.cards ion-card-subtitle{
    color: #fff;
}

.cards.ion-icon :hover{
    background-color: #6a82fb;
}

@media(max-width:414px){
    .cards ion-card{
        height: 120px;
        width: 120px;
        background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    
    }
    .cards ion-icon {
        color: #fff;
        font-size: 30px;
    }
    .cards ion-icon {
        font-size: 24px;
    }
    
}
@media(max-width:540px) {
    .cards ion-icon {
        font-size: 30px;
    }

    .cards ion-card-subtitle {
        font-size: 16px;
    }
}



@media(max-width:280px) {

    .cards ion-card {
        height: 100px;
        width: 85px;
        margin-left: -5px;
    }
}
