@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-item {
    --background-hover: var(--background);
    --ripple-color: transparent;
    --background-activated: transparent;
}


ion-menu.md ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;


}

ion-app ion-menu {
    width: 200px;

}

ion-menu.md ion-list {
    padding: 20px 0;
    color: goldenrod;
}

ion-menu.md ion-note {
    margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
    padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #000000);
}

ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;

    min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;

    margin-bottom: 18px;

    color: goldenrod;

    min-height: 26px;
}

ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: px;
    border-bottom: #000000 solid 1px;


}

ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
    color: goldenrod;
    border: #000000 solid 1.5px;
    border-radius: 50%;
    padding: 5px;

}

ion-menu.md ion-item ion-label {
    font-weight: 500;

}

ion-menu.ios ion-content {
    --padding-bottom: 20px;

}

ion-menu.ios ion-list {
    padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
}

ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: goldenrod;
}

ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
}

ion-menu.ios ion-note {
    margin-bottom: 8px;
}

ion-note {
    display: inline-block;
    font-size: 16px;
    color: var(--ion-color-medium-shade);
}

ion-item.selected {
    // --color: var(--ion-color-primary);
}

ion-menu-toggle ion-label {
    color: goldenrod;
    font-weight: 100;
}

ion-list-header {
    color: goldenrod;
}

ion-select-option {
    color: goldenrod;
}

ion-icon :hover {
    color: #000000;
}

ion-buttons {
    width: 100%;
    text-align: left;
    /* Adjust alignment as needed */
}

/* Optionally, adjust the ion-menu-button icon alignment */
ion-menu-button {
    margin-left: 10px;
    /* Adjust the margin as needed */
}


// add-sale start
app-root {
    background-color: bisque;
}

// add-sale end

ion-toolbar ion-icon {
    font-size: 26px;
    color: goldenrod;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}

ion-header ion-title {
    text-align: center;
    color: goldenrod;
    font-weight: bold;
    margin-top: -25px;
    padding-top: -25px;
    padding-bottom: 5px;
}

ion-card {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

ion-segment {
    background-color: rgb(0, 0, 0);
    border: solid 2px goldenrod;
}

ion-segment-button {
    color: goldenrod;

}

ion-segment-button :hover {
    color: rgb(255, 255, 255);

}


ion-searchbar.custom {
    --background: goldenrod;
    --color: #000000;
    --placeholder-color: #000000;
    --icon-color: #000000;
    --clear-button-color: #000000;
    --border-radius: 4px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: goldenrod;
  }
  
  
.hsn_manager ::-ms-value{
    margin-left: 5px;
}

.row{
    height: 40px;
}

ion-input {
    max-height: 30px;
    --background: transparent;
    border: 1px solid darkgray;
    font-size: 14px;
    border-radius: 3px;
    padding: 8px; 
    max-width: 350px;
}
input:focus{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: 0.1s all linear;
}

ion-input::before{
    box-shadow: 5px 5px 5px 0px (#ccc);
}


.vendor_select{
    max-width: 330px;
}

ion-item {
    --background: transparent;
}

.label-width {
    min-width: 120px;
    display: inline-block;
    justify-content: right;
}

.input-width {
    width: calc(100% - 130px);
    display: inline-block;
    max-height: 30px;
}
.select-width {
    width: calc(100% - 120px);
    display: inline-block;
    border: 1px solid darkgray;
    border-radius: 3px;
    min-height: 30px;
}
.textarea-width{
    width: calc(100% - 130px);
    display: inline-block;
    border: 1px solid darkgray;
    border-radius: 3px;
   
}

table,
th,
td {
    border: solid 1px black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 0px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}