@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.container {
    width: 100%;
    // margin-top: 100px;
}



ion-item {
    --background-hover: var(--background);
    --ripple-color: transparent;
    --background-activated: transparent;
}


ion-menu.md ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
}



ion-menu.md ion-list {
    color: goldenrod;
}

ion-menu.md ion-note {}

ion-menu.md ion-note {
    // padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
    // border-bottom: 1px solid var(--ion-color-step-150, #000000);
}


ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    // border-radius: 50px;
    // border-bottom: #000000 solid 1px;
}

ion-menu.md ion-item.selected {
    --background: #f5f5dc;
    border-radius: 50px;
}

ion-menu.md ion-item.selected ion-icon {
    color: #525252;
}

ion-menu.md ion-item ion-icon {
    color: goldenrod;
    border: #000000 solid 1.5px;
    border-radius: 50%;
    padding: 5px;
}

ion-menu.md ion-item ion-label {
    font-weight: bold;
}

ion-menu.ios ion-content {
    --padding-bottom: 20px;
}

ion-menu.ios ion-list {
    padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
}

ion-menu.ios ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: goldenrod;
}

ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
}

ion-menu.ios ion-note {
    margin-bottom: 8px;
}

ion-note {
    display: inline-block;
    font-size: 16px;
    color: var(--ion-color-medium-shade);
}

ion-icon :hover {
    color: #000000;
}

ion-menu-button {
    margin-left: 10px;
    font-size: 30px;
}

.home_page {
    --background: rgba(0, 0, 0, 0.9);
    background-image: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card1 {
    --background: transparent;
    padding-left: 100px;
    padding-top: 70px;

}

.card2 {
    --background: transparent;
    border: 1px solid white;
    padding: 10px 30px;
    margin: 0 auto;
    // margin-top: 50px;
}

.card3 {
    --background: transparent;
    margin: 100px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.card4 {
    --background: transparent;
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
    border: 1px solid white;
}

.card4 ion-row {
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home_buttons {
    background-color: #fff;
    color: #000000;
    border: 1px solid goldenrod;
    border-radius: 3px;
    margin: 20px auto;
    transition: all 0.5s ease-out;
}

.home_buttons:hover {
    background-color: #000000;
    color: white;
}

.sign_select {
    min-height: 50px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
    font-size: 17px;
}

.sign_select:hover {
    border: 0.5px solid white;
}

ion-input .sign_input {
    border: none;
    outline: none;

}


.master_window {
    text-align: center;
    background-color: #e5e4e2;
    height: 100%;
    margin-top: 0px;
}

.master_logo {
    justify-content: center;
    // background-color: #555555;
}

.master_logo img {
    padding: 10px 0;
    height: 90px;
    width: 160px;
}

.master {
    margin: 30px auto;
    width: 150px;
    height: 120px;
    padding: 10px;
    // color: #525252;
    transition: all 0.5s linear;
    box-shadow: none;
    border-radius: 10%;
    // border: 1px solid goldenrod;

}

.master:hover {
    background-color: #525252;
    // font-size: 25px;
    transform: translateY(5px);
    color: #fff;
}

.master ion-card-subtitle:hover {
    color: #fff;
}

ion-card-subtitle {
    font-size: 19px;

}

.master ion-icon {
    color: goldenrod;
    font-size: 40px;
}

.master a {
    text-decoration: none;
}




@media(max-width:940px) {
    .master ion-icon {
        color: goldenrod;
        font-size: 30px;
    }

    ion-card-subtitle {
        font-size: 16px;

    }

    .master {
        height: 100px;
    }
}

ion-toolbar ion-icon {
    font-size: 26px;
    color: goldenrod;
    text-align: left;
    // margin-left: 10px;
    font-weight: bold;
}


ion-header ion-title {
    color: goldenrod;
    font-weight: bold;
}

ion-card {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.images {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file {
    font-size: 16px;
}

// .row {
//     height: 35px;
// }

.dots {
    font-size: 25px;
}

ion-item {
    --background: transparent;
}

.toolbar {
    background-color: #000000;
}


.label-width {
    min-width: 120px;
    display: inline-block;
    text-align: justify;
    color: rgb(172, 126, 126);
    font-size: 13px;
    font-weight: bold;
    padding-right: 5px;
}


.input-width {
    width: calc(100% - 130px);
    display: inline-block;
    max-height: 25px;
    font-size: 13px;
    border-radius: 2px;
    border: 1px solid darkgray;
    background: transparent;
}

.select-width {
    //width: calc(100% - 120px);
    display: inline-block;
    border: 1px solid darkgray;
    border-radius: 2px;
    //min-height: 25px;
    color: rgb(172, 126, 126);
    outline: none;
    text-align: center;
    font-size: 14px;
}

.textarea-width {
    width: calc(100% - 130px);
    display: inline-block;
    border: 1px solid darkgray;
    border-radius: 2px;
}

ion-icon {
    font-size: 18px;
}


table,
th,
td {
    border: solid 1px black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 960px;
}

th {
    background-color: #f2f2f2;
}

.table_input {
    border: none;
    outline: none;
    text-align: center;
}

.table_select {
    border: none;
    outline: none;
    text-align: center;
}

.back {
    padding: 3px;
}

.back:hover {
    background-color: rgba(255, 251, 251, 0.932);
}


@media screen and (max-width:1010px) {
    .container {
        width: 100%;
    }
}


@media(max-width:540px) {
    .card1 {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width:420px) {

    .label-width {
        min-width: 120px;
        text-align: left;
    }


    .input-width {
        min-width: 120px;
    }

    .select-width {
        min-width: 120px;
    }

    .textarea-width {
        min-width: 120px;
    }
}

@media(max-width:2200px) {

    .second_header {
        // display: none;
    }
}

@media(max-width:920px) {
    .second_header {
        display: block;
    }

    .dekstop-header {
        display: none;
        visibility: hidden;

    }

    ion-card-header {
        // display: none;
        visibility: hidden;
    }
}

ion-card-header {
    border-bottom: 2px solid goldenrod;
    width: 100%;
    // margin-top: -20px;
}

ion-card-header ion-title {
    color: goldenrod;
    font-weight: bold;
    text-align: center;
}

ion-card-header .back {
    color: goldenrod;
    font-size: 24px;
    font-weight: bold;
}



.container ion-input {
    min-height: 35px;
    color: goldenrod;
    font-weight: 400;
    outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}

.container ion-select {
    min-height: 35px;
    color: goldenrod;
    font-weight: 400;
    outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}

.container select {
    min-height: 35px;
    color: goldenrod;
    font-weight: 400;
    //border-color: goldenrod;
    width: 100%;
    text-align: left;
}

// .row {
//     margin-top: 6px;

// }