<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>View Quotation</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">

          <ion-card-header style="margin-bottom: -10px;">
            <ion-item lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title>View Quotation</ion-title>
            </ion-item>
          </ion-card-header>
        </div>
        <ion-grid class="view_quot">
          <ion-row>
            <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-radio style="margin-right: 10px;" color="warning" value="view_sale" name="month" labelPlacement="end"
                alignment="start">Monthly</ion-radio>
              <ion-radio style="margin-right: 10px;" color="warning" value="view_sale" name="quartly"
                labelPlacement="end" alignment="start">Quartly</ion-radio>
              <ion-radio color="warning" value="view_sale" name="year" labelPlacement="end"
                alignment="start">Yearly</ion-radio>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="date" label="From Date :"
                  label-placement="floating" fill="outline" id="startDate" name="startDate"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width"> From :</ion-label>
                <ion-input class="input-width" type="date"></ion-input>
              </ion-item> -->
            </ion-col>
            <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-row>
                <ion-input color="warning" class="sign_input" type="date" label="To Date :"
                  label-placement="floating" fill="outline" id="endDate" name="endDate"></ion-input>
              </ion-row>
              <!-- <ion-item lines="none">
                <ion-label class="label-width"> To :</ion-label>
                <ion-input class="input-width" type="date"></ion-input>
              </ion-item> -->
            </ion-col>

          </ion-row>

          <ion-row style="margin-top: 20px;">
            <ion-col size="12">
              <ion-searchbar class="custom " showCancelButton="focus"></ion-searchbar>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="tables" style="overflow-x:auto; width: 100%;">
              <table>
                <tr>
                  <th>Sr.No.</th>
                  <th>Item Description</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                  <th>Basic Rate</th>
                  <th>Gross Amount</th>
                  <th>Tax Rate</th>
                  <th>Tax Amount</th>
                  <th>CGST</th>
                  <th>SGST</th>
                  <th>Total Amount</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    Pending
                  </td>
                  <td>1</td>
                  <td>
                    pic
                  </td>
                  <td> dsc</td>
                  <td>dad</td>
                  <td>wqedsfd</td>
                  <td>qewrfdc </td>
                  <td> qwedsc </td>
                  <td>ads</td>
                  <td>110</td>
                  <td>
                    <ion-icon class="create" name="create"></ion-icon>
                    <ion-icon class="delete" name="trash"></ion-icon>
                  </td>

                </tr>
              </table>
            </div>
          </ion-row>

          <ion-row style="justify-content: right; margin-top: 10px;">
            <ion-button color="warning">Ok</ion-button>
            <ion-button color="warning">Close</ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>