<ion-content>
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Quotation Report</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
        <form #viewQuoteForm="ngForm" (ngSubmit)="onSubmit()">
          <ion-row style="margin-top: 5px;">
            <ion-col size-lg="2" size-md="2" size-sm="6" size="12">
            
            </ion-col>
            <ion-col size-lg="4" size-md="6" size-sm="6" size="12">
              <ion-row>
                <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date" label="From Date :"
                  label-placement="floating" fill="outline" id="startDate" name="startDate"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size-lg="4" size-md="6" size-sm="6" size="12">
              <ion-row>
                <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label="To Date :"
                  label-placement="floating" fill="outline" id="endDate" name="endDate"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
              <ion-button  style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
          </ion-row>
          <ion-row>
            <div  class="scroll-container"  style="overflow-x:auto; width: 100%;">
              <table style="width:2500px;">
                <tr>
                  <th >Sr.No.</th>
                  <th >Bill Formate</th>
                  <th >Quote No.</th>
                  <th >Quote Date</th>
                  <th >Customer Code</th>
                  <th >Customer Name</th>
                  <th >Refrence No.</th>
                  <th >Refrence Date</th>
                  <th >Delivery Date</th>
                  <th>Delivery Place</th>

                  <th >BarCode</th>
                  <th>Item Code</th>
                  <th >Item Name</th>
                  <th >Description</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                  <th>MRP</th>
                  <th>Basic Rate</th>
                  <th>Net Rate</th>
                  <th>Gross Amount</th>
                  <th>GST</th>
                  <th>CGST</th>
                  <th>SGST</th>
                  <th>IGST</th>
                  <th>Discount %</th>
                  <th >Discount Amount</th>
                  <th>Tax Amount</th>
                  <th>Pre-Tax</th>
                  <th>Post-Tax</th>
                  <th>Net Amount</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let quote of quote$ | async; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{quote.billformate}}</td>
                  <td>{{quote.quoteNumber}}</td>
                  <td>{{quote.quateDate}}</td>
                  <td>{{quote.custcode}}</td>
                  <td>{{quote.custname}}</td>
                  <td>{{quote.refrence}}</td>
                  <td>{{quote.refdate}}</td>
                  <td>{{quote.deliverydate}}</td>
                  <td>{{quote.deliveryplace}}</td>

                  <td>{{quote.barcode}}</td>
                  <td>{{quote.itemcode}}</td>
                  <td>{{quote.itemname}}</td>
                  <td>{{quote.description}}</td>
                  <td>{{quote.quantity}}</td>
                  <td>{{quote.unitname}}</td>
                  <td>{{quote.mrp  | currency : 'INR'}}</td>
                  <td>{{quote.basicrate  | currency : 'INR'}}</td>
                  <td>{{quote.netrate  | currency : 'INR'}}</td>
                  <td>{{quote.grossrate  | currency : 'INR'}}</td>
                  <td>{{quote.taxrate}} %</td>
                  <td>{{quote.IGST}} %</td>
                  <td>{{quote.CGST}} %</td>
                  <td>{{quote.SGST}} %</td>
                  <td>{{quote.discount}} %</td>
                  <td>{{quote.discountamt  | currency : 'INR'}}</td>
                  <td>{{quote.totaltax  | currency : 'INR'}}</td>
                  <td>{{quote.pretax  | currency : 'INR'}}</td>
                  <td>{{quote.posttax  | currency : 'INR'}}</td>
                  <td>{{quote.total  | currency : 'INR'}}</td>
                  <td>
                    <ion-icon name="create"></ion-icon>
                    <ion-icon name="trash"></ion-icon>
                  </td>
                </tr>
                
                
                
                
              </table>
            </div>
          </ion-row>
          <!-- <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row> -->
        </form>
      </ion-grid>

      </ion-card-content>
    </div>
  </div>
</ion-content>
