
.tables{
    width: 100%;
    // border-radius: 5px;
}
table {
    border-collapse: collapse;
     width: 1057px;
    border-radius: 5px;
}

th, td {
    border: 1px solid goldenrod;
    padding: 8px;
    text-align: center;
    color: white;
}
td{
    color: #000;
}

th {
    background-color: #000;
}


