<ion-content>
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Quotation Report</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
        <form #viewQuoteForm="ngForm" (ngSubmit)="onSubmit()">
          <ion-row style="margin-top: 5px;">
            <ion-col size-lg="2" size-md="2" size-sm="6" size="12">
            
            </ion-col>
            <ion-col size-lg="4" size-md="6" size-sm="6" size="12">
              <ion-row>
                <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date" label="From Date :"
                  label-placement="floating" fill="outline" id="startDate" name="startDate"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size-lg="4" size-md="6" size-sm="6" size="12">
              <ion-row>
                <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label="To Date :"
                  label-placement="floating" fill="outline" id="endDate" name="endDate"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
              <ion-button  style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
          </ion-row>
          <ion-row>
            <div  class="scroll-container"  style="overflow-x:auto; width: 100%;">
              <table style="width:2555px;">
                <tr>
                  <th style="width: 50px !important;">Sr.No.</th>
                  <th style="width: 70px !important;">Bill Formate</th>
                  <th style="width: 70px !important;">Quote No.</th>
                  <th style="width: 70px !important;">Quote Date</th>
                  <th style="width: 70px !important;">Customer Code</th>
                  <th style="width: 70px !important;">Customer Name</th>
                  <th style="width: 70px !important;">Refrence No.</th>
                  <th style="width: 70px !important;">Refrence Date</th>
                  <th style="width: 70px !important;">Delivery Date</th>
                  <th style="width: 70px !important;">Delivery Place</th>

                  <th style="width: 100px !important;">BarCode</th>
                  <th style="width: 70px !important;">Item Code</th>
                  <th style="width: 150px !important;">Item Name</th>
                  <th style="width: 120px !important;">Description</th>
                  <th style="width: 50px !important;">Quantity</th>
                  <th style="width: 70px !important;">Unit</th>
                  <th style="width: 50px !important;">MRP</th>
                  <th style="width: 70px !important;">Basic Rate</th>
                  <th style="width: 70px !important;">Net Rate</th>
                  <th style="width: 70px !important;">Gross Amount</th>
                  <th style="width: 50px !important;">GST</th>
                  <th style="width: 50px !important;">CGST</th>
                  <th style="width: 50px !important;">SGST</th>
                  <th style="width: 50px !important;">IGST</th>
                  <th style="width: 70px !important;">Discount %</th>
                  <th style="width: 100px !important;">Discount Amount</th>
                  <th style="width: 70px !important;">Tax Amount</th>
                  <th style="width: 70px !important;">Pre-Tax</th>
                  <th style="width: 70px !important;">Post-Tax</th>
                  <th style="width: 70px !important;">Net Amount</th>
                  <th style="width: 70px !important;">Action</th>
                </tr>
                <tr *ngFor="let quote of quote$ | async; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{quote.billformate}}</td>
                  <td>{{quote.quoteNumber}}</td>
                  <td>{{quote.quateDate}}</td>
                  <td>{{quote.custcode}}</td>
                  <td>{{quote.custname}}</td>
                  <td>{{quote.refrence}}</td>
                  <td>{{quote.refdate}}</td>
                  <td>{{quote.deliverydate}}</td>
                  <td>{{quote.deliveryplace}}</td>

                  <td>{{quote.barcode}}</td>
                  <td>{{quote.itemcode}}</td>
                  <td>{{quote.itemname}}</td>
                  <td>{{quote.description}}</td>
                  <td>{{quote.quantity}}</td>
                  <td>{{quote.unitname}}</td>
                  <td>{{quote.mrp}}</td>
                  <td>{{quote.basicrate}}</td>
                  <td>{{quote.netrate}}</td>
                  <td>{{quote.grossrate}}</td>
                  <td>{{quote.taxrate}}</td>
                  <td>{{quote.IGST}}</td>
                  <td>{{quote.CGST}}</td>
                  <td>{{quote.SGST}}</td>
                  <td>{{quote.discount}}</td>
                  <td>{{quote.discountamt}}</td>
                  <td>{{quote.totaltax}}</td>
                  <td>{{quote.pretax}}</td>
                  <td>{{quote.posttax}}</td>
                  <td>{{quote.total}}</td>
                  <td>
                    <ion-icon name="create"></ion-icon>
                    <ion-icon name="trash"></ion-icon>
                  </td>
                </tr>
                
                
                
                
              </table>
            </div>
          </ion-row>
          <!-- <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row> -->
        </form>
      </ion-grid>

      </ion-card-content>
    </div>
  </div>
</ion-content>
