<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Pro-Stock</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content class="child_window" [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Pro Stock Window</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
         
          <ion-row class="headinglabel">
            <ion-label>Item Information</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Code :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Short Name :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-textarea  style="min-height: 35px;" color="dark" class="sign_input" type="text" label="Description :"
                  label-placement="floating" fill="outline"></ion-textarea>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Group of Item :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Product Type :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Catrgory :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="headinglabel">
            <ion-label>Stock Information</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Delivery Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="MRP Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Customer Price : "
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Customer Tax % :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="CSD % :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Additional Tax % :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="headinglabel" >
            <ion-label>Item Stock</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Opt. Quantity :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>

            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Opt. Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="CL Quantity :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Avg. Price :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Model SAP Code :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Model VIN No. :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="headinglabel" >
            <ion-label>Account Integrations Link</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Transfer :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Sale A/c :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Purchase A/c :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="CSD Sale A/c :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="headinglabel">
            <ion-label>Standard Features</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Support Garrenty :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="CGST :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="Warrenty Help :"
                  label-placement="floating" fill="outline" ></ion-input>
              </ion-row>
            </ion-col>

            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" class="sign_input" type="text" label="IGST :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>