<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Pro-Stock</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content class="child_window" [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Item Information</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Code :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Short Name :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Description :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Group of Item</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Product Type :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Catrgory :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Stock Information</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Delivery Price :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">MRP Price :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Customer Price : </ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Customer Tax % :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">CSD % :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Additional Tax % :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Item Stock</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Opt. Quantity :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Opt. Price :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">CL Quantity :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Avg. Price :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Model SAP Code :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Model VIN No. :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Account Integrations Link</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Transfer :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Sale A/c :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Purchase A/c :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">CSD Sale A/c :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row style="margin: 10px auto;">
            <ion-label style="font-size: 25px; font-weight: bold;">Standard Features</ion-label><span
              style="width: 100%; height: 2px; background-color: black;"></span>
          </ion-row>
          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Support Garrenty :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">CGST :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">Warrenty Help :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col class="row" size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-item lines="none">
                <ion-label class="label-width">IGST :</ion-label>
                <ion-input class="input-width" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>