<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> </ion-toolbar>
</ion-header> -->

<ion-content class="home_page" [fullscreen]="true">
  <div class="signup">
    <ion-grid>
      <ion-row>
        <ion-card class="card1">
          <ion-row class="card2">
            <ion-col class="card2" size="12" size-lg="6">
              <ion-row class="card0">
                <img src="../../assets/ktechno-removebg-preview.png" alt="">
                <li>
                  <h1>Welcome to K Techno CRM</h1>
                  <h5>Empowering Connections, Enabling Growth</h5>
                  <h6>Seamless CRM Solutions for a Connected Tomorrow</h6>
                </li>
              </ion-row>
              <ion-row class="card0">
                <p>K Techno CRM may prioritize providing a user-friendly and efficient CRM platform, fostering positive
                  interactions between businesses and their customers. The emphasis on technology in the name suggests a
                  commitment to staying current with technological advancements in the CRM industry.</p><br>
                <p>
                  K Techno CRM is a cutting-edge platform at the forefront of revolutionizing customer relationship
                  management. With a commitment to excellence, K Techno CRM empowers businesses to navigate the
                  complexities of customer interactions seamlessly.
                </p> <br>
                <p>Unlock your personalized experience – Log in to access a world tailored just for you.</p>
              </ion-row>
              <ion-row class="custom-primary1">
                <ion-button [routerLink]="'/signup'" fill="outline" type="submit" class="home_buttons1">Signup
                  Now</ion-button>
                <ion-button [routerLink]="'/login'" fill="outline" type="submit" class="home_buttons1">Login
                </ion-button>
                <ion-button [routerLink]="'/master'" fill="outline" type="submit" class="home_buttons1">Go to
                  Master</ion-button>
              </ion-row>
            </ion-col>
            <ion-col class="custom-primary" size="12" size-lg="6">
              <ion-row style="justify-content: center;text-align: center;">
                <img src="../../assets/crm.png" alt="">
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>