.home{
    margin: 0 auto;
    background-color: black;
    border: solid 2px goldenrod;
    border-radius: 5px;
    color: goldenrod;
}
.home ion-card{
    width: 40%;
    justify-content: center;

}
.home ion-button{
    width: 150px;
    font-weight: bold;
}