<ion-content [fullscreen]="true" class="home">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <p>Welcome To The K-techno CRM</p>
        </ion-row>
        <ion-row>
            <ion-button color="warning" href="../signup" >Sign Up</ion-button>
        </ion-row>
        <ion-row>
            <ion-button color="warning" href="../login">Login</ion-button>
        </ion-row>
        <ion-row>
            <ion-button color="warning" href="../master">Goto Master</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
