<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Add Barcode</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" >
          <ion-row >
            <ion-col size-lg="4" size-md="3" size-sm="6" size="6">
              <ion-row>
                <ion-input [(ngModel)]="barcodeaddress" formControlName="barcodeaddress" name="baraddress" type="text" label="Barcode Address :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
        
            <ion-col size-lg="4" size-md="3" size-sm="6" size="6">
              <ion-row>
                <ion-input [(ngModel)]="sacnumber" formControlName="sacnumber"  name="sacno" type="text" label="SAC Number :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          
            <ion-col size-lg="4" size-md="3" size-sm="6" size="12">
              <ion-row>
                <ion-textarea [(ngModel)]="description" formControlName="description"  name="desc" type="text" label=" Description :" label-placement="floating"
                  fill="outline"></ion-textarea>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-searchbar class="custom"></ion-searchbar>
          </ion-row>
          <ion-row>
            <div style="width: 100%; height: 100px;scroll-behavior: auto;" class="scroll-container">
              <table>
                <tr>
                  <th>Sr.No</th>
                  <th>Barcode Address</th>
                  <th>SAC Number</th>
                  <th>Description</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Bag</td>
                  <td>34ewq3e42e</td>
                  <td>Code of HP Bag</td>
                </tr>

              </table>
            </div>
          </ion-row>
          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button id="open-loading">New</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..." [duration]="1000"></ion-loading>
            <ion-button type="submit" id="open-loading1">Save</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading1" message="Barcode Adding..." [duration]="1000"></ion-loading>
         
            <ion-button id="open-loading4">Close</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..." [duration]="1000"></ion-loading>

          </ion-row>
        </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>