<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Customers</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <ion-row class="header">
              <ion-col size-lg="8" size-md="8" size-sm="6" size="12">
                <ion-searchbar class="custom" showCancelButton="focus" [(ngModel)]="searchTerm"
                  (ionInput)="onSearchTermChanged()"></ion-searchbar>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="6" size="12" class="short">
                <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                  label="Select Columns" label-placement="floating" fill="outline" [(ngModel)]="selectedColumns"
                  name="selectedColumns" multiple="true">
                  <!-- Display the first six columns initially -->
                  <ion-select-option *ngFor="let col of availableColumns.slice(0, 6)" [value]="col">{{
                    columnHeaders[col] }}</ion-select-option>
                  <!-- Add an option for selecting additional columns -->
                  <ion-select-option *ngFor="let col of availableColumns.slice(6)" [value]="col">{{ columnHeaders[col]
                    }}</ion-select-option>
                </ion-select>
              </ion-col>



            </ion-row>

            <ion-row class="Executive">
              <ion-row class="data">
                <h1>Customer List :</h1>
              </ion-row>
              <div #content class="scroll-container">

                <table id="customerTable" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th *ngFor="let col of selectedColumns">{{ columnHeaders[col] }}</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let customer of customers$ | async; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td *ngFor="let col of selectedColumns">{{ customer[col.toLowerCase()] }}</td>
                      <td class="Action">

                        <ion-icon color="danger" icon-only name="trash"
                          (click)="deleteCustomer(customer.id,$event)"></ion-icon>

                      <ion-icon color="primary" icon-only clear (click)="editcustomer(customer)"
                          name="create"></ion-icon>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </div>
              <div [attr.colspan]="selectedColumns.length + 1" class="total">
                <p>Total: <span style="margin-left: 10px;">{{ totalItems }}</span></p>
              </div>
            </ion-row>
            <ion-row class="custom-primary" style="justify-content: right;">
              <ion-button size="small" (click)="printThisPage()"><ion-icon name="print" slot="end" size="small"
                  color="secondry"></ion-icon>Print</ion-button>
              <ion-button size="small" (click)="generatePdf()"><ion-icon name="document" slot="end" size="small"
                  color="secondry"></ion-icon>Export To PDF</ion-button>
              <ion-button size="small" (click)="printThisPage()"><ion-icon name="eye" slot="end" size="small"
                  color="secondry"></ion-icon>Preview</ion-button>
              <!-- <ion-button size="small" (click)="generateExcelReport()"><ion-icon name="grid"slot="end" size="small"
                color="secondry"></ion-icon>Export Excel</ion-button> -->
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-content>