<ion-content [fullscreen]="true">
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Customers</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <form #viewSaleForm="ngForm" (ngSubmit)="onSubmit()">
              <ion-row>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12">
                </ion-col>
                <!-- <ion-col size-lg="8" size-md="8" size-sm="6" size="12">
                  <ion-row>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="formDate" name="formDate" type="date"
                          label=" From Date  :" label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>
                    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                      <ion-row>
                        <ion-input color="warning" [(ngModel)]="toDate" name="toDate" type="date" label=" To Date :"
                          label-placement="floating" fill="outline"></ion-input>
                      </ion-row>
                    </ion-col>

                  </ion-row>
                </ion-col>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12" class="custom-primary">
                  <ion-button style="justify-content: right;margin-top: 10px;" expand="block">Ok</ion-button>
                </ion-col> -->
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
                </ion-col>
                <ion-col size="4" class="filter">
                  <ion-select [(ngModel)]="selectedColumns" [ngModelOptions]="{standalone: true}" multiple="true">
                    <ion-select-option *ngFor="let col of availableColumns" [value]="col">{{ col }}</ion-select-option>
                  </ion-select>
                </ion-col>

              </ion-row>

              <ion-row class="Executive">
                <div style="overflow-x:auto; width: 100% ;height: 350px;">
                  <table>
                    <thead>
                      <tr>
                        <th *ngFor="let col of selectedColumns">{{ col }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let customer of customers$ | async; let i = index">
                        <td *ngFor="let col of selectedColumns" style="width: 100px;">
                          {{ customer[col] }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                 <!--  <table style="width: 100%;overflow-x:auto;"  >
                    <thead>
                      <tr>
                        <th style="width: 50px">Sr. No.</th>
                        <th style="width: 50px">Code</th>
                        <th style="width: 100px">Name</th>
                        <th style="width: 100px">GSTIN</th>
                        <th style="width: 100px">Mobile No.</th>
                        <th style="width: 100px">WhatsApp No.</th>
                        <th style="width: 100px">Email</th>
                        <th style="width: 100px">Country</th>
                        <th style="width: 100px">State</th>
                        <th style="width: 100px">District</th>
                          <th style="width: 100px">Pincode</th>
                          <th style="width: 100px">Full Address</th>
                          <th style="width: 100px">Aadhar No.</th>
                          <th style="width: 100px">PAN No.</th>
                          <th style="width: 100px">Udhyog Aadhar No.</th>
                          <th style="width: 100px">Account No.</th>
                          <th style="width: 100px">IFSC Code</th>
                          <th style="width: 100px">Bank Name</th>
                          <th style="width: 100px">Branch Name</th>
                          <th style="width: 100px">Card No.</th>
                          <th style="width: 100px">Credit Period</th>
                          <th style="width: 100px">Credit Limit</th>
                          <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let customer of customers$ | async; let i = index">

                        <td>{{ i + 1 }}</td>
                        <td>{{customer.customer_code}}</td>
                        <td>{{customer.name}}</td>                       
                        <td>{{customer.gstin}}</td>
                        <td>{{customer.mobile}}</td>
                        <td>{{customer.whatsapp_number}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.countryid}}</td>
                        <td>{{customer.stateid}}</td>
                        <td>{{customer.districtid}}</td>
                        <td>{{customer.pincode}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.aadhar_no}}</td>
                        <td>{{customer.pan_no}}</td>
                        <td>{{customer.udhyog_aadhar}}</td>
                        <td>{{customer.account_number}}</td>
                        <td>{{customer.ifsc_code}}</td>
                        <td>{{customer.bank_name}}</td>
                        <td>{{customer.branch_name}}</td>
                        <td>{{customer.card_number}}</td>
                        <td>{{customer.credit_period}}</td>
                        <td>{{customer.credit_limit}}</td>
                        <td class="Action">
                          <ion-icon color="danger" icon-only clear (click)="presentConfirmAlert(company.tid)" name="trash"></ion-icon> 
                         <ion-icon color="primary" icon-only clear (click)="editcustomer(customer)" name="create"></ion-icon>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>CUST002</td>
                        <td>Jane Smith</td>
                        <td>EFGH5678I</td>
                        <td>9876543211</td>
                        <td>1234567891</td>
                        <td>janesmith@example.com</td>
                        <td>USA</td>
                        <td>New York</td>
                        <td>New York City</td>
                        <td>10001</td>
                        <td>456 Elm Street, Town</td>
                        <td>876543210987</td>
                        <td>FGHI5678J</td>
                        <td>UAN9876543</td>
                        <td>9876123456789876</td>
                        <td>9876543210</td>
                        <td>MyBank</td>
                        <td>Downtown Branch</td>
                        <td>5678-9012-3456-7890</td>
                        <td>45 days</td>
                        <td>$1500</td>
                      </tr>
                      
                      <tr>
                        <td>3</td>
                        <td>CUST003</td>
                        <td>Alice Johnson</td>
                        <td>WXYZ1234A</td>
                        <td>1234567892</td>
                        <td>9876543212</td>
                        <td>alicejohnson@example.com</td>
                        <td>Canada</td>
                        <td>Ontario</td>
                        <td>Toronto</td>
                        <td>M5V 2L9</td>
                        <td>789 Oak Avenue, Village</td>
                        <td>345678901234</td>
                        <td>KLMN1234B</td>
                        <td>UAN5432109</td>
                        <td>5432567890123456</td>
                        <td>9876543210</td>
                        <td>Bank of Canada</td>
                        <td>Main Branch</td>
                        <td>4321-8765-0987-2345</td>
                        <td>60 days</td>
                        <td>$2000</td>
                      </tr> 
                                            
                    </tbody>

                  </table> -->
                </div>
              </ion-row>
            </form>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
