<ion-content [fullscreen]="true">
  <div class="Customer">
    <div>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">View Customers</ion-title>
            </ion-row>
          </ion-card-header>

          <ion-grid>
            <form #viewSaleForm="ngForm" (ngSubmit)="onSubmit()">
              <ion-row>
                <ion-col size-lg="2" size-md="2" size-sm="6" size="12">
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-searchbar class="custom" showCancelButton="focus"></ion-searchbar>
                </ion-col>
                <ion-col size="4" class="filter">
                  <ion-select [(ngModel)]="selectedColumns" [ngModelOptions]="{standalone: true}" multiple="true">
                    <ion-select-option *ngFor="let col of availableColumns" [value]="col">{{ col }}</ion-select-option>
                  </ion-select>
                </ion-col>

              </ion-row>

              <ion-row class="Executive">
                <div style="overflow-x:auto; width: 100% ;height: 350px;border: 1px solid grey;;">

                  <table style="width: 3000px;overflow-x:auto;overflow-y: auto;">
                    <thead>
                      <tr>
                        <th style="width: 100px !important">Sr. No.</th>
                        <th style="width: 100px !important">Code</th>
                        <th style="width: 300px !important">Name</th>
                        <th style="width: 100px !important">GSTIN</th>
                        <th style="width: 200px !important">Mobile No.</th>
                        <th style="width: 200px !important">WhatsApp No.</th>
                        <th style="width: 300px !important">Email</th>
                        <th style="width: 100px !important">Country</th>
                        <th style="width: 100px !important">State</th>
                        <th style="width: 100px !important">District</th>
                        <th style="width: 100px !important">Pincode</th>
                        <th style="width: 300px !important">Full Address</th>
                        <th style="width: 100px !important">Aadhar No.</th>
                        <th style="width: 100px !important">PAN No.</th>
                        <th style="width: 100px !important">Udhyog Aadhar No.</th>
                        <th style="width: 150px !important">Account No.</th>
                        <th style="width: 100px !important">IFSC Code</th>
                        <th style="width: 300px !important">Bank Name</th>
                        <th style="width: 300px !important">Branch Name</th>
                        <th style="width: 150px !important">Card No.</th>
                        <th style="width: 100px !important">Credit Period</th>
                        <th style="width: 100px !important">Credit Limit</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let customer of customers$ | async; let i = index">

                        <td>{{ i + 1 }}</td>
                        <td>{{customer.customer_code}}</td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.gstin}}</td>
                        <td>{{customer.mobile}}</td>
                        <td>{{customer.whatsapp_number}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.countryid}}</td>
                        <td>{{customer.stateid}}</td>
                        <td>{{customer.districtid}}</td>
                        <td>{{customer.pincode}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.aadhar_no}}</td>
                        <td>{{customer.pan_no}}</td>
                        <td>{{customer.udhyog_aadhar}}</td>
                        <td>{{customer.account_number}}</td>
                        <td>{{customer.ifsc_code}}</td>
                        <td>{{customer.bank_name}}</td>
                        <td>{{customer.branch_name}}</td>
                        <td>{{customer.card_number}}</td>
                        <td>{{customer.credit_period}}</td>
                        <td>{{customer.credit_limit}}</td>
                        <td class="Action">
                          <ion-icon color="danger" icon-only name="trash"></ion-icon>
                          <ion-icon color="primary" icon-only name="create"></ion-icon>
                        </td>
                      </tr>

                      <p>Total:{{totalItems }}</p>
                    </tbody>

                  </table>
                </div>
              </ion-row>
            </form>
          </ion-grid>
        </div>
      </ion-card-content>
    </div>
    </div>
</ion-content>