<ion-content class="invoice" id="invoice">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Invoice
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div id="invoice" #content class="invoice" style="border: solid 2px #000;">

      <div class="invoice-subheader" style="border: solid 2px #000;
      ">
        <ion-row *ngFor="let company of company$ | async; let i = index">
          <ion-col size="2">
            <img src="assets/ktechno-removebg-preview.png" alt="">
          </ion-col>
          <ion-col size="5" style="border-right: solid 2px #000;">
            <h1>{{company.cpyname}}</h1>
            <!-- <h6>(Software Sales & Services)</h6> -->
            <h5><span>Address:</span>
              {{company.address}}
            </h5>
            <h5><span>Branch :</span>
              {{company.address1}}</h5>
            <ion-row>
              <ion-col size="6">
                <h5><span>GSTIN:</span>{{company.gstin}}</h5>
                <h5><span>Email Id :</span>{{company.email}}</h5>
                <h5><span>Pan No :</span>{{company.pannumber}}</h5>
                <h5><span>Country :</span>{{company.selectedCountry}}
                </h5>
              </ion-col>
              <ion-col size="6">
                <h5><span>State:</span>{{company.selectedState}}
                </h5>
                <h5><span>Phone No.:</span>{{company.phone}}</h5>
                <h5><span>WhatsApp No.:</span>{{company.wpnumber}}</h5>

                <h5><span>Website:</span>{{company.website}}</h5>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="5" class="details">
            <div *ngFor="let sales of sales$ | async; let i = index">
              <h5><span>Invoice No : </span>{{sales.billNumber}}</h5>
              <h5><span>Date : </span> {{ sales.billDate }}</h5>
              <h5><span>PO Ref No. : </span> {{ sales.refrence }}</h5>
              <h5><span>PO Date : </span> {{ sales.refdate }}</h5>
              <h5><span>Remark : </span> {{ sales.description }}</h5>
            </div>



          </ion-col>
        </ion-row>

      </div>
      <div class="invoice-header">
        <h1>Tax Invoice</h1>
      </div>
      <div class="shipping">
        <ion-row>
          <ion-col size="6" style="border-right: solid 2px #000;">
            <div *ngFor="let customer of customers$ | async; let i = index">
              <h1>Billing Details (Bill To)</h1>
              <h5><span>Name : </span> {{customer.name}}</h5>
              <h5><span>Address : </span> {{customer.address}}</h5>
              <ion-row>
                <ion-col size="8">
                  <h5><span>POS : </span> {{customer.stateid}}</h5>
                </ion-col>
                <ion-col size="4">
                  <h5><span>Code : </span> {{customer.customer_code}}</h5>
                </ion-col>
              </ion-row>
              <h5><span>Phone No : </span> {{customer.customer_code}}</h5>
              <h5><span>GSTIN : </span> {{customer.gstin}}</h5>
            </div>
          </ion-col>
          <ion-col size="6">
            <div *ngFor="let customer of customers$ | async; let i = index">
              <h1>Shiping Details (Ship To)</h1>
              <h5><span>Name : </span> {{customer.name}}</h5>
              <h5><span>Address : </span> {{customer.address}}</h5>
              <ion-row>
                <ion-col size="8">
                  <h5><span>POS : </span> {{customer.stateid}}</h5>
                </ion-col>
                <ion-col size="4">
                  <h5><span>Code : </span> {{customer.customer_code}}</h5>
                </ion-col>
              </ion-row>
              <h5><span>Phone No : </span> {{customer.customer_code}}</h5>
              <h5><span>GSTIN : </span> {{customer.gstin}}</h5>
            </div>

          </ion-col>
        </ion-row>
      </div>
      <div class="Declaration">
        <h5><span>Declaration : </span> We declare that this invoice show the actual price of the goods described and
          that
          all particulars are true and correct.</h5>
      </div>
      <div class="invoice-content">


        <table style="width: 100%;scroll-behavior: auto;height: 400px;">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Item Code</th>
              <th>Item Name</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th>MRP</th>
              <th>Net Rate</th>
              <th>Tax %</th>
              <th>Tax Amt.</th>
              <th>Discount Amt.</th>
              <th>Net Amount</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sales of sales$ | async; let i = index" style="max-height: 30px !important;">
              <td style="max-height: 30px !important;">{{ i + 1 }}</td>
              <td style="max-height: 30px !important;">{{sales.itemcode}}</td>
              <td style="max-height: 30px !important;">{{sales.itemname}}</td>
              <td style="max-height: 30px !important;">{{sales.quantity}}</td>
              <td style="max-height: 30px !important;">{{sales.unitname}}</td>
              <td style="max-height: 30px !important;">{{sales.mrp}} &#8377;</td>
              <td style="max-height: 30px !important;">{{sales.netrate}} &#8377;</td>
              <td style="max-height: 30px !important;">{{sales.taxrate}} %</td>
              <td style="max-height: 30px !important;">{{sales.totaltax}} &#8377;</td>
              <td style="max-height: 30px !important;">{{sales.discountamt}} &#8377;</td>
              <td style="max-height: 30px !important;">{{sales.total}} &#8377;</td>

            </tr>
          </tbody>
        </table>

      </div>
      <div class="invoice-footer">
        <ion-row>
          <ion-col size="9">
            <div class="taxtable">
              <table style="width: 100%;">
                <tr>
                  <th>Taxable AMT</th>
                  <th>CGST %</th>
                  <th>CGST AMT</th>
                  <th>SGST %</th>
                  <th>SGST AMT</th>
                  <th>IGST %</th>
                  <th>IGST AMT</th>
                </tr>
                <tr *ngFor="let sales of sales$ | async; let i = index">
                  <td>{{sales.totaltax}}</td>
                  <td>{{sales.taxrate/2}} %</td>
                  <td>{{sales.CGST}}</td>
                  <td>{{sales.taxrate/2}} %</td>
                  <td>{{sales.SGST}}</td>
                  <td>{{sales.taxrate}} %</td>
                  <td>{{sales.IGST}}</td>
                </tr>
                <tr>
                  <th>Total</th>
                  <th>CGST</th>
                  <th>{{ cgstamt | currency: 'INR' }}</th>
                  <th>SGST </th>
                  <th>{{ sgstamt | currency: 'INR' }}</th>
                  <th>IGST</th>
                  <th>{{ igstamt | currency: 'INR' }}</th>
                </tr>
              </table>
            </div>
            <div class="banktable" *ngFor="let sales of sales$ | async; let i = index">
              <table style="width: 100%;">
                <tr>
                  <th colspan="4" style="text-align: center;background: #e1e0e0;">Bank Details:</th>
                </tr>
                <tr>
                  <!-- <th>UPI ID</th> -->
                  <th>IFSC Code</th>
                  <td>{{sales.ifsc_code}}</td>
                  <th>Bank Name :</th>
                  <td>{{sales.bank_name}}</td>
                </tr>
                <tr>
                  <th>Account Number :</th>
                  <td>{{sales.account_number}}</td>
                  <th>Branch Name :</th>
                  <td>{{sales.branch_name}}</td>
                </tr>

              </table>

            </div>

          </ion-col>
          <ion-col size="3" style="border: solid 1px #000;">
            <div>
              <h5><span>Total Amount : </span>{{ totalAmount | currency: 'INR' }}</h5>
              <p>Discount Amount : {{ discountAmount | currency: 'INR' }}</p>


              <p>CGST Amt : {{ cgstamt | currency: 'INR' }}</p>
              <p>SGST Amt : {{ sgstamt | currency: 'INR' }}</p>
              <p>Taxable Amount :{{ taxAmount | currency: 'INR' }}</p>
              <p>Discount Amount :{{ discountAmount | currency: 'INR' }}</p>
              <p>Pre Tax : &#8377; {{ pretaxAmount | currency: 'INR' }}</p>
              <p>Post Tax : &#8377;{{ posttaxAmount | currency: 'INR' }}</p>
              <p>Cess Amount : &#8377; 00.0</p>
              <p>Round Off Amount : {{ grandTotal | currency: 'INR' }}</p>
              <h5><span>Grand Total : </span>{{ grandTotal | currency: 'INR' }}</h5>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div class="Declaration">
        <h6><span>No. Of Items : </span>{{totalitem}}</h6>
        <h5><span>Amount In Words : </span>{{ grandTotal | currency: 'INR' }}</h5>
      </div>
      <div class="invoice-footer">
        <ion-row>
          <ion-col size="8" class="terms">
            <h6>Terms & Condition : </h6>
            <ul>
              <li>After 1 Year AMC will applicable</li>
              <li>Kindly do not update software without AMC.</li>
              <li>Our Support Numbers are : 8829976868, 7577576868</li>
              <li>Payment : 100% against to Installation</li>
            </ul>


          </ion-col>
          <ion-col size="4" style="height: 70px;">
            <h6 style="text-align: center;font-weight: 900;">For K Techno</h6>
            <h6 style="text-align: center;margin-top: 90px;font-weight: 700;">Authorised Signatory</h6>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-content>
</ion-content>
<ion-content [fullscreen]="true">
  <div class="Customer">

    <ion-card-content>
      <div class="dekstop-menu">
        <ion-card-header>
          <ion-row lines="none">
            <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
            <ion-title style="text-align: center;">Add Sale</ion-title>
            <div class="custom-primary">
              <ion-button size="small" [routerLink]="['/view-sale']" id="open-loading5">View Sales</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading5" message="Sales Showing ..."
                [duration]="1000"></ion-loading>
              <img id="menu" style="margin-left: 10px;" width="20px" height="20px" src="../../assets/more.png"
                alt="more">
            </div>
          </ion-row>
        </ion-card-header>
      </div>
      <ion-grid>

        <form [formGroup]="myform" (ngSubmit)="onSubmit(myform,salesData)">
          <ion-row>
            <ion-col size-lg="2" size-md="2" size-sm="6" size="6">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="Bill Formate" label-placement="floating" fill="outline" [(ngModel)]="billformate"
                formControlName="billformate" name="billformate">
                <!-- <option value="0" >Bill Formate</option> Default option -->
                <ion-select-option value="0">1</ion-select-option>
                <ion-select-option value="1">2</ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col size-lg="2" size-md="2" size-sm="6" size="6">
              <ion-row>
                <ion-input #firstInvalidInput [(ngModel)]="billNumber" formControlName="billNumber" name="billno"
                  type="text" label=" Billing No. :" label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size-lg="2" size-md="2" size-sm="6" size="6">
              <ion-row>
                <ion-input [(ngModel)]="billDate" formControlName="billDate" name="billdate" type="date"
                  label=" Billing Date :" label-placement="floating" fill="outline"></ion-input>

              </ion-row>
            </ion-col>
            <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
              <ion-row>
                <ion-input #firstInvalidInput (change)="getCustomers($event)" [(ngModel)]="custcode"
                  formControlName="custcode" name="custcode" type="text" label="Code :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size-lg="2.6" size-md="2" size-sm="6" size="6">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="--- Customer Name --- " label-placement="floating" fill="outline" [(ngModel)]="custcode"
                name="custname" formControlName="custname" searchable="true" (change)="getCustomers($event)">
                <ion-select-option *ngFor="let customername of customers$ | async" [value]="customername.id">
                  {{ customername.name }}
                </ion-select-option>
              </ion-select> </ion-col>

            <ion-col class="custom-primary" size-lg="0.4" size-md="2" size-sm="2" size="2">
              <ion-button (click)="presentPopovers($event)"><ion-icon name="person-add-outline"></ion-icon></ion-button>
            </ion-col>

            <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
              <ion-row>
                <ion-input [(ngModel)]="gstin" formControlName="gstin" name="gstin" type="text" label="GSTIN:"
                  label-placement="floating" fill="outline" (change)="getCustomers($event)">
                </ion-input>
              </ion-row>
            </ion-col>

            <ion-col size-lg="2" size-md="2" size-sm="6" size="6">
              <ion-row>
                <ion-input color="dark" [(ngModel)]="refrence" formControlName="refrence" name="refrence" type="text"
                  label="Refrence No. :" label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>

            <ion-col size-lg="2" size-md="2" size-sm="6" size="6">
              <ion-row>
                <ion-input color="dark" [(ngModel)]="refdate" formControlName="refdate" name="refdate" type="date"
                  label="Ref. Date :" label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>

            <ion-col size-lg="2" size-md="2" size-sm="6" size="6">
              <ion-row>
                <ion-input [(ngModel)]="orderNumber" formControlName="orderNumber" name="orderno" type="text"
                  label=" Order No.  :" label-placement="floating" fill="outline"></ion-input>

              </ion-row>
            </ion-col>

            <ion-col size-lg="1.5" size-md="2" size-sm="6" size="6">
              <ion-row>
                <ion-input [(ngModel)]="orderDate" formControlName="orderDate" name="orDate" type="date"
                  label=" Order Date :" label-placement="floating" fill="outline"></ion-input>

              </ion-row>
            </ion-col>

            <ion-col size-lg="2.6" size-md="2" size-sm="6" size="6">

              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="---Sales Person---" label-placement="floating" fill="outline" [(ngModel)]="salePerson"
                formControlName="salePerson" name="sperson">
                <!-- <ion-select-option value="0"> --- Sales Person --- </option>Default option -->
                <ion-select-option *ngFor="let executive of executive$ | async" [value]="executive.executiveid">
                  {{ executive.executivename }}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size-lg="1.9" size-md="2" size-sm="6" size="6">
              <ion-select class="always-flip" toggleIcon="caret-down-sharp" color="dark" interface="popover"
                label="Payment Mode" label-placement="floating" fill="outline" [(ngModel)]="payment"
                formControlName="payment" name="pyt">
                <!-- <option value="0" disabled selected>Select Payment Mode</option> Default option -->
                <ion-select-option value="0">Cash</ion-select-option>
                <ion-select-option value="1">Credit</ion-select-option>

              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row style="margin-top: 7px;">
            <div class="scroll-container">

              <table style="width:100%;overflow-x: auto;">
                <tr>
                  <th>Sr.No.</th>
                  <!-- <th>BarCode</th> -->
                  <th>Item Code</th>
                  <th>Item Name</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                  <th>MRP</th>
                  <th>Basic Rate</th>
                  <th>Net Rate</th>
                  <th>Gross Amount</th>
                  <th>GST</th>
                  <!-- <th>CGST</th>
                  <th>SGST</th>
                  <th>IGST</th> -->
                  <th>Discount By</th>
                  <th>Discount Amount</th>
                  <th>Tax Amount</th>
                  <th>Net Amount</th>
                  <th>Action</th>
                </tr>

                <tr *ngFor="let sales of salesData; let i = index">
                  <td>{{i+1}}</td>
                  <!-- <td>
                    <input [(ngModel)]="sales.barcode" [ngModelOptions]="{standalone: true}" class="table_input"
                      (ngModelChange)="getItems(sales)" type="text">
                  </td> -->
                  <td>
                    <input [(ngModel)]="sales.itemcode" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="getItems(sales)" class="table_input" type="text">
                  </td>
                  <td>
                    <select class="select-option" [(ngModel)]="sales.selectedItemId"
                      [ngModelOptions]="{standalone: true}" (ngModelChange)="getItems(sales)">
                      <option value="0">Item Name</option><!-- Default option -->
                      <option *ngFor="let item  of itemnames$ | async" [value]="item.tid">
                        {{ item.itemDesc }}
                      </option>
                    </select>
                    <!-- Use a hidden input for sending itemcode -->
                    <ion-input style="display: none;" [(ngModel)]="sales.itemid" [ngModelOptions]="{standalone: true}"
                      type="hidden"></ion-input>
                    <ion-input style="display: none;" [(ngModel)]="companyid" [ngModelOptions]="{standalone: true}"
                      type="hidden"></ion-input>
                    <ion-input style="display: none;" [(ngModel)]="userid" [ngModelOptions]="{standalone: true}"
                      type="hidden"></ion-input>
                  </td>
                  <td>
                    <input [(ngModel)]="sales.description" [ngModelOptions]="{standalone: true}" class="description"
                      type="text">
                  </td>
                  <td>
                    <input *ngIf="sales.itemcode !== 0" [(ngModel)]="sales.quantity"
                      [ngModelOptions]="{standalone: true}" class="table_input" type="number"
                      (keydown)="onKeyDown($event)" (keydown.enter)="openQuantityPopover(sales)">
                  </td>
                  <td>
                    <input [(ngModel)]="sales.unitname" [ngModelOptions]="{standalone: true}" class="table_input"
                      type="text">
                    <input [(ngModel)]="sales.hunitname" [ngModelOptions]="{standalone: true}" type="hidden">
                    <!-- <select class="select-option" [(ngModel)]="sales.unitname" [ngModelOptions]="{standalone: true}">
                        <option value="0">Unit Name</option>
                        <option *ngFor="let unitnames of unitname$ | async" [value]="unitnames.unitid">
                          {{ unitnames.unitname }}
                        </option>
                      </select> -->
                  </td>
                  <td>
                    <input [(ngModel)]="sales.mrp" [ngModelOptions]="{standalone: true}" class="table_input"
                      type="number" (keydown)="onKeyDown($event)">
                  </td>
                  <td>
                    <input [(ngModel)]="sales.basicrate" [ngModelOptions]="{standalone: true}" class="table_input"
                      type="number" (keydown)="onKeyDown($event)">

                  </td>
                  <td>
                    <input [(ngModel)]="sales.netrate" [value]="getnetrate(sales)" [ngModelOptions]="{standalone: true}"
                      class="table_input" type="text" (keydown)="onKeyDown($event)">
                  </td>
                  <td>
                    <input [value]="getgrossrate(sales)" [readonly]="true" class="table_input" type="number"
                      (keydown)="onKeyDown($event)">
                  </td>
                  <td>
                    <input [(ngModel)]="sales.taxrate" [ngModelOptions]="{standalone: true}" class="table_input"
                      type="number" (keydown)="onKeyDown($event)">
                    <!-- <select class="select-option" id="taxrate" #taxrate (change)="onSelectChange(taxrate,sales)"
                        (ngModelChange)="getItems(sales)" [(ngModel)]="sales.taxrate"
                        [ngModelOptions]="{standalone: true}">
                        <option value="0"> GST</option>
                        <option *ngFor="let gsttype of taxrate$ | async" [value]="gsttype.gstid">
                          {{ gsttype.gstname }}
                        </option>
                      </select> -->
                  </td>
                  <input type="hidden" [(ngModel)]="sales.taxrate1" [ngModelOptions]="{standalone: true}"
                    (keydown)="onKeyDown($event)" />
                  <!-- <td>
                    <input [value]="getsgst(sales)" [readonly]="true" class="table_input" type="number"
                      (keydown)="onKeyDown($event)">
                  </td>
                  <td>
                    <input [value]="getcgst(sales)" [readonly]="true" class="table_input" type="number"
                      (keydown)="onKeyDown($event)">
                  </td>
                  <td>
                    <input [value]="getigst(sales)" type="number" class="table_input" (keydown)="onKeyDown($event)">
                  </td> -->
                  <td>
                    <select class="select-option" formControlName="discountType">
                      <option value="amount">Amount</option>
                      <option value="percentage">Percentage</option>
                    </select>
                  </td>
                  <td>
                    <input *ngIf="myform.get('discountType')?.value === 'percentage'; else amountField"
                      [(ngModel)]="sales.discount" (ionBlur)="getdiscountp(sales)" [ngModelOptions]="{standalone: true}"
                      class="table_input" type="number" (keydown)="onKeyDown($event)">
                    <ng-template #amountField>
                      <input [(ngModel)]="sales.discountamt" (keyup)="getdiscountamt(sales)"
                        [value]="getdiscountamt(sales)" [ngModelOptions]="{standalone: true}" class="table_input"
                        type="number" (keydown)="onKeyDown($event)">
                    </ng-template>
                  </td>

                  <td>
                    <input [readonly]="true" [value]="getTotaltax(sales)" class="table_input" type="text">
                  </td>
                  <td>
                    <input [readonly]="true" [value]="getTotalamt([sales])" class="table_input" type="text">

                  </td>

                  <td>
                    <ion-icon icon-only clear color="primary" name="add" (click)="addSales()"></ion-icon>
                    <ion-icon *ngIf="i>0" icon-only clear color="danger" name="trash"
                      (click)="removeSales(i,sales)"></ion-icon>
                  </td>
                </tr>
              </table>

            </div>
            <div style="overflow-x: auto; border: 1px solid grey; width: 100%;">

              <ion-row>
                <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                  <label class="label_table" for="">Total Item :</label>
                  <input name="totalitemno" [(ngModel)]="salesData.length" formControlName="totalitemno"
                    class="input_table" type="text">
                </ion-col>

                <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                  <label class="label_table" for="">Quantity : </label>

                  <input name="totalquantity" [(ngModel)]="totalquantity" [value]="getTotalQuantity()"
                    formControlName="totalquantity" class="input_table" type="number" (keydown)="onKeyDown($event)">

                </ion-col>

                <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                  <label class="label_table" for="">Gross Amount :</label>
                  <input name="totalgrossamt" [(ngModel)]="totalgrossamt" [value]="getTotalGrossAmount()"
                    formControlName="totalgrossamt" class="input_table" type="number" (keydown)="onKeyDown($event)">

                </ion-col>

                <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                  <label class="label_table" for="">Discount Amount : </label>
                  <input name="totaldiscountamt" [(ngModel)]="totaldiscountamt" [value]="getTotalDiscountAmount()"
                    formControlName="totaldiscountamt" class="input_table" type="number" (keydown)="onKeyDown($event)">

                </ion-col>

                <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                  <label class="label_table" for="">Tax Amount :</label>
                  <input name="totaltaxamount" [(ngModel)]="totaltaxamount" [value]="getTotalTaxAmount()"
                    formControlName="totaltaxamount" class="input_table" type="number" (keydown)="onKeyDown($event)">

                </ion-col>

                <ion-col class="row_data" size="12" size-lg="2" size-md="2" size-sm="6">
                  <label class="label_table" for="">Taxable Amount :</label>
                  <input name="totalnetamount" [(ngModel)]="totalnetamount" formControlName="totalnetamount"
                    [value]="getTaxableAmount()" class="input_table" type="number" (keydown)="onKeyDown($event)">

                </ion-col>
              </ion-row>
            </div>

          </ion-row>
          <ion-row>
            <ion-col class="row1" size-lg="3" size-md="3" size-sm="3" size="12">
              <div class="row3">
                <ion-label class="delivery-label" style="font-size: small;">Scheduled Delivery</ion-label>
                <div class="outstanding">
                  <ion-row>
                    <table class="delivery-table" style="width: 100%; overflow: hidden;">
                      <tr>
                        <th style="width: 100px !important;">Delivery Date</th>
                        <td>
                          <ion-input type="date" [(ngModel)]="deliverydate" formControlName="deliverydate"
                            name="deliverydate" placeholder="Enter Delivery Date"></ion-input>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 100px !important;">Delivery Place</th>
                        <td>
                          <ion-input type="text" [(ngModel)]="deliveryplace" formControlName="deliveryplace"
                            name="deliveryplace" placeholder="Enter Delivery Place"></ion-input>
                        </td>
                      </tr>
                    </table>
                  </ion-row>
                </div>
              </div>
            </ion-col>

            <ion-col class="row1" size-lg="4" size-md="6" size-sm="6" size="12">
              <ion-label class="delivery-label" style="font-size: smaller;">OutStanding</ion-label>
              <div class="outstanding">
                <ion-row>
                  <table style="width: 100%; overflow: hidden; max-height: 60px;">
                    <tr>
                      <th style="width: 100px !important;">Opening Balance</th>
                      <td>
                        <ion-input type="number" [(ngModel)]="openingbalance" formControlName="openingbalance"
                          name="openingbalance" placeholder="Enter Opening Balance"
                          (keydown)="onKeyDown($event)"></ion-input>
                      </td>
                      <th style="width: 100px !important;">Debit</th>
                      <td>
                        <ion-input type="number" [(ngModel)]="debit" formControlName="debit" name="debit"
                          placeholder="Enter  Dedit Amount" (keydown)="onKeyDown($event)"></ion-input>
                      </td>
                    </tr>
                    <tr>
                      <th style="width: 100px !important;">Closing Balance</th>
                      <td>
                        <ion-input type="number" [(ngModel)]="closingbalance" formControlName="closingbalance"
                          name="closingbalance" placeholder="Enter Closing Balance"
                          (keydown)="onKeyDown($event)"></ion-input>
                      </td>
                      <th style="width: 100px !important;">Credit</th>
                      <td>
                        <ion-input type="number" [(ngModel)]="credit" formControlName="credit" name="credit"
                          placeholder="Enter Credit Amount" (keydown)="onKeyDown($event)"></ion-input>
                      </td>
                    </tr>
                  </table>
                </ion-row>
              </div>
            </ion-col>
            <ion-col class="row1" size-lg="2" size-md="3" size-sm="3" size="12">
              <!-- <ion-label class="delivery-label" style="font-size: smaller;">Total</ion-label>
                <div class="outstanding">
                  <ion-row>
                    <table style="width: 100%; overflow: hidden; max-height: 60px;">
                      <tr>
                        <th style="text-align: left;">Total Item :</th>
                        <td> <input  [(ngModel)]="totalitemno"  formControlName="totalitemno" name="totalitemno"  class="table_input" type="text">
                        </td>
                      </tr>
                      <tr>
                        <th style="text-align: left;">Total Quantity :</th>
                        <td> <input  [(ngModel)]="totalquantity"  formControlName="totalquantity"  name="totalquantity"  class="table_input" type="text">
                        </td>
                      </tr>
                    </table>
                  </ion-row>
                </div> -->
            </ion-col>

            <ion-col class="row" size-lg="3" size-md="12" size-sm="12" size="12">
              <div class="output" style="border: none;margin-left: 30px;">
                <table>

                  <tr>
                    <th colspan="2">Discount Amount :</th>
                    <td colspan="2"> <input [(ngModel)]="totaldiscountamt" [value]="getTotalDiscountAmount()"
                        id="totaldiscountamt" formControlName="totaldiscountamt" name="totaldiscountamt"
                        class="row_input" type="text">
                    </td>
                  </tr>

                  <tr>
                    <th colspan="2">Tax Amount : </th>
                    <td colspan="2"> <input [(ngModel)]="totaltaxamount" [value]="getTotalTaxAmount()"
                        id="totaltaxamount" formControlName="totaltaxamount" name="totaltaxamount" class="row_input"
                        type="text">
                    </td>
                  </tr>


                  <tr>
                    <th colspan="2">Pre-Tax : </th>
                    <td colspan="2"> <input [(ngModel)]="pretax" formControlName="pretax" name="pretax" id="pretax"
                        class="row_input" type="number" (keydown)="onKeyDown($event)">
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2">Post-Tax : </th>
                    <td colspan="2"> <input [(ngModel)]="posttax" formControlName="posttax" name="posttax" id="posttax"
                        class="row_input" type="number" (keydown)="onKeyDown($event)">
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2">Round Off : </th>
                    <td colspan="2"> <input [(ngModel)]="roundoff" formControlName="roundoff" name="roundoff"
                        [value]="getRoundoff()" id="roundoff" class="row_input" type="number"
                        (keydown)="onKeyDown($event)">
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2">Grand Total : </th>
                    <td colspan="2"> <input [(ngModel)]="totalnetamount" formControlName="totalnetamount"
                        [value]="getGrandTotal()" id="totalnetamount" name="totalnetamount" class="row_input"
                        type="text">
                    </td>
                  </tr>
                </table>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button id="open-loading" (click)="onNew()">New</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..."
              [duration]="1000"></ion-loading>
            <ion-button type="submit" id="open-loading1">Save</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading1" message="Saving..."
              [duration]="1000"></ion-loading>
            <ion-button id="open-loading4" (click)="onButtonClick()">Close</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..."
              [duration]="1000"></ion-loading>
            <ion-button (click)="printThisPage()"><ion-icon name="print" slot="end" size="small"
                color="secondry"></ion-icon>Print</ion-button>
            <ion-button (click)="printThisPage()"><ion-icon name="eye" slot="end" size="small"
                color="secondry"></ion-icon>Preview</ion-button>
          </ion-row>
          <ion-popover class="quantity" #quantityPopover [isOpen]="isQuantityPopoverOpen">
            <ng-template>
              <ion-content>
                <div class="popup" style="padding: 10px;">
                  <table style="width: 100%;">
                    <tr class="attributes" *ngFor="let sales of salesData; let i = index">
                      <th>select</th>
                      <th>Sr. No.</th>
                      <ng-container *ngIf="sales.attribute1">
                        <th><input type="text" formControlName="attribute1" [(ngModel)]="sales.attribute1"
                            class="pop_input" readonly></th>
                      </ng-container>
                      <ng-container *ngIf="sales.attribute2">
                        <th><input type="text" formControlName="attribute2" [(ngModel)]="sales.attribute2"
                            class="pop_input" readonly></th>
                      </ng-container>
                      <ng-container *ngIf="sales.attribute3">
                        <th><input type="text" formControlName="attribute3" [(ngModel)]="sales.attribute3"
                            class="pop_input" readonly></th>
                      </ng-container>
                      <ng-container *ngIf="sales.attribute4">
                        <th><input type="text" formControlName="attribute4" [(ngModel)]="sales.attribute4"
                            class="pop_input" readonly></th>
                      </ng-container>
                      <ng-container *ngIf="sales.attribute5">
                        <th><input type="text" formControlName="attribute5" [(ngModel)]="sales.attribute5"
                            class="pop_input" readonly></th>
                      </ng-container>
                      <ng-container *ngIf="sales.attribute6">
                        <th><input type="text" formControlName="attribute6" [(ngModel)]="sales.attribute6"
                            class="pop_input" readonly></th>
                      </ng-container>
                      <ng-container *ngIf="sales.attribute7">
                        <th><input type="text" formControlName="attribute7" [(ngModel)]="sales.attribute7"
                            class="pop_input" readonly></th>
                      </ng-container>
                      <ng-container *ngIf="sales.attribute8">
                        <th><input type="text" formControlName="attribute8" [(ngModel)]="sales.attribute8"
                            class="pop_input" readonly></th>
                      </ng-container>
                    </tr>
                    <tr *ngFor="let sales of attdata; let i = index">
                      <td><ion-checkbox></ion-checkbox></td>
                  
                      <td>{{i+1}}</td>
                      <!-- Display input fields only if data exists -->
                      <ng-container *ngIf="sales.att1">
                          <td><input type="text" formControlName="att1" [(ngModel)]="sales.att1" [value]="sales.att1" class="pop_input" readonly></td>
                      </ng-container>
                      <ng-container *ngIf="sales.attr2">
                          <td><input type="text" formControlName="attr2" [(ngModel)]="sales.attr2"  [value]="sales.attr2" class="pop_input" readonly></td>
                      </ng-container>
                      <ng-container *ngIf="sales.attr3">
                          <td><input type="text" formControlName="attr3" [(ngModel)]="sales.attr3" [value]="sales.attr3" class="pop_input" readonly></td>
                      </ng-container>
                      <ng-container *ngIf="sales.attr4">
                          <td><input type="text" formControlName="attr4" [(ngModel)]="sales.attr4" [value]="sales.attr4" class="pop_input" readonly></td>
                      </ng-container>
                      <ng-container *ngIf="sales.attr5">
                          <td><input type="text" formControlName="attr5" [(ngModel)]="sales.attr5"  [value]="sales.attr5" class="pop_input" readonly></td>
                      </ng-container>
                      <ng-container *ngIf="sales.attr6">
                          <td><input type="text" formControlName="attr6" [(ngModel)]="sales.attr6"  [value]="sales.attr6" class="pop_input" readonly></td>
                      </ng-container>
                      <ng-container *ngIf="sales.attr7">
                          <td><input type="text" formControlName="attr7" [(ngModel)]="sales.attr7"  [value]="sales.attr7" class="pop_input" readonly></td>
                      </ng-container>
                      <ng-container *ngIf="sales.attr8">
                          <td><input type="text" formControlName="attr8" [(ngModel)]="sales.attr8"  [value]="sales.attr8" class="pop_input" readonly></td>
                      </ng-container>
                  </tr>
                  

                   
                  </table>
                  <ion-row class="custom-primary" style="justify-content: right; margin-top: 20px;">
                    <ion-button style="float: right; bottom: 0;" (click)="closeQuantityPopover()">Ok</ion-button>
                  </ion-row>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
        </form>
      </ion-grid>
    </ion-card-content>

  </div>
</ion-content>



<ion-popover trigger="customer" #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" side="bottom" alignment="end">
  <ng-template>
    <ion-content class="ion-padding Customer ">
      <form [formGroup]="customerpop" (ngSubmit)="onCustSubmit()">
        <ion-row style="justify-content: center;margin-bottom: 10px;">
          <ion-label class="executive">Add Customer</ion-label>
        </ion-row>
        <ion-row>
          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="customer_code" formControlName="customer_code" name="customer_code" type="text"
                label=" Customer Code :" label-placement="floating" fill="outline" maxlength="5"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
            <ion-row>
              <ion-input #firstInvalidInput [(ngModel)]="name" formControlName="name" name="name" type="text"
                label="Customer Name :" label-placement="floating" fill="outline" color="dark"
                class="sign_input"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="gstin" formControlName="gstin" name="gstin" type="text" label=" GSTIN :"
                label-placement="floating" fill="outline" maxlength="15"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="mobile" formControlName="mobile" name="mobile" type="text" label=" Mobile Number:"
                label-placement="floating" fill="outline" maxlength="10"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="12">
            <select class="select" [(ngModel)]="country" formControlName="country" name="country"
              label-placement="floating" fill="outline" (change)="onCountryChange()">
              <option value="0"> --- Country --- </option>
              <option *ngFor="let country of countries$ | async" [value]="country.countryid">
                {{ country.countryname }}
              </option>

            </select>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <select class="select" [(ngModel)]="state" formControlName="state" name="state" label-placement="floating"
              fill="outline" (change)="onStateChange()">
              <option value="0"> --- State --- </option>
              <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                {{ state.statename }}
              </option>
            </select>
          </ion-col>
          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <select class="select" [(ngModel)]="district" formControlName="district" name="district"
              label-placement="floating" fill="outline">
              <option value="0"> --- District --- </option>
              <option *ngFor="let district of districts$ | async" [value]="district.districtid">
                {{ district.districtname }}
              </option>
            </select>
          </ion-col>

          <ion-col size="6" size-lg="3" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="pincode" formControlName="pincode" type="tel" name="pincode" label=" PinCode  :"
                label-placement="floating" fill="outline" maxlength="6"></ion-input>
            </ion-row>
          </ion-col>

          <ion-col size="12" size-lg="9" size-md="6" size-sm="6">
            <ion-row>
              <ion-input [(ngModel)]="address" formControlName="address" name="address" type="text"
                label="Full Address :" label-placement="floating" fill="outline"></ion-input>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row style="float: right;margin-top: 10px;">
          <ion-button type="submit">Save</ion-button>
          <ion-button (click)="closePopover()">Close</ion-button>
        </ion-row>
      </form>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-popover class="menu" trigger="menu" side="bottom" alignment="end">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-icon name="document"></ion-icon>
      <ion-icon name="print-outline"></ion-icon>
      <ion-icon (click)="onNew()" name="person-add-outline"></ion-icon>
    </ion-content>
  </ng-template>
</ion-popover>