<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-item lines="none">
    <ion-icon (click)="goBack()" class="back"  name="arrow-back"></ion-icon> 
    <ion-title>Add Sale</ion-title>
   </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
  <ion-card>
    <ion-card-content>
      <ion-grid >
        <ion-row style="justify-content: right;">
          <ion-icon class="dots" id="left-start" name="ellipsis-vertical-outline"></ion-icon>
          <ion-popover  trigger="left-start"  size="auto" side="left" alignment="start">
            <ng-template>
              <ion-button style="color: black;"  color="undefined">Delete</ion-button>
              <ion-button style="color: black;" color="undefined">Edit</ion-button>
              <ion-button style="color: black; " color="undefined" >Save</ion-button>
            </ng-template>
          </ion-popover>
        </ion-row>

        <ion-row >
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width">Billing No. :</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> Billing Date :</ion-label>
              <ion-input class="input-width" type="date"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> Order No. :</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> Order Date :</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> Customer Name :</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> GSTIN :</ion-label>
              <ion-input class="input-width" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="row" size-lg="6" size-md="6" size-sm="6" size="12">
            <ion-item lines="none">
              <ion-label class="label-width"> Cash/Credit :</ion-label>
              <select class="select-width">
                <option value="1">--select--</option>
                <option value="2">Cash</option>
                <option value="3">Credit</option>
              </select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 30px;">
          <div style="overflow-x:auto;">
                <table>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Discount%</th>
                        <th>Discount Amount</th>
                        <th>CGST</th>
                        <th>SGST</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                          <input class="table_input" type="text">
                        </td>
                        <td>
                            <select style="width: 120px;" class="table_select"
                                aria-label="Default select example" id="transaction">
                                <option selected>-Select-</option>
                                <option value="1">Credit</option>
                                <option value="2">Cash</option>
                            </select>
                        </td>
                        <td>1</td>
                        <td>100</td>
                        <td>
                          <input class="table_input" type="text">
                        </td>
                        <td>12</td>
                        <td>18</td>
                        <td>18</td>
                        <td>110</td>
                        <td>
                            <ion-icon class="create" name="create"></ion-icon>
                            <ion-icon class="delete" name="trash"></ion-icon>
                        </td>
                    </tr>
                </table>
            </div>
        </ion-row>

        <ion-row style="justify-content: right;margin-top: 10px;">
        
          <ion-button color="warning">
            Cancel
          </ion-button>

        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>


