<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button style="float: left;" (click)="goBack()" fill="clear" class="custom-back-button">
      <ion-icon (click)="goBack()"  name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid class="add_sale">
        <ion-row>
          <ion-col size="12" size-lg="3" size-md="12" size-sm="6" size="12">
            <ion-row>
              <ion-col size="12" size-lg="6" size-md="12" size-sm="6" size="12">
                <ion-label>Billing Number:</ion-label>
              </ion-col>
              <ion-col size="12" size-lg="6" size-md="12" size-sm="6" size="12">
                <ion-input type="text" placeholder="Billing number" ></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" size-lg="3" size-md="12" size-sm="6" size="12">
            <ion-row>
              <ion-col size="12" size-lg="6" size-md="12" size-sm="6" size="12">
                <ion-label>Billing Date:</ion-label>
              </ion-col>
              <ion-col size="12" size-lg="6" size-md="12" size-sm="6" size="12">
                <ion-input type="date" ></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" size-lg="3" size-md="12" size-sm="6" size="12">
            <ion-row>
              <ion-col size="12" size-lg="6" size-md="12" size-sm="6" size="12">
                <ion-label>Order Number :</ion-label>
              </ion-col>
              <ion-col size="12" size-lg="6" size-md="12" size-sm="6" size="12">
                <ion-input type="text"  placeholder="Order number" ></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" size-lg="3" size-md="12" size-sm="6" size="12">
            <ion-row>
              <ion-col size="12" size-lg="6" size-md="12" size-sm="6" size="12">
                <ion-label>Order Date:</ion-label>
              </ion-col>
              <ion-col size="12" size-lg="6" size-md="12" size-sm="6" size="12">
                <ion-input type="date" ></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      <ion-row>
        <ion-col size="12" size-lg="4" size-md="12" size-sm="6" size="12">
          <ion-row>
            <ion-col size="12" size-lg="5" size-md="12" size-sm="6" size="12">
              <ion-label>Customer Name :</ion-label>
            </ion-col>
            <ion-col size="12" size-lg="7" size-md="12" size-sm="6" size="12">
              <ion-input type="text"  placeholder="Customer name" ></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-lg="2" size-md="12" size-sm="6" size="12">
          <ion-row>
            <ion-col size="12" size-lg="5" size-md="12" size-sm="6" size="12">
              <ion-label> GSTIN :</ion-label>
            </ion-col>
            <ion-col size="12" size-lg="7" size-md="12" size-sm="6" size="12">
              <ion-input type="text"  placeholder="GSTIN" ></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="12" size-sm="6" size="12">
          <ion-row>
            <ion-col size="12" size-lg="5" size-md="12" size-sm="6" size="12">
              <ion-label>Cash/Credit :</ion-label>
            </ion-col>
            <ion-col size="12" size-lg="7" size-md="12" size-sm="6" size="12">
              <select name="" id="">
                <option value="1">--Select--</option>
                <option value="2">sds</option>
                <option value="3">ssd</option>
              </select>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row style="justify-content: right;">
        <ion-button color="warning">
          <ion-icon class="add" name="add"></ion-icon>
        </ion-button>
        <ion-button color="warning">
          <ion-icon class="print" name="print"></ion-icon>
        </ion-button>
        <ion-button color="warning">
          <ion-icon class="show" name="eye"></ion-icon>
        </ion-button>
        <ion-button color="warning">
          <ion-icon class="save" name="save"></ion-icon>
        </ion-button>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

<ion-card>
    <ion-card-content>
      <ion-grid class="add_sale">

        <ion-row>
          <div class="tables" style="overflow-x:auto;">
            <div class="row">
                <table>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Discount%</th>
                        <th>Discount Amount</th>
                        <th>CGST</th>
                        <th>SGST</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                          <input class="add_input" type="text">
                        </td>
                        <td>
                            <select style="width: 120px;" class="table-select"
                                aria-label="Default select example" id="transaction">
                                <option selected>-Select-</option>
                                <option value="1">Credit</option>
                                <option value="2">Cash</option>
                            </select>
                        </td>
                        <td>1</td>
                        <td>100</td>
                        <td>
                          <input class="add_input" type="text">
                        </td>
                        <td>12</td>
                        <td>18</td>
                        <td>18</td>
                        <td>110</td>
                        <td>
                            <ion-icon class="create" name="create"></ion-icon>
                            <ion-icon class="delete" name="trash"></ion-icon>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>


