
.Customer ion-input {
   min-height: 33px;
  outline-width: 2px;
  outline-style: initial;
}

.Customer select {
  width: 100%;
  text-align: left;
}


.scroll-container td {
background-color: #fff;
border: 1px solid grey;
max-height: 20px;
}

.output td {
  border: 1px solid grey;
  margin: 5px;
  // height: 30px;
}

.output th {
  text-align: right;
  border: none;
  // background-color: #fff;
  padding-left: 10px;
}
.scroll-container {
overflow-x: auto;
border: 1px solid grey;
width: 100%;
height: 270px;
overflow-x: auto;
}
.Customer ion-select {
margin-top: -10px;
margin-bottom: -10px;
--max-width: 50px !important;
}
.delivery-label {
font-size: 1.5em;
font-weight: bold;
margin-bottom: 10px;
}
.outstanding {
border: solid .1px grey;
border-radius: 10px;
table td {
  background-color: #fff;
}
}
@media(max-width:540px) {
  .Customer ion-input {
     min-height: 33px;
     font-size: 10px;
  }

  .ionselect ion-select {
     min-height: 25px;
     font-size: 10px;
  }
}
 
 .row{
  margin-top: -103px;
  margin-left: 74.4%;
}

 @media(max-width:990px){
   .row{
      margin-top: -253px;
      margin-left: 60%;
   }
   .row1{
      margin-top: 150px;
   }
 }
 @media(max-width:575px){
   .row{
      margin-top: -325px;
      margin-left: -15px;
   }
   .row1{
      margin-top: 0px;
   }
   .row3{
      margin-top:150px ;
   }
 
 }
 
 @media(max-width:475px){
   .row{
    margin-top: -325px;
    margin-left: -15px;
   }
   .row1{
      margin-top: 0px;
   }
   .row3{
      margin-top:150px ;
   }
 
 }

 ion-menu-button {
   justify-content: left;
 }
 
 .Customer ion-input {
   min-height: 35px;
   font-family: 'Times New Roman', Times, serif;
   outline-style: initial;
 }
 
 // /* Style the container of the input */
 // ion-input[fill="outline"] {
 //     --border-color: #1a4174;
 //     /* Outline border color */
 //     --border-width: 1px;
 //     /* Outline border width */
 //     --border-radius: 4px;
 //     /* Outline border radius */
 //     --placeholder-color: #1a4174;
 //     /* Placeholder text color */
 //     box-shadow: 0 0 2px 2px #fffbfb;
 //     /* Add a box shadow when focused */
 //     --color: #1a4174;
 
 // }{
 
 
 /* Style the input itself */
 ion-input[fill="outline"] input {
   border: none;
   /* Remove the default input border */
   border-radius: 4px;
   /* Match the container's border radius */
   padding: 10px;
   /* Add some padding for better spacing */
   font-size: 16px;
   /* Adjust the font size as needed */
 }
 
 ion-input[fill="outline"] input:focus {
   border-color: #1a4174;
   /* Change the border color when focused */
   // box-shadow: 0 0 5px #09d8bc; /* Add a box shadow when focused */
   color: #1a4174;
   /* Change the input text color when focused */
 }
 
 /* Change floating label color */
 /* Change floating label color */
 
 
 .Customer ion-select {
   min-height: 35px;
   // color: goldenrod;
   // font-weight: 400;
   // outline-color: goldenrod;
   outline-width: 1px;
   outline-style: initial;
 }
 
 
 
 ng-template ion-button {
   color: goldenrod;
 }
 
 .Customer ion-input:focus {
   --border-color: #1a4174;
 }
 
 ion-input[type=number]::part(input) {
   -webkit-appearance: none;
   margin: 0;
 }
 
 .Customer ion-card {
   width: 90%;
   margin-left: 5%;
 }
 
 @media(max-width:940px) {
   .Customer ion-card {
       width: 100%;
       margin-left: 0%;
   }
 }
 
 @media(max-width:540px) {
   .Customer ion-input {
       min-height: 25px;
       font-size: 10px;
       outline-width: 0;
       outline-style: none;
   }
 }
 
 ion-popover{
   --height:260px;
   --offset-y:55px;
   --offset-x:-80px;
 }

.menu{
  --width: 50px;
  --height:120px;
  --offset-y:10px;
  --offset-x:0px;
}

.menu ion-icon{
  font-size: 20px;
}

ion-popover {
  --backdrop-opacity: 0;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white;

}
.quantity{
  --height:450px;
  // --width:500px
  --offset-y:40px;
  --offset-x:-50px;
}
.quantity input{
  border: none;
  outline: none;
  width: 80px;
}
