<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Item Group</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" >
          <ion-row>
            <ion-col size-lg="4" size-md="6" size-sm="6" size="12">
              <ion-row>
                <ion-input [(ngModel)]="igname" formControlName="igname" name="item_group_name" type="text" label="Item Group Name :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            
            <ion-col size-lg="4" size-md="6" size-sm="6" size="12">
              <select  [(ngModel)]="parentgroup" formControlName="parentgroup"  name="parentgroup">
                <option value="0" disabled selected>--- Parent Group ---</option>  
                <option value="1">1</option>
                 <!--<option value="2">Ravi</option>
                <option value="3">Nirbhay</option>
                <option value="4">Abhishek</option> -->
                <option *ngFor="let itemgroup of itemgroups$  | async" [value]="itemgroup.itemgroupid">
                  {{ itemgroup.itemgroupname }}
                </option>
              </select>
              <div *ngIf="form && form.controls['lassign']?.hasError('required') && form.controls['lassign']?.touched" class="error-message">
                Lead Assign is required.
             </div>
            </ion-col>
          </ion-row>
          <ion-row >
           <ion-searchbar class="custom"></ion-searchbar>
          </ion-row>
          <ion-row>
            <div style="width: 100%;" class="scroll-container">
              <table>
                <tr>
                  <th>SR.NO</th>
                  <th>Group Name</th>
                  <th>Parent Group</th>
                </tr>
                <tr *ngFor="let itemgroup of itemgroups$ | async; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td><ion-input style="border: none;">{{ itemgroup.itemgroupname }}</ion-input></td>
                  <td><ion-input style="border: none;">{{ itemgroup.parentgroupid }}</ion-input></td>
                 </tr>
              </table>
            </div>
          </ion-row>
          <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button id="open-loading">New</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading" message="Cleaning..." [duration]="1000"></ion-loading>
            <ion-button type="submit" id="open-loading1">Save</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading1" message="Group Adding..." [duration]="1000"></ion-loading>
            <ion-button id="open-loading2">Delete</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading2" message="Deleting Customer..." [duration]="1000"></ion-loading>
            <ion-button id="open-loading3">Preview</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading3" message="Previewing..." [duration]="1000"></ion-loading>
            <ion-button id="open-loading4">Close</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading4" message="Customer Closing..." [duration]="1000"></ion-loading>

          </ion-row>
        </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>