<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Transfer Lead</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header >
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Transfer Lead</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
        
        <div style="overflow-x:auto;">
          <ion-searchbar class="custom"></ion-searchbar>
          <table style="width: 100%;">
            <tr>
              <th><ion-checkbox></ion-checkbox></th>
              <th style="width: 120px;">SI NO.</th>
              <th style="width: 120px;">Select Lead</th>
              <th style="width: 100px;">Company name</th>
              <th style="width: 100px;">Contact Person</th>
              <th style="width: 100px;">Mobile Number</th>
              <th style="width: 100px;">Country</th>
              <th style="width: 100px;">State</th>
              <th style="width: 100px;">City</th>
              <th style="width: 100px;">Address</th>
              <th style="width: 100px;">Pincode</th>
              <th style="width: 100px;">WhatsApp</th>
              <th style="width: 100px;">Email</th>
              <th style="width: 100px;">Lead Source</th>
              <th style="width: 130px;" >Lead Assign To</th>
              <th style="width: 100px;">Lead Score</th>
              <th style="width: 100px;">Action</th>
            </tr>
            <tr>
              <th><ion-checkbox></ion-checkbox></th>
              <td>1</td>
              <td style="padding: 5px;">
                <select  name="" id="">
                  <option value="">Select Lead</option>
                  <option value="">Billing</option>
                  <option value="">Accounting</option>
                  <option value="">GST</option>
                  <option value="">TDS</option>
                </select>
              </td>
              <td>Mehta Infotech Pvt. Ltd.</td>
              <td>Deepak Sharma</td>
              <td>6367127145</td>
              <td>India</td>
              <td>Rajasthan</td>
              <td>Jaipur</td>
              <td>Bagro Ki Dhani, Kalwar</td>
              <td>303706</td>
              <td>9413109816</td>
              <td>deepusharma@gmail.com</td>
              <td>Google</td>
              <td style="padding: 5px;">
                <select  name="" id="">
                  <option value="">Select User</option>
                  <option value="">Deepak</option>
                  <option value="">Abhishek</option>
                  <option value="">Yogesh</option>
                  <option value="">Nirbhay</option>
                </select>
              </td>
              <td>1</td>
              <td class="custom-primary">
                <ion-button>Ok</ion-button>

              </td>
            </tr>
            <tr>
              <th><ion-checkbox></ion-checkbox></th>
              <td>1</td>
              <td style="padding: 5px;">
                <select  name="" id="">
                  <option value="">Select Lead</option>
                  <option value="">Billing</option>
                  <option value="">Accounting</option>
                  <option value="">GST</option>
                  <option value="">TDS</option>
                </select>
              </td>
              <td>Mehta Infotech Pvt. Ltd.</td>
              <td>Deepak Sharma</td>
              <td>6367127145</td>
              <td>India</td>
              <td>Rajasthan</td>
              <td>Jaipur</td>
              <td>Bagro Ki Dhani, Kalwar</td>
              <td>303706</td>
              <td>9413109816</td>
              <td>deepusharma@gmail.com</td>
              <td>Google</td>
              <td style="padding: 5px;">
                <select  name="" id="">
                  <option value="">Select User</option>
                  <option value="">Deepak</option>
                  <option value="">Abhishek</option>
                  <option value="">Yogesh</option>
                  <option value="">Nirbhay</option>
                </select>
              </td>
              <td>1</td>
              <td class="custom-primary">
                <ion-button>Ok</ion-button>

              </td>
            </tr>
            <tr>
              <th><ion-checkbox></ion-checkbox></th>
              <td>1</td>
              <td style="padding: 5px;">
                <select  name="" id="">
                  <option value="">Select Lead</option>
                  <option value="">Billing</option>
                  <option value="">Accounting</option>
                  <option value="">GST</option>
                  <option value="">TDS</option>
                </select>
              </td>
              <td>Mehta Infotech Pvt. Ltd.</td>
              <td>Deepak Sharma</td>
              <td>6367127145</td>
              <td>India</td>
              <td>Rajasthan</td>
              <td>Jaipur</td>
              <td>Bagro Ki Dhani, Kalwar</td>
              <td>303706</td>
              <td>9413109816</td>
              <td>deepusharma@gmail.com</td>
              <td>Google</td>
              <td style="padding: 5px;">
                <select  name="" id="">
                  <option value="">Select User</option>
                  <option value="">Deepak</option>
                  <option value="">Abhishek</option>
                  <option value="">Yogesh</option>
                  <option value="">Nirbhay</option>
                </select>
              </td>
              <td>1</td>
              <td class="custom-primary">
                <ion-button>Ok</ion-button>

              </td>
            </tr>
          </table>

        </div>
       
        <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
          <ion-button>New</ion-button>
          <ion-button type="submit">Save</ion-button>
          <ion-button>Delete</ion-button>
          <ion-button>Preview</ion-button>
          <ion-button>Close</ion-button>
        </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>