
.container ion-input {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    // outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}
.container ion-textarea {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    // outline-color: goldenrod;
    background: skyblue;

}

.container ion-select {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    // outline-color: goldenrod;
    outline-width: 2px;
    outline-style: initial;
}

.container select {
    min-height: 35px;
    // color: goldenrod;
    // font-weight: 400;
    //border-color: goldenrod;
    width: 100%;
    text-align: left
}

ng-template ion-button{
    color: goldenrod;
}
// table ion-icon{
//     color: red;
// }

ion-checkbox{
    height: 12px;
    width: 12px;
    border:none;
    margin: 4px;
}
table select {
    border: none;
    text-align: center;
   background: none;
   
}