<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
      <ion-title>Transfer Lead</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-content>
        <table style="overflow-x: auto;">
          <tr>
            <th>Sr No.</th>
            <th>Lead Id</th>
            <th>Lead Date</th>
            <th>Company</th>
            <th>Dealer</th>
            <th>Action</th>
          </tr>
          <tr>
            <td><input class="table_input" type="text"></td>
            <td><input class="table_input" type="text"></td>
            <td><input class="table_input" type="text"></td>
            <td><input class="table_input" type="text"></td>
            <td><input class="table_input" type="text"></td>
            <td>Actions D</td>
          </tr>

        </table>
        <div style="float: right;margin-top: 10px;">
          <ion-button color="warning">Go to Excel</ion-button>
          <ion-button color="warning">PDF Download</ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>