ion-card {
    margin-top: 0px;
    position: relative;
}

.follow-up ion-input {
    border: solid 1.5px goldenrod;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    min-height: 20px;
    padding: 5px;
    color: #000000;

}

ion-segment-button {
    border: solid 2px goldenrod;
    background-color: #000000;
}

table,
th,
td {
    border: solid 2px goldenrod;
    color: goldenrod;
}

th {
    background-color: #000000;
}

ion-button {
    padding: 0;
}