<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create Company</ion-title>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <ion-row class="headinglabel">
            <ion-label style="font-size: 18px;">Information Of Company:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
            "></span>
          </ion-row>
          <ion-row>
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-row>
                <ion-input color="dark" name="companyname" type="text" label=" Company Name :"
                  label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
              <ion-row>
                <ion-input color="dark" name="gstin" type="text" label="Company GSTIN :" label-placement="floating"
                  fill="outline" max-length="15"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="headinglabel" style="margin: 10px auto;">
            <ion-label style="font-size: 18px; font-weight: bold;">Address Of Company:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
              "></span>
          </ion-row>


          <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
              <select [(ngModel)]="selectedOption" name="country" label-placement="floating" fill="outline" (change)="onCountryChange()">
                <option *ngFor="let country of countries$ | async" [value]="country.countryid">
                  {{ country.countryname }}
                </option>
                
              </select>
            </ion-col>

            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <select [(ngModel)]="selectedState" name="state" label-placement="floating" (change)="onStateChange()">
                <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                  {{ state.statename }}
                </option>
              </select>
            </ion-col>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                
              <select class="select-width" [(ngModel)]="selectedDistrict" name="district" label-placement="floating" fill="outline"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let district of (districts$ | async)" [value]="district.districtid" >
                  {{ district.districtname }}
                </option>
              </select>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
              <ion-row>
                <ion-input type="number" label=" PinCode  :" label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="8" size-md="8" size-sm="12">
              <ion-row>
                <ion-input type="text" label="Full Address :" label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input type="number" label=" Mobile Number :" label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>

            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input type="number" label=" Whatsapp Number :" label-placement="floating"
                  fill="outline"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
              <ion-row>
                <ion-input type="email" label="Email :" label-placement="floating" fill="outline"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="headinglabel" style="margin: 10px auto;">
            <ion-label style="font-size: 18px; font-weight: bold;">Attechment:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
              "></span>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6" class="date">
              <ion-label>Upload Company Logo: </ion-label>
              <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Choose File
            </label>
            </ion-col>
            <ion-col size="12" size-lg="4" size-md="6" size-sm="6" class="date">
              <ion-label>Starting From : </ion-label>
              <input type="file" id="file-upload" name="file" accept="image/*">
              
                <ion-input type="date" placeholder="Enter Starting Date" class="custom-date-input" [(ngModel)]="rdate"></ion-input>
            </ion-col>
          </ion-row>
         

          <ion-row class="custom-primary">
            <p style="font-weight: bold; color: skyblue;font-size: 18px;margin-top: 10px;">Step : 1</p>
            <ion-progress-bar value="0.25" buffer=".25" style="height: 10px;"></ion-progress-bar>
            <ion-button [routerLink]="['/ccstep2']">Create & Next</ion-button>
          </ion-row>
          <!-- <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row> -->
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>