.Customer ion-card{
    width: 50%;
    margin-left: 25%;
}


.custom-file-upload {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  }
  
  .custom-file-upload:hover {
    background-color: #2980b9;
  }
  

.Customer ion-input {
    min-height: 35px;
    outline-width: 2px;
    outline-style: initial;
}

.Customer ion-textarea {
    min-height: 35px;
}

.Customer ion-select {
    min-height: 35px;
    outline-width: 2px;
    outline-style: initial;
}

.Customer select {
    min-height: 35px;
    width: 100%;
    text-align: left
}

ng-template ion-button{
    color: goldenrod;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 183, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}


.date{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
}
.custom-date-input {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    width: 130px;
    margin-top: 0px;
   text-align: center;
   background-color: rgb(0, 183, 255);
}

.steps{
    font-weight: bold;
    color: skyblue;
    font-size: 18px;
    margin-top: 10px;
}
.progress_bar{
    height: 10px;
}

#company{
    font-size: 11px;
}
@media(max-width:940px){
    .Customer ion-card{
        width: 100%;
        margin-left: 0%;
    }
}
@media(max-width:540px){
    .Customer ion-input {
        min-height: 25px;
       font-size: 10px;
    }
    .custom-file-upload {
        font-size: 10px;
      padding: 8px 15px;
        text-align: center;
        transition: background-color 0.3s;
    }
    iion-item{
        max-height: 25px;
        font-size: 10px;
    }
    .steps{
        // font-weight: bold;
        color: skyblue;
        font-size: 15px;
        margin-top: 10px;
    }
    .progress_bar{
        height: 5px;
    }
}

