<ion-content>
  <div class="Customer">
    <ion-card>
      <ion-card-content>
        <div class="dekstop-menu">
          <ion-card-header>
            <ion-row lines="none">
              <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
              <ion-title style="text-align: center;">Create Company</ion-title>
              <div  class="custom-primary">
                <ion-button [routerLink]="['/viewcompany']" id="open-loading5">View Company</ion-button>
              </div>
            </ion-row>
          </ion-card-header>
        </div>
        <ion-grid>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-row class="headinglabel">
              <ion-label style="font-size: 18px;">Information Of Company:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
            "></span>
            </ion-row>
            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                <ion-row>
                  <ion-input [(ngModel)]="cpyname" formControlName="cpyname" name="companyname" type="text"
                    label=" Company Name :" label-placement="floating" fill="outline"></ion-input>
                
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="gstin" formControlName="gstin" name="gstincode" type="text"
                    label="Company GSTIN :" label-placement="floating" fill="outline" max-length="15"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="headinglabel" style="margin: 10px auto;">
              <ion-label style="font-size: 18px; font-weight: bold;">Address-1:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
              "></span>
            </ion-row>


            <ion-row>
              <ion-col size="12" size-lg="4" size-md="4" size-sm="12">
                <select [(ngModel)]="selectedCountry" formControlName="selectedCountry" name="country"
                  label-placement="floating" fill="outline" (change)="onCountryChange()">
                  <option value="0">---Select Country---</option> <!-- Default option with value 0 -->
                  <option *ngFor="let country of countries$ | async" [value]="country.countryid">
                    {{ country.countryname }}
                  </option>
                </select>
              </ion-col>

              <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
                <select [(ngModel)]="selectedState" formControlName="selectedState" name="state"
                  label-placement="floating" (change)="onStateChange()">
                  <option value="0">---Select State---</option> <!-- Default option with value 0 -->
                  <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                    {{ state.statename }}
                  </option>
                </select>
              </ion-col>

              <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
                <select [(ngModel)]="selectedDistrict" formControlName="selectedDistrict" name="district"
                  label-placement="floating" fill="outline">
                  <option value="0">---Select District---</option> <!-- Default option with value 0 -->
                  <option *ngFor="let district of (districts$ | async)" [value]="district.districtid">
                    {{ district.districtname }}
                  </option>
                </select>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col size="12" size-lg="4" size-md="4" size-sm="12">
                <ion-row>
                  <ion-input [(ngModel)]="pinCode" formControlName="pinCode" name="pcode" type="text"
                    label=" PinCode  :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="8" size-md="8" size-sm="12">
                <ion-row>
                  <ion-input [(ngModel)]="address" formControlName="address" type="text" name="fulladdress"
                    label="Full Address :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="phone" formControlName="phone" name="mobileno" type="text"
                    label=" Mobile Number :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="wpnumber" formControlName="wpnumber" name="whatshappnumber" type="text"
                    label=" Whatsapp Number :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="email" formControlName="email" name="emails" type="email" label="Email :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="website" formControlName="website" name="website" type="text"
                    label="Website URL :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="headinglabel" style="margin: 10px auto;">
              <ion-label style="font-size: 18px; font-weight: bold;">Address-2:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
              "></span>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-lg="4" size-md="4" size-sm="12">
                <select [(ngModel)]="selectedCountry1" formControlName="selectedCountry1" name="country1"
                  label-placement="floating" fill="outline" (change)="onCountryChange()">
                  <option value="0">---Select Country ---</option>
                  <option *ngFor="let country of countries$ | async" [value]="country.countryid">
                    {{ country.countryname }}
                  </option>
                </select>
              </ion-col>

              <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
                <select [(ngModel)]="selectedState1" formControlName="selectedState1" name="state1"
                  label-placement="floating" (change)="onStateChange()">
                  <option value="0" >---Select State ---</option>
                  <option *ngFor="let state of (states$ | async)" [value]="state.stateid">
                    {{ state.statename }}
                  </option>
                </select>
              </ion-col>
              <ion-col size="12" size-lg="4" size-md="4" size-sm="6">

                <select [(ngModel)]="selectedDistrict1" formControlName="selectedDistrict1" name="district1"
                  label-placement="floating" fill="outline">
                  <option value="0">---Select District---</option> <!-- Default option with value 0 -->

                  <option *ngFor="let district of (districts$ | async)" [value]="district.districtid">
                    {{ district.districtname }}
                  </option>
                </select>
              
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col size="12" size-lg="4" size-md="4" size-sm="12">
                <ion-row>
                  <ion-input [(ngModel)]="pinCode1" formControlName="pinCode1" name="pcode1" type="text"
                    label=" PinCode  :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="8" size-md="8" size-sm="12">
                <ion-row>
                  <ion-input [(ngModel)]="address1" type="text" formControlName="address1" name="fulladdress1"
                    label="Full Address :" label-placement="floating" fill="outline"></ion-input>
                  
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="phone1" formControlName="phone1" name="mobileno1" type="text"
                    label=" Mobile Number :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="wpnumber1" formControlName="wpnumber1" name="whatshappnumber1" type="text"
                    label=" Whatsapp Number :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="email1" formControlName="email1" name="emails1" type="email" label="Email :"
                    label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6">
                <ion-row>
                  <ion-input [(ngModel)]="website1" formControlName="website1" name="website1" type="text"
                    label="Website URL :" label-placement="floating" fill="outline"></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="headinglabel" style="margin: 10px auto;">
              <ion-label style="font-size: 18px; font-weight: bold;">Attechment:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
              "></span>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6" class="date">
                <ion-label>Select Image :</ion-label>
                <label for="fileInput" class="custom-file-upload">
                  Choose a file
                </label>
                <input type="file" [ngModel]="logo" formControlName="logo" name="logo_img" id="fileInput"
                  style="display: none;">
              </ion-col>
              <ion-col size="12" size-lg="4" size-md="6" size-sm="6" class="date">
                <ion-label>Starting From : </ion-label>
                <input type="file" id="file-upload" name="file" accept="image/*">
                <ion-input [(ngModel)]="rdate" formControlName="rdate" name="startdate" type="date"
                  placeholder="Enter Starting Date" class="custom-date-input"></ion-input>
                  <div *ngIf="form && form.get('rdate')?.hasError('required') && form.get('rdate')?.touched"
                  class="error-message">
                  Date is required.
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="custom-primary">
              <p style="font-weight: bold; color: skyblue;font-size: 18px;margin-top: 10px;">Step : 1</p>
              <ion-progress-bar value="0.25" buffer=".25" style="height: 10px;"></ion-progress-bar>
            </ion-row>

            <!-- Step : 2-->
            <ion-button (click)="toggleStep1()" >STEP : 2<ion-icon name="add-circle" size="small"
                slot="end"></ion-icon></ion-button>
            <div  *ngIf="step1">
              <ion-row class="headinglabel">
                <ion-label style="font-size: 18px;">Resistration Details:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
    "></span>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <select [(ngModel)]="industry" formControlName="industry" name="industry">
                    <option value="">---Select Industry Type---</option> <!-- Default option with value 0 -->
                    <option *ngFor="let industry of industry$ | async" [value]="industry.industrytypeid">
                      {{ industry.industrytypename }}
                    </option>
                  </select>
                  <div *ngIf="form && form.get('industry')?.hasError('required') && form.get('industry')?.touched"
                    class="error-message">
                    Industry is required.
                  </div>
                </ion-col>

                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <select [(ngModel)]="businesstype" formControlName="businesstype" name="businesstype">
                    <option value="">---Select Business Type---</option> <!-- Default option with value 0 -->
                    <option *ngFor="let businesstype of businesstype$ | async" [value]="businesstype.businesstypeid">
                      {{ businesstype.businesstypename }}
                    </option>

                  </select>
                  <div
                    *ngIf="form && form.get('businesstype')?.hasError('required') && form.get('businesstype')?.touched"
                    class="error-message">
                    Business is required.
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <select [(ngModel)]="segmenttype" formControlName="segmenttype" name="segmenttype">
                    <option value="">---Select Segment Type---</option> <!-- Default option with value 0 -->
                    <option *ngFor="let segmenttype of segmenttype$ | async" [value]="segmenttype.segmentid">
                      {{ segmenttype.segmentname }}
                    </option>

                  </select>
                </ion-col>

                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <select [(ngModel)]="companytype" formControlName="companytype" name="companytype">
                    <option value="">---Select Company Type---</option> <!-- Default option with value 0 -->
                    <option *ngFor="let companytype of companytype$ | async" [value]="companytype.companytypeid">
                      {{ companytype.gsttypename }}
                    </option>

                  </select>
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [ngModel]="pannumber" formControlName="pannumber" name="pano" type="text"
                      label="PAN No. :" label-placement="floating" fill="outline" max-length="15"></ion-input>
                  </ion-row>
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input color="dark" [ngModel]="tanno" formControlName="tanno" name="tannumber" type="text"
                      label="TAN No. :" label-placement="floating" fill="outline" max-length="15"></ion-input>
                  </ion-row>
                </ion-col>
              </ion-row>
           
            <ion-row class="custom-primary">
              <p style="font-weight: bold; color: skyblue;font-size: 18px;margin-top: 10px;">Step : 2</p>
              <ion-progress-bar value="0.5" buffer=".5" style="height: 10px;"></ion-progress-bar>
            </ion-row>
          </div>
            <!-- Step : 3-->
            <ion-button (click)="toggleStep2()">STEP : 3<ion-icon name="add-circle" size="small"></ion-icon></ion-button>
            <div *ngIf="step2">
              <ion-row class="headinglabel">
                <ion-label style="font-size: 18px;">Select Modules:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
              "></span>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">

                  <ion-item>
                    <ion-checkbox aria-label="Sales" slot="start" [(ngModel)]="sales" formControlName="sales"
                      name="sale"></ion-checkbox>
                    <ion-label>Sales</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox aria-label="Purchase" slot="start" [(ngModel)]="purchase" formControlName="purchase"
                      name="purchases"></ion-checkbox>
                    <ion-label>Purchase</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox aria-label="Quotation" slot="start" [(ngModel)]="quotation"
                      formControlName="quotation" name="quotations"></ion-checkbox>
                    <ion-label>Quotation</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox aria-label="Challan" slot="start" [(ngModel)]="challan" formControlName="challan"
                      name="challans"></ion-checkbox>
                    <ion-label>Challan</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">

                  <ion-item>
                    <ion-checkbox aria-label="LMS" slot="start" [(ngModel)]="lms" formControlName="lms"
                      name="lmss"></ion-checkbox>
                    <ion-label>LMS</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox aria-label="AMC" slot="start" [(ngModel)]="amc" formControlName="amc"
                      name="amcs"></ion-checkbox>
                    <ion-label>AMC</ion-label>
                  </ion-item>
                  <ion-item line="none">
                    <ion-checkbox slot="start" [(ngModel)]="alloftheabove" formControlName="alloftheabove"
                      name="allofabove" aria-label="All Of The Above"></ion-checkbox>
                    <ion-label>All Of The Above</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <select fill="outline" class="select-width" [(ngModel)]="language" formControlName="language"
                    name="languages">
                    <option value="0">---Select Language---</option> <!-- Default option with value 0 -->
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Punjabi">Punjabi</option>
                    <option value="Tamil">Tamil</option>
                    <option value="French">French</option>
                  </select>
                  <div *ngIf="form && form.get('language')?.hasError('required') && form.get('language')?.touched"
                    class="error-message">
                    Language is required.
                  </div>
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <select fill="outline" [(ngModel)]="currency" formControlName="currency" name="currencytype">
                    <option value="0">---Select Currency---</option> <!-- Default option with value 0 -->
                    <option value="Rupees">Rupees</option>
                    <option value="Doller">Doller</option>
                    <option value="euro">Euro</option>
                  </select>
                  <div *ngIf="form && form.get('currency')?.hasError('required') && form.get('currency')?.touched"
                    class="error-message">
                    Currency is required.
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="custom-primary">
                <p style="font-weight: bold; color: skyblue;font-size: 18px;margin-top: 10px;">Step : 3</p>
                <ion-progress-bar value="0.75" buffer=".75" style="height: 10px;"></ion-progress-bar>
              </ion-row>
            </div>
            <!-- Step : 4-->
            <ion-button (click)="toggleStep3()">STEP : 4<ion-icon name="add-circle" size="small"></ion-icon></ion-button>
            <div *ngIf="step3">
              <ion-row class="headinglabel">
                <ion-label style="font-size: 18px;">Bank Details:</ion-label><span style="width: 100%; height: 2px;background-image: linear-gradient(to right, #00b4db, #0083b0);
            "></span>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [(ngModel)]="accno" formControlName="accno" name="accountno" type="text"
                      label="Account No. :" label-placement="floating" fill="outline" max-length="20"></ion-input>
                  </ion-row>
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [(ngModel)]="ifsc" formControlName="ifsc" name="ifscode" type="text" label="IFSC Code :"
                      label-placement="floating" fill="outline"></ion-input>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [(ngModel)]="bname" formControlName="bname" name="bankname" type="text"
                      label="Bank Name :" label-placement="floating" fill="outline"></ion-input>
                    <div *ngIf="form && form.get('bname')?.hasError('required') && form.get('bname')?.touched"
                      class="error-message">
                      Bank Name is required.
                    </div>
                  </ion-row>
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [(ngModel)]="branchname" formControlName="branchname" name="brchname" type="text"
                      label="Branch Name :" label-placement="floating" fill="outline"></ion-input>
                  </ion-row>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-row>
                    <ion-input [(ngModel)]="upiid" formControlName="upiid" name="upi" type="text" label="UPI ID :"
                      label-placement="floating" fill="outline"></ion-input>
                  </ion-row>
                </ion-col>

              </ion-row>

              <ion-row class="custom-primary">
                <p style="font-weight: bold; color: skyblue;font-size: 18px;margin-top: 10px;">Step : 4</p>
                <ion-progress-bar value="1.0" buffer="100" style="height: 10px;"></ion-progress-bar>
              </ion-row>
            </div>

            <ion-row class="custom-primary">
              <ion-button type="submit" id="open-loading2">Create Company<ion-icon name="cloud-download" size="small"
                  slot="end"></ion-icon></ion-button>
                  <ion-loading class="custom-loading" trigger="open-loading2" message="Company Creating..." [duration]="1000"></ion-loading>
  
            </ion-row>
          </form>
          <!-- <ion-row class="custom-primary" style="justify-content: right;margin-top: 20px;">
            <ion-button>New</ion-button>
            <ion-button type="submit">Save</ion-button>
            <ion-button>Delete</ion-button>
            <ion-button>Preview</ion-button>
            <ion-button>Close</ion-button>
          </ion-row> -->
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>